# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [13]:
import numpy as np
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)

list(df.columns)

# Start by creating a subset for the marketing
marketing_df = df[df['Response'] == 'Yes']

# Then make a subset out of that one for the total claim amounts
sub_df = marketing_df[marketing_df['Total Claim Amount'] > 1000]

# Shows that the only responses are yes, meaning it worked. 
sub_df['Response'].value_counts()

Response
Yes    67
Name: count, dtype: int64

In [15]:
# Check that it worked properly

# Start by making a subset for high claims
highclaims_df = df[df['Total Claim Amount'] > 1000]

# Take a subset out of that one for yes responses
sub_df =  highclaims_df[highclaims_df['Response'] == 'Yes']

# Shows that the only responses are yes, meaning it worked.
sub_df['Response'].value_counts()

Response
Yes    67
Name: count, dtype: int64

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [22]:
# Filter out only yes responses from the original dataframe
yes_df = df[df['Response'] == 'Yes']

# Set up pivot table
pivot_df = yes_df.pivot_table(index = "Gender", columns = "Policy Type", values = 'Total Claim Amount', aggfunc='mean')
pivot_df

# Insight: There seems to be virtually no difference between males and females in the average claim amounts under any type of policy.
# This suggests that men and women who respond yes to our marketing campaigns seem to make claims of about the same amount. 
# So, in order to market better, we could use a commercial campaign targeting both genders that essentially says, 
# "Our data shows that you're actually no better a driver than she is - sign up and prove us wrong," or,
# "He thinks he's so much better a driver than you. We know better, and so do you."

Policy Type  Corporate Auto  Personal Auto  Special Auto
Gender
F                433.738499     452.965929    453.280164
M                408.582459     457.010178    429.527942

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [40]:
# Number of Policies per state
print(df['State'].value_counts())
# Shows that ALL states in list have more than 500 policies/customers

# Because all states have more than 500 customers, there is no need for a filter

# Creates a pivot table looking at
pivot_df = df.pivot_table(index=['State', 'Policy Type'], aggfunc='size').unstack(fill_value=0)
pivot_df

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

Policy Type  Corporate Auto  Personal Auto  Special Auto
State
Arizona                 381           1469            87
California              835           2594           123
Nevada                  219            739            35
Oregon                  592           2180           137
Washington              175            682            31

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [42]:
pivot_df = df.pivot_table(index = ['Education', 'Gender'],
                          values= "Customer Lifetime Value",
                          aggfunc=['max','min','median'])
pivot_df

# Conclusion 1 - At the level of high school or below, males have at best about the same minimum customer lifetime value as females, but the maxmimum customer lifetime value for females is almost 60% higher than that of males. 
# Conclusion 2 - Men and women with even some college education have similar customer lifetime value across the board. 
# Conclusion 3 - Women who get a doctorate degree have a significantly higher customer lifetime value than men with a doctorate degree. 
# Conclusion 4 - This company expects to get far more lifetime value out of people with less education. This could be because they anticipate receiving monthly premiums more regularly, and likely because they plan to keep...
# ... those premiums high for as long as possible, and gradually raise the premiums over time. A customer seen as less educated is seen as more of a risk, and so they are charged more. If they are young, they will likely...
# ... be around longer than those who are older and more educated.

                                                max                     min  \
                            Customer Lifetime Value Customer Lifetime Value
Education            Gender
Bachelor             F                  73225.95652             1904.000852
                     M                  67907.27050             1898.007675
College              F                  61850.18803             1898.683686
                     M                  61134.68307             1918.119700
Doctor               F                  44856.11397             2395.570000
                     M                  32677.34284             2267.604038
High School or Below F                  55277.44589             2144.921535
                     M                  83325.38119             1940.981221
Master               F                  51016.06704             2417.777032
                     M                  50568.25912             2272.307310

                                             median
                            Customer Lifetime Value
Education            Gender
Bachelor             F                  5640.505303
                     M                  5548.031892
College              F                  5623.611187
                     M                  6005.847375
Doctor               F                  5332.462694
                     M                  5577.669457
High School or Below F                  6039.553187
                     M                  6286.731006
Master               F                  5729.855012
                     M                  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here