# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [7]:
# prep to work with the file

import pandas as pd
mca_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")

In [16]:
pd.set_option('display.max_columns', None)
mca_df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [9]:
mca_df.shape

(10910, 26)

**explore and analyze this data by first performing data cleaning, formatting, and structuring**

In [11]:
# check out how clean the values are in the columns

mca_df_colnames = mca_df.columns.tolist()

def uni_check(lv_df, col_name):
    uni_values = lv_df[col_name].unique()
    print(f"Unique values in {col_name}: {uni_values}")
    print(" ")

In [12]:
for col in mca_df_colnames:
    uni_check(mca_df, col)

Unique values in Unnamed: 0: [    0     1     2 ... 10907 10908 10909]

Unique values in Customer: ['DK49336' 'KX64629' 'LZ68649' ... 'KX53892' 'TL39050' 'WA60547']

Unique values in State: ['Arizona' 'California' 'Washington' 'Oregon' nan 'Nevada']

Unique values in Customer Lifetime Value: [ 4809.21696   2228.525238 14947.9173   ...  5259.444853 23893.3041
 11971.97765 ]

Unique values in Response: ['No' 'Yes' nan]

Unique values in Coverage: ['Basic' 'Extended' 'Premium']

Unique values in Education: ['College' 'Bachelor' 'High School or Below' 'Doctor' 'Master']

Unique values in Effective To Date: ['2/18/11' '1/18/11' '2/10/11' '1/11/11' '1/17/11' '2/14/11' '2/24/11'
 '1/19/11' '1/4/11' '1/2/11' '2/7/11' '1/31/11' '1/26/11' '2/28/11'
 '1/16/11' '2/26/11' '2/23/11' '1/15/11' '2/2/11' '2/15/11' '1/24/11'
 '2/21/11' '2/22/11' '1/7/11' '1/28/11' '2/8/11' '2/12/11' '2/20/11'
 '1/5/11' '2/19/11' '1/3/11' '2/3/11' '1/22/11' '1/23/11' '2/5/11'
 '2/13/11' '1/25/11' '2/16/11' '2/1/11' '1/27/11' '1/12/11' '1/20/11'
 '2/6/11' '2/11/11' '1/21/11' '1/29/11' '1/9/11' '2/9/11' '2/27/11'
 '1/1/11' '2/17/11' '2/25/11' '1/13/11' '1/6/11' '2/4/11' '1/14/11'
 '1/10/11' '1/8/11' '1/30/11']

Unique values in EmploymentStatus: ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']

Unique values in Gender: ['M' 'F']

Unique values in Income: [48029     0 22139 ... 61146 39837 64195]

Unique values in Location Code: ['Suburban' 'Urban' 'Rural']

Unique values in Marital Status: ['Married' 'Single' 'Divorced']

Unique values in Monthly Premium Auto: [ 61  64 100  97 117  63 154  85 127  62  99  69 116 114  66  73  94 104
 189  74 121 110 111  72 115 159 101  65  82  71 126  68 199  96  67 125
 249 105  92  78  77  79 223 242  70 102 109 107 119 194 113 106 247  80
  86  81  83 122 253 196 132 139  84 130  93 103 112 222 118  88 182 283
  90 128  89 235 190  76  87 133 153 129  98 148 123  91 211 131 108 187
 214 181 173 252  95 124 137 145 188 143 198 138 245 195 186 170 136 161
 157 141 205 271 192 142 140 134 240 185 244 210 184 202 296 213 273 219
 135 169 155 225 266 215 197 256 212 158 180 166 168 183 162 191 179 150
 146 276 165 239 237 193 229 274 207 295 208 172 217 206 201 171 152 156
 174 238 167 151 144 163 287 209 290 220 228 232 178 177 275 176 281 149
 298 255 216 285 226 160 147 254 164 175 297 234 284 204 218 261 231 248
 286 230 268 203]

Unique values in Months Since Last Claim: [ 7.  3. 34. 10. nan  2.  8. 35. 33. 19. 13.  5. 24. 25.  6. 20. 26. 14.
  9. 29. 11.  1. 18. 16. 30. 12.  4. 22. 31. 21. 28. 17. 15. 32. 23. 27.
  0.]

Unique values in Months Since Policy Inception: [52 26 31  3 73 99 45 24  8 29 32 25 28 87 10 74  1 38 58 37  7 80 95 78
 63 27 97 39 11 59 46 62 13 54 51 22 82 91 44 43 76 48 84  6 92 12 61  4
 18 66 70 16 75 34 35 64  9 89  0 60 71 23 55 93  2 67 81 40 57 86 19 72
 69 33 47 42 17 49 21 83 94 30 15 50 53 77 41 90  5 79 56 98 20 88 65 14
 85 96 36 68]

Unique values in Number of Open Complaints: [ 0. nan  3.  1.  2.  4.  5.]

Unique values in Number of Policies: [9 1 2 7 4 3 6 8 5]

Unique values in Policy Type: ['Corporate Auto' 'Personal Auto' 'Special Auto']

Unique values in Policy: ['Corporate L3' 'Personal L3' 'Personal L2' 'Corporate L2' 'Personal L1'
 'Special L1' 'Corporate L1' 'Special L3' 'Special L2']

Unique values in Renew Offer Type: ['Offer3' 'Offer4' 'Offer2' 'Offer1']

Unique values in Sales Channel: ['Agent' 'Call Center' 'Branch' 'Web']

Unique values in Total Claim Amount: [292.8      744.924331 480.       ... 273.018929 381.306996 618.288849]

Unique values in Vehicle Class: ['Four-Door Car' 'SUV' 'Two-Door Car' 'Sports Car' 'Luxury Car'
 'Luxury SUV' nan]

Unique values in Vehicle Size: ['Medsize' 'Small' 'Large' nan]

Unique values in Vehicle Type: [nan 'A']

In [17]:
mca_df.isna().any(axis=0)

unnamed:_0                       False
customer                         False
state                             True
customer_lifetime_value          False
response                          True
coverage                         False
education                        False
effective_to_date                False
employmentstatus                 False
gender                           False
income                           False
location_code                    False
marital_status                   False
monthly_premium_auto             False
months_since_last_claim           True
months_since_policy_inception    False
number_of_open_complaints         True
number_of_policies               False
policy_type                      False
policy                           False
renew_offer_type                 False
sales_channel                    False
total_claim_amount               False
vehicle_class                     True
vehicle_size                      True
vehicle_type                      True
dtype: bool

In [14]:
mca_df.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [15]:
# clean up column names

mca_df.columns = mca_df.columns.str.lower()

# white spaces in column names replaced by _
mca_df.columns = mca_df.columns.str.replace(" ","_")

In [18]:
mca_df.isna().sum()

unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [30]:
# managing null values
# ['state'], ['response'], ['months_since_last_claim'], ['number_of_open_complaints'], ['vehicle_class'], ['vehicle_size'], vehicle_type

# 'state' -> most frequent
# 'months_since_last_claim' -> most frequent
# 'number_of_open_complaints' -> default to 0
# 'vehicle_class' -> most frequent
# 'vehicle_size' -> most frequent

# response -> response to last marketing campaign apparently ... how many yes vs no
# vehicle type -> drop column ? or just ignore it

mca_df['response'].value_counts()

response
No     8813
Yes    1466
Name: count, dtype: int64

In [32]:
mca_df['state'] = mca_df['state'].fillna(mca_df['state'].mode().iloc[0])
mca_df['months_since_last_claim'] = mca_df['months_since_last_claim'].fillna(mca_df['months_since_last_claim'].mode().iloc[0])
mca_df['number_of_open_complaints'] = mca_df['number_of_open_complaints'].fillna(0)
mca_df['vehicle_class'] = mca_df['vehicle_class'].fillna(mca_df['vehicle_class'].mode().iloc[0])
mca_df['vehicle_size'] = mca_df['vehicle_size'].fillna(mca_df['vehicle_size'].mode().iloc[0])
mca_df['response'] = mca_df['response'].fillna(mca_df['response'].mode().iloc[0])

In [33]:
mca_df.isna().any(axis=0)

unnamed:_0                       False
customer                         False
state                            False
customer_lifetime_value          False
response                         False
coverage                         False
education                        False
effective_to_date                False
employmentstatus                 False
gender                           False
income                           False
location_code                    False
marital_status                   False
monthly_premium_auto             False
months_since_last_claim          False
months_since_policy_inception    False
number_of_open_complaints        False
number_of_policies               False
policy_type                      False
policy                           False
renew_offer_type                 False
sales_channel                    False
total_claim_amount               False
vehicle_class                    False
vehicle_size                     False
vehicle_type                      True
dtype: bool

In [34]:
# are there any duplicate rows?

mca_df.duplicated().any(axis=0)

False

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [38]:
mca_df['total_claim_amount'].value_counts().sort_index()

total_claim_amount
0.099007       1
0.382107       2
0.423310       2
0.517753       1
0.769185       2
              ..
2345.413441    1
2452.894264    1
2552.343856    2
2759.794354    1
2893.239678    1
Name: count, Length: 5106, dtype: int64

In [39]:
new_df = mca_df[(mca_df['total_claim_amount'] > 1000) & (mca_df['response'] == "Yes")]

In [40]:
new_df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.0,43,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.0,43,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,Suburban,Married,214,8.0,89,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,Suburban,Divorced,181,22.0,79,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.0,5,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

In [46]:
# to create a new df with columns from another df:
# columns_to_keep = ['total_claim_amount', 'response']
# trial_df = mca_df[columns_to_keep]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [48]:
mca_df[mca_df['response']=='Yes'].pivot_table(index='policy_type',columns='gender', values=['total_claim_amount'], aggfunc='mean').round(2)

               total_claim_amount
gender                          F       M
policy_type
Corporate Auto             433.74  408.58
Personal Auto              452.97  457.01
Special Auto               453.28  429.53

In [51]:
mca_df[mca_df['response']=='Yes'].groupby(['policy_type', 'gender'])['total_claim_amount'].mean().unstack('gender').round(2)

gender               F       M
policy_type
Corporate Auto  433.74  408.58
Personal Auto   452.97  457.01
Special Auto    453.28  429.53

**Conclusions:**  
Corporate auto has smaller average total claim amount than personal auto.
The total claim amount is roughly equal for men and women in the personal auto category, but in the other categories men have a roughly smaller total claim amount average.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [70]:
# first we are checking if there are duplicate customers (= more than 1 policy)
mca_df['customer'].duplicated().any()

True

In [63]:
mca_df[['customer','state']].drop_duplicates().groupby('customer')['state'].count().sort_values(ascending=False)

customer
IQ37561    2
No74162    2
RB49468    2
GC93551    2
XP92021    2
          ..
IW71076    1
IW56740    1
IW54903    1
IW54795    1
ZZ97035    1
Name: state, Length: 9134, dtype: int64

In [71]:
# the above code shows that if we make customer-state pairs (eg cust_id 1 - CA) there can many repeating pairs if a customer has more 
# than one policy per state, but we want to know how many customers have policies in more than one state, so we need to drop those 
# duplicate-repeating value-pairs so that when we show customer & count of policies it will mean in different states

In [72]:
# this is wrong because we are filtering by state which means there's the potential there are duplicate customers here who have more
# than one policy per state (same logic as explained above)....so in the following code block we drop duplicate customers and see, here 
# we have 888 customer counts in WA, but when we drop duplicate customers we see there is only 798 unique customers in WA
mca_df[['customer','state']].groupby('state')['customer'].count()

state
Arizona       1937
California    4183
Nevada         993
Oregon        2909
Washington     888
Name: customer, dtype: int64

In [66]:
customer_counts_per_state = mca_df[['customer','state']].drop_duplicates().groupby('state')['customer'].count()

In [68]:
customer_counts_per_state[customer_counts_per_state>= 500]

state
Arizona       1703
California    3520
Nevada         882
Oregon        2601
Washington     798
Name: customer, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [81]:
q4 = mca_df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['min','max','median']).unstack('gender').round(2)
q4

                          min                max             median
gender                      F        M         F         M        F        M
education
Bachelor              1904.00  1898.01  73225.96  67907.27  5640.51  5548.03
College               1898.68  1918.12  61850.19  61134.68  5623.61  6005.85
Doctor                2395.57  2267.60  44856.11  32677.34  5332.46  5577.67
High School or Below  2144.92  1940.98  55277.45  83325.38  6039.55  6286.73
Master                2417.78  2272.31  51016.07  50568.26  5729.86  5579.10

In [90]:
sort_q4 = q4.sort_values(by=('median', 'M'), ascending=False)
sort_q4

                          min                max             median
gender                      F        M         F         M        F        M
education
High School or Below  2144.92  1940.98  55277.45  83325.38  6039.55  6286.73
College               1898.68  1918.12  61850.19  61134.68  5623.61  6005.85
Master                2417.78  2272.31  51016.07  50568.26  5729.86  5579.10
Doctor                2395.57  2267.60  44856.11  32677.34  5332.46  5577.67
Bachelor              1904.00  1898.01  73225.96  67907.27  5640.51  5548.03

**conclusions:**   
High school or below returns higher CLV for both genders. The education levels Bachelor, Master, and Doctor roughly return the same average CLV, meaning education only makes a difference past higher education. At the max level, males have a higher CLV, but their average is not much different that females, as we can see females have a higher min CLV than men.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [92]:
mca_df['effective_to_date'].str.split("/").str[0].astype(int)

0        2
1        1
2        2
3        1
4        1
        ..
10905    1
10906    1
10907    2
10908    2
10909    1
Name: effective_to_date, Length: 10910, dtype: int64

In [ ]:
mca_df.pivot_table(index='state',columns='months', values=['total_claim_amount'], aggfunc='mean').round(2)