# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [2]:
import pandas as pd
import numpy as np

In [58]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [34]:
# Create new DataFrame using & to ensure that both conditions are met in each row that is included

df1 = df[(df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')]
df1

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [38]:
# Check if it worked
print(df1.Response.unique())
print(df1['Total Claim Amount'].unique())

['Yes']
[1358.4      1027.2      1261.319869 1027.000029 1300.8      1032.
 1008.       1324.8      1176.2788   1294.700423]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [24]:
# First, filter for response = yes 

df_yes = df[df['Response'] == 'Yes']

# Then create pivot table with filtered data 

pivot_df = df_yes.pivot_table(index=['Policy Type', 'Gender'], 
                             values='Total Claim Amount', 
                             aggfunc='mean').round(2)

pivot_df

                       Total Claim Amount
Policy Type    Gender
Corporate Auto F                   433.74
               M                   408.58
Personal Auto  F                   452.97
               M                   457.01
Special Auto   F                   453.28
               M                   429.53

In [ ]:
# Women with corporate and special auto policies claim more than men.
# For personal auto policies, men claim slightly more, but the difference is small. 
# Baseless conclusion: men take better care of cars that aren't theirs or are special than women, 
# and they cause more damage to cars that are their own.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [40]:
# First, I should clean up the states column. 

df.State.unique() # Never mind, it's clean

array(['Arizona', 'California', 'Washington', 'Oregon', nan, 'Nevada'],
      dtype=object)

In [48]:
# Group by state and call size to get the number per state

cus_st = df.groupby(['State']).size()
cus_st

State
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
dtype: int64

In [54]:
# Now, filter for > 500 customers ... Even though they will all be included

cus_st_500 = cus_st[cus_st > 500]
cus_st_500

State
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [62]:
# Use pivot to set education level and gender as index

clv_pivot = df.pivot_table(index=['Education', 'Gender'], 
                             values='Customer Lifetime Value', 
                             aggfunc=['max', 'min', 'median']).round(2)
clv_pivot  # I would like to order by education level

                                                max                     min  \
                            Customer Lifetime Value Customer Lifetime Value
Education            Gender
Bachelor             F                     73225.96                 1904.00
                     M                     67907.27                 1898.01
College              F                     61850.19                 1898.68
                     M                     61134.68                 1918.12
Doctor               F                     44856.11                 2395.57
                     M                     32677.34                 2267.60
High School or Below F                     55277.45                 2144.92
                     M                     83325.38                 1940.98
Master               F                     51016.07                 2417.78
                     M                     50568.26                 2272.31

                                             median
                            Customer Lifetime Value
Education            Gender
Bachelor             F                      5640.51
                     M                      5548.03
College              F                      5623.61
                     M                      6005.85
Doctor               F                      5332.46
                     M                      5577.67
High School or Below F                      6039.55
                     M                      6286.73
Master               F                      5729.86
                     M                      5579.10

In [68]:
# Define the custom order for Education levels
education_order = ['Doctor', 'Master', 'Bachelor', 'College','High School or Below']

# Convert the Education column to a categorical type with the defined order
df['Education'] = pd.Categorical(df['Education'], categories=education_order, ordered=True)

# repeat pivot 
clv_pivot = df.pivot_table(index=['Education', 'Gender'], 
                             values='Customer Lifetime Value', 
                             aggfunc=['max', 'min', 'median','mean']).round(2)  # added mean for more insight
clv_pivot

/var/folders/w6/_0ncg7691l37ydc3hj5bp73r0000gn/T/ipykernel_8787/2579492711.py:8: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  clv_pivot = df.pivot_table(index=['Education', 'Gender'],
/var/folders/w6/_0ncg7691l37ydc3hj5bp73r0000gn/T/ipykernel_8787/2579492711.py:8: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  clv_pivot = df.pivot_table(index=['Education', 'Gender'],
/var/folders/w6/_0ncg7691l37ydc3hj5bp73r0000gn/T/ipykernel_8787/2579492711.py:8: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  clv_pivot = df.pivot_table(index=['Education', 'Gender'],
/var/folders/w6/_0ncg7691l37ydc3hj5bp73r0000gn/T/ipykernel_8787/2579492711.py:8: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  clv_pivot = df.pivot_table(index=['Education', 'Gender'],

                                                max                     min  \
                            Customer Lifetime Value Customer Lifetime Value
Education            Gender
Doctor               F                     44856.11                 2395.57
                     M                     32677.34                 2267.60
Master               F                     51016.07                 2417.78
                     M                     50568.26                 2272.31
Bachelor             F                     73225.96                 1904.00
                     M                     67907.27                 1898.01
College              F                     61850.19                 1898.68
                     M                     61134.68                 1918.12
High School or Below F                     55277.45                 2144.92
                     M                     83325.38                 1940.98

                                             median                    mean
                            Customer Lifetime Value Customer Lifetime Value
Education            Gender
Doctor               F                      5332.46                 7328.51
                     M                      5577.67                 7415.33
Master               F                      5729.86                 8157.05
                     M                      5579.10                 8168.83
Bachelor             F                      5640.51                 7874.27
                     M                      5548.03                 7703.60
College              F                      5623.61                 7748.82
                     M                      6005.85                 8052.46
High School or Below F                      6039.55                 8675.22
                     M                      6286.73                 8149.69

In [ ]:
# On average, people with an education level of high school or lower have the highest customer lifetime value. 
# That does not mean the higher the education level, the lower the lifetime value. 
# Master's level educated people provide similar value as those educated at the high school or lower level. 
# The group to provide most value on average is high school educated women, followed by master's educated men. 
# The lowest value group on average is doctorate educated women, followed by men of the same education level.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here