# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

In [1]:
import pandas as pd 

marketing_analysis = pd.read_csv('marketing_customer_analysis.csv')
display(marketing_analysis)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,LZ68649,washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
1,XL78013,oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
2,HG93801,arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,82730,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
3,KR82385,california,5454.587929,No,Basic,Master,1/26/11,Employed,M,66334,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
4,FH51383,california,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,76717,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4538,PP30874,california,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,28304,...,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
4539,SU71163,arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
4540,QI63521,nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
4541,KX53892,oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
4542,WA60547,california,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [2]:
yes_1000_customers = marketing_analysis[(marketing_analysis['total_claim_amount'] > 1000) & (marketing_analysis['response'] == 'Yes')]
display(yes_1000_customers)
display(yes_1000_customers)
display(yes_1000_customers.describe().T)
display(yes_1000_customers.describe(include='object'))

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
103,YJ16163,oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
167,GW43195,oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
171,IP94270,arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
231,FJ28407,california,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
616,TU53781,oregon,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,...,1.0,1,Corporate Auto,Corporate L3,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
717,QO62792,oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
805,TA66375,oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Corporate Auto,Corporate L2,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
850,JC11405,oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
1130,FH77504,california,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
1613,KC26486,arizona,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,...,1.0,1,Personal Auto,Personal L2,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
1840,WP58340,arizona,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Personal Auto,Personal L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
1861,LT72149,nevada,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L2,Offer2,Web,1027.000029,SUV,Medsize,A
1876,TC99043,california,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
2052,GP83239,california,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
2184,UT48216,nevada,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L1,Offer2,Agent,1008.000000,Luxury SUV,Small,A
2242,TQ84956,california,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
2411,TY31217,washington,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
2947,PN98247,california,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
3425,MJ51323,oregon,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,...,1.0,1,Personal Auto,Personal L2,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
3436,AJ89108,california,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
3488,DT77901,oregon,10179.717040,Yes,Premium,Bachelor,1/5/11,Retired,F,14290,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A
3566,YU86361,washington,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,22705,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
3635,XT93203,california,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
3955,IV54766,oregon,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,22705,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
3985,GD55093,california,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,22705,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
4164,YP53257,oregon,10179.717040,Yes,Premium,Bachelor,1/5/11,Retired,F,14290,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A
4459,CK39096,oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
103,YJ16163,oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
167,GW43195,oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
171,IP94270,arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
231,FJ28407,california,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
616,TU53781,oregon,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,...,1.0,1,Corporate Auto,Corporate L3,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
717,QO62792,oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
805,TA66375,oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Corporate Auto,Corporate L2,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
850,JC11405,oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
1130,FH77504,california,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
1613,KC26486,arizona,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,...,1.0,1,Personal Auto,Personal L2,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
1840,WP58340,arizona,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Personal Auto,Personal L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
1861,LT72149,nevada,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L2,Offer2,Web,1027.000029,SUV,Medsize,A
1876,TC99043,california,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
2052,GP83239,california,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
2184,UT48216,nevada,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L1,Offer2,Agent,1008.000000,Luxury SUV,Small,A
2242,TQ84956,california,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
2411,TY31217,washington,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
2947,PN98247,california,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
3425,MJ51323,oregon,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,...,1.0,1,Personal Auto,Personal L2,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
3436,AJ89108,california,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
3488,DT77901,oregon,10179.717040,Yes,Premium,Bachelor,1/5/11,Retired,F,14290,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A
3566,YU86361,washington,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,22705,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
3635,XT93203,california,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
3955,IV54766,oregon,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,22705,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
3985,GD55093,california,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,22705,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
4164,YP53257,oregon,10179.717040,Yes,Premium,Bachelor,1/5/11,Retired,F,14290,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A
4459,CK39096,oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

,count,mean,std,min,25%,50%,75%,max
customer_lifetime_value,27.0,11241.646707,4724.900179,5619.689084,8133.669132,10963.957230,11009.13049,25807.063
income,27.0,39051.666667,21705.302927,0.000000,19443.000000,51643.000000,55687.00000,71210.000
monthly_premium_auto,27.0,233.259259,44.266320,153.000000,210.000000,239.000000,276.00000,283.000
months_since_last_claim,27.0,17.629630,9.360918,4.000000,7.500000,19.000000,23.50000,33.000
months_since_policy_inception,27.0,46.555556,28.820844,5.000000,24.000000,43.000000,69.00000,91.000
number_of_open_complaints,27.0,0.444444,0.751068,0.000000,0.000000,0.000000,1.00000,2.000
number_of_policies,27.0,2.222222,2.531848,1.000000,1.000000,1.000000,1.00000,8.000
total_claim_amount,27.0,1197.620041,151.164821,1008.000000,1027.100015,1294.700423,1324.80000,1358.400

,customer,state,response,coverage,education,effective_to_date,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,vehicle_type
count,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27
unique,27,5,1,2,4,8,4,2,1,3,3,6,2,3,3,2,1
top,YJ16163,oregon,Yes,Premium,Bachelor,1/24/11,Employed,F,Suburban,Divorced,Personal Auto,Personal L3,Offer2,Agent,Luxury SUV,Medsize,A
freq,1,11,27,16,10,5,20,16,27,12,23,11,15,21,16,22,27

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

In [3]:
average_claim_amount = yes_1000_customers.groupby(['policy_type', 'gender'])['total_claim_amount'].mean()
display(round(average_claim_amount))

policy_type     gender
Corporate Auto  F         1195.0
                M         1325.0
Personal Auto   F         1244.0
                M         1109.0
Special Auto    F         1358.0
Name: total_claim_amount, dtype: float64

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [4]:
print()
customer_count_by_state = marketing_analysis.groupby('state').size()
print('Count of customers by state is:')
display(customer_count_by_state)
print()
filtered_states = customer_count_by_state[customer_count_by_state > 500]
print('The states with more than 500 customers are:')
display(filtered_states)
more_than_500_states = marketing_analysis[marketing_analysis['state'].isin(filtered_states.index)]
display(more_than_500_states)
display(round(more_than_500_states.describe().T))
display(more_than_500_states.describe(include='object'))

Count of customers by state is:

state
arizona        868
california    1552
nevada         444
oregon        1281
washington     398
dtype: int64

The states with more than 500 customers are:

state
arizona        868
california    1552
oregon        1281
dtype: int64

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
1,XL78013,oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
2,HG93801,arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,82730,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
3,KR82385,california,5454.587929,No,Basic,Master,1/26/11,Employed,M,66334,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
4,FH51383,california,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,76717,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
5,TR26615,oregon,2497.531509,No,Basic,High School or Below,1/17/11,Unemployed,M,0,...,0.0,1,Corporate Auto,Corporate L2,Offer2,Branch,272.381465,Two-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4537,WU60905,california,8610.667489,No,Basic,High School or Below,2/6/11,Unemployed,F,0,...,0.0,9,Corporate Auto,Corporate L1,Offer3,Web,532.800000,SUV,Medsize,A
4538,PP30874,california,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,28304,...,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
4539,SU71163,arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
4541,KX53892,oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
4542,WA60547,california,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

,count,mean,std,min,25%,50%,75%,max
customer_lifetime_value,3701.0,8054.0,6962.0,1904.0,4095.0,5908.0,8983.0,83325.0
income,3701.0,37265.0,30130.0,0.0,0.0,34498.0,61108.0,99961.0
monthly_premium_auto,3701.0,94.0,35.0,61.0,69.0,83.0,109.0,296.0
months_since_last_claim,3701.0,15.0,10.0,0.0,6.0,14.0,23.0,35.0
months_since_policy_inception,3701.0,48.0,28.0,0.0,24.0,47.0,72.0,99.0
number_of_open_complaints,3701.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0
number_of_policies,3701.0,3.0,2.0,1.0,1.0,2.0,4.0,9.0
total_claim_amount,3701.0,435.0,292.0,1.0,263.0,384.0,552.0,2893.0

,customer,state,response,coverage,education,effective_to_date,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,vehicle_type
count,3701,3701,3701,3701,3701,3701,3701,3701,3701,3701,3701,3701,3701,3701,3701,3701,3701
unique,3701,3,2,3,5,59,5,2,3,3,3,9,4,4,6,3,1
top,XL78013,california,No,Basic,Bachelor,1/10/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Four-Door Car,Medsize,A
freq,1,1552,3174,2257,1132,90,2302,1890,2310,2193,2756,1392,1514,1435,1876,2598,3701

4. Find the median customer lifetime value by education level and gender.

In [5]:
median_lifetime_value = marketing_analysis.groupby(['education', 'gender'])['customer_lifetime_value'].median()
display(median_lifetime_value)

education             gender
Bachelor              F         5752.485185
                      M         5797.377350
College               F         5642.596077
                      M         6005.847375
Doctor                F         5789.850900
                      M         5843.989737
High School or Below  F         5978.754765
                      M         6081.481291
Master                F         5714.165863
                      M         5512.342258
Name: customer_lifetime_value, dtype: float64

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

In [6]:
complaint_values = marketing_analysis.groupby(['state', 'policy_type'])['number_of_open_complaints'].sum()
complaint_values_stats = marketing_analysis.groupby(['state', 'policy_type'])['number_of_open_complaints'].agg(['max', 'min', 'mean'])
print('The number of Open Complaints by state and policy type is:')
display(complaint_values)
display(complaint_values_stats)

The number of Open Complaints by state and policy type is:

state       policy_type
arizona     Corporate Auto     74.0
            Personal Auto     272.0
            Special Auto       11.0
california  Corporate Auto    108.0
            Personal Auto     452.0
            Special Auto       21.0
nevada      Corporate Auto     37.0
            Personal Auto     139.0
            Special Auto        6.0
oregon      Corporate Auto     82.0
            Personal Auto     360.0
            Special Auto       23.0
washington  Corporate Auto     36.0
            Personal Auto     125.0
            Special Auto        9.0
Name: number_of_open_complaints, dtype: float64

                           max  min      mean
state      policy_type
arizona    Corporate Auto  5.0  0.0  0.456790
           Personal Auto   5.0  0.0  0.413374
           Special Auto    3.0  0.0  0.229167
california Corporate Auto  4.0  0.0  0.296703
           Personal Auto   5.0  0.0  0.398589
           Special Auto    4.0  0.0  0.388889
nevada     Corporate Auto  3.0  0.0  0.393617
           Personal Auto   5.0  0.0  0.422492
           Special Auto    3.0  0.0  0.285714
oregon     Corporate Auto  4.0  0.0  0.331984
           Personal Auto   5.0  0.0  0.373444
           Special Auto    5.0  0.0  0.328571
washington Corporate Auto  4.0  0.0  0.467532
           Personal Auto   5.0  0.0  0.409836
           Special Auto    4.0  0.0  0.562500

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [9]:
marketing_analysis['effective_to_date'] = pd.to_datetime(marketing_analysis['effective_to_date'])
marketing_analysis['month'] = marketing_analysis['effective_to_date'].dt.month
state_month_groups = marketing_analysis.groupby(['state', 'month']).size().reset_index(name='number_of_policies_sold')
policies_by_state_month = grouped.pivot(index='state', columns='month', values='number_of_policies_sold')
policies_by_state_month = policies_by_state_month.dropna()
display(policies_by_state_month)

month         1    2
state
arizona     453  415
california  826  726
nevada      247  197
oregon      676  605
washington  207  191

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [23]:
marketing_analysis['effective_to_date'] = pd.to_datetime(marketing_analysis['effective_to_date'])
marketing_analysis['month'] = marketing_analysis['effective_to_date'].dt.month
state_month_grouped = marketing_analysis.groupby(['state', 'month']).size().reset_index(name='number_of_policies_sold')
sorted_sales= state_month_grouped.sort_values('number_of_policies_sold', ascending=False)
top_3_sales_by_states = sorted_sales['state'].unique()[:3]
top_3_sales_by_states_filtered = sorted_sales[sorted_sales['state'].isin(top_3_states)]
final_dataframe = top_3_sales_by_states_filtered.pivot(index='state', columns='month', values='number_of_policies_sold')
final_dataframe = final_dataframe.dropna()
print(final_dataframe)

month         1    2
state
arizona     453  415
california  826  726
oregon      676  605

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [27]:
analyze = ['response','sales_channel']
marketing_analysis_selected = marketing_analysis[analyze]
marketing_analysis_filtered = marketing_analysis_selected[marketing_analysis_selected['response'] == 'Yes']
response_rate = marketing_analysis_filtered.groupby('sales_channel').size() / marketing_analysis.groupby('sales_channel').size()
response_rate = response_rate.reset_index(name='customer_response_rate')

display(response_rate)

  sales_channel  customer_response_rate
0         Agent                0.189606
1        Branch                0.098716
2   Call Center                0.109853
3           Web                0.134238