# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [3]:
import pandas as pd

In [4]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"

In [5]:
df = pd.read_csv(url)

In [6]:
df.set_index("Unnamed: 0", inplace = True)

In [7]:
# Convert column names to lowercase
df.columns = map(str.lower, df.columns)

# Replace spaces with underscores in column names
df.columns = df.columns.str.replace(" ", "_")

# Remove leading and trailing spaces from column names
df.columns = df.columns.str.strip()

In [8]:
df.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [10]:
df1 = df[(df["total_claim_amount"] > 1000) & (df["response"] == "Yes")]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [12]:
round(df1.groupby(["gender","policy_type"])["total_claim_amount"].mean(), 2)

gender  policy_type
F       Corporate Auto    1138.40
        Personal Auto     1214.85
        Special Auto      1358.40
M       Corporate Auto    1171.15
        Personal Auto     1137.86
        Special Auto      1017.50
Name: total_claim_amount, dtype: float64

It seems that the higher policy sold is the special auto type and the gender that bought it the most were female public who responds Yes in the last marketing campaign, followed by the Special Auto type, also in this public. The less amount of policies sold is centered in male public and it's Special Auto.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [15]:
df_stcus = df.groupby("state")["customer"].nunique().reset_index(name="customer_count")

In [16]:
df_stcus2 = df_stcus[(df_stcus["customer_count"]>500)]
df_stcus2

        state  customer_count
0     Arizona            1703
1  California            3150
2      Nevada             882
3      Oregon            2601
4  Washington             798

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [58]:
df.groupby("education")["customer_lifetime_value"].describe().reset_index()

,education,count,mean,std,min,25%,50%,75%,max
0,Bachelor,3272.0,7792.273822,6634.986705,1898.007675,3979.718986,5579.380404,8684.283651,73225.95652
1,College,3204.0,7900.072700,6698.263368,1898.683686,4002.606516,5813.629209,8999.429783,61850.18803
2,Doctor,401.0,7372.029537,6229.691293,2267.604038,3536.431774,5423.136755,8544.411077,44856.11397
3,High School or Below,3146.0,8415.293805,7351.031801,1940.981221,4168.920068,6189.348131,9192.362872,83325.38119
4,Master,887.0,8162.524581,6971.458253,2272.307310,4056.470603,5680.467468,9075.768214,51016.06704

In [60]:
df.groupby("gender")["customer_lifetime_value"].describe().reset_index()

,gender,count,mean,std,min,25%,50%,75%,max
0,F,5573.0,8071.105001,6917.059125,1898.683686,4035.009284,5714.165863,9034.305834,73225.95652
1,M,5337.0,7963.039566,6851.743041,1898.007675,3982.266087,5824.224192,8929.611119,83325.38119

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [22]:
df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')

In [23]:
pivot_df = df.pivot_table(index='state', columns='effective_to_date', values=["number_of_policies"])

In [24]:
pivot_df

                  number_of_policies                                          \
effective_to_date             1/1/11   1/10/11   1/11/11   1/12/11   1/13/11
state
Arizona                     3.971429  3.617647  2.571429  3.156250  3.285714
California                  3.214286  3.125000  3.333333  3.163265  3.254545
Nevada                      2.769231  1.640000  1.947368  2.500000  2.950000
Oregon                      2.642857  3.071429  3.170732  2.555556  2.820513
Washington                  4.666667  3.571429  2.555556  3.000000  3.615385

                                                                     ...  \
effective_to_date   1/14/11   1/15/11   1/16/11   1/17/11   1/18/11  ...
state                                                                ...
Arizona            2.694444  3.344828  2.242424  3.542857  3.459459  ...
California         2.543860  3.055556  2.787879  2.700000  4.084746  ...
Nevada             2.300000  2.500000  1.500000  2.642857  3.388889  ...
Oregon             2.648148  2.450980  3.022727  2.727273  3.822222  ...
Washington         4.545455  2.200000  2.545455  1.739130  3.538462  ...

                                                                               \
effective_to_date   2/26/11   2/27/11   2/28/11    2/3/11    2/4/11    2/5/11
state
Arizona            2.575000  2.750000  3.103448  2.795918  3.270833  3.166667
California         3.262295  3.015625  2.755102  3.741935  2.894737  3.672727
Nevada             2.636364  3.000000  3.157895  2.695652  2.470588  2.800000
Oregon             2.457627  3.181818  2.625000  3.324324  3.203704  3.234043
Washington         3.333333  3.200000  2.882353  3.166667  4.181818  3.055556


effective_to_date    2/6/11    2/7/11    2/8/11    2/9/11
state
Arizona            4.043478  3.100000  2.902439  2.486486
California         2.903226  3.131579  2.769231  2.847458
Nevada             2.066667  3.636364  3.111111  2.285714
Oregon             3.372093  3.109091  2.914286  3.088235
Washington         2.190476  3.200000  2.357143  2.187500

[5 rows x 59 columns]

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [50]:
df.groupby("state")["effective_to_date"].nunique().reset_index(name="policies_sold")

        state  policies_sold
0     Arizona             59
1  California             59
2      Nevada             59
3      Oregon             59
4  Washington             59

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [62]:
df.groupby("sales_channel")["response"].nunique().reset_index(name="policies_sold")

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [66]:
melted_df = pd.melt(df, id_vars=['response'], 
                    var_name='sales_channel', 
                    value_name= count)

NameError: name 'count' is not defined