# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df_insurance = pd.read_csv(url)

In [3]:
pd.set_option('display.max_columns', None)

In [5]:
df_insurance.columns = df_insurance.columns.str.lower().str.replace(' ', '_')

In [6]:
df_insurance.sample(10)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
8852,8852,SY36127,California,2874.088470,No,Basic,Master,2/28/11,Employed,F,33462,Rural,Married,72,NaN,9,NaN,1,Personal Auto,Personal L3,Offer2,Branch,112.425578,Four-Door Car,Medsize,A
6441,6441,IF30418,California,2574.020376,Yes,Basic,Master,1/14/11,Employed,F,34990,Rural,Single,65,23.0,73,0.0,1,Personal Auto,Personal L3,Offer2,Web,42.689135,Four-Door Car,Medsize,NaN
9826,9826,EL99335,California,2685.177658,No,Basic,College,1/29/11,Retired,F,20608,Suburban,Divorced,73,10.0,24,0.0,1,Personal Auto,Personal L2,Offer3,Branch,350.400000,NaN,NaN,A
2896,2896,UE54045,California,10094.130030,No,Extended,High School or Below,1/29/11,Employed,F,32046,Urban,Married,127,28.0,23,0.0,4,Corporate Auto,Corporate L1,Offer3,Agent,475.599472,SUV,Medsize,NaN
1499,1499,RV22056,Oregon,4971.353586,No,Extended,Bachelor,2/21/11,Employed,F,98784,Rural,Married,124,7.0,36,1.0,1,Personal Auto,Personal L3,Offer2,Web,155.412984,Sports Car,Medsize,NaN
8360,8360,UF56271,Washington,2814.438036,No,Basic,High School or Below,1/20/11,Employed,F,30703,Suburban,Married,70,15.0,58,0.0,1,Personal Auto,Personal L1,Offer1,Agent,336.000000,Four-Door Car,Medsize,NaN
404,404,XD19546,NaN,8160.689782,NaN,Basic,High School or Below,1/21/11,Unemployed,F,0,Suburban,Married,109,15.0,61,0.0,7,Personal Auto,Personal L1,Offer1,Web,523.200000,SUV,Medsize,NaN
5621,5621,NM70181,Oregon,3585.942995,No,Extended,Master,1/15/11,Employed,M,25748,Rural,Married,90,9.0,23,0.0,1,Personal Auto,Personal L1,Offer3,Call Center,117.871165,Four-Door Car,Medsize,A
3268,3268,LK90215,Oregon,2647.519741,Yes,Basic,College,2/20/11,Employed,M,37876,Urban,Single,69,13.0,15,0.0,1,Personal Auto,Personal L3,Offer2,Agent,300.056383,Four-Door Car,Medsize,NaN
10867,10867,RE97741,California,5846.415340,No,Extended,High School or Below,2/12/11,Unemployed,M,0,Suburban,Single,90,16.0,66,2.0,6,Personal Auto,Personal L1,Offer2,Agent,648.000000,Four-Door Car,Medsize,NaN

-  DataFrame que solo incluya a los clientes que cumplan con las dos condiciones, 'total_claim_amount'>1000 & response == Yes

In [7]:
df_1 = df_insurance[(df_insurance['total_claim_amount'] > 1000) & (df_insurance['response'] == 'Yes')]

In [8]:
df_1.sample(10)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,Suburban,Married,214,8.0,89,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
8505,8505,DT77901,Oregon,10179.717040,Yes,Premium,Bachelor,1/5/11,Retired,F,14290,Suburban,Married,271,20.0,40,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A
8835,8835,XT93203,California,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,33.0,91,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
2364,2364,TC88986,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.0,5,0.0,1,Special Auto,Special L1,Offer2,Web,1027.000029,SUV,Medsize,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,33.0,91,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
2125,2125,JC11405,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,33.0,91,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
680,680,QL45827,Washington,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,Suburban,Married,214,8.0,89,1.0,2,Personal Auto,Personal L1,Offer1,Branch,1027.200000,Luxury Car,Small,NaN
9581,9581,GD55093,California,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,22705,Suburban,Divorced,239,19.0,59,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
6342,6342,NZ60700,Washington,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,33.0,91,0.0,1,Personal Auto,Personal L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,Suburban,Divorced,181,22.0,79,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A

- Promedio de 'total_claim_amount' por tipo de póliza y género para los clientes que respondieron 'Yes'

- Pivot table que agrupa los datos de 'policy_type' y 'gender', luego calcular la media de la columna 'total_claim_amount' únicamente para los clientes con response igual a 'Yes'.

In [9]:
df_yes = df_insurance[df_insurance['response'] == 'Yes'] #  Solo los clientes que respondieron 'Yes' a la campaña

In [10]:
df_2 = pd.pivot_table(df_yes, values='total_claim_amount', index='policy_type', columns='gender', aggfunc='mean')

In [11]:
df_2 = df_2.round(2)

In [12]:
df_2

gender               F       M
policy_type
Corporate Auto  433.74  408.58
Personal Auto   452.97  457.01
Special Auto    453.28  429.53

- Ejercicio 3.

- Contar el número total de clientes que tienen pólizas en cada estado.
- Filtrar el resultado para incluir solo los estados donde hay más de 500 clientes.

In [18]:
df_clientes_por_estado = df_insurance['state'].value_counts()

In [19]:
df_estados_mas_500 = df_clientes_por_estado[df_clientes_por_estado > 500]

In [20]:
df_estados_mas_500

state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

- Ejercicio 4: valor máximo, mínimo, y mediana del customer_lifetime_value por nivel educativo y género.

In [21]:
df_4 = pd.pivot_table(df_insurance, values='customer_lifetime_value', index=['education', 'gender'], aggfunc=[max, min, 'median'])

C:\Users\usr\AppData\Local\Temp\ipykernel_17184\3074796725.py:1: FutureWarning: The provided callable <built-in function max> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_4 = pd.pivot_table(df_insurance, values='customer_lifetime_value', index=['education', 'gender'], aggfunc=[max, min, 'median'])
C:\Users\usr\AppData\Local\Temp\ipykernel_17184\3074796725.py:1: FutureWarning: The provided callable <built-in function min> is currently using DataFrameGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df_4 = pd.pivot_table(df_insurance, values='customer_lifetime_value', index=['education', 'gender'], aggfunc=[max, min, 'median'])

In [22]:
df_4 = df_4.round(2)

In [23]:
df_4

                                                max                     min  \
                            customer_lifetime_value customer_lifetime_value
education            gender
Bachelor             F                     73225.96                 1904.00
                     M                     67907.27                 1898.01
College              F                     61850.19                 1898.68
                     M                     61134.68                 1918.12
Doctor               F                     44856.11                 2395.57
                     M                     32677.34                 2267.60
High School or Below F                     55277.45                 2144.92
                     M                     83325.38                 1940.98
Master               F                     51016.07                 2417.78
                     M                     50568.26                 2272.31

                                             median
                            customer_lifetime_value
education            gender
Bachelor             F                      5640.51
                     M                      5548.03
College              F                      5623.61
                     M                      6005.85
Doctor               F                      5332.46
                     M                      5577.67
High School or Below F                      6039.55
                     M                      6286.73
Master               F                      5729.86
                     M                      5579.10

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here