# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)

In [2]:
df.loc[(df["Total Claim Amount"] > 1000) & (df["Response"] == "Yes")].head(3)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.13049,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.4,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.13049,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.4,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.06300,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.2,Luxury Car,Small,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [3]:
df.loc[(df["Response"] == "Yes")].pivot_table(index="Policy Type", columns="Gender", values=["Total Claim Amount"],
                                               aggfunc="mean").round().astype(int)

# Total Claim Amount is very similar for all policy types and genders.

               Total Claim Amount
Gender                          F    M
Policy Type
Corporate Auto                434  409
Personal Auto                 453  457
Special Auto                  453  430

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [4]:
pd.DataFrame(df["State"].value_counts()).loc[(df["State"].value_counts() > 500)]

            State
California   3552
Oregon       2909
Arizona      1937
Nevada        993
Washington    888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [13]:
# Maximum
df.pivot_table(index=["Education", "Gender"], values=["Customer Lifetime Value"], aggfunc=["max", "min", "mean", "median"]).round().astype(int)
# The highest customer lifetime value has a male with 'High School or Below' education level.
# The highest average customer lifetime value have females with an educaton level of 'High School or Below'.
# The median is significantly lower than the mean for all categories, which shows that there is a tail for high values.

                                                max                     min  \
                            Customer Lifetime Value Customer Lifetime Value
Education            Gender
Bachelor             F                        73226                    1904
                     M                        67907                    1898
College              F                        61850                    1899
                     M                        61135                    1918
Doctor               F                        44856                    2396
                     M                        32677                    2268
High School or Below F                        55277                    2145
                     M                        83325                    1941
Master               F                        51016                    2418
                     M                        50568                    2272

                                               mean                  median
                            Customer Lifetime Value Customer Lifetime Value
Education            Gender
Bachelor             F                         7874                    5641
                     M                         7704                    5548
College              F                         7749                    5624
                     M                         8052                    6006
Doctor               F                         7329                    5332
                     M                         7415                    5578
High School or Below F                         8675                    6040
                     M                         8150                    6287
Master               F                         8157                    5730
                     M                         8169                    5579

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [9]:
# your code goes here