# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [4]:
import pandas as pd

In [6]:
# your code goes here
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)

In [8]:
print(df.head())

   Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

   Number of Open Complaints Number of Policies     Policy Type        Policy  \
0                        0.0                  9  Corporate Auto  Corporate L3
1                        0.0                  1   Personal Auto   Personal L3
2                        0.0                  2   Personal Auto   Personal L3
3                        0.0                  2  Corporate Auto  Corporate L3
4                        NaN                  7   Personal Auto   Personal L2

   Renew Offer Type  Sales Channel  Total Claim Amount  Vehicle Class  \
0            Offer3          Agent          292.800000  Four-Door Car
1            Offer4    Call Center          744.924331  Four-Door Car
2            Offer3    Call Center          480.000000            SUV
3            Offer2         Branch          484.013411  Four-Door Car
4            Offer1         Branch          707.925645  Four-Door Car

  Vehicle Size Vehicle Type
0      Medsize          NaN
1      Medsize          NaN
2      Medsize            A
3      Medsize            A
4      Medsize          NaN

[5 rows x 26 columns]

In [12]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [14]:
filtered_df = df[(df['total_claim_amount'] > 1000) & (df['response'] == "Yes")]

In [16]:
pivot_avg_claim_by_policy_gender = df[df['response'] == "Yes"].pivot_table(
    values='total_claim_amount', 
    index='policy_type', 
    columns='gender', 
    aggfunc='mean'
).round(2)

print("\nAverage Total Claim Amount by Policy Type and Gender (for 'Yes' response):")
print(pivot_avg_claim_by_policy_gender)

Average Total Claim Amount by Policy Type and Gender (for 'Yes' response):
gender               F       M
policy_type
Corporate Auto  433.74  408.58
Personal Auto   452.97  457.01
Special Auto    453.28  429.53

In [20]:
customer_count_by_state = df['state'].value_counts()
states_over_500 = customer_count_by_state[customer_count_by_state > 500]
print("\nTotal number of customers by state (filtered to states with > 500 customers):")
print(states_over_500)

Total number of customers by state (filtered to states with > 500 customers):
state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

In [22]:
clv_stats_by_education_gender = df.pivot_table(
    values='customer_lifetime_value',
    index='education',
    columns='gender',
    aggfunc=['max', 'min', 'median']
).round(2)

print("\nCustomer Lifetime Value Statistics by Education Level and Gender:")
print(clv_stats_by_education_gender)

Customer Lifetime Value Statistics by Education Level and Gender:
                           max                min            median
gender                       F         M        F        M        F        M
education
Bachelor              73225.96  67907.27  1904.00  1898.01  5640.51  5548.03
College               61850.19  61134.68  1898.68  1918.12  5623.61  6005.85
Doctor                44856.11  32677.34  2395.57  2267.60  5332.46  5577.67
High School or Below  55277.45  83325.38  2144.92  1940.98  6039.55  6286.73
Master                51016.07  50568.26  2417.78  2272.31  5729.86  5579.10