# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [2]:
import pandas as pd

In [2]:
df_marketing_customer = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
df_marketing_customer

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [3]:
df_marketing_customer.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [4]:
df_dataFrame1 = df_marketing_customer[
    (df_marketing_customer['Total Claim Amount'] > 1000) & (df_marketing_customer['Response'] == 'Yes')] #Condición sobre la que se efectua la consulta 
df_dataFrame1

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [5]:
df_marketing_customer.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [6]:
df_filtered1 = df_marketing_customer[(df_marketing_customer['Response'] == 'Yes')] #Se filtra los datos que tenemos que agrupar 

df_grouped_average = df_filtered1.groupby(['Gender' , 'Policy Type'])['Total Claim Amount'].mean().reset_index() #Agrupamos los datos 

df_grouped_average

  Gender     Policy Type  Total Claim Amount
0      F  Corporate Auto          433.738499
1      F   Personal Auto          452.965929
2      F    Special Auto          453.280164
3      M  Corporate Auto          408.582459
4      M   Personal Auto          457.010178
5      M    Special Auto          429.527942

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [7]:
df_filtered2 = df_marketing_customer.groupby('State')['Customer'].count().reset_index()
df_filtered2

        State  Customer
0     Arizona      1937
1  California      3552
2      Nevada       993
3      Oregon      2909
4  Washington       888

In [8]:
df_state_count = df_marketing_customer.groupby('State')['Customer'].count().reset_index() #Agrupamos los datos que vamos a filtrar 

df_state_count.columns = ['State', 'Customer Count'] #Renombramos las columnas

df_filtered_states = df_state_count[df_state_count['Customer Count'] > 500] #Condición sobre la que se efectua el filtro 

df_filtered_states

        State  Customer Count
0     Arizona            1937
1  California            3552
2      Nevada             993
3      Oregon            2909
4  Washington             888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [12]:
df_calculated_max = df_marketing_customer.groupby(['Education', 'Gender'])['Customer Lifetime Value'].max().reset_index()
df_calculated_min = df_marketing_customer.groupby(['Education', 'Gender'])['Customer Lifetime Value'].min().reset_index()
df_calculated_mean = df_marketing_customer.groupby(['Education', 'Gender'])['Customer Lifetime Value'].mean().reset_index()
df_calculated_median = df_marketing_customer.groupby(['Education', 'Gender'])['Customer Lifetime Value'].median().reset_index()

df_results = pd.merge(df_calculated_max, df_calculated_min, on=['Education', 'Gender'], suffixes=('_Max', '_Min'))
df_results = pd.merge(df_results, df_calculated_mean, on=['Education', 'Gender'])
df_results = pd.merge(df_results, df_calculated_median, on=['Education', 'Gender'], suffixes=('', '_Median'))

df_results.columns = ['Education', 'Gender', 'Max CLV', 'Min CLV', 'Mean CLV', 'Median CLV']

print(df_results)

              Education Gender      Max CLV      Min CLV     Mean CLV  \
0              Bachelor      F  73225.95652  1904.000852  7874.269478
1              Bachelor      M  67907.27050  1898.007675  7703.601675
2               College      F  61850.18803  1898.683686  7748.823325
3               College      M  61134.68307  1918.119700  8052.459288
4                Doctor      F  44856.11397  2395.570000  7328.508916
5                Doctor      M  32677.34284  2267.604038  7415.333638
6  High School or Below      F  55277.44589  2144.921535  8675.220201
7  High School or Below      M  83325.38119  1940.981221  8149.687783
8                Master      F  51016.06704  2417.777032  8157.053154
9                Master      M  50568.25912  2272.307310  8168.832659

    Median CLV
0  5640.505303
1  5548.031892
2  5623.611187
3  6005.847375
4  5332.462694
5  5577.669457
6  6039.553187
7  6286.731006
8  5729.855012
9  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [4]:
data = {
    'State' : ['Arizona', 'California', 'Nevada', 'Oregon', 'Washington'],
    'Month' : ['February', 'January', 'February', 'January', 'February'],
    'Number of Policies' : [929, 1634, 993, 1344, 888]
}

df_marketing_customer = pd.DataFrame(data)

df_grouped = df_marketing_customer.groupby(['State', 'Month'])['Number of Policies'].sum().reset_index()

df_pivot = df_grouped.pivot(index='State', columns='Month', values='Number of Policies').fillna(0)

df_pivot

Month       February  January
State
Arizona        929.0      0.0
California       0.0   1634.0
Nevada         993.0      0.0
Oregon           0.0   1344.0
Washington     888.0      0.0

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [13]:
df_marketing_customer.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [14]:
df_marketing_customer.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [15]:
df_dataframe_fecha = df_marketing_customer['Effective To Date'].replace(
    to_replace=r'(\d{1,2})/(\d{1,2})/(\d{2})', 
    value=r'\3-\1-\2',  
    regex=True
)

df_marketing_customer['Effective To Date'] = pd.to_datetime(df_dataframe_fecha, format='%y-%m-%d') #Formateo la fecha 

df_marketing_customer['Month'] = df_marketing_customer['Effective To Date'].dt.month_name() #Añado una nueva columna al DataFrame para añadir el mes 

print(df_marketing_customer)

       Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0         Basic   College        2011-02-18         Employed      M  ...
1         Basic   College        2011-01-18       Unemployed      F  ...
2         Basic  Bachelor        2011-02-10         Employed      M  ...
3      Extended   College        2011-01-11         Employed      M  ...
4       Premium  Bachelor        2011-01-17    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor        2011-01-19       Unemployed      F  ...
10906     Basic   College        2011-01-06         Employed      F  ...
10907  Extended  Bachelor        2011-02-06         Employed      F  ...
10908   Premium   College        2011-02-13         Employed      F  ...
10909     Basic  Bachelor        2011-01-08       Unemployed      M  ...

       Number of Policies     Policy Type        Policy  Renew Offer Type  \
0                       9  Corporate Auto  Corporate L3            Offer3
1                       1   Personal Auto   Personal L3            Offer4
2                       2   Personal Auto   Personal L3            Offer3
3                       2  Corporate Auto  Corporate L3            Offer2
4                       7   Personal Auto   Personal L2            Offer1
...                   ...             ...           ...               ...
10905                   7   Personal Auto   Personal L1            Offer3
10906                   6   Personal Auto   Personal L3            Offer2
10907                   2  Corporate Auto  Corporate L3            Offer1
10908                   6   Personal Auto   Personal L1            Offer1
10909                   3   Personal Auto   Personal L1            Offer4

       Sales Channel  Total Claim Amount  Vehicle Class  Vehicle Size  \
0              Agent          292.800000  Four-Door Car       Medsize
1        Call Center          744.924331  Four-Door Car       Medsize
2        Call Center          480.000000            SUV       Medsize
3             Branch          484.013411  Four-Door Car       Medsize
4             Branch          707.925645  Four-Door Car       Medsize
...              ...                 ...            ...           ...
10905            Web         1214.400000     Luxury Car       Medsize
10906         Branch          273.018929  Four-Door Car       Medsize
10907            Web          381.306996     Luxury SUV       Medsize
10908         Branch          618.288849            SUV       Medsize
10909            Web         1021.719397            SUV       Medsize

      Vehicle Type     Month
0              NaN  February
1              NaN   January
2                A  February
3                A   January
4              NaN   January
...            ...       ...
10905            A   January
10906            A   January
10907          NaN  February
10908            A  February
10909          NaN   January

[10910 rows x 27 columns]

In [16]:
# your code goes here
df_dataframe1 = df_marketing_customer.groupby(['State', 'Month'])['Customer'].count().reset_index()

df_dataframe1.rename(columns={'Customer': 'Number of Policies'}, inplace=True)

print (df_dataframe1)

        State     Month  Number of Policies
0     Arizona  February                 929
1     Arizona   January                1008
2  California  February                1634
3  California   January                1918
4      Nevada  February                 442
5      Nevada   January                 551
6      Oregon  February                1344
7      Oregon   January                1565
8  Washington  February                 425
9  Washington   January                 463

In [17]:
df_dataframe2 = df_marketing_customer.groupby(['State', 'Month'])['Customer'].count().reset_index() #Agrupamos los datos por estado y mes para sacar el total

df_dataframe2.rename(columns={'Customer': 'Number of Policies'}, inplace=True) #Renombramos las columnas

df_total_policies = df_dataframe2.groupby('State')['Number of Policies'].sum().reset_index() #Agrupamos los datos de la consulta anterior para realizar el filtro 

df_total_policies = df_total_policies.sort_values(by='Number of Policies', ascending=False) #Ordenamos los datos

top_3_states = df_total_policies.head(3) 

df_top_3_monthly = df_dataframe2[df_dataframe2['State'].isin(top_3_states['State'])]

print(df_top_3_monthly)

        State     Month  Number of Policies
0     Arizona  February                 929
1     Arizona   January                1008
2  California  February                1634
3  California   January                1918
6      Oregon  February                1344
7      Oregon   January                1565

In [23]:
data = {
    'Channel_A': [1, 0, 1, 1, 0], 
    'Channel_B': [0, 1, 1, 0, 1],
    'Response': ['Yes', 'No', 'Yes', 'Yes', 'No']
}

df_marketing_customer = pd.DataFrame(data)

df_melted = df_marketing_customer.melt(id_vars=['Response'], 
                                        var_name='Marketing Channel', 
                                        value_name='Channel Response')
    
df_yes_responses = df_melted[df_melted['Channel Response'] == 1]

response_count = df_yes_responses.groupby('Marketing Channel')['Channel Response'].count().reset_index()

total_count = df_melted.groupby('Marketing Channel')['Channel Response'].count().reset_index()

total_count.rename(columns={'Channel Response': 'Total Responses'}, inplace=True)

response_analysis = pd.merge(response_count, total_count, on='Marketing Channel')

response_analysis['Response Rate'] = (response_analysis['Channel Response'] / response_analysis['Total Responses']) * 100

print(response_analysis)

  Marketing Channel  Channel Response  Total Responses  Response Rate
0         Channel_A                 3                5           60.0
1         Channel_B                 3                5           60.0