# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [1]:
import pandas as pd

In [2]:
from data_cleaning import *

In [3]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = load_df(url)

In [4]:
#Standarize the column names
column_names(df)

In [5]:
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [6]:
#get the value of each column values
def unique_value_col(df, col):
    unique_values = df[col].unique()
    return(f"Unique values in column '{col}': {unique_values}\n")
for col in list(df.columns):
    print(unique_value_col(df, col))

Unique values in column 'unnamed:_0': [    0     1     2 ... 10907 10908 10909]

Unique values in column 'customer': ['DK49336' 'KX64629' 'LZ68649' ... 'KX53892' 'TL39050' 'WA60547']

Unique values in column 'state': ['Arizona' 'California' 'Washington' 'Oregon' nan 'Nevada']

Unique values in column 'customer_lifetime_value': [ 4809.21696   2228.525238 14947.9173   ...  5259.444853 23893.3041
 11971.97765 ]

Unique values in column 'response': ['No' 'Yes' nan]

Unique values in column 'coverage': ['Basic' 'Extended' 'Premium']

Unique values in column 'education': ['College' 'Bachelor' 'High School or Below' 'Doctor' 'Master']

Unique values in column 'effective_to_date': ['2/18/11' '1/18/11' '2/10/11' '1/11/11' '1/17/11' '2/14/11' '2/24/11'
 '1/19/11' '1/4/11' '1/2/11' '2/7/11' '1/31/11' '1/26/11' '2/28/11'
 '1/16/11' '2/26/11' '2/23/11' '1/15/11' '2/2/11' '2/15/11' '1/24/11'
 '2/21/11' '2/22/11' '1/7/11' '1/28/11' '2/8/11' '2/12/11' '2/20/11'
 '1/5/11' '2/19/11' '1/3/11' '2/3/11' '1/22/11' '1/23/11' '2/5/11'
 '2/13/11' '1/25/11' '2/16/11' '2/1/11' '1/27/11' '1/12/11' '1/20/11'
 '2/6/11' '2/11/11' '1/21/11' '1/29/11' '1/9/11' '2/9/11' '2/27/11'
 '1/1/11' '2/17/11' '2/25/11' '1/13/11' '1/6/11' '2/4/11' '1/14/11'
 '1/10/11' '1/8/11' '1/30/11']

Unique values in column 'employmentstatus': ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']

Unique values in column 'gender': ['M' 'F']

Unique values in column 'income': [48029     0 22139 ... 61146 39837 64195]

Unique values in column 'location_code': ['Suburban' 'Urban' 'Rural']

Unique values in column 'marital_status': ['Married' 'Single' 'Divorced']

Unique values in column 'monthly_premium_auto': [ 61  64 100  97 117  63 154  85 127  62  99  69 116 114  66  73  94 104
 189  74 121 110 111  72 115 159 101  65  82  71 126  68 199  96  67 125
 249 105  92  78  77  79 223 242  70 102 109 107 119 194 113 106 247  80
  86  81  83 122 253 196 132 139  84 130  93 103 112 222 118  88 182 283
  90 128  89 235 190  76  87 133 153 129  98 148 123  91 211 131 108 187
 214 181 173 252  95 124 137 145 188 143 198 138 245 195 186 170 136 161
 157 141 205 271 192 142 140 134 240 185 244 210 184 202 296 213 273 219
 135 169 155 225 266 215 197 256 212 158 180 166 168 183 162 191 179 150
 146 276 165 239 237 193 229 274 207 295 208 172 217 206 201 171 152 156
 174 238 167 151 144 163 287 209 290 220 228 232 178 177 275 176 281 149
 298 255 216 285 226 160 147 254 164 175 297 234 284 204 218 261 231 248
 286 230 268 203]

Unique values in column 'months_since_last_claim': [ 7.  3. 34. 10. nan  2.  8. 35. 33. 19. 13.  5. 24. 25.  6. 20. 26. 14.
  9. 29. 11.  1. 18. 16. 30. 12.  4. 22. 31. 21. 28. 17. 15. 32. 23. 27.
  0.]

Unique values in column 'months_since_policy_inception': [52 26 31  3 73 99 45 24  8 29 32 25 28 87 10 74  1 38 58 37  7 80 95 78
 63 27 97 39 11 59 46 62 13 54 51 22 82 91 44 43 76 48 84  6 92 12 61  4
 18 66 70 16 75 34 35 64  9 89  0 60 71 23 55 93  2 67 81 40 57 86 19 72
 69 33 47 42 17 49 21 83 94 30 15 50 53 77 41 90  5 79 56 98 20 88 65 14
 85 96 36 68]

Unique values in column 'number_of_open_complaints': [ 0. nan  3.  1.  2.  4.  5.]

Unique values in column 'number_of_policies': [9 1 2 7 4 3 6 8 5]

Unique values in column 'policy_type': ['Corporate Auto' 'Personal Auto' 'Special Auto']

Unique values in column 'policy': ['Corporate L3' 'Personal L3' 'Personal L2' 'Corporate L2' 'Personal L1'
 'Special L1' 'Corporate L1' 'Special L3' 'Special L2']

Unique values in column 'renew_offer_type': ['Offer3' 'Offer4' 'Offer2' 'Offer1']

Unique values in column 'sales_channel': ['Agent' 'Call Center' 'Branch' 'Web']

Unique values in column 'total_claim_amount': [292.8      744.924331 480.       ... 273.018929 381.306996 618.288849]

Unique values in column 'vehicle_class': ['Four-Door Car' 'SUV' 'Two-Door Car' 'Sports Car' 'Luxury Car'
 'Luxury SUV' nan]

Unique values in column 'vehicle_size': ['Medsize' 'Small' 'Large' nan]

Unique values in column 'vehicle_type': [nan 'A']

In [7]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10905    False
10906    False
10907    False
10908    False
10909    False
Length: 10910, dtype: bool

In [8]:
df.isna()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
10906,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10907,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10908,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10909,False,False,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [9]:
#I wonder if I can create another if to asign every column the correct data type
for col in list(df.columns):
    # Check if there are missing values (NaN) in the column
    if df[col].isna().any():
        # Fill missing values in the column with 'Unknown'
        df[col].fillna('Unknown', inplace=True)

/tmp/ipykernel_270449/4170245629.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[col].fillna('Unknown', inplace=True)

In [10]:
df.isna().any()

unnamed:_0                       False
customer                         False
state                            False
customer_lifetime_value          False
response                         False
coverage                         False
education                        False
effective_to_date                False
employmentstatus                 False
gender                           False
income                           False
location_code                    False
marital_status                   False
monthly_premium_auto             False
months_since_last_claim          False
months_since_policy_inception    False
number_of_open_complaints        False
number_of_policies               False
policy_type                      False
policy                           False
renew_offer_type                 False
sales_channel                    False
total_claim_amount               False
vehicle_class                    False
vehicle_size                     False
vehicle_type                     False
dtype: bool

In [11]:
#get the value of each column values
for col in list(df.columns):
    print(unique_value_col(df, col))

Unique values in column 'unnamed:_0': [    0     1     2 ... 10907 10908 10909]

Unique values in column 'customer': ['DK49336' 'KX64629' 'LZ68649' ... 'KX53892' 'TL39050' 'WA60547']

Unique values in column 'state': ['Arizona' 'California' 'Washington' 'Oregon' 'Unknown' 'Nevada']

Unique values in column 'customer_lifetime_value': [ 4809.21696   2228.525238 14947.9173   ...  5259.444853 23893.3041
 11971.97765 ]

Unique values in column 'response': ['No' 'Yes' 'Unknown']

Unique values in column 'coverage': ['Basic' 'Extended' 'Premium']

Unique values in column 'education': ['College' 'Bachelor' 'High School or Below' 'Doctor' 'Master']

Unique values in column 'effective_to_date': ['2/18/11' '1/18/11' '2/10/11' '1/11/11' '1/17/11' '2/14/11' '2/24/11'
 '1/19/11' '1/4/11' '1/2/11' '2/7/11' '1/31/11' '1/26/11' '2/28/11'
 '1/16/11' '2/26/11' '2/23/11' '1/15/11' '2/2/11' '2/15/11' '1/24/11'
 '2/21/11' '2/22/11' '1/7/11' '1/28/11' '2/8/11' '2/12/11' '2/20/11'
 '1/5/11' '2/19/11' '1/3/11' '2/3/11' '1/22/11' '1/23/11' '2/5/11'
 '2/13/11' '1/25/11' '2/16/11' '2/1/11' '1/27/11' '1/12/11' '1/20/11'
 '2/6/11' '2/11/11' '1/21/11' '1/29/11' '1/9/11' '2/9/11' '2/27/11'
 '1/1/11' '2/17/11' '2/25/11' '1/13/11' '1/6/11' '2/4/11' '1/14/11'
 '1/10/11' '1/8/11' '1/30/11']

Unique values in column 'employmentstatus': ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']

Unique values in column 'gender': ['M' 'F']

Unique values in column 'income': [48029     0 22139 ... 61146 39837 64195]

Unique values in column 'location_code': ['Suburban' 'Urban' 'Rural']

Unique values in column 'marital_status': ['Married' 'Single' 'Divorced']

Unique values in column 'monthly_premium_auto': [ 61  64 100  97 117  63 154  85 127  62  99  69 116 114  66  73  94 104
 189  74 121 110 111  72 115 159 101  65  82  71 126  68 199  96  67 125
 249 105  92  78  77  79 223 242  70 102 109 107 119 194 113 106 247  80
  86  81  83 122 253 196 132 139  84 130  93 103 112 222 118  88 182 283
  90 128  89 235 190  76  87 133 153 129  98 148 123  91 211 131 108 187
 214 181 173 252  95 124 137 145 188 143 198 138 245 195 186 170 136 161
 157 141 205 271 192 142 140 134 240 185 244 210 184 202 296 213 273 219
 135 169 155 225 266 215 197 256 212 158 180 166 168 183 162 191 179 150
 146 276 165 239 237 193 229 274 207 295 208 172 217 206 201 171 152 156
 174 238 167 151 144 163 287 209 290 220 228 232 178 177 275 176 281 149
 298 255 216 285 226 160 147 254 164 175 297 234 284 204 218 261 231 248
 286 230 268 203]

Unique values in column 'months_since_last_claim': [7.0 3.0 34.0 10.0 'Unknown' 2.0 8.0 35.0 33.0 19.0 13.0 5.0 24.0 25.0 6.0
 20.0 26.0 14.0 9.0 29.0 11.0 1.0 18.0 16.0 30.0 12.0 4.0 22.0 31.0 21.0
 28.0 17.0 15.0 32.0 23.0 27.0 0.0]

Unique values in column 'months_since_policy_inception': [52 26 31  3 73 99 45 24  8 29 32 25 28 87 10 74  1 38 58 37  7 80 95 78
 63 27 97 39 11 59 46 62 13 54 51 22 82 91 44 43 76 48 84  6 92 12 61  4
 18 66 70 16 75 34 35 64  9 89  0 60 71 23 55 93  2 67 81 40 57 86 19 72
 69 33 47 42 17 49 21 83 94 30 15 50 53 77 41 90  5 79 56 98 20 88 65 14
 85 96 36 68]

Unique values in column 'number_of_open_complaints': [0.0 'Unknown' 3.0 1.0 2.0 4.0 5.0]

Unique values in column 'number_of_policies': [9 1 2 7 4 3 6 8 5]

Unique values in column 'policy_type': ['Corporate Auto' 'Personal Auto' 'Special Auto']

Unique values in column 'policy': ['Corporate L3' 'Personal L3' 'Personal L2' 'Corporate L2' 'Personal L1'
 'Special L1' 'Corporate L1' 'Special L3' 'Special L2']

Unique values in column 'renew_offer_type': ['Offer3' 'Offer4' 'Offer2' 'Offer1']

Unique values in column 'sales_channel': ['Agent' 'Call Center' 'Branch' 'Web']

Unique values in column 'total_claim_amount': [292.8      744.924331 480.       ... 273.018929 381.306996 618.288849]

Unique values in column 'vehicle_class': ['Four-Door Car' 'SUV' 'Two-Door Car' 'Sports Car' 'Luxury Car'
 'Luxury SUV' 'Unknown']

Unique values in column 'vehicle_size': ['Medsize' 'Small' 'Large' 'Unknown']

Unique values in column 'vehicle_type': ['Unknown' 'A']

In [12]:
#1. Create a new DataFrame that only includes customers who have a 
# total_claim_amount greater than $1,000 and have a response of "Yes" 
# to the last marketing campaign.

claimamount_over1000 = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]
claimamount_over1000

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,Unknown
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,Unknown
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,Unknown
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,Unknown
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Unknown,Unknown,Unknown
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [13]:
#2. Using the original Dataframe, analyze the average 
# total_claim_amount by each policy type and gender 
# for customers who have responded "Yes" to the last 
# marketing campaign. Write your conclusions.

filtered_df = df[df['response'] == 'Yes']

pivot_table_1 = filtered_df.pivot_table(
    index=['policy_type'],
    columns=['gender'],
    values='total_claim_amount',
    aggfunc=['mean']
)

print(pivot_table_1)

print("There's less corporate and speacial policies for men than women\nand lightly more more personal policies for men than women")

                      mean
gender                   F           M
policy_type
Corporate Auto  433.738499  408.582459
Personal Auto   452.965929  457.010178
Special Auto    453.280164  429.527942
There's less corporate and speacial policies for men than women
and lightly more more personal policies for men than women

In [23]:
#3. Analyze the total number of customers who have policies in each 
# state, and then filter the results to only include states where there 
# are more than 500 customers.

customer_state = df.groupby('state')['customer'].count().reset_index()

# Filter the data to only include states with more than 100 customers
states_over_100_customers = customer_state[customer_state['customer'] > 500]
states_over_100_customers

        state  customer
0     Arizona      1937
1  California      3552
2      Nevada       993
3      Oregon      2909
4     Unknown       631
5  Washington       888

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here