# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [25]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"

df_1 = pd.read_csv(url)

df_1.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [27]:
aggregated = df_1.groupby(['Response', 'Total Claim Amount']).sum().reset_index()

print("Aggregated Data:")
print(aggregated)

Aggregated Data:
     Response  Total Claim Amount  Unnamed: 0  \
0          No            0.099007        3663
1          No            0.382107        6869
2          No            0.423310       13169
3          No            0.517753        7567
4          No            0.769185       10529
...       ...                 ...         ...
5161      Yes         1261.319869       31890
5162      Yes         1294.700423       44458
5163      Yes         1300.800000       34595
5164      Yes         1324.800000       46968
5165      Yes         1358.400000       28239

                                               Customer  \
0                                               EY74093
1                                        PN21042PN21042
2                                        IS30186IS30186
3                                               HG65722
4                                               WW74234
...                                                 ...
5161         IP94270ZA45956TC99043MO21402MC30750FD73388
5162         ZW93288CG15505UP29839YU86361IV54766GD55093
5163         MA15172UY18770QW47320ZR79373DT77901YP53257
5164  JC11405WP58340TQ84956NZ60700XT93203WP58340XZ64172
5165  OK31456YJ16163TA66375FH77504TY31217AJ89108TY31217

                                                  State  \
0                                                Nevada
1                                        ArizonaArizona
2                                  CaliforniaCalifornia
3                                                Oregon
4                                               Arizona
...                                                 ...
5161     ArizonaCaliforniaCaliforniaOregonOregonArizona
5162  CaliforniaCaliforniaNevadaWashingtonOregonCali...
5163  CaliforniaCaliforniaCaliforniaArizonaOregonOregon
5164  OregonArizonaCaliforniaWashingtonCaliforniaAri...
5165  CaliforniaOregonOregonCaliforniaWashingtonCali...

      Customer Lifetime Value  \
0                 5004.135361
1                 9077.695636
2                12372.995662
3                12819.102890
4                 3969.433177
...                       ...
5161             82416.795000
5162            114965.939640
5163             61078.302240
5164             76747.700610
5165             77063.913430

                                               Coverage  \
0                                                 Basic
1                                            BasicBasic
2                                      ExtendedExtended
3                                               Premium
4                                                 Basic
...                                                 ...
5161         PremiumPremiumPremiumPremiumPremiumPremium
5162   ExtendedExtendedExtendedExtendedExtendedExtended
5163         PremiumPremiumPremiumPremiumPremiumPremium
5164  PremiumPremiumPremiumPremiumPremiumPremiumPremium
5165  PremiumPremiumPremiumPremiumPremiumPremiumPremium

                                              Education  \
0                                  High School or Below
1                                      BachelorBachelor
2                                        CollegeCollege
3                                                Doctor
4                                               College
...                                                 ...
5161               MasterMasterMasterMasterMasterMaster
5162               MasterMasterMasterMasterMasterMaster
5163   BachelorBachelorBachelorBachelorBachelorBachelor
5164  High School or BelowHigh School or BelowHigh S...
5165  BachelorBachelorBachelorBachelorBachelorBachel...

                                      Effective To Date  \
0                                               2/21/11
1                                        2/17/112/17/11
2                                        1/31/111/31/11
3                                               1/25/11
4                                                2/5/11
...                                                 ...
5161         2/13/112/13/112/13/112/13/112/13/112/13/11
5162         2/20/112/20/112/20/112/20/112/20/112/20/11
5163               1/5/111/5/111/5/111/5/111/5/111/5/11
5164         2/8/112/8/112/8/112/8/112/8/112/8/112/8/11
5165  1/24/111/24/111/24/111/24/111/24/111/24/111/24/11

                                       EmploymentStatus  ...  \
0                                              Employed  ...
1                                      EmployedEmployed  ...
2                                      EmployedEmployed  ...
3                                              Disabled  ...
4                                              Employed  ...
...                                                 ...  ...
5161   DisabledDisabledDisabledDisabledDisabledDisabled  ...
5162   EmployedEmployedEmployedEmployedEmployedEmployed  ...
5163         RetiredRetiredRetiredRetiredRetiredRetired  ...
5164  EmployedEmployedEmployedEmployedEmployedEmploy...  ...
5165  EmployedEmployedEmployedEmployedEmployedEmploy...  ...

     Months Since Policy Inception  Number of Open Complaints  \
0                               93                        0.0
1                              124                        0.0
2                               22                        0.0
3                                4                        3.0
4                               29                        0.0
...                            ...                        ...
5161                           474                        0.0
5162                           354                        0.0
5163                           240                        0.0
5164                           637                        0.0
5165                           301                        0.0

     Number of Policies                                        Policy Type  \
0                     8                                     Corporate Auto
1                     2                         Personal AutoPersonal Auto
2                     6                         Personal AutoPersonal Auto
3                     3                                      Personal Auto
4                     1                                      Personal Auto
...                 ...                                                ...
5161                 48  Personal AutoPersonal AutoPersonal AutoPersona...
5162                 42  Personal AutoPersonal AutoPersonal AutoPersona...
5163                  6  Personal AutoPersonal AutoPersonal AutoPersona...
5164                  7  Personal AutoPersonal AutoCorporate AutoPerson...
5165                  7  Corporate AutoSpecial AutoCorporate AutoPerson...

                                                 Policy  \
0                                          Corporate L1
1                                Personal L3Personal L3
2                                Personal L2Personal L2
3                                           Personal L2
4                                           Personal L3
...                                                 ...
5161  Personal L2Personal L2Personal L2Personal L3Pe...
5162  Personal L1Personal L3Personal L1Personal L1Pe...
5163  Personal L2Personal L3Personal L1Personal L3Pe...
5164  Personal L3Personal L2Corporate L3Personal L2P...
5165  Corporate L3Special L3Corporate L2Personal L3P...

                                Renew Offer Type  \
0                                         Offer4
1                                   Offer1Offer1
2                                   Offer2Offer2
3                                         Offer1
4                                         Offer1
...                                          ...
5161        Offer1Offer1Offer1Offer1Offer1Offer1
5162        Offer2Offer2Offer2Offer2Offer2Offer2
5163        Offer1Offer1Offer1Offer1Offer1Offer1
5164  Offer1Offer1Offer1Offer1Offer1Offer1Offer1
5165  Offer2Offer2Offer2Offer2Offer2Offer2Offer2

                            Sales Channel  \
0                                   Agent
1                  Call CenterCall Center
2                              AgentAgent
3                                  Branch
4                                   Agent
...                                   ...
5161                   WebWebWebWebWebWeb
5162       AgentAgentAgentAgentAgentAgent
5163       AgentAgentAgentAgentAgentAgent
5164  AgentAgentAgentAgentAgentAgentAgent
5165  AgentAgentAgentAgentAgentAgentAgent

                                          Vehicle Class  \
0                                         Four-Door Car
1                                  Sports CarSports Car
2                                         Four-Door Car
3                                                   SUV
4                                                   SUV
...                                                 ...
5161                                 SUVSUVSUVSUVSUVSUV
5162  Luxury SUVLuxury SUVLuxury SUVLuxury SUVLuxury...
5163  Luxury SUVLuxury SUVLuxury SUVLuxury SUVLuxury...
5164  Luxury SUVLuxury SUVLuxury SUVLuxury SUVLuxury...
5165  Luxury CarLuxury CarLuxury CarLuxury CarLuxury...

                                           Vehicle Size Vehicle Type
0                                               Medsize            A
1                                        MedsizeMedsize            0
2                                               Medsize            A
3                                               Medsize            0
4                                               Medsize            A
...                                                 ...          ...
5161         MedsizeMedsizeMedsizeMedsizeMedsizeMedsize           AA
5162         MedsizeMedsizeMedsizeMedsizeMedsizeMedsize          AAA
5163         MedsizeMedsizeMedsizeMedsizeMedsizeMedsize           AA
5164  MedsizeMedsizeMedsizeMedsizeMedsizeMedsizeMedsize         AAAA
5165         MedsizeMedsizeMedsizeMedsizeMedsizeMedsize       AAAAAA

[5166 rows x 26 columns]

In [61]:
conditional_1 = df_1["Total Claim Amount"] > 1000
conditional_2 = df_1["Response"] == "Yes"

df_1 = [conditional_1 & conditional_2]

TypeError: list indices must be integers or slices, not str

In [51]:
df_1

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 10905    False
 10906    False
 10907    False
 10908    False
 10909    False
 Length: 10910, dtype: bool]

In [65]:
df_1.groupby(["Response", "Policy Type", "Gender"])["Total Claim Amount"].mean()

AttributeError: 'list' object has no attribute 'groupby'

In [75]:
df_1["State"].filter()

TypeError: list indices must be integers or slices, not str

In [ ]:
df.groupby(["Pclass", "Sex"]).agg({"Fare": ["min", "mean", "max"]})

In [79]:
df_1.groupby(["Gender", "Education"]).agg({"Customer Lifetime Value": ["min", "mean", "max"]})

AttributeError: 'list' object has no attribute 'groupby'