# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [5]:
# Filter for customers who responded "Yes"
responded_yes = df[df['Response'] == 'Yes']

# Group by Policy Type and Gender, then calculate averages
grouped = responded_yes.groupby(['Policy Type', 'Gender']).agg({
    'Monthly Premium Auto': 'mean',
    'Customer Lifetime Value': 'mean',
    'Total Claim Amount': 'mean'
}).reset_index()

print(grouped)

      Policy Type Gender  Monthly Premium Auto  Customer Lifetime Value  \
0  Corporate Auto      F             94.301775              7712.628736
1  Corporate Auto      M             92.188312              7944.465414
2   Personal Auto      F             98.998148              8339.791842
3   Personal Auto      M             91.085821              7448.383281
4    Special Auto      F             92.314286              7691.584111
5    Special Auto      M             86.343750              8247.088702

   Total Claim Amount
0          433.738499
1          408.582459
2          452.965929
3          457.010178
4          453.280164
5          429.527942

In [ ]:
# The segment that appears to be the most profitable based on the average Monthly Premium Auto, Customer Lifetime Value, and Total Claim Amount is Personal Auto gender F.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [7]:
# Count the number of customers per state
customers_per_state = df['State'].value_counts()

# Filter states with more than 500 customers
states_over_500 = customers_per_state[customers_per_state > 500]

print(states_over_500)

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [8]:
# Group by Education and Gender, then calculate max, min, and median for Customer Lifetime Value
clv_stats = df.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median']).reset_index()
print(clv_stats)

              Education Gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5640.505303
1              Bachelor      M  67907.27050  1898.007675  5548.031892
2               College      F  61850.18803  1898.683686  5623.611187
3               College      M  61134.68307  1918.119700  6005.847375
4                Doctor      F  44856.11397  2395.570000  5332.462694
5                Doctor      M  32677.34284  2267.604038  5577.669457
6  High School or Below      F  55277.44589  2144.921535  6039.553187
7  High School or Below      M  83325.38119  1940.981221  6286.731006
8                Master      F  51016.06704  2417.777032  5729.855012
9                Master      M  50568.25912  2272.307310  5579.099207

In [ ]:
# The analysis shows that the maximum Customer Lifetime Value is highest for individuals with a Master's degree

## Bonus

In [9]:
# Convert 'Effective To Date' to datetime to extract month names
df['Effective To Date'] = pd.to_datetime(df['Effective To Date'])

# Extract month name
df['Month'] = df['Effective To Date'].dt.strftime('%B')

# Create a pivot table: rows=State, columns=Month, values=number of policies sold
policies_by_state_month = df.pivot_table(
    index='State',
    columns='Month',
    values='Policy',
    aggfunc='count',
    fill_value=0
)

print(policies_by_state_month)

Month       February  January
State
Arizona          929     1008
California      1634     1918
Nevada           442      551
Oregon          1344     1565
Washington       425      463

C:\Users\User\AppData\Local\Temp\ipykernel_33288\3543582999.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Effective To Date'] = pd.to_datetime(df['Effective To Date'])

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [10]:
# Group by State and Month, count number of policies sold
policies_by_state_month_count = df.groupby(['State', 'Month'])['Policy'].count().reset_index()

# Calculate total policies sold per state
total_policies_by_state = policies_by_state_month_count.groupby('State')['Policy'].sum().sort_values(ascending=False)

# Get top 3 states with highest number of policies sold
top_3_states = total_policies_by_state.head(3).index

# Filter for top 3 states
top_states_policies = policies_by_state_month_count[policies_by_state_month_count['State'].isin(top_3_states)]

# Pivot to get months as columns, states as rows
top_states_pivot = top_states_policies.pivot(index='State', columns='Month', values='Policy').fillna(0).astype(int)

display(top_states_pivot)

Month       February  January
State
Arizona          929     1008
California      1634     1918
Oregon          1344     1565

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [11]:
# Calculate response rate by Sales Channel
response_by_channel = df.groupby('Sales Channel')['Response'].value_counts(normalize=True).unstack().fillna(0)
response_rate_yes = response_by_channel.get('Yes', pd.Series(0, index=response_by_channel.index))

# Create a DataFrame for response rates
response_rate_df = pd.DataFrame({
    'Response Rate (Yes)': response_rate_yes
}).sort_values('Response Rate (Yes)', ascending=False)

print(response_rate_df)

               Response Rate (Yes)
Sales Channel
Agent                     0.190746
Web                       0.117141
Branch                    0.113787
Call Center               0.109786