# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [3]:
import pandas as pd

df = pd.read_csv ('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [18]:
def filter_high_claim_responders(df):
    filtered_df = df[(df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')]
    print(f"\nâœ… Number of high-claim responders: {len(filtered_df)}")
    return filtered_df
    
high_claim_responders = filter_high_claim_responders(df)

âœ… Number of high-claim responders: 67

In [20]:
def avg_claim_by_policy_and_gender(df):
    responders_df = df[df['Response'] == 'Yes']
    pivot = responders_df.pivot_table(
        values='Total Claim Amount',
        index='Policy Type',
        columns='Gender',
        aggfunc='mean'
    ).round(2)

    print("\nðŸ“Š Average Total Claim Amount by Policy Type and Gender (Responders):\n")
    print(pivot)
    return pivot
avg_claim_summary = avg_claim_by_policy_and_gender(df)

ðŸ“Š Average Total Claim Amount by Policy Type and Gender (Responders):

Gender               F       M
Policy Type
Corporate Auto  433.74  408.58
Personal Auto   452.97  457.01
Special Auto    453.28  429.53

In [22]:
def states_with_many_customers(df):
    state_counts = df['State'].value_counts().reset_index()
    state_counts.columns = ['State', 'Customer Count']
    filtered = state_counts[state_counts['Customer Count'] > 500]

    print("\nðŸ“ States with more than 500 customers:\n")
    print(filtered)
    return filtered
big_states = states_with_many_customers(df)

ðŸ“ States with more than 500 customers:

        State  Customer Count
0  California            3552
1      Oregon            2909
2     Arizona            1937
3      Nevada             993
4  Washington             888

In [24]:
def clv_stats_by_education_and_gender(df):
    grouped = df.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median']).round(2)
    
    print("\nðŸ“ˆ CLV Stats by Education and Gender:\n")
    print(grouped)
    return grouped

clv_summary = clv_stats_by_education_and_gender(df)

ðŸ“ˆ CLV Stats by Education and Gender:

                                  max      min   median
Education            Gender
Bachelor             F       73225.96  1904.00  5640.51
                     M       67907.27  1898.01  5548.03
College              F       61850.19  1898.68  5623.61
                     M       61134.68  1918.12  6005.85
Doctor               F       44856.11  2395.57  5332.46
                     M       32677.34  2267.60  5577.67
High School or Below F       55277.45  2144.92  6039.55
                     M       83325.38  1940.98  6286.73
Master               F       51016.07  2417.78  5729.86
                     M       50568.26  2272.31  5579.10

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [40]:
def top_states_policy_by_month(df):
    # Step 1: Group by state and month to count policies
    policy_counts = df.groupby(['State', 'Month']).size().reset_index(name='Policies Sold')

    # Step 2: Get total policies sold per state
    total_by_state = policy_counts.groupby('State')['Policies Sold'].sum().sort_values(ascending=False)

    # Step 3: Select top 3 states
    top_3_states = total_by_state.head(3).index.tolist()

    # Step 4: Filter for top 3 states
    top_states_df = policy_counts[policy_counts['State'].isin(top_3_states)]

    # Step 5: Pivot table: rows = states, columns = months
    pivot_table = top_states_df.pivot(index='State', columns='Month', values='Policies Sold').fillna(0).astype(int)

    print("\nðŸ“Š Number of Policies Sold by Month (Top 3 States):\n")
    print(pivot_table)
    return pivot_table

    
top_states_pivot = top_states_policy_by_month(df)

KeyError: 'Month'

In [34]:
def response_rate_by_channel(df):
    # Step 1: Count responses by channel
    yes_counts = df[df['Response'] == 'Yes']['Sales Channel'].value_counts()
    total_counts = df['Sales Channel'].value_counts()

    # Step 2: Calculate response rate
    response_rate = (yes_counts / total_counts * 100).round(2)

    # Step 3: Create DataFrame
    result = pd.DataFrame({
        'Total Customers': total_counts,
        'Responded Yes': yes_counts,
        'Response Rate (%)': response_rate
    }).fillna(0)

    print("\nðŸ“ˆ Customer Response Rate by Marketing Channel:\n")
    print(result)

    return result
response_rate_table = response_rate_by_channel(df)

ðŸ“ˆ Customer Response Rate by Marketing Channel:

               Total Customers  Responded Yes  Response Rate (%)
Sales Channel
Agent                     4121            742              18.01
Branch                    3022            326              10.79
Call Center               2141            221              10.32
Web                       1626            177              10.89