# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'

df = pd.read_csv(url)

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [3]:
df.columns = df.columns.str.replace(' ', '_')
df.columns = df.columns.str.lower()

In [6]:

# Filtrar os clientes com total_claim_amount maior que $1,000 e com resposta "Yes"
filtered_df = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]

display(filtered_df.head())

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [12]:

# Criar uma tabela pivÃ´ para calcular a mÃ©dia do total_claim_amount por tipo de polÃ­tica e gÃªnero
df['customer_lifetime_value'] = df['customer_lifetime_value'].round(2)

pivot_table = df[df['response'] == 'Yes'].pivot_table(values='total_claim_amount', index='policy_type', columns='gender', aggfunc='mean')
# pivot_table.columns

# Exibir os resultados
display(pivot_table)

gender                   F           M
policy_type
Corporate Auto  433.738499  408.582459
Personal Auto   452.965929  457.010178
Special Auto    453.280164  429.527942

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [32]:
# Agrupar os dados por estado e contar o nÃºmero total de clientes em cada estado
customers_per_state = df.groupby('state')['customer'].count()
# Filtrar os resultados para incluir apenas estados com mais de 500 clientes
St_500_customers = customers_per_state[customers_per_state > 500]

# Exibir os resultados
print(St_500_customers)

state
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
Name: customer, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [39]:
pivot_table2 = df.pivot_table(values='customer_lifetime_value', index='education', columns='gender', aggfunc=['max', 'min','median' ])

display(pivot_table2)
clv_stats = df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median']).unstack('gender')
display(clv_stats)

                           max                min             median
gender                       F         M        F        M         F         M
education
Bachelor              73225.96  67907.27  1904.00  1898.01  5640.505  5548.030
College               61850.19  61134.68  1898.68  1918.12  5623.610  6005.850
Doctor                44856.11  32677.34  2395.57  2267.60  5332.460  5577.670
High School or Below  55277.45  83325.38  2144.92  1940.98  6039.555  6286.735
Master                51016.07  50568.26  2417.78  2272.31  5729.860  5579.100

                           max                min             median
gender                       F         M        F        M         F         M
education
Bachelor              73225.96  67907.27  1904.00  1898.01  5640.505  5548.030
College               61850.19  61134.68  1898.68  1918.12  5623.610  6005.850
Doctor                44856.11  32677.34  2395.57  2267.60  5332.460  5577.670
High School or Below  55277.45  83325.38  2144.92  1940.98  6039.555  6286.735
Master                51016.07  50568.26  2417.78  2272.31  5729.860  5579.100

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here