# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [3]:
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.head()
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [4]:
# cleaning
# check for rows with all NaN
initial_shape = df.shape
df = df.dropna(how='all')
final_shape = df.shape

print(f"Number of rows dropped: {initial_shape[0] - final_shape[0]}")

# check for dublicates
df.duplicated().any()
df = df.drop_duplicates().reset_index(drop=True)

# check if recoding needs to be done
for col in df.columns:
    if df[col].dtype == 'object':
        print(f'{col}:', '\n', f'* Nr. of unique vals: {(df[col].nunique())}', '\n', f'* unique vals: {df[col].unique()}')
        print("\n")

Number of rows dropped: 0
customer:
 * Nr. of unique vals: 9134
 * unique vals: ['DK49336' 'KX64629' 'LZ68649' ... 'KX53892' 'TL39050' 'WA60547']


state:
 * Nr. of unique vals: 5
 * unique vals: ['Arizona' 'California' 'Washington' 'Oregon' nan 'Nevada']


response:
 * Nr. of unique vals: 2
 * unique vals: ['No' 'Yes' nan]


coverage:
 * Nr. of unique vals: 3
 * unique vals: ['Basic' 'Extended' 'Premium']


education:
 * Nr. of unique vals: 5
 * unique vals: ['College' 'Bachelor' 'High School or Below' 'Doctor' 'Master']


effective_to_date:
 * Nr. of unique vals: 59
 * unique vals: ['2/18/11' '1/18/11' '2/10/11' '1/11/11' '1/17/11' '2/14/11' '2/24/11'
 '1/19/11' '1/4/11' '1/2/11' '2/7/11' '1/31/11' '1/26/11' '2/28/11'
 '1/16/11' '2/26/11' '2/23/11' '1/15/11' '2/2/11' '2/15/11' '1/24/11'
 '2/21/11' '2/22/11' '1/7/11' '1/28/11' '2/8/11' '2/12/11' '2/20/11'
 '1/5/11' '2/19/11' '1/3/11' '2/3/11' '1/22/11' '1/23/11' '2/5/11'
 '2/13/11' '1/25/11' '2/16/11' '2/1/11' '1/27/11' '1/12/11' '1/20/11'
 '2/6/11' '2/11/11' '1/21/11' '1/29/11' '1/9/11' '2/9/11' '2/27/11'
 '1/1/11' '2/17/11' '2/25/11' '1/13/11' '1/6/11' '2/4/11' '1/14/11'
 '1/10/11' '1/8/11' '1/30/11']


employmentstatus:
 * Nr. of unique vals: 5
 * unique vals: ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']


gender:
 * Nr. of unique vals: 2
 * unique vals: ['M' 'F']


location_code:
 * Nr. of unique vals: 3
 * unique vals: ['Suburban' 'Urban' 'Rural']


marital_status:
 * Nr. of unique vals: 3
 * unique vals: ['Married' 'Single' 'Divorced']


policy_type:
 * Nr. of unique vals: 3
 * unique vals: ['Corporate Auto' 'Personal Auto' 'Special Auto']


policy:
 * Nr. of unique vals: 9
 * unique vals: ['Corporate L3' 'Personal L3' 'Personal L2' 'Corporate L2' 'Personal L1'
 'Special L1' 'Corporate L1' 'Special L3' 'Special L2']


renew_offer_type:
 * Nr. of unique vals: 4
 * unique vals: ['Offer3' 'Offer4' 'Offer2' 'Offer1']


sales_channel:
 * Nr. of unique vals: 4
 * unique vals: ['Agent' 'Call Center' 'Branch' 'Web']


vehicle_class:
 * Nr. of unique vals: 6
 * unique vals: ['Four-Door Car' 'SUV' 'Two-Door Car' 'Sports Car' 'Luxury Car'
 'Luxury SUV' nan]


vehicle_size:
 * Nr. of unique vals: 3
 * unique vals: ['Medsize' 'Small' 'Large' nan]


vehicle_type:
 * Nr. of unique vals: 1
 * unique vals: [nan 'A']

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [6]:
#1
df_new = df[(df['total_claim_amount'] >1000) & (df['response'] == 'yes')]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [8]:
#2
pivot_df = df[df['response'] == 'Yes'].pivot_table(
    index='policy_type', 
    columns='gender', 
    values='total_claim_amount', 
    aggfunc='mean').round(2)

pivot_df

gender               F       M
policy_type
Corporate Auto  433.74  408.58
Personal Auto   452.97  457.01
Special Auto    453.28  429.53

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [29]:
#3
# Assuming 'data' is your DataFrame
stategrouped = df.groupby('state')['customer'].count()
stategrouped_filtered = stategrouped[stategrouped > 500]
stategrouped_filtered.sort_values()

state
Washington     888
Nevada         993
Arizona       1937
Oregon        2909
California    3552
Name: customer, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [31]:
#4
grouped = df.groupby(['gender', 'education'])['customer_lifetime_value'].agg(['max', 'median', 'min']).round(2)
grouped

                                  max   median      min
gender education
F      Bachelor              73225.96  5640.51  1904.00
       College               61850.19  5623.61  1898.68
       Doctor                44856.11  5332.46  2395.57
       High School or Below  55277.45  6039.55  2144.92
       Master                51016.07  5729.86  2417.78
M      Bachelor              67907.27  5548.03  1898.01
       College               61134.68  6005.85  1918.12
       Doctor                32677.34  5577.67  2267.60
       High School or Below  83325.38  6286.73  1940.98
       Master                50568.26  5579.10  2272.31

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here