# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [5]:
print(df.columns)

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [15]:
# Filtrar el DataFrame para incluir solo filas que cumplan con ambas condiciones
filtered_df = df[
    (df['Total Claim Amount'] > 1000) &  # AsegÃºrate de que esta columna existe y estÃ¡ correcta
    (df['Response'] == 'Yes')            # AsegÃºrate de que esta columna existe y estÃ¡ correcta
]

# Mostrar las primeras filas del DataFrame filtrado
print(filtered_df.head())

     Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
189         189  OK31456  California             11009.130490      Yes
236         236  YJ16163      Oregon             11009.130490      Yes
419         419  GW43195      Oregon             25807.063000      Yes
442         442  IP94270     Arizona             13736.132500      Yes
587         587  FJ28407  California              5619.689084      Yes

     Coverage             Education Effective To Date EmploymentStatus Gender  \
189   Premium              Bachelor           1/24/11         Employed      F
236   Premium              Bachelor           1/24/11         Employed      F
419  Extended               College           2/13/11         Employed      F
442   Premium                Master           2/13/11         Disabled      F
587   Premium  High School or Below           1/26/11       Unemployed      M

     ...  Number of Open Complaints Number of Policies     Policy Type  \
189  ...                        0.0                  1  Corporate Auto
236  ...                        0.0                  1    Special Auto
419  ...                        1.0                  2   Personal Auto
442  ...                        0.0                  8   Personal Auto
587  ...                        0.0                  1   Personal Auto

           Policy  Renew Offer Type  Sales Channel  Total Claim Amount  \
189  Corporate L3            Offer2          Agent         1358.400000
236    Special L3            Offer2          Agent         1358.400000
419   Personal L2            Offer1         Branch         1027.200000
442   Personal L2            Offer1            Web         1261.319869
587   Personal L1            Offer2            Web         1027.000029

     Vehicle Class Vehicle Size Vehicle Type
189     Luxury Car      Medsize          NaN
236     Luxury Car      Medsize            A
419     Luxury Car        Small            A
442            SUV      Medsize            A
587            SUV      Medsize            A

[5 rows x 26 columns]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [17]:


# Supongamos que 'insurance_df' es tu DataFrame original

# Filtrar el DataFrame para incluir solo las filas con respuesta "Yes"
responded_yes_df = df[df['Response'] == 'Yes']

# Crear una tabla pivote para el promedio de 'Total Claim Amount' por 'Policy Type' y 'Gender'
pivot_table = responded_yes_df.pivot_table(
    values='Total Claim Amount',
    index='Policy Type',
    columns='Gender',
    aggfunc='mean'
).round(2)  # Redondea a dos decimales para mayor claridad

# Mostrar la tabla pivote
print(pivot_table)

Gender               F       M
Policy Type
Corporate Auto  433.74  408.58
Personal Auto   452.97  457.01
Special Auto    453.28  429.53

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [19]:


# Agrupar por 'State' y contar el nÃºmero de clientes por estado
state_counts = df.groupby('State').size().reset_index(name='Number of Customers')

# Filtrar estados con mÃ¡s de 500 clientes
states_with_more_than_500_customers = state_counts[state_counts['Number of Customers'] > 500]

# Mostrar los resultados
print(states_with_more_than_500_customers)

        State  Number of Customers
0     Arizona                 1937
1  California                 3552
2      Nevada                  993
3      Oregon                 2909
4  Washington                  888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [21]:

# Asegurarse de que 'Customer Lifetime Value' es numÃ©rico
df['Customer Lifetime Value'] = pd.to_numeric(df['Customer Lifetime Value'], errors='coerce')

# Agrupar por 'Education' y 'Gender', calculando mÃ¡ximo, mÃ­nimo y mediana
clv_stats = df.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median']).reset_index()

# Mostrar los resultados
print(clv_stats)

              Education Gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5640.505303
1              Bachelor      M  67907.27050  1898.007675  5548.031892
2               College      F  61850.18803  1898.683686  5623.611187
3               College      M  61134.68307  1918.119700  6005.847375
4                Doctor      F  44856.11397  2395.570000  5332.462694
5                Doctor      M  32677.34284  2267.604038  5577.669457
6  High School or Below      F  55277.44589  2144.921535  6039.553187
7  High School or Below      M  83325.38119  1940.981221  6286.731006
8                Master      F  51016.06704  2417.777032  5729.855012
9                Master      M  50568.25912  2272.307310  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [23]:

# AsegÃºrate que la columna para la fecha sea de tipo datetime
df['Effective To Date'] = pd.to_datetime(df['Effective To Date'])

# Extraer el mes de la columna de fecha
df['Month'] = df['Effective To Date'].dt.month

# Crear una tabla pivote para contar el nÃºmero de pÃ³lizas vendidas por estado y mes
policies_sold_pivot = df.pivot_table(values='Number of Policies', index='State', columns='Month', aggfunc='sum', fill_value=0)

# Mostrar la tabla pivote
print(policies_sold_pivot)

Month          1     2
State
Arizona     3052  2864
California  5673  4929
Nevada      1493  1278
Oregon      4697  3969
Washington  1358  1225

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7120\58261480.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Effective To Date'] = pd.to_datetime(df['Effective To Date'])

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [25]:
import pandas as pd

# SupÃ³n que 'insurance_df' es tu DataFrame original y ya tiene todos los datos necesarios

# Convertir 'Effective To Date' a formato de fecha, si no lo estÃ¡ ya
df['Effective To Date'] = pd.to_datetime(df['Effective To Date'])

# Extraer el mes de la columna de fecha
df['Month'] = df['Effective To Date'].dt.month

# Sumar el nÃºmero de pÃ³lizas por estado
state_totals = df.groupby('State')['Number of Policies'].sum().reset_index()

# Obtener los nombres de los 3 principales estados con el mayor nÃºmero de pÃ³lizas vendidas
top_states = state_totals.nlargest(3, 'Number of Policies')['State']

# Filtrar el DataFrame original para incluir solo los 3 estados principales
top_states_df = df[df['State'].isin(top_states)]

# Crear y mostrar una tabla pivote de las pÃ³lizas vendidas por mes y estado
result_df = top_states_df.pivot_table(
    values='Number of Policies',
    index='State',
    columns='Month',
    aggfunc='sum',
    fill_value=0
).reset_index()

print(result_df)

Month       State     1     2
0         Arizona  3052  2864
1      California  5673  4929
2          Oregon  4697  3969

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [29]:

# Filtrar clientes que respondieron "Yes"
yes_responses = df[df['Response'] == 'Yes']

# Calcular el total de respuestas "Yes" por canal de ventas
yes_counts_by_channel = yes_responses.groupby('Sales Channel').size()

# Calcular el total de clientes por canal de ventas
total_by_channel = df.groupby('Sales Channel').size()

# Calcular la tasa de respuesta
response_rate_by_channel = (yes_counts_by_channel / total_by_channel) * 100

# Convertir a DataFrame para mejor legibilidad
response_rate_df = response_rate_by_channel.reset_index(name='Response Rate (%)')

# Mostrar la tabla de resumen
print(response_rate_df)

  Sales Channel  Response Rate (%)
0         Agent          18.005339
1        Branch          10.787558
2   Call Center          10.322279
3           Web          10.885609