# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot    

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv" 

df0 = pd.read_csv(url)

In [5]:
df0.columns = df0.columns.str.strip().str.lower().str.replace(" ", "_")
new_cols = {'st': 'state'}
df0 = df0.rename(columns= new_cols)

In [18]:
df0
# df0.isna().sum()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [22]:
df1 = df0[(df0["total_claim_amount"] < 1000) & (df0["response"] == "Yes")]

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1399 entries, 3 to 10897
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     1399 non-null   int64
 1   customer                       1399 non-null   object
 2   state                          1399 non-null   object
 3   customer_lifetime_value        1399 non-null   float64
 4   response                       1399 non-null   object
 5   coverage                       1399 non-null   object
 6   education                      1399 non-null   object
 7   effective_to_date              1399 non-null   object
 8   employmentstatus               1399 non-null   object
 9   gender                         1399 non-null   object
 10  income                         1399 non-null   int64
 11  location_code                  1399 non-null   object
 12  marital_status                 1399 non-null   object
 13  monthly_premium_auto           1399 non-null   int64
 14  months_since_last_claim        1324 non-null   float64
 15  months_since_policy_inception  1399 non-null   int64
 16  number_of_open_complaints      1324 non-null   float64
 17  number_of_policies             1399 non-null   int64
 18  policy_type                    1399 non-null   object
 19  policy                         1399 non-null   object
 20  renew_offer_type               1399 non-null   object
 21  sales_channel                  1399 non-null   object
 22  total_claim_amount             1399 non-null   float64
 23  vehicle_class                  1317 non-null   object
 24  vehicle_size                   1317 non-null   object
 25  vehicle_type                   684 non-null    object
dtypes: float64(4), int64(5), object(17)
memory usage: 295.1+ KB

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [ ]:
df2 = df0.copy()
# df2[df0["response"] == "Yes"].groupby(["policy_type","gender"])[["monthly_premium_auto"]].mean()
df2[df0["response"] == "Yes"].groupby(["policy_type","gender"])[["monthly_premium_auto","customer_lifetime_value", "total_claim_amount"]].mean()

                       monthly_premium_auto  customer_lifetime_value  \
policy_type    gender
Corporate Auto F                  94.301775              7712.628736
               M                  92.188312              7944.465414
Personal Auto  F                  98.998148              8339.791842
               M                  91.085821              7448.383281
Special Auto   F                  92.314286              7691.584111
               M                  86.343750              8247.088702

                       total_claim_amount
policy_type    gender
Corporate Auto F               433.738499
               M               408.582459
Personal Auto  F               452.965929
               M               457.010178
Special Auto   F               453.280164
               M               429.527942

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [45]:
df3 = df0 .copy()
# df3 = df3[df3["number_of_policies"] > 0].groupby("state")["customer"].count().reindex()
df3 = df3[df3["number_of_policies"] > 0].groupby("state").agg(Total_customer = ("customer","count"))

# df3
df3[df3["Total_customer"] > 500]

            Total_customer
state
Arizona               1937
California            3552
Nevada                 993
Oregon                2909
Washington             888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [48]:
df4 = df0 .copy()
df4.groupby(["education", "gender"])["customer_lifetime_value"].agg(["min","max","median"])#.sort_values(by="")
# df4.groupby(["gender","education" ])["customer_lifetime_value"].agg(["min","max","median"])

                                     min          max       median
education            gender
Bachelor             F       1904.000852  73225.95652  5640.505303
                     M       1898.007675  67907.27050  5548.031892
College              F       1898.683686  61850.18803  5623.611187
                     M       1918.119700  61134.68307  6005.847375
Doctor               F       2395.570000  44856.11397  5332.462694
                     M       2267.604038  32677.34284  5577.669457
High School or Below F       2144.921535  55277.44589  6039.553187
                     M       1940.981221  83325.38119  6286.731006
Master               F       2417.777032  51016.06704  5729.855012
                     M       2272.307310  50568.25912  5579.099207

- The higher the lvl of education, the higher customer time value gets

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here