# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [81]:
import pandas as pd

# Load the dataset
df = pd.read_csv("marketing_customer_analysis.csv")
df.columns = (df.columns.str.lower().str.replace(" ", "_"))
df["customer_lifetime_value"] = df.customer_lifetime_value.round(2)
df.total_claim_amount = df.total_claim_amount.round(2)
df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.22,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.53,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A
3,3,XL78013,Oregon,22332.44,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.07,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.37,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.40,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.44,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.02,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.30,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.31,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.98,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.29,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.52,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.72,SUV,Medsize,NaN

In [10]:
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [20]:
df_low = df[(df["total_claim_amount"] < 1000) & (df["response"] == "Yes")]

df_low

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
15,15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN
19,19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A
27,27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10844,10844,FM31768,Arizona,5979.724161,Yes,Extended,High School or Below,2/7/11,Employed,F,...,0.0,3,Personal Auto,Personal L1,Offer2,Agent,547.200000,Four-Door Car,Medsize,NaN
10852,10852,KZ80424,Washington,8382.478392,Yes,Basic,Bachelor,1/27/11,Employed,M,...,0.0,2,Personal Auto,Personal L2,Offer2,Call Center,791.878042,NaN,NaN,A
10872,10872,XT67997,California,5979.724161,Yes,Extended,High School or Below,2/7/11,Employed,F,...,0.0,3,Personal Auto,Personal L3,Offer2,Agent,547.200000,Four-Door Car,Medsize,NaN
10887,10887,BY78730,Oregon,8879.790017,Yes,Basic,High School or Below,2/3/11,Employed,F,...,0.0,7,Special Auto,Special L2,Offer1,Agent,528.200860,SUV,Small,A
10897,10897,MM70762,Arizona,9075.768214,Yes,Basic,Master,1/26/11,Employed,M,...,0.0,8,Personal Auto,Personal L1,Offer1,Agent,158.077504,Sports Car,Medsize,A

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [30]:
df = df[(df["response"] == "Yes")]
df.groupby(["gender", "policy_type"])["monthly_premium_auto"].mean()

gender  policy_type
F       Corporate Auto    94.301775
        Personal Auto     98.998148
        Special Auto      92.314286
M       Corporate Auto    92.188312
        Personal Auto     91.085821
        Special Auto      86.343750
Name: monthly_premium_auto, dtype: float64

In [38]:
df = df[(df["response"] == "Yes")]
df.groupby(["gender", "policy_type"])["total_claim_amount"].mean()

gender  policy_type
F       Corporate Auto    433.738499
        Personal Auto     452.965929
        Special Auto      453.280164
M       Corporate Auto    408.582459
        Personal Auto     457.010178
        Special Auto      429.527942
Name: total_claim_amount, dtype: float64

In [ ]:
df.groupby(["gender", "policy_type"])[["monthly_premium_auto", "total_claim_amount"]].mean()

# “The most profitable customer segment appears to be females with personal auto policies, as they pay the highest average monthly premiums. 
# The lowest risk group appears to be males with corporate auto policies, who have the smallest average total claim amounts. 
# These insights suggest that marketing and retention strategies should focus on maximizing engagement with high-premium segments and maintaining low-risk groups.”

                       customer_lifetime_value
gender policy_type
F      Corporate Auto              7712.628736
       Personal Auto               8339.791842
       Special Auto                7691.584111
M      Corporate Auto              7944.465414
       Personal Auto               7448.383281
       Special Auto                8247.088702

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [ ]:
df_low = df[(df["total_claim_amount"] < 1000) & (df["response"] == "Yes")]

In [57]:
state_count = df.groupby("state")["customer"].agg(["count"])
result = state_count[state_count["count"] > 500]
result

            count
state
California    504

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [82]:

df.groupby(["education", "gender"])[["customer_lifetime_value"]].agg(["min", "median", "max"])

                            customer_lifetime_value
                                                min    median       max
education            gender
Bachelor             F                      1904.00  5640.505  73225.96
                     M                      1898.01  5548.030  67907.27
College              F                      1898.68  5623.610  61850.19
                     M                      1918.12  6005.850  61134.68
Doctor               F                      2395.57  5332.460  44856.11
                     M                      2267.60  5577.670  32677.34
High School or Below F                      2144.92  6039.555  55277.45
                     M                      1940.98  6286.735  83325.38
Master               F                      2417.78  5729.860  51016.07
                     M                      2272.31  5579.100  50568.26

In [ ]:
# Men with HS education or lower have the highest CLV. Men and women with a Bachelor's degree have the lowest CLV.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [73]:
# your code goes here