# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [10]:
import pandas as pd
customer_data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
customer_data

       Unnamed: 0 Customer       State  ...  Vehicle Class Vehicle Size Vehicle Type
0               0  DK49336     Arizona  ...  Four-Door Car      Medsize          NaN
1               1  KX64629  California  ...  Four-Door Car      Medsize          NaN
2               2  LZ68649  Washington  ...            SUV      Medsize            A
3               3  XL78013      Oregon  ...  Four-Door Car      Medsize            A
4               4  QA50777      Oregon  ...  Four-Door Car      Medsize          NaN
...           ...      ...         ...  ...            ...          ...          ...
10905       10905  FE99816      Nevada  ...     Luxury Car      Medsize            A
10906       10906  KX53892      Oregon  ...  Four-Door Car      Medsize            A
10907       10907  TL39050     Arizona  ...     Luxury SUV      Medsize          NaN
10908       10908  WA60547  California  ...            SUV      Medsize            A
10909       10909  IV32877         NaN  ...            SUV      Medsize          NaN

[10910 rows x 26 columns]

In [11]:
customer_data.drop('Unnamed: 0',axis=1,inplace=True)
customer_data

      Customer       State  ...  Vehicle Size Vehicle Type
0      DK49336     Arizona  ...       Medsize          NaN
1      KX64629  California  ...       Medsize          NaN
2      LZ68649  Washington  ...       Medsize            A
3      XL78013      Oregon  ...       Medsize            A
4      QA50777      Oregon  ...       Medsize          NaN
...        ...         ...  ...           ...          ...
10905  FE99816      Nevada  ...       Medsize            A
10906  KX53892      Oregon  ...       Medsize            A
10907  TL39050     Arizona  ...       Medsize          NaN
10908  WA60547  California  ...       Medsize            A
10909  IV32877         NaN  ...       Medsize          NaN

[10910 rows x 25 columns]

In [12]:
customer_data.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size', 'Vehicle Type'],
      dtype='object')

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [14]:
new_df = customer_data[(customer_data['Total Claim Amount'] > 1000)&(customer_data['Response'] == 'Yes')]
new_df

      Customer       State  ...  Vehicle Size Vehicle Type
189    OK31456  California  ...       Medsize          NaN
236    YJ16163      Oregon  ...       Medsize            A
419    GW43195      Oregon  ...         Small            A
442    IP94270     Arizona  ...       Medsize            A
587    FJ28407  California  ...       Medsize            A
...        ...         ...  ...           ...          ...
10351  FN44127      Oregon  ...         Small          NaN
10373  XZ64172      Oregon  ...       Medsize          NaN
10487  IX60941      Oregon  ...         Small          NaN
10565  QO62792      Oregon  ...           NaN          NaN
10708  CK39096      Oregon  ...       Medsize            A

[67 rows x 25 columns]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [20]:
# pivot table the indexes being policy type and gender, value= the avg total claim amount

filtered_data = customer_data[(customer_data['Response']=='Yes')]
customer_pivot = pd.pivot_table(filtered_data, values = 'Total Claim Amount', index=['Gender','Policy Type'],aggfunc='mean').round(2)
customer_pivot

                       Total Claim Amount
Gender Policy Type
F      Corporate Auto              433.74
       Personal Auto               452.97
       Special Auto                453.28
M      Corporate Auto              408.58
       Personal Auto               457.01
       Special Auto                429.53

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [23]:
state_counts = customer_data['State'].value_counts()
state_counts

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: State, dtype: int64

In [27]:
five_hundred_df = customer_data[customer_data['State'].map(customer_data['State'].value_counts()) > 500]
# five_hundred_df = customer_data[customer_data['State'].value_counts()>500]
five_hundred_df

      Customer       State  ...  Vehicle Size Vehicle Type
0      DK49336     Arizona  ...       Medsize          NaN
1      KX64629  California  ...       Medsize          NaN
2      LZ68649  Washington  ...       Medsize            A
3      XL78013      Oregon  ...       Medsize            A
4      QA50777      Oregon  ...       Medsize          NaN
...        ...         ...  ...           ...          ...
10904  QI63521      Nevada  ...       Medsize            A
10905  FE99816      Nevada  ...       Medsize            A
10906  KX53892      Oregon  ...       Medsize            A
10907  TL39050     Arizona  ...       Medsize          NaN
10908  WA60547  California  ...       Medsize            A

[10279 rows x 25 columns]

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [29]:
min_max_med = pd.pivot_table(customer_data,values='Customer Lifetime Value',index=['Gender','Education'],aggfunc=['max', 'min', 'median']).round(2)
min_max_med

                                                max  ...                  median
                            Customer Lifetime Value  ... Customer Lifetime Value
Gender Education                                     ...
F      Bachelor                            73225.96  ...                 5640.51
       College                             61850.19  ...                 5623.61
       Doctor                              44856.11  ...                 5332.46
       High School or Below                55277.45  ...                 6039.55
       Master                              51016.07  ...                 5729.86
M      Bachelor                            67907.27  ...                 5548.03
       College                             61134.68  ...                 6005.85
       Doctor                              32677.34  ...                 5577.67
       High School or Below                83325.38  ...                 6286.73
       Master                              50568.26  ...                 5579.10

[10 rows x 3 columns]

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here