# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [228]:
import pandas as pd
import numpy as np
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [210]:
df_months=df[["Months Since Policy Inception", "Effective To Date"]]
df_months.head(5)

   Months Since Policy Inception Effective To Date
0                             52           2/18/11
1                             26           1/18/11
2                             31           2/10/11
3                              3           1/11/11
4                             31           1/17/11

In [220]:
unique_combinations = df_months.drop_duplicates()
print(unique_combinations)

       Months Since Policy Inception Effective To Date
0                                 52           2/18/11
1                                 26           1/18/11
2                                 31           2/10/11
3                                  3           1/11/11
4                                 31           1/17/11
...                              ...               ...
10871                             32           2/25/11
10876                             39            2/1/11
10891                             46           1/22/11
10893                             39           2/26/11
10907                             63            2/6/11

[4383 rows x 2 columns]

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [100]:
df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [104]:
df.info()#check total calim amount is number

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10279 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             10910 non-null  float64
 23  Vehicle Class                  10288 non-null  object
 24  Vehicle Size                   10288 non-null  object
 25  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [102]:
df["Response"].unique() #check there are no typo and only have Yes or No answer

array(['No', 'Yes', nan], dtype=object)

In [38]:
df_1 = df[(df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')]
df_1

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [106]:
df_2 = df[df['Response'] == 'Yes']
df_2 = df.groupby(["Policy Type",'Gender'])['Total Claim Amount'].agg(["mean"]).round(2)
df_2

                         mean
Policy Type    Gender
Corporate Auto F       397.80
               M       462.22
Personal Auto  F       413.24
               M       459.92
Special Auto   F       458.14
               M       420.36

In [120]:
#CONCLUSIONS:
max_avg_claim = df_2['mean'].max()
max_combination = df_2['mean'].idxmax()

# Find the minimum average claim amount and the corresponding combination
min_avg_claim = df_2['mean'].min()
min_combination = df_2['mean'].idxmin()

range_claim =round(max_avg_claim - min_avg_claim,2)

# Display the results
print(f"The maximum average claim amount is {max_avg_claim}, for {max_combination}.")
print(f"The minimum average claim amount is {min_avg_claim}, for {min_combination}.")
print(f"The range between max and min is {range_claim}.")

#CONCLUSIONS:
#The maximum average claim amount is 462.22, for ('Corporate Auto', 'M').
#The minimum average claim amount is 397.8, for ('Corporate Auto', 'F').
#The range between max and min is 64.42.

The maximum average claim amount is 462.22, for ('Corporate Auto', 'M').
The minimum average claim amount is 397.8, for ('Corporate Auto', 'F').
The range between max and min is 64.42.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [151]:
#first delete duplicates by "customers" and then group by "state" and count "customers" and finnaly filter by more than 500 customer
df_unique = df.drop_duplicates(subset='Customer')
df_3 = df_unique.groupby('State')['Customer'].count().reset_index(name='Customer_Count')
df_3 = df_3[df_3['Customer_Count'] >500]
df_3

        State  Customer_Count
0     Arizona            1655
1  California            3035
2      Nevada             863
3      Oregon            2517
4  Washington             774

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [163]:
df["Customer Lifetime Value"]=df["Customer Lifetime Value"].round(2)
df_4 = df.groupby("Education")["Customer Lifetime Value"].agg(['max', 'min', 'median'])
df_4

                           max      min   median
Education
Bachelor              73225.96  1898.01  5579.38
College               61850.19  1898.68  5813.63
Doctor                44856.11  2267.60  5423.14
High School or Below  83325.38  1940.98  6189.35
Master                51016.07  2272.31  5680.47

In [171]:
print(df_4.columns)

Index(['max', 'min', 'median'], dtype='object')

In [177]:
#CONCLUSIONS
max_value = df_4["max"].max()
min_value = df_4["min"].min()
max_rows = df_4[df_4["max"] == max_value]
min_rows = df_4[df_4["min"] == min_value]
print("Rows with Maximum Value in 'max' Column:")
print(max_rows[["max"]])
print("\nRows with Minimum Value in 'min' Column:")
print(min_rows[["min"]])

#CONCLUSIONS:
# While the maximum CLVs differ significantly across educational levels, the median CLVs do not vary as much. This could indicate that segregate by Education is not the best predictor for CLV
# Maximum value for CLV is 83,325.38 for High School or Below
# Minimum value for CLV is 1,898.01 for Bachelor

Rows with Maximum Value in 'max' Column:
                           max
Education
High School or Below  83325.38

Rows with Minimum Value in 'min' Column:
               min
Education
Bachelor   1898.01

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [232]:
date_format = '%Y-%m-%d' 
df['Effective To Date'] = pd.to_datetime(df['Effective To Date'], format=date_format)
df['Month'] = df['Effective To Date'].dt.month
pivot_table = df.pivot_table(
    index='State',             
    columns='Month',           
    values='Number of Policies', 
    aggfunc='sum',             
    fill_value=0               
)
print(pivot_table)

Month          1     2
State
Arizona     3052  2864
California  5673  4929
Nevada      1493  1278
Oregon      4697  3969
Washington  1358  1225

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [234]:
date_format = '%Y-%m-%d' 
df['Effective To Date'] = pd.to_datetime(df['Effective To Date'], format=date_format)
df['Month'] = df['Effective To Date'].dt.month
state_totals = df.groupby('State')['Number of Policies'].sum()
top_states = state_totals.nlargest(3).index
filtered_df = df[df['State'].isin(top_states)]
result = filtered_df.pivot_table(
    index='State', 
    columns='Month', 
    values='Number of Policies', 
    aggfunc='sum', 
    fill_value=0
)

print(result)

Month          1     2
State
Arizona     3052  2864
California  5673  4929
Oregon      4697  3969

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [236]:
positive_responses = df[df['Response'] == 'Yes']
response_count_by_channel = positive_responses.groupby('Sales Channel')['Response'].count()
total_count_by_channel = df.groupby('Sales Channel')['Response'].count()
response_rate = response_count_by_channel / total_count_by_channel
response_rate_df = response_rate.reset_index(name='Response Rate')
print(response_rate_df)

  Sales Channel  Response Rate
0         Agent       0.190746
1        Branch       0.113787
2   Call Center       0.109786
3           Web       0.117141