# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [2]:
# Filtrar los datos según las condiciones dadas
filtered_data = data[(data['Total Claim Amount'] > 1000) & (data['Response'] == 'Yes')]

# Mostrar las primeras filas del nuevo DataFrame
filtered_data.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [3]:
# Filtrar los datos para incluir solo los clientes que respondieron "Yes"
response_yes_data = data[data['Response'] == 'Yes']

# Calcular el promedio de Total Claim Amount por Policy Type y Gender
average_claim = response_yes_data.groupby(['Policy Type', 'Gender'])['Total Claim Amount'].mean()

# Mostrar los resultados
average_claim

Policy Type     Gender
Corporate Auto  F         433.738499
                M         408.582459
Personal Auto   F         452.965929
                M         457.010178
Special Auto    F         453.280164
                M         429.527942
Name: Total Claim Amount, dtype: float64

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [4]:
# Contar el número de clientes por estado
customers_by_state = data['State'].value_counts()

# Filtrar los estados con más de 500 clientes
states_with_more_than_500 = customers_by_state[customers_by_state > 500]

# Mostrar los resultados
states_with_more_than_500

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [5]:
# Calcular el máximo, mínimo y mediano de Customer Lifetime Value por Education y Gender
clv_stats = data.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median'])

# Mostrar los resultados
clv_stats

                                     max          min       median
Education            Gender
Bachelor             F       73225.95652  1904.000852  5640.505303
                     M       67907.27050  1898.007675  5548.031892
College              F       61850.18803  1898.683686  5623.611187
                     M       61134.68307  1918.119700  6005.847375
Doctor               F       44856.11397  2395.570000  5332.462694
                     M       32677.34284  2267.604038  5577.669457
High School or Below F       55277.44589  2144.921535  6039.553187
                     M       83325.38119  1940.981221  6286.731006
Master               F       51016.06704  2417.777032  5729.855012
                     M       50568.25912  2272.307310  5579.099207

In [1]:
import pandas as pd

# Cargar el archivo CSV desde la URL proporcionada
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
data = pd.read_csv(url)

# Mostrar las primeras filas del DataFrame para verificar los datos
data.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [6]:
# Convertir la columna 'Effective To Date' a formato de fecha
data['Effective To Date'] = pd.to_datetime(data['Effective To Date'])

# Crear una nueva columna para el mes
data['Month'] = data['Effective To Date'].dt.month

# Agrupar los datos por estado y mes y contar el número de pólizas vendidas
policies_by_state_month = data.groupby(['State', 'Month']).size().unstack(fill_value=0)

# Mostrar la tabla resultante
policies_by_state_month

C:\Users\sergi\AppData\Local\Temp\ipykernel_7656\2121319315.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Effective To Date'] = pd.to_datetime(data['Effective To Date'])

Month          1     2
State
Arizona     1008   929
California  1918  1634
Nevada       551   442
Oregon      1565  1344
Washington   463   425

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [7]:
# Contar el número de clientes por estado
customers_by_state = data['State'].value_counts()

# Filtrar los estados con más de 500 clientes
states_with_more_than_500 = customers_by_state[customers_by_state > 500]

# Mostrar los resultados
states_with_more_than_500

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

In [8]:
# Agrupar los datos por estado y mes y contar el número de pólizas vendidas
policies_count = data.groupby(['State', 'Month']).size().reset_index(name='Policies Sold')

# Ordenar los datos por la cantidad de pólizas vendidas en orden descendente
sorted_policies = policies_count.sort_values(by='Policies Sold', ascending=False)

# Seleccionar los 3 estados con el mayor número de pólizas vendidas
top_3_states = sorted_policies.groupby('State')['Policies Sold'].sum().nlargest(3).index

# Crear un nuevo DataFrame con el número de pólizas vendidas por mes para los 3 estados principales
top_3_states_data = policies_count[policies_count['State'].isin(top_3_states)].pivot(index='State', columns='Month', values='Policies Sold').fillna(0)

# Mostrar el nuevo DataFrame
top_3_states_data

Month          1     2
State
Arizona     1008   929
California  1918  1634
Oregon      1565  1344

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [11]:
# Calcular la tasa de respuesta por canal de marketing
response_rate_by_channel = data[data['Response'] == 'Yes'].groupby('Sales Channel')['Response'].count() / data.groupby('Sales Channel')['Response'].count()

# Convertir a porcentaje
response_rate_by_channel = response_rate_by_channel * 100

# Mostrar los resultados
response_rate_by_channel

# Filtrar los datos para incluir solo los clientes que respondieron "Yes"
response_yes_data = data[data['Response'] == 'Yes']

print(response_yes_data.head())

    Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
3            3  XL78013      Oregon             22332.439460      Yes
8            8  FM55990  California              5989.773931      Yes
15          15  CW49887  California              4626.801093      Yes
19          19  NJ54277  California              3746.751625      Yes
27          27  MQ68407      Oregon              4376.363592      Yes

    Coverage Education Effective To Date EmploymentStatus Gender  ...  \
3   Extended   College        2011-01-11         Employed      M  ...
8    Premium   College        2011-01-19         Employed      M  ...
15     Basic    Master        2011-01-16         Employed      F  ...
19  Extended   College        2011-02-26         Employed      F  ...
27   Premium  Bachelor        2011-02-28         Employed      F  ...

    Number of Policies     Policy Type        Policy  Renew Offer Type  \
3                    2  Corporate Auto  Corporate L3            Offer2
8                    1   Personal Auto   Personal L1            Offer2
15                   1    Special Auto    Special L1            Offer2
19                   1   Personal Auto   Personal L2            Offer2
27                   1   Personal Auto   Personal L3            Offer2

    Sales Channel  Total Claim Amount  Vehicle Class  Vehicle Size  \
3          Branch          484.013411  Four-Door Car       Medsize
8          Branch          739.200000     Sports Car       Medsize
15         Branch          547.200000            SUV       Medsize
19    Call Center           19.575683   Two-Door Car         Large
27          Agent           60.036683  Four-Door Car       Medsize

   Vehicle Type Month
3             A     1
8           NaN     1
15          NaN     1
19            A     2
27          NaN     2

[5 rows x 27 columns]