# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [14]:
import pandas as pd

# Read the data
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
marketing_data = pd.read_csv(url)

# Clean, format, and structure the data
def clean_data(df):
    # Standardize column names
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    # Convert data types
    df['effective_to_date'] = pd.to_datetime(df['effective_to_date'], format='%m/%d/%y')
    df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')
    # Format total_claim_amount column
    df['total_claim_amount'] = df['total_claim_amount'].round(2)
    # Structuring data
    df['month'] = df['effective_to_date'].dt.month
    return df

cleaned_data = clean_data(marketing_data)

# Create a new DataFrame with customers who have total_claim_amount > 1000 and responded "Yes" to the last marketing campaign
filtered_data = cleaned_data[(cleaned_data['total_claim_amount'] > 1000) & (cleaned_data['response'] == 'Yes')]

# Analyze average total_claim_amount by each policy type and gender for customers who responded "Yes" to the last marketing campaign
avg_claim_amount = filtered_data.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().round(2)

# Analyze the total number of customers who have policies in each state and filter the results to only include states where there are more than 500 customers
state_counts = cleaned_data['state'].value_counts()
states_with_more_than_500_customers = state_counts[state_counts > 500]

# Find the maximum, minimum, and median customer lifetime value by education level and gender
clv_stats = cleaned_data.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median'])

# Display the results
print("DataFrame with customers who have total_claim_amount > $1000 and responded 'Yes' to the last marketing campaign:")
display(filtered_data.head())

print("\nAverage total_claim_amount by each policy type and gender for customers who responded 'Yes' to the last marketing campaign:")
display(avg_claim_amount)

print("\nStates with more than 500 customers:")
display(states_with_more_than_500_customers)

print("\nMaximum, minimum, and median customer lifetime value by education level and gender:")
display(clv_stats)

DataFrame with customers who have total_claim_amount > $1000 and responded 'Yes' to the last marketing campaign:

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,...,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.40,Luxury Car,Medsize,NaN,1
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,...,1,Special Auto,Special L3,Offer2,Agent,1358.40,Luxury Car,Medsize,A,1
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,...,2,Personal Auto,Personal L2,Offer1,Branch,1027.20,Luxury Car,Small,A,2
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,...,8,Personal Auto,Personal L2,Offer1,Web,1261.32,SUV,Medsize,A,2
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,...,1,Personal Auto,Personal L1,Offer2,Web,1027.00,SUV,Medsize,A,1

Average total_claim_amount by each policy type and gender for customers who responded 'Yes' to the last marketing campaign:

policy_type     gender
Corporate Auto  F         1138.40
                M         1171.15
Personal Auto   F         1214.85
                M         1137.86
Special Auto    F         1358.40
                M         1017.50
Name: total_claim_amount, dtype: float64

States with more than 500 customers:

state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

Maximum, minimum, and median customer lifetime value by education level and gender:

                                     max          min       median
education            gender
Bachelor             F       73225.95652  1904.000852  5640.505303
                     M       67907.27050  1898.007675  5548.031892
College              F       61850.18803  1898.683686  5623.611187
                     M       61134.68307  1918.119700  6005.847375
Doctor               F       44856.11397  2395.570000  5332.462694
                     M       32677.34284  2267.604038  5577.669457
High School or Below F       55277.44589  2144.921535  6039.553187
                     M       83325.38119  1940.981221  6286.731006
Master               F       51016.06704  2417.777032  5729.855012
                     M       50568.25912  2272.307310  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here