# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [2]:
# Your code goes here
import numpy as np
import pandas as pd
import re

%load_ext autoreload
%autoreload 2 


pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 30)


ci_marketing_analysis = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")

In [6]:
ci_marketing_analysis.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [16]:
ci_clean = ci_marketing_analysis.drop(columns="Unnamed: 0")

In [18]:
def strip_replace_ws (df):
    df.columns = df.columns.str.lower().str.replace(" ","_")
    return df

In [20]:
strip_replace_ws(ci_clean)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.22,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.00,52,0.00,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.53,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.00,26,0.00,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.00,31,0.00,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A
3,XL78013,Oregon,22332.44,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.00,3,0.00,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.07,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.37,No,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,NaN,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.40,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.44,No,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,7.00,68,0.00,6,Personal Auto,Personal L3,Offer2,Branch,273.02,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.30,No,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,11.00,63,0.00,2,Corporate Auto,Corporate L3,Offer1,Web,381.31,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.98,No,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,0.00,27,4.00,6,Personal Auto,Personal L1,Offer1,Branch,618.29,SUV,Medsize,A
10909,IV32877,NaN,6857.52,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,31.00,1,0.00,3,Personal Auto,Personal L1,Offer4,Web,1021.72,SUV,Medsize,NaN

In [28]:
#threshhold = 1000
#campaign = yes
filtered_ci = ci_clean[(ci_clean["total_claim_amount"]>1000) & (ci_clean["response"] == "Yes")]

In [30]:
filtered_ci

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,OK31456,California,11009.13,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.00,43,0.00,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.40,Luxury Car,Medsize,NaN
236,YJ16163,Oregon,11009.13,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.00,43,0.00,1,Special Auto,Special L3,Offer2,Agent,1358.40,Luxury Car,Medsize,A
419,GW43195,Oregon,25807.06,Yes,Extended,College,2/13/11,Employed,F,71210,Suburban,Married,214,8.00,89,1.00,2,Personal Auto,Personal L2,Offer1,Branch,1027.20,Luxury Car,Small,A
442,IP94270,Arizona,13736.13,Yes,Premium,Master,2/13/11,Disabled,F,16181,Suburban,Divorced,181,22.00,79,0.00,8,Personal Auto,Personal L2,Offer1,Web,1261.32,SUV,Medsize,A
587,FJ28407,California,5619.69,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.00,5,0.00,1,Personal Auto,Personal L1,Offer2,Web,1027.00,SUV,Medsize,A
654,VV47792,California,25807.06,Yes,Extended,College,2/13/11,Employed,F,71210,Suburban,Married,214,8.00,89,1.00,2,Personal Auto,Personal L3,Offer1,Branch,1027.20,Luxury Car,Small,NaN
680,QL45827,Washington,25807.06,Yes,Extended,College,2/13/11,Employed,F,71210,Suburban,Married,214,8.00,89,1.00,2,Personal Auto,Personal L1,Offer1,Branch,1027.20,Luxury Car,Small,NaN
815,MA15172,California,10179.72,Yes,Premium,Bachelor,1/5/11,Retired,F,14290,Suburban,Married,271,20.00,40,0.00,1,Personal Auto,Personal L2,Offer1,Agent,1300.80,Luxury SUV,Medsize,NaN
1276,WA45944,Arizona,25807.06,Yes,Extended,College,2/13/11,Employed,F,71210,Suburban,Married,214,8.00,89,1.00,2,Corporate Auto,Corporate L3,Offer1,Branch,1027.20,Luxury Car,Small,NaN
1390,FJ28407,California,5619.69,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,NaN,5,NaN,1,Personal Auto,Personal L1,Offer2,Web,1027.00,SUV,Medsize,A
1422,YK65946,Oregon,8427.17,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,Suburban,Divorced,215,4.00,21,1.00,1,Personal Auto,Personal L3,Offer1,Agent,1032.00,Luxury SUV,Medsize,NaN
1527,TU53781,Oregon,8427.17,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,Suburban,Divorced,215,4.00,21,1.00,1,Corporate Auto,Corporate L3,Offer1,Agent,1032.00,Luxury SUV,Medsize,A
1570,VL84149,Oregon,25807.06,Yes,Extended,College,2/13/11,Employed,F,71210,Suburban,Married,214,8.00,89,1.00,2,Corporate Auto,Corporate L2,Offer1,Branch,1027.20,Luxury Car,Small,NaN
1629,UH35128,Oregon,25807.06,Yes,Extended,College,2/13/11,Employed,F,71210,Suburban,Married,214,8.00,89,1.00,2,Personal Auto,Personal L2,Offer1,Branch,1027.20,Luxury Car,Small,NaN
1638,ZV80216,Oregon,5619.69,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.00,5,0.00,1,Personal Auto,Personal L1,Offer2,Web,1027.00,SUV,Medsize,NaN
1753,FG29932,California,7840.17,Yes,Extended,College,1/14/11,Employed,M,58414,Suburban,Single,210,7.00,24,2.00,1,Special Auto,Special L2,Offer2,Agent,1008.00,Luxury SUV,Small,NaN
1809,QO62792,Oregon,7840.17,Yes,Extended,College,1/14/11,Employed,M,58414,Suburban,Single,210,7.00,24,2.00,1,Personal Auto,Personal L3,Offer2,Agent,1008.00,Luxury SUV,Small,A
1856,ZA45956,California,13736.13,Yes,Premium,Master,2/13/11,Disabled,F,16181,Suburban,Divorced,181,22.00,79,0.00,8,Personal Auto,Personal L2,Offer1,Web,1261.32,SUV,Medsize,NaN
2027,TA66375,Oregon,11009.13,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.00,43,0.00,1,Corporate Auto,Corporate L2,Offer2,Agent,1358.40,Luxury Car,Medsize,A
2125,JC11405,Oregon,10963.96,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,33.00,91,0.00,1,Personal Auto,Personal L3,Offer1,Agent,1324.80,Luxury SUV,Medsize,A
2340,YE24562,California,3508.57,Yes,Extended,College,1/5/11,Medical Leave,M,20978,Suburban,Married,98,19.00,96,1.00,1,Personal Auto,Personal L3,Offer2,Branch,1176.28,Four-Door Car,Small,NaN
2364,TC88986,Oregon,5619.69,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.00,5,0.00,1,Special Auto,Special L1,Offer2,Web,1027.00,SUV,Medsize,NaN
2865,FH77504,California,11009.13,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.00,43,0.00,1,Personal Auto,Personal L3,Offer2,Agent,1358.40,Luxury Car,Medsize,A
3346,UY18770,California,10179.72,Yes,Premium,Bachelor,1/5/11,Retired,F,14290,Suburban,Married,271,20.00,40,0.00,1,Personal Auto,Personal L3,Offer1,Agent,1300.80,Luxury SUV,Medsize,NaN
3934,ZW93288,California,19160.99,Yes,Extended,Master,2/20/11,Employed,F,22705,Suburban,Divorced,239,19.00,59,0.00,7,Personal Auto,Personal L1,Offer2,Agent,1294.70,Luxury SUV,Medsize,NaN
3958,KC26486,Arizona,8427.17,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,Suburban,Divorced,215,4.00,21,1.00,1,Personal Auto,Personal L2,Offer1,Agent,1032.00,Luxury SUV,Medsize,A
4284,GA72966,Oregon,8427.17,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,Suburban,Divorced,215,4.00,21,1.00,1,Personal Auto,Personal L3,Offer1,Agent,1032.00,Luxury SUV,Medsize,NaN
4358,CG15505,California,19160.99,Yes,Extended,Master,2/20/11,Employed,F,22705,Suburban,Divorced,239,19.00,59,0.00,7,Personal Auto,Personal L3,Offer2,Agent,1294.70,Luxury SUV,Medsize,NaN
4440,QW47320,California,10179.72,Yes,Premium,Bachelor,1/5/11,Retired,F,14290,Suburban,Married,271,20.00,40,0.00,1,Personal Auto,Personal L1,Offer1,Agent,1300.80,Luxury SUV,Medsize,NaN
4475,WP58340,Arizona,10963.96,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,33.00,91,0.00,1,Personal Auto,Personal L2,Offer1,Agent,1324.80,Luxury SUV,Medsize,A
4521,LT72149,Nevada,5619.69,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.00,5,0.00,1,Personal Auto,Personal L2,Offer2,Web,1027.00,SUV,Medsize,A
4566,TC99043,California,13736.13,Yes,Premium,Master,2/13/11,Disabled,F,16181,Suburban,Divorced,181,22.00,79,0.00,8,Personal Auto,Personal L2,Offer1,Web,1261.32,SUV,Medsize,A
5013,GP83239,California,7840.17,Yes,Extended,College,1/14/11,Employed,M,58414,Suburban,Single,210,7.00,24,2.00,1,Personal Auto,Personal L3,Offer2,Agent,1008.00,Luxury SUV,Small,A
5331,UT48216,Nevada,7840.17,Yes,Extended,College,1/14/11,Employed,M,58414,Suburban,Single,210,7.00,24,2.00,1,Personal Auto,Personal L1,Offer2,Agent,1008.00,Luxury SUV,Small,A
5489,TQ84956,California,10963.96,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,33.00,91,0.00,1,Corporate Auto,Corporate L3,Offer1,Agent,1324.80,Luxury SUV,Medsize,A
5577,FN44127,Oregon,3508.57,Yes,Extended,College,1/5/11,Medical Leave,M,20978,Suburban,Married,98,19.00,96,1.00,1,Personal Auto,Personal L2,Offer2,Branch,1176.28,NaN,NaN,A
5896,TY31217,Washington,11009.13,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.00,43,0.00,1,Personal Auto,Personal L3,Offer2,Agent,1358.40,Luxury Car,Medsize,A
5987,MO21402,Oregon,13736.13,Yes,Premium,Master,2/13/11,Disabled,F,16181,Suburban,Divorced,181,22.00,79,0.00,8,Personal Auto,Personal L3,Offer1,Web,1261.32,SUV,Medsize,NaN
6342,NZ60700,Washington,10963.96,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,33.00,91,0.00,1,Personal Auto,Personal L2,Offer1,Agent,1324.80,Luxury SUV,Medsize,NaN
6601,RO89785,Oregon,3508.57,Yes,Extended,College,1/5/11,Medical Leave,M,20978,Suburban,Married,98,19.00,96,1.00,1,Personal Auto,Personal L3,Offer2,Branch,1176.28,Four-Door Car,Small,NaN
7255,PN98247,California,7840.17,Yes,Extended,College,1/14/11,Employed,M,58414,Suburban,Single,210,7.00,24,2.00,1,Personal Auto,Personal L3,Offer2,Agent,1008.00,Luxury SUV,Small,A
7340,JL21509,California,3508.57,Yes,Extended,College,1/5/11,Medical Leave,M,20978,Suburban,Married,98,19.00,96,1.00,1,Personal Auto,Personal L3,Offer2,Branch,1176.28,Four-Door Car,Small,NaN
7480,ZR79373,Arizona,10179.72,Yes,Premium,Bachelor,1/5/11,Retired,F,14290,Suburban,Married,271,20.00,40,0.00,1,Personal Auto,Personal L3,Offer1,Agent,1300.80,Luxury SUV,Medsize,NaN
7989,UU42868,California,5619.69,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.00,5,0.00,1,Corporate Auto,Corporate L2,Offer2,Web,1027.00,SUV,Medsize,NaN
8264,KC26486,Arizona,8427.17,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,Suburban,Divorced,215,NaN,21,NaN,1,Personal Auto,Personal L2,Offer1,Agent,1032.00,Luxury SUV,Medsize,A
8340,MJ51323,Oregon,8427.17,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,Suburban,Divorced,215,4.00,21,1.00,1,Personal Auto,Personal L2,Offer1,Agent,1032.00,Luxury SUV,Medsize,A
8367,AJ89108,California,11009.13,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.00,43,0.00,1,Personal Auto,Personal L3,Offer2,Agent,1358.40,Luxury Car,Medsize,A
8420,MT27589,Oregon,7840.17,Yes,Extended,College,1/14/11,Employed,M,58414,Suburban,Single,210,7.00,24,2.00,1,Corporate Auto,Corporate L1,Offer2,Agent,1008.00,Luxury SUV,Small,NaN
8425,UP29839,Nevada,19160.99,Yes,Extended,Master,2/20/11,Employed,F,22705,Suburban,Divorced,239,19.00,59,0.00,7,Personal Auto,Personal L1,Offer2,Agent,1294.70,Luxury SUV,Medsize,NaN
8505,DT77901,Oregon,10179.72,Yes,Premium,Bachelor,1/5/11,Retired,F,14290,Suburban,Married,271,20.00,40,0.00,1,Personal Auto,Personal L3,Offer1,Agent,1300.80,Luxury SUV,Medsize,A
8510,QE79527,California,8427.17,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,Suburban,Divorced,215,4.00,21,1.00,1,Personal Auto,Personal L1,Offer1,Agent,1032.00,Luxury SUV,Medsize,NaN
8659,TY31217,Washington,11009.13,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.00,43,0.00,1,Personal Auto,Personal L3,Offer2,Agent,1358.40,NaN,NaN,A
8662,YU86361,Washington,19160.99,Yes,Extended,Master,2/20/11,Employed,F,22705,Suburban,Divorced,239,19.00,59,0.00,7,Personal Auto,Personal L1,Offer2,Agent,1294.70,Luxury SUV,Medsize,A
8802,MC30750,Oregon,13736.13,Yes,Premium,Master,2/13/11,Disabled,F,16181,Suburban,Divorced,181,22.00,79,0.00,8,Personal Auto,Personal L2,Offer1,Web,1261.32,SUV,Medsize,NaN
8835,XT93203,California,10963.96,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,33.00,91,0.00,1,Personal Auto,Personal L3,Offer1,Agent,1324.80,Luxury SUV,Medsize,A
9326,MS18916,California,3508.57,Yes,Extended,College,1/5/11,Medical Leave,M,20978,Suburban,Married,98,19.00,96,1.00,1,Personal Auto,Personal L1,Offer2,Branch,1176.28,Four-Door Car,Small,NaN
9329,WP58340,Arizona,10963.96,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,NaN,91,NaN,1,Personal Auto,Personal L2,Offer1,Agent,1324.80,Luxury SUV,Medsize,NaN
9498,IV54766,Oregon,19160.99,Yes,Extended,Master,2/20/11,Employed,F,22705,Suburban,Divorced,239,19.00,59,0.00,7,Personal Auto,Personal L1,Offer2,Agent,1294.70,Luxury SUV,Medsize,A
9581,GD55093,California,19160.99,Yes,Extended,Master,2/20/11,Employed,F,22705,Suburban,Divorced,239,19.00,59,0.00,7,Personal Auto,Personal L1,Offer2,Agent,1294.70,Luxury SUV,Medsize,A
10009,YP53257,Oregon,10179.72,Yes,Premium,Bachelor,1/5/11,Retired,F,14290,Suburban,Married,271,20.00,40,0.00,1,Personal Auto,Personal L3,Offer1,Agent,1300.80,Luxury SUV,Medsize,A
10210,VL84149,Oregon,25807.06,Yes,Extended,College,2/13/11,Employed,F,71210,Suburban,Married,214,8.00,89,1.00,2,Corporate Auto,Corporate L2,Offer1,Branch,1027.20,NaN,NaN,A
10237,FD73388,Arizona,13736.13,Yes,Premium,Master,2/13/11,Disabled,F,16181,Suburban,Divorced,181,22.00,79,0.00,8,Personal Auto,Personal L3,Offer1,Web,1261.32,SUV,Medsize,NaN
10351,FN44127,Oregon,3508.57,Yes,Extended,College,1/5/11,Medical Leave,M,20978,Suburban,Married,98,19.00,96,1.00,1,Personal Auto,Personal L2,Offer2,Branch,1176.28,Four-Door Car,Small,NaN
10373,XZ64172,Oregon,10963.96,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,Suburban,Divorced,276,33.00,91,0.00,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.80,Luxury SUV,Medsize,NaN
10487,IX60941,Oregon,3508.57,Yes,Extended,College,1/5/11,Medical Leave,M,20978,Suburban,Married,98,19.00,96,1.00,1,Personal Auto,Personal L3,Offer2,Branch,1176.28,Four-Door Car,Small,NaN
10565,QO62792,Oregon,7840.17,Yes,Extended,College,1/14/11,Employed,M,58414,Suburban,Single,210,7.00,24,2.00,1,Personal Auto,Personal L3,Offer2,Agent,1008.00,NaN,NaN,NaN
10708,CK39096,Oregon,5619.69,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.00,5,0.00,1,Personal Auto,Personal L3,Offer2,Web,1027.00,SUV,Medsize,A

In [24]:
ci_clean["response"].value_counts()

response
No     8813
Yes    1466
Name: count, dtype: int64

In [ ]:
filtered_ci

Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [33]:
filtered_ci_yes = ci_clean[(ci_clean["response"] == "Yes")]

tca_pivot = filtered_ci_yes.pivot_table(
    values='total_claim_amount',
    index='gender',
    columns='policy_type',
    aggfunc='mean'
)

In [35]:
tca_pivot

policy_type  Corporate Auto  Personal Auto  Special Auto
gender
F                    433.74         452.97        453.28
M                    408.58         457.01        429.53

In [37]:
ci_clean["total_claim_amount"].describe()

count   10910.00
mean      434.89
std       292.18
min         0.10
25%       271.08
50%       382.56
75%       547.20
max      2893.24
Name: total_claim_amount, dtype: float64

In [39]:
filtered_ci_yes["total_claim_amount"].describe()

count   1466.00
mean     447.06
std      239.64
min        7.35
25%      316.80
50%      412.80
75%      547.20
max     1358.40
Name: total_claim_amount, dtype: float64

In [ ]:
#generally not that big of a difference in average total claim amount either by either gender or policy type

In [61]:
ci_clean

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.22,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.00,52,0.00,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.53,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.00,26,0.00,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.00,31,0.00,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A
3,XL78013,Oregon,22332.44,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.00,3,0.00,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.07,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.37,No,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,NaN,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.40,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.44,No,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,7.00,68,0.00,6,Personal Auto,Personal L3,Offer2,Branch,273.02,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.30,No,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,11.00,63,0.00,2,Corporate Auto,Corporate L3,Offer1,Web,381.31,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.98,No,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,0.00,27,4.00,6,Personal Auto,Personal L1,Offer1,Branch,618.29,SUV,Medsize,A
10909,IV32877,NaN,6857.52,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,31.00,1,0.00,3,Personal Auto,Personal L1,Offer4,Web,1021.72,SUV,Medsize,NaN

In [43]:
ci_clean["state"].value_counts()

state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

In [52]:
customer_counts = ci_clean["state"].value_counts()

In [67]:
more_than_500 = customer_counts[customer_counts>500].index
filtered_ci_counts = ci_clean[ci_clean['state'].isin(more_than_500)]

In [69]:
filtered_ci_counts

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.22,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.00,52,0.00,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.53,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.00,26,0.00,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.00,31,0.00,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A
3,XL78013,Oregon,22332.44,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.00,3,0.00,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.07,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10904,QI63521,Nevada,19228.46,No,Basic,High School or Below,2/24/11,Unemployed,M,0,Suburban,Single,187,14.00,32,0.00,2,Personal Auto,Personal L2,Offer1,Branch,897.60,Luxury SUV,Medsize,A
10905,FE99816,Nevada,15563.37,No,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,NaN,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.40,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.44,No,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,7.00,68,0.00,6,Personal Auto,Personal L3,Offer2,Branch,273.02,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.30,No,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,11.00,63,0.00,2,Corporate Auto,Corporate L3,Offer1,Web,381.31,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.98,No,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,0.00,27,4.00,6,Personal Auto,Personal L1,Offer1,Branch,618.29,SUV,Medsize,A

Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [76]:
new_ci = ci_clean.groupby(["gender","education"]).agg({"customer_lifetime_value":["max","min","median"]}).reset_index()

In [78]:
new_ci

  gender             education customer_lifetime_value
                                                   max     min  median
0      F              Bachelor                73225.96 1904.00 5640.51
1      F               College                61850.19 1898.68 5623.61
2      F                Doctor                44856.11 2395.57 5332.46
3      F  High School or Below                55277.45 2144.92 6039.55
4      F                Master                51016.07 2417.78 5729.86
5      M              Bachelor                67907.27 1898.01 5548.03
6      M               College                61134.68 1918.12 6005.85
7      M                Doctor                32677.34 2267.60 5577.67
8      M  High School or Below                83325.38 1940.98 6286.73
9      M                Master                50568.26 2272.31 5579.10

For women, A Bachelors Degree has the highest predicted customer lifetime value, while for men it is high school or below. The lowest min is also in Bachelor for both. The highest median value is high school or below for both, which is surprising considering one would associate a higher education level with higher income and as such maybe more expensive cars with more expensive insurances.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here