# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

#1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [3]:
import pandas as pd
marketing_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")

In [5]:
marketing_df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [4]:
#cleaning marketing_df
marketing_df.columns = [col.lower().replace(" ","_") for col in marketing_df.columns]                               # Cleaning the name of the columns
marketing_df["number_of_open_complaints"]= marketing_df["number_of_open_complaints"].fillna(0)   # changing datatype of number of open complaints column
marketing_df["number_of_open_complaints"]= marketing_df["number_of_open_complaints"].astype(int)   # changing datatype of number of open complaints column
marketing_df["total_claim_amount"] = marketing_df["total_claim_amount"].round(2)

In [6]:
marketing_df.drop(columns = ["unnamed:_0","vehicle_type"],inplace = True)# Removing unwanted columns

In [20]:
marketing_df.notnull().sum()

customer                         10910
state                            10279
customer_lifetime_value          10910
response                         10279
coverage                         10910
education                        10910
effective_to_date                10910
employmentstatus                 10910
gender                           10910
income                           10910
location_code                    10910
marital_status                   10910
monthly_premium_auto             10910
months_since_last_claim          10277
months_since_policy_inception    10910
number_of_open_complaints        10910
number_of_policies               10910
policy_type                      10910
policy                           10910
renew_offer_type                 10910
sales_channel                    10910
total_claim_amount               10910
vehicle_class                    10288
vehicle_size                     10288
dtype: int64

In [10]:
#1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and
#  have a response of "Yes" to the last marketing campaign.
df1 = marketing_df[(marketing_df['total_claim_amount'] > 1000) & (marketing_df["response"] == "Yes")]
df1.head(3)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
189,OK31456,California,11009.13049,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,43,0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.4,Luxury Car,Medsize
236,YJ16163,Oregon,11009.13049,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,43,0,1,Special Auto,Special L3,Offer2,Agent,1358.4,Luxury Car,Medsize
419,GW43195,Oregon,25807.06300,Yes,Extended,College,2/13/11,Employed,F,71210,...,89,1,2,Personal Auto,Personal L2,Offer1,Branch,1027.2,Luxury Car,Small

In [16]:
#Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. 
# Write your conclusions.
df2 = marketing_df[marketing_df["response"] == "Yes"]
df3 = df2.pivot_table(index='gender',columns = 'policy_type', values= "total_claim_amount" , aggfunc = 'mean')
df3

policy_type  Corporate Auto  Personal Auto  Special Auto
gender
F                433.738462     452.966037    453.279714
M                408.582468     457.010149    429.528125

In [43]:
df3 = df2.pivot_table(index='policy_type',columns = 'gender', values= "total_claim_amount" , aggfunc = ['mean'])
df3

                      mean
gender                   F           M
policy_type
Corporate Auto  433.738462  408.582468
Personal Auto   452.966037  457.010149
Special Auto    453.279714  429.528125

In [ ]:
# The highest average is paid by male customers for the Personal auto policy, where as lowest average paid by male customers for Corporate auto. 
# For female customers, the average is highest for Special auto policy, closely followed by Personal auto. Whereas Corporate auto still has the lowest average amongst women as well.

In [ ]:
#3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

df4 = marketing_df.groupby(["state","policy"]).agg({"customer":"count"}).sort_values(["state","customer"],ascending=[True,False]).reset_index()
df4

In [ ]:
df5 = df4[df4["customer"]> 500].sort_values("customer",ascending=False).reset_index()
df5

In [ ]:
# From the data, it is clear that Personal Auto policy type is the most popular among the three, of which Personal L3 is taken by most people in three states namely, California,
#Oregon and Arizona. Following personal, corporate takes the second spot whereas special is the least favorite amongst customers in all the states.

In [55]:
#4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

df6 = marketing_df.groupby(["education","gender"]).agg({"customer_lifetime_value":["max","mean","min"]}).reset_index()
df6.round(2)

              education gender customer_lifetime_value
                                                   max     mean      min
0              Bachelor      F                73225.96  7874.27  1904.00
1              Bachelor      M                67907.27  7703.60  1898.01
2               College      F                61850.19  7748.82  1898.68
3               College      M                61134.68  8052.46  1918.12
4                Doctor      F                44856.11  7328.51  2395.57
5                Doctor      M                32677.34  7415.33  2267.60
6  High School or Below      F                55277.45  8675.22  2144.92
7  High School or Below      M                83325.38  8149.69  1940.98
8                Master      F                51016.07  8157.05  2417.78
9                Master      M                50568.26  8168.83  2272.31

In [ ]:
# From the data, Male customer

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here

In [ ]:
#data.groupby(["City","Segment"]).agg({"Sales":["sum","count"],"Discount":"max"}).reset_index()
#df_grouped = df.groupby("Sex").agg({"Fare":"mean"}).reset_index()