# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [1]:
import pandas as pd
url="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df=pd.read_csv(url)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10279 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             10910 non-null  float64
 23  Vehicle Class                  10288 non-null  object
 24  Vehicle Size                   10288 non-null  object
 25  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [6]:
df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [8]:
df.sample(10)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
3237,3237,YV55495,Arizona,5744.229745,No,Basic,High School or Below,1/15/11,Employed,F,...,0.0,6,Personal Auto,Personal L1,Offer1,Branch,204.475147,Four-Door Car,Medsize,A
7457,7457,HI60054,NaN,9404.447425,NaN,Extended,Bachelor,2/1/11,Employed,F,...,NaN,2,Personal Auto,Personal L2,Offer1,Agent,202.905809,Two-Door Car,Medsize,NaN
10075,10075,AK90865,Oregon,8207.858272,No,Basic,High School or Below,2/22/11,Unemployed,F,...,0.0,5,Special Auto,Special L2,Offer2,Agent,686.908270,Sports Car,Medsize,NaN
3642,3642,AU46443,Nevada,7517.083811,No,Basic,Bachelor,2/28/11,Unemployed,F,...,0.0,3,Personal Auto,Personal L3,Offer1,Agent,1178.995926,SUV,Medsize,A
3098,3098,GK67747,Washington,4386.277558,Yes,Basic,College,2/11/11,Retired,M,...,0.0,5,Special Auto,Special L3,Offer1,Agent,321.600000,Four-Door Car,Medsize,A
496,496,QD86074,Oregon,9035.671134,Yes,Premium,High School or Below,1/21/11,Employed,F,...,NaN,9,Corporate Auto,Corporate L1,Offer2,Web,542.400000,Four-Door Car,Large,A
1765,1765,MR22119,Oregon,4430.572112,No,Basic,High School or Below,1/7/11,Employed,M,...,0.0,1,Personal Auto,Personal L3,Offer4,Web,537.600000,SUV,Medsize,NaN
4850,4850,BS26376,California,7519.133631,Yes,Extended,High School or Below,2/20/11,Employed,M,...,1.0,6,Corporate Auto,Corporate L1,Offer1,Agent,185.355353,Four-Door Car,Medsize,NaN
2892,2892,XN25550,Oregon,5345.201117,No,Extended,College,1/2/11,Employed,M,...,0.0,1,Personal Auto,Personal L2,Offer4,Agent,904.813121,SUV,Medsize,A
129,129,ZM45168,Oregon,2398.354197,No,Basic,College,2/14/11,Disabled,M,...,0.0,1,Personal Auto,Personal L2,Offer1,Branch,423.823547,Four-Door Car,Medsize,A

In [5]:
df["Vehicle Type"].unique()

array([nan, 'A'], dtype=object)

In [9]:
#1
# Filtrar el DataFrame
df_filtrado = df[(df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')]

# Mostrar el DataFrame resultante
print(df_filtrado)

       Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
189           189  OK31456  California             11009.130490      Yes
236           236  YJ16163      Oregon             11009.130490      Yes
419           419  GW43195      Oregon             25807.063000      Yes
442           442  IP94270     Arizona             13736.132500      Yes
587           587  FJ28407  California              5619.689084      Yes
...           ...      ...         ...                      ...      ...
10351       10351  FN44127      Oregon              3508.569533      Yes
10373       10373  XZ64172      Oregon             10963.957230      Yes
10487       10487  IX60941      Oregon              3508.569533      Yes
10565       10565  QO62792      Oregon              7840.165778      Yes
10708       10708  CK39096      Oregon              5619.689084      Yes

       Coverage             Education Effective To Date EmploymentStatus  \
189     Premium              Bachelor           1/24/11         Employed
236     Premium              Bachelor           1/24/11         Employed
419    Extended               College           2/13/11         Employed
442     Premium                Master           2/13/11         Disabled
587     Premium  High School or Below           1/26/11       Unemployed
...         ...                   ...               ...              ...
10351  Extended               College            1/5/11    Medical Leave
10373   Premium  High School or Below            2/8/11         Employed
10487  Extended               College            1/5/11    Medical Leave
10565  Extended               College           1/14/11         Employed
10708   Premium  High School or Below           1/26/11       Unemployed

      Gender  ...  Number of Open Complaints Number of Policies  \
189        F  ...                        0.0                  1
236        F  ...                        0.0                  1
419        F  ...                        1.0                  2
442        F  ...                        0.0                  8
587        M  ...                        0.0                  1
...      ...  ...                        ...                ...
10351      M  ...                        1.0                  1
10373      M  ...                        0.0                  1
10487      M  ...                        1.0                  1
10565      M  ...                        2.0                  1
10708      M  ...                        0.0                  1

          Policy Type        Policy  Renew Offer Type  Sales Channel  \
189    Corporate Auto  Corporate L3            Offer2          Agent
236      Special Auto    Special L3            Offer2          Agent
419     Personal Auto   Personal L2            Offer1         Branch
442     Personal Auto   Personal L2            Offer1            Web
587     Personal Auto   Personal L1            Offer2            Web
...               ...           ...               ...            ...
10351   Personal Auto   Personal L2            Offer2         Branch
10373  Corporate Auto  Corporate L2            Offer1          Agent
10487   Personal Auto   Personal L3            Offer2         Branch
10565   Personal Auto   Personal L3            Offer2          Agent
10708   Personal Auto   Personal L3            Offer2            Web

       Total Claim Amount  Vehicle Class Vehicle Size Vehicle Type
189           1358.400000     Luxury Car      Medsize          NaN
236           1358.400000     Luxury Car      Medsize            A
419           1027.200000     Luxury Car        Small            A
442           1261.319869            SUV      Medsize            A
587           1027.000029            SUV      Medsize            A
...                   ...            ...          ...          ...
10351         1176.278800  Four-Door Car        Small          NaN
10373         1324.800000     Luxury SUV      Medsize          NaN
10487         1176.278800  Four-Door Car        Small          NaN
10565         1008.000000            NaN          NaN          NaN
10708         1027.000029            SUV      Medsize            A

[67 rows x 26 columns]

In [ ]:
#2
# Filtrar el DataFrame por clientes que respondieron "Yes"
yes = df[df['Response'] == 'Yes']

# Calcular el monto promedio de Total Claim Amount por Policy Type y Gender
avg_claim_by_policy_gender = yes.groupby(['Policy Type', 'Gender'])['Total Claim Amount'].mean().round(2)

# Mostrar el resultado en formato de tabla
print(avg_claim_by_policy_gender)

#No noto conclusiones significativas ya que son todos los resultados muy similares

Policy Type     Gender
Corporate Auto  F         433.74
                M         408.58
Personal Auto   F         452.97
                M         457.01
Special Auto    F         453.28
                M         429.53
Name: Total Claim Amount, dtype: float64

In [11]:
#3
# Contar el número total de clientes por estado
conteo_por_estado = df['State'].value_counts()

# Filtrar solo los estados con más de 500 clientes
estados_mas_500 = conteo_por_estado[conteo_por_estado> 500]

# Mostrar el resultado
print(estados_mas_500)

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

In [18]:
#4
estadisticas = df.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median']).round(2)

# Mostrar la tabla resultante
print(estadisticas)

                                  max      min   median
Education            Gender
Bachelor             F       73225.96  1904.00  5640.51
                     M       67907.27  1898.01  5548.03
College              F       61850.19  1898.68  5623.61
                     M       61134.68  1918.12  6005.85
Doctor               F       44856.11  2395.57  5332.46
                     M       32677.34  2267.60  5577.67
High School or Below F       55277.45  2144.92  6039.55
                     M       83325.38  1940.98  6286.73
Master               F       51016.07  2417.78  5729.86
                     M       50568.26  2272.31  5579.10

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [3]:
# your code goes here