# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [1]:
import pandas as pd

#Load the CSV file
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"

df = pd.read_csv(url)

df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [2]:
# Clean columns
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Display the cleaned column names
print(df.columns)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [3]:
# Filter customers with low claim amount and positive response
filtered_df = df[(df['total_claim_amount'] < 1000) & (df['response'] == 'Yes')]

# Show the result
filtered_df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
15,15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN
19,19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A
27,27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [ ]:
#Filter customers who responded "Yes"
responded_yes = df[df['response'] == 'Yes']
responded_yes.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
15,15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN
19,19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A
27,27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN

In [6]:
#Group by policy_type and gender, and calculate the averages
grouped = responded_yes.groupby(['policy_type', 'gender']).agg({
    'monthly_premium_auto': 'mean',
    'customer_lifetime_value': 'mean',
    'total_claim_amount': 'mean'  # For comparison
}).round(2)

grouped

                       monthly_premium_auto  customer_lifetime_value  \
policy_type    gender
Corporate Auto F                      94.30                  7712.63
               M                      92.19                  7944.47
Personal Auto  F                      99.00                  8339.79
               M                      91.09                  7448.38
Special Auto   F                      92.31                  7691.58
               M                      86.34                  8247.09

                       total_claim_amount
policy_type    gender
Corporate Auto F                   433.74
               M                   408.58
Personal Auto  F                   452.97
               M                   457.01
Special Auto   F                   453.28
               M                   429.53

In [7]:
"""
Best Segments to Target
Corporate Auto - Male → Excellent profit-risk balance.
Special Auto - Male → Also promising with high CLV and low claims.
Personal Auto - Female → Very profitable, but might require risk mitigation strategies.
"""

'\nBest Segments to Target\nCorporate Auto - Male → Excellent profit-risk balance.\nSpecial Auto - Male → Also promising with high CLV and low claims.\nPersonal Auto - Female → Very profitable, but might require risk mitigation strategies.\n'

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [8]:
# Step 1: Count number of customers per state
state_counts = df['state'].value_counts()

# Step 2: Filter states with more than 500 customers
states_over_500 = state_counts[state_counts > 500]

# Display the result
states_over_500

state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [9]:
# Group by education and gender, and calculate CLV statistics
clv_stats = df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median']).round(2)

# Display results
clv_stats

                                  max      min   median
education            gender
Bachelor             F       73225.96  1904.00  5640.51
                     M       67907.27  1898.01  5548.03
College              F       61850.19  1898.68  5623.61
                     M       61134.68  1918.12  6005.85
Doctor               F       44856.11  2395.57  5332.46
                     M       32677.34  2267.60  5577.67
High School or Below F       55277.45  2144.92  6039.55
                     M       83325.38  1940.98  6286.73
Master               F       51016.07  2417.78  5729.86
                     M       50568.26  2272.31  5579.10

In [10]:
"""
This analysis challenges the typical assumption that higher education = higher customer value.
Most profitable segments (based on median CLV):
High School or Below - Male
College - Male
Bachelor - Female
Least profitable (median):
Doctor - Female → median CLV of only 5,332.46

Customers with lower education levels (especially High School or Below - Male) may represent a surprisingly valuable segment. Marketing teams should investigate further:
- Are these outliers or consistent patterns?
- What types of policies do they hold?
- How can the company retain or expand this segment?
"""

'\nThis analysis challenges the typical assumption that higher education = higher customer value.\nMost profitable segments (based on median CLV):\nHigh School or Below - Male\nCollege - Male\nBachelor - Female\nLeast profitable (median):\nDoctor - Female → median CLV of only 5,332.46\n\nCustomers with lower education levels (especially High School or Below - Male) may represent a surprisingly valuable segment. Marketing teams should investigate further:\n- Are these outliers or consistent patterns?\n- What types of policies do they hold?\n- How can the company retain or expand this segment?\n'

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [11]:
# Step 1: Convert the 'effective_to_date' column to datetime
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])

# Step 2: Extract the month name from the date
df['month'] = df['effective_to_date'].dt.strftime('%B')

# Optional: to sort months in calendar order, define a categorical type
month_order = ['January', 'February', 'March', 'April', 'May', 'June',
               'July', 'August', 'September', 'October', 'November', 'December']
df['month'] = pd.Categorical(df['month'], categories=month_order, ordered=True)

# Step 3: Create a pivot table
policy_counts = df.pivot_table(index='state',
                                columns='month',
                                values='policy',  # or any column (e.g., 'customer'), since we’re counting
                                aggfunc='count',
                                fill_value=0)

# Step 4: Sort months in calendar order
policy_counts = policy_counts.reindex(columns=month_order)

# Display the table
policy_counts

/var/folders/bp/q0jpdzq126j54kx_lzjc4dcm0000gn/T/ipykernel_56146/1175880574.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
/var/folders/bp/q0jpdzq126j54kx_lzjc4dcm0000gn/T/ipykernel_56146/1175880574.py:13: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  policy_counts = df.pivot_table(index='state',

month,January,February,March,April,May,June,July,August,September,October,November,December
state,,,,,,,,,,,,
Arizona,1008,929,0,0,0,0,0,0,0,0,0,0
California,1918,1634,0,0,0,0,0,0,0,0,0,0
Nevada,551,442,0,0,0,0,0,0,0,0,0,0
Oregon,1565,1344,0,0,0,0,0,0,0,0,0,0
Washington,463,425,0,0,0,0,0,0,0,0,0,0

In [12]:
df['effective_to_date'].min(), df['effective_to_date'].max()

(Timestamp('2011-01-01 00:00:00'), Timestamp('2011-02-28 00:00:00'))

In [13]:
"""
This table gives valuable insight into regional performance early in the year, but cannot yet be used to assess full-year trends. The marketing team should collect or access data covering more months to identify seasonal patterns and long-term trends.
"""

'\nThis table gives valuable insight into regional performance early in the year, but cannot yet be used to assess full-year trends. The marketing team should collect or access data covering more months to identify seasonal patterns and long-term trends.\n'

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [14]:
#Group by state and month, count policies sold
grouped = df.groupby(['state', 'month']).size().reset_index(name='policy_count')

/var/folders/bp/q0jpdzq126j54kx_lzjc4dcm0000gn/T/ipykernel_56146/3973672815.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = df.groupby(['state', 'month']).size().reset_index(name='policy_count')

In [15]:
# Total policies sold by each state (sum over months)
total_policies_by_state = grouped.groupby('state')['policy_count'].sum().reset_index()

In [16]:
#Select top 3 states by total policies sold
top3_states = total_policies_by_state.sort_values(by='policy_count', ascending=False).head(3)["state"]

In [18]:
#Filter grouped data to only include the top 3 states
top3_grouped = grouped[grouped['state'].isin(top3_states)]

In [19]:
#Pivot the filtered data to get months as columns, states as rows
top3_pivot = top3_grouped.pivot(index='state', columns='month', values='policy_count').fillna(0)

In [20]:
top3_pivot = top3_pivot.reindex(columns=month_order)

In [21]:
top3_pivot

month,January,February,March,April,May,June,July,August,September,October,November,December
state,,,,,,,,,,,,
Arizona,1008,929,0,0,0,0,0,0,0,0,0,0
California,1918,1634,0,0,0,0,0,0,0,0,0,0
Oregon,1565,1344,0,0,0,0,0,0,0,0,0,0

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [23]:
#Check columns related to marketing channels
channel_cols = [col for col in df.columns if 'channel' in col.lower() or 'marketing' in col.lower() or 'contact' in col.lower()]
print(channel_cols)

['sales_channel']

In [24]:
num_unique = df['sales_channel'].nunique()
print(f"There are {num_unique} unique values in the 'sales_channel' column.")

There are 4 unique values in the 'sales_channel' column.

In [28]:
df['sales_channel'].unique()

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

In [29]:
# Calculate the customer response rate by sales_channel
response_rate = df.groupby('sales_channel')['response'].apply(
    lambda x: (x == 'Yes').mean()
).reset_index(name='response_rate')

response_rate

  sales_channel  response_rate
0         Agent       0.180053
1        Branch       0.107876
2   Call Center       0.103223
3           Web       0.108856

In [30]:
"""
The customer response rates to the last marketing campaign vary notably across different sales channels:

Agent channel has the highest response rate at approximately 18%, meaning customers contacted through agents are more likely to respond positively.
Branch, Call Center, and Web channels all show lower but similar response rates, around 10-11%.
This suggests that personal interaction via agents might be more effective at engaging customers compared to other channels. The marketing team could consider focusing more efforts on the Agent channel to improve campaign success.

"""

'\nThe customer response rates to the last marketing campaign vary notably across different sales channels:\n\nAgent channel has the highest response rate at approximately 18%, meaning customers contacted through agents are more likely to respond positively.\nBranch, Call Center, and Web channels all show lower but similar response rates, around 10-11%.\nThis suggests that personal interaction via agents might be more effective at engaging customers compared to other channels. The marketing team could consider focusing more efforts on the Agent channel to improve campaign success.\n\n'