# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [16]:
import pandas as pd

In [17]:
lab_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")

In [28]:
lab_df.columns = lab_df.columns.str.lower()
lab_df.columns = lab_df.columns.str.replace(' ', '_', regex=True)
lab_df = lab_df.apply(
    lambda col: col.map(lambda x: x.lower() if isinstance(x, str) else x)
)
lab_df.drop('unnamed:_0', axis=1, inplace=True)

In [29]:
lab_df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,dk49336,arizona,4809.216960,no,basic,college,2/18/11,employed,m,48029,...,0.0,9,corporate auto,corporate l3,offer3,agent,292.800000,four-door car,medsize,NaN
1,kx64629,california,2228.525238,no,basic,college,1/18/11,unemployed,f,0,...,0.0,1,personal auto,personal l3,offer4,call center,744.924331,four-door car,medsize,NaN
2,lz68649,washington,14947.917300,no,basic,bachelor,2/10/11,employed,m,22139,...,0.0,2,personal auto,personal l3,offer3,call center,480.000000,suv,medsize,a
3,xl78013,oregon,22332.439460,yes,extended,college,1/11/11,employed,m,49078,...,0.0,2,corporate auto,corporate l3,offer2,branch,484.013411,four-door car,medsize,a
4,qa50777,oregon,9025.067525,no,premium,bachelor,1/17/11,medical leave,f,23675,...,NaN,7,personal auto,personal l2,offer1,branch,707.925645,four-door car,medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,fe99816,nevada,15563.369440,no,premium,bachelor,1/19/11,unemployed,f,0,...,NaN,7,personal auto,personal l1,offer3,web,1214.400000,luxury car,medsize,a
10906,kx53892,oregon,5259.444853,no,basic,college,1/6/11,employed,f,61146,...,0.0,6,personal auto,personal l3,offer2,branch,273.018929,four-door car,medsize,a
10907,tl39050,arizona,23893.304100,no,extended,bachelor,2/6/11,employed,f,39837,...,0.0,2,corporate auto,corporate l3,offer1,web,381.306996,luxury suv,medsize,NaN
10908,wa60547,california,11971.977650,no,premium,college,2/13/11,employed,f,64195,...,4.0,6,personal auto,personal l1,offer1,branch,618.288849,suv,medsize,a
10909,iv32877,NaN,6857.519928,NaN,basic,bachelor,1/8/11,unemployed,m,0,...,0.0,3,personal auto,personal l1,offer4,web,1021.719397,suv,medsize,NaN

In [30]:
for column in lab_df.columns:
    unique_values = lab_df[column].unique()
    print(f"Valores únicos en '{column}':")
    print(unique_values)
    print("-" * 50)

Valores únicos en 'customer':
['dk49336' 'kx64629' 'lz68649' ... 'kx53892' 'tl39050' 'wa60547']
--------------------------------------------------
Valores únicos en 'state':
['arizona' 'california' 'washington' 'oregon' nan 'nevada']
--------------------------------------------------
Valores únicos en 'customer_lifetime_value':
[ 4809.21696   2228.525238 14947.9173   ...  5259.444853 23893.3041
 11971.97765 ]
--------------------------------------------------
Valores únicos en 'response':
['no' 'yes' nan]
--------------------------------------------------
Valores únicos en 'coverage':
['basic' 'extended' 'premium']
--------------------------------------------------
Valores únicos en 'education':
['college' 'bachelor' 'high school or below' 'doctor' 'master']
--------------------------------------------------
Valores únicos en 'effective_to_date':
['2/18/11' '1/18/11' '2/10/11' '1/11/11' '1/17/11' '2/14/11' '2/24/11'
 '1/19/11' '1/4/11' '1/2/11' '2/7/11' '1/31/11' '1/26/11' '2/28/11'
 '1/16/11' '2/26/11' '2/23/11' '1/15/11' '2/2/11' '2/15/11' '1/24/11'
 '2/21/11' '2/22/11' '1/7/11' '1/28/11' '2/8/11' '2/12/11' '2/20/11'
 '1/5/11' '2/19/11' '1/3/11' '2/3/11' '1/22/11' '1/23/11' '2/5/11'
 '2/13/11' '1/25/11' '2/16/11' '2/1/11' '1/27/11' '1/12/11' '1/20/11'
 '2/6/11' '2/11/11' '1/21/11' '1/29/11' '1/9/11' '2/9/11' '2/27/11'
 '1/1/11' '2/17/11' '2/25/11' '1/13/11' '1/6/11' '2/4/11' '1/14/11'
 '1/10/11' '1/8/11' '1/30/11']
--------------------------------------------------
Valores únicos en 'employmentstatus':
['employed' 'unemployed' 'medical leave' 'disabled' 'retired']
--------------------------------------------------
Valores únicos en 'gender':
['m' 'f']
--------------------------------------------------
Valores únicos en 'income':
[48029     0 22139 ... 61146 39837 64195]
--------------------------------------------------
Valores únicos en 'location_code':
['suburban' 'urban' 'rural']
--------------------------------------------------
Valores únicos en 'marital_status':
['married' 'single' 'divorced']
--------------------------------------------------
Valores únicos en 'monthly_premium_auto':
[ 61  64 100  97 117  63 154  85 127  62  99  69 116 114  66  73  94 104
 189  74 121 110 111  72 115 159 101  65  82  71 126  68 199  96  67 125
 249 105  92  78  77  79 223 242  70 102 109 107 119 194 113 106 247  80
  86  81  83 122 253 196 132 139  84 130  93 103 112 222 118  88 182 283
  90 128  89 235 190  76  87 133 153 129  98 148 123  91 211 131 108 187
 214 181 173 252  95 124 137 145 188 143 198 138 245 195 186 170 136 161
 157 141 205 271 192 142 140 134 240 185 244 210 184 202 296 213 273 219
 135 169 155 225 266 215 197 256 212 158 180 166 168 183 162 191 179 150
 146 276 165 239 237 193 229 274 207 295 208 172 217 206 201 171 152 156
 174 238 167 151 144 163 287 209 290 220 228 232 178 177 275 176 281 149
 298 255 216 285 226 160 147 254 164 175 297 234 284 204 218 261 231 248
 286 230 268 203]
--------------------------------------------------
Valores únicos en 'months_since_last_claim':
[ 7.  3. 34. 10. nan  2.  8. 35. 33. 19. 13.  5. 24. 25.  6. 20. 26. 14.
  9. 29. 11.  1. 18. 16. 30. 12.  4. 22. 31. 21. 28. 17. 15. 32. 23. 27.
  0.]
--------------------------------------------------
Valores únicos en 'months_since_policy_inception':
[52 26 31  3 73 99 45 24  8 29 32 25 28 87 10 74  1 38 58 37  7 80 95 78
 63 27 97 39 11 59 46 62 13 54 51 22 82 91 44 43 76 48 84  6 92 12 61  4
 18 66 70 16 75 34 35 64  9 89  0 60 71 23 55 93  2 67 81 40 57 86 19 72
 69 33 47 42 17 49 21 83 94 30 15 50 53 77 41 90  5 79 56 98 20 88 65 14
 85 96 36 68]
--------------------------------------------------
Valores únicos en 'number_of_open_complaints':
[ 0. nan  3.  1.  2.  4.  5.]
--------------------------------------------------
Valores únicos en 'number_of_policies':
[9 1 2 7 4 3 6 8 5]
--------------------------------------------------
Valores únicos en 'policy_type':
['corporate auto' 'personal auto' 'special auto']
--------------------------------------------------
Valores únicos en 'policy':
['corporate l3' 'personal l3' 'personal l2' 'corporate l2' 'personal l1'
 'special l1' 'corporate l1' 'special l3' 'special l2']
--------------------------------------------------
Valores únicos en 'renew_offer_type':
['offer3' 'offer4' 'offer2' 'offer1']
--------------------------------------------------
Valores únicos en 'sales_channel':
['agent' 'call center' 'branch' 'web']
--------------------------------------------------
Valores únicos en 'total_claim_amount':
[292.8      744.924331 480.       ... 273.018929 381.306996 618.288849]
--------------------------------------------------
Valores únicos en 'vehicle_class':
['four-door car' 'suv' 'two-door car' 'sports car' 'luxury car'
 'luxury suv' nan]
--------------------------------------------------
Valores únicos en 'vehicle_size':
['medsize' 'small' 'large' nan]
--------------------------------------------------
Valores únicos en 'vehicle_type':
[nan 'a']
--------------------------------------------------

In [27]:
lab_df.total_claim_amount

0         292.800000
1         744.924331
2         480.000000
3         484.013411
4         707.925645
            ...
10905    1214.400000
10906     273.018929
10907     381.306996
10908     618.288849
10909    1021.719397
Name: total_claim_amount, Length: 10910, dtype: float64

In [33]:
# Filter the DataFrame for customers with total_claim_amount > 1000 and response = "Yes"
lab_df_1000 = lab_df[(lab_df['total_claim_amount'] > 1000) 
                     & 
                     (lab_df['response'].str.lower() == 'yes')]

lab_df_1000

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,ok31456,california,11009.130490,yes,premium,bachelor,1/24/11,employed,f,51643,...,0.0,1,corporate auto,corporate l3,offer2,agent,1358.400000,luxury car,medsize,NaN
236,yj16163,oregon,11009.130490,yes,premium,bachelor,1/24/11,employed,f,51643,...,0.0,1,special auto,special l3,offer2,agent,1358.400000,luxury car,medsize,a
419,gw43195,oregon,25807.063000,yes,extended,college,2/13/11,employed,f,71210,...,1.0,2,personal auto,personal l2,offer1,branch,1027.200000,luxury car,small,a
442,ip94270,arizona,13736.132500,yes,premium,master,2/13/11,disabled,f,16181,...,0.0,8,personal auto,personal l2,offer1,web,1261.319869,suv,medsize,a
587,fj28407,california,5619.689084,yes,premium,high school or below,1/26/11,unemployed,m,0,...,0.0,1,personal auto,personal l1,offer2,web,1027.000029,suv,medsize,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,fn44127,oregon,3508.569533,yes,extended,college,1/5/11,medical leave,m,20978,...,1.0,1,personal auto,personal l2,offer2,branch,1176.278800,four-door car,small,NaN
10373,xz64172,oregon,10963.957230,yes,premium,high school or below,2/8/11,employed,m,55687,...,0.0,1,corporate auto,corporate l2,offer1,agent,1324.800000,luxury suv,medsize,NaN
10487,ix60941,oregon,3508.569533,yes,extended,college,1/5/11,medical leave,m,20978,...,1.0,1,personal auto,personal l3,offer2,branch,1176.278800,four-door car,small,NaN
10565,qo62792,oregon,7840.165778,yes,extended,college,1/14/11,employed,m,58414,...,2.0,1,personal auto,personal l3,offer2,agent,1008.000000,NaN,NaN,NaN
10708,ck39096,oregon,5619.689084,yes,premium,high school or below,1/26/11,unemployed,m,0,...,0.0,1,personal auto,personal l3,offer2,web,1027.000029,suv,medsize,a

In [34]:
# Filter the original DataFrame for customers with response "Yes"
responded_yes_df = lab_df[lab_df['response'].str.lower() == 'yes']

# Group by policy_type and gender, then calculate the mean total_claim_amount
avg_claims = responded_yes_df.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().reset_index()

# Rename columns for better readability
avg_claims.columns = ['Policy Type', 'Gender', 'Average Total Claim Amount']

# Display the results
print(avg_claims)

      Policy Type Gender  Average Total Claim Amount
0  corporate auto      f                  433.738499
1  corporate auto      m                  408.582459
2   personal auto      f                  452.965929
3   personal auto      m                  457.010178
4    special auto      f                  453.280164
5    special auto      m                  429.527942

In [35]:
# Group by state and count the number of customers
customer_count_by_state = lab_df.groupby('state').size().reset_index(name='Customer Count')

# Filter for states with more than 500 customers
filtered_states = customer_count_by_state[customer_count_by_state['Customer Count'] > 500]

# Display the results
print(filtered_states)

        state  Customer Count
0     arizona            1937
1  california            3552
2      nevada             993
3      oregon            2909
4  washington             888

In [36]:
# Group by education and gender, then calculate max, min, and median for customer_lifetime_value
clv_stats = (
    lab_df.groupby(['education', 'gender'])['customer_lifetime_value']
    .agg(['max', 'min', 'median'])
    .reset_index()
)

# Rename columns for better readability
clv_stats.columns = ['Education Level', 'Gender', 'Max CLV', 'Min CLV', 'Median CLV']

# Display the results
print(clv_stats)

        Education Level Gender      Max CLV      Min CLV   Median CLV
0              bachelor      f  73225.95652  1904.000852  5640.505303
1              bachelor      m  67907.27050  1898.007675  5548.031892
2               college      f  61850.18803  1898.683686  5623.611187
3               college      m  61134.68307  1918.119700  6005.847375
4                doctor      f  44856.11397  2395.570000  5332.462694
5                doctor      m  32677.34284  2267.604038  5577.669457
6  high school or below      f  55277.44589  2144.921535  6039.553187
7  high school or below      m  83325.38119  1940.981221  6286.731006
8                master      f  51016.06704  2417.777032  5729.855012
9                master      m  50568.25912  2272.307310  5579.099207

In [39]:
# Convert the date column to datetime format if not already
lab_df['effective_to_date'] = pd.to_datetime(lab_df['effective_to_date'], format='%m/%d/%y')

# Extract the month from the effective_to_date column
lab_df['month'] = lab_df['effective_to_date'].dt.month

# Create a pivot table to count the number of policies by state and month
policies_by_state_and_month = lab_df.pivot_table(
    index='state', 
    columns='month', 
    values='policy', 
    aggfunc='count', 
    fill_value=0  # Replace NaN with 0
)

# Rename the columns to show month names (optional)
month_names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
policies_by_state_and_month.columns = month_names[:policies_by_state_and_month.shape[1]]

# Display the resulting table
print(policies_by_state_and_month)

             Jan   Feb
state
arizona     1008   929
california  1918  1634
nevada       551   442
oregon      1565  1344
washington   463   425

In [40]:
# Ensure 'effective_to_date' is in datetime format
lab_df['effective_to_date'] = pd.to_datetime(lab_df['effective_to_date'])

# Extract the month from the effective_to_date column
lab_df['month'] = lab_df['effective_to_date'].dt.month_name()

# Group by state and month, then count the number of policies
state_month_counts = lab_df.groupby(['state', 'month']).size().reset_index(name='policy_count')

# Calculate the total number of policies sold by each state
state_totals = state_month_counts.groupby('state')['policy_count'].sum().reset_index()

# Sort states by the total number of policies in descending order and get the top 3 states
top_3_states = state_totals.nlargest(3, 'policy_count')['state']

# Filter the data to include only the top 3 states
filtered_data = state_month_counts[state_month_counts['state'].isin(top_3_states)]

# Pivot the data to create a DataFrame with months as columns and states as rows
top_states_pivot = filtered_data.pivot_table(
    index='state',
    columns='month',
    values='policy_count',
    fill_value=0  # Fill missing values with 0
)

# Sort the months in calendar order
ordered_months = [
    'January', 'February', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December'
]
top_states_pivot = top_states_pivot.reindex(columns=ordered_months, fill_value=0)

# Display the final DataFrame
print(top_states_pivot)

month       January  February  March  April  May  June  July  August  \
state
arizona      1008.0     929.0      0      0    0     0     0       0
california   1918.0    1634.0      0      0    0     0     0       0
oregon       1565.0    1344.0      0      0    0     0     0       0

month       September  October  November  December
state
arizona             0        0         0         0
california          0        0         0         0
oregon              0        0         0         0