# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [66]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [67]:
df.shape

(10910, 26)

In [68]:
df.columns = df.columns.str.lower().str.replace(" ","_")

In [69]:
df.drop(['unnamed:_0','vehicle_type'],axis=1, inplace=True)

In [70]:
df.fillna(method='ffill', inplace=True)

C:\Users\rocio\AppData\Local\Temp\ipykernel_15392\3970806690.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

In [71]:
df.drop_duplicates(inplace=True)

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [72]:
df_new = df[(df['total_claim_amount']>1000)&(df['response'] == 'Yes')]
df_new.reset_index(drop=True, inplace=True)

In [73]:
df_new.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,43,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize
1,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,43,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize
2,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,...,89,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small
3,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,79,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize
4,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,5,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [74]:
yesy = df[df['response'] == 'Yes']
yesy.groupby(['policy_type','gender'])['total_claim_amount'].mean()

policy_type     gender
Corporate Auto  F         436.621207
                M         404.803854
Personal Auto   F         447.986634
                M         454.873518
Special Auto    F         453.280164
                M         429.527942
Name: total_claim_amount, dtype: float64

In [75]:
#La mujeres reclaman mas, excepto en el de personal auto, que los hombres les superan por poquito.
#Personal auto tiene una media mayor de reclamos que el resto, la mas baja es la de corporate auto.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [78]:
clients = df['state'].value_counts()

In [80]:
masde = clients[clients>500]

In [82]:
masde

state
California    3694
Oregon        3006
Arizona       2024
Nevada        1037
Washington     938
Name: count, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [84]:
df.groupby(['education','gender'])['customer_lifetime_value'].agg(['max','min','mean'])

                                     max          min         mean
education            gender
Bachelor             F       73225.95652  1904.000852  7922.170832
                     M       67907.27050  1898.007675  7697.070241
College              F       61850.18803  1898.683686  7740.944654
                     M       61134.68307  1918.119700  8036.467692
Doctor               F       44856.11397  2395.570000  7446.531974
                     M       32677.34284  2267.604038  7415.333638
High School or Below F       55277.44589  2144.921535  8642.706751
                     M       83325.38119  1940.981221  8165.730779
Master               F       51016.06704  2417.777032  8169.796922
                     M       50568.25912  2272.307310  8228.550419

In [85]:
# las mujeres tienen un menor ingreso mÃ¡ximo que los hombres excepto en HSoB, teniendo el mayor promedio de ingresos, eso quiere decir que no hay relacion entre los estudios y los ingresos.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here