# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [3]:
import numpy as np
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [9]:
df.columns = df.columns.str.lower()
print(df.columns)

Index(['unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'vehicle type'],
      dtype='object')

In [11]:
df.columns = df.columns.str.replace(' ', '_')
print(df.columns)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [13]:
#1.Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign. df["total_revenue"] = df["customer_lifetime_value"] - df["total_claim_amount"]

df["total_revenue"] = df["customer_lifetime_value"] - df["total_claim_amount"]

# Filter DataFrame based on conditions
filtered_df = df[(df["total_claim_amount"] > 1000) & (df["response"] == "Yes")]

# Display the new filtered DataFrame
print(filtered_df)

       unnamed:_0 customer       state  customer_lifetime_value response  \
189           189  OK31456  California             11009.130490      Yes
236           236  YJ16163      Oregon             11009.130490      Yes
419           419  GW43195      Oregon             25807.063000      Yes
442           442  IP94270     Arizona             13736.132500      Yes
587           587  FJ28407  California              5619.689084      Yes
...           ...      ...         ...                      ...      ...
10351       10351  FN44127      Oregon              3508.569533      Yes
10373       10373  XZ64172      Oregon             10963.957230      Yes
10487       10487  IX60941      Oregon              3508.569533      Yes
10565       10565  QO62792      Oregon              7840.165778      Yes
10708       10708  CK39096      Oregon              5619.689084      Yes

       coverage             education effective_to_date employmentstatus  \
189     Premium              Bachelor           1/24/11         Employed
236     Premium              Bachelor           1/24/11         Employed
419    Extended               College           2/13/11         Employed
442     Premium                Master           2/13/11         Disabled
587     Premium  High School or Below           1/26/11       Unemployed
...         ...                   ...               ...              ...
10351  Extended               College            1/5/11    Medical Leave
10373   Premium  High School or Below            2/8/11         Employed
10487  Extended               College            1/5/11    Medical Leave
10565  Extended               College           1/14/11         Employed
10708   Premium  High School or Below           1/26/11       Unemployed

      gender  ...  number_of_policies     policy_type        policy  \
189        F  ...                   1  Corporate Auto  Corporate L3
236        F  ...                   1    Special Auto    Special L3
419        F  ...                   2   Personal Auto   Personal L2
442        F  ...                   8   Personal Auto   Personal L2
587        M  ...                   1   Personal Auto   Personal L1
...      ...  ...                 ...             ...           ...
10351      M  ...                   1   Personal Auto   Personal L2
10373      M  ...                   1  Corporate Auto  Corporate L2
10487      M  ...                   1   Personal Auto   Personal L3
10565      M  ...                   1   Personal Auto   Personal L3
10708      M  ...                   1   Personal Auto   Personal L3

       renew_offer_type  sales_channel  total_claim_amount  vehicle_class  \
189              Offer2          Agent         1358.400000     Luxury Car
236              Offer2          Agent         1358.400000     Luxury Car
419              Offer1         Branch         1027.200000     Luxury Car
442              Offer1            Web         1261.319869            SUV
587              Offer2            Web         1027.000029            SUV
...                 ...            ...                 ...            ...
10351            Offer2         Branch         1176.278800  Four-Door Car
10373            Offer1          Agent         1324.800000     Luxury SUV
10487            Offer2         Branch         1176.278800  Four-Door Car
10565            Offer2          Agent         1008.000000            NaN
10708            Offer2            Web         1027.000029            SUV

       vehicle_size vehicle_type total_revenue
189         Medsize          NaN   9650.730490
236         Medsize            A   9650.730490
419           Small            A  24779.863000
442         Medsize            A  12474.812631
587         Medsize            A   4592.689055
...             ...          ...           ...
10351         Small          NaN   2332.290733
10373       Medsize          NaN   9639.157230
10487         Small          NaN   2332.290733
10565           NaN          NaN   6832.165778
10708       Medsize            A   4592.689055

[67 rows x 27 columns]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [15]:
# Filter DataFrame for customers who responded "Yes"
filtered_df = df[df["response"] == "Yes"]

# Calculate the average total_claim_amount by policy type and gender
result = filtered_df.groupby(["policy_type", "gender"])["total_claim_amount"].mean().reset_index()

# Display the result
print(result)

      policy_type gender  total_claim_amount
0  Corporate Auto      F          433.738499
1  Corporate Auto      M          408.582459
2   Personal Auto      F          452.965929
3   Personal Auto      M          457.010178
4    Special Auto      F          453.280164
5    Special Auto      M          429.527942

In [ ]:
#The value of Female customers complaints are higher than complaints from Male customers for the three policy types. 
#Investigate the reason why women are less satisfied or why they claim a bit more than male.

#In addition, Personal Auto are the one with the highest claim amount. 
#Pay attention to the Personal Auto contract : make the clauses clearer, investigate the reason why this contract generates more claims.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [17]:
# Count the number of customers in each state
customer_count = df.groupby("state")["customer"].count().reset_index()

# Rename column for clarity
customer_count.rename(columns={"customer": "total_customers"}, inplace=True)

# Filter states with more than 500 customers
filtered_states = customer_count[customer_count["total_customers"] > 500]

# Display results
print(filtered_states)

        state  total_customers
0     Arizona             1937
1  California             3552
2      Nevada              993
3      Oregon             2909
4  Washington              888

In [ ]:
#The state with the highest number of customers is California. The reason might be because California is the most densely populated state in the study.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [19]:
# Group by education level and gender, then compute max, min, and median CLV
clv_stats = df.groupby(["education", "gender"])["customer_lifetime_value"].agg(["max", "min", "median"]).reset_index()

# Display results
print(clv_stats)

              education gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5640.505303
1              Bachelor      M  67907.27050  1898.007675  5548.031892
2               College      F  61850.18803  1898.683686  5623.611187
3               College      M  61134.68307  1918.119700  6005.847375
4                Doctor      F  44856.11397  2395.570000  5332.462694
5                Doctor      M  32677.34284  2267.604038  5577.669457
6  High School or Below      F  55277.44589  2144.921535  6039.553187
7  High School or Below      M  83325.38119  1940.981221  6286.731006
8                Master      F  51016.06704  2417.777032  5729.855012
9                Master      M  50568.25912  2272.307310  5579.099207

In [ ]:
#Figures are almost the same. There is no big difference between male or female, except for people which level of eduction is high school or below. The maximum value for men is much higher than for women.
#For Doctors, especially male doctors, the maximum customer lifetime value is the lowest.
#There is no big difference between medians ((every levels of education and both sexes)

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [23]:

# Convert 'effective_to_date' to datetime format (MM/DD/YY)
df["effective_to_date"] = pd.to_datetime(df["effective_to_date"], format="%m/%d/%y")

# Extract full month name from 'effective_to_date'
df["month"] = df["effective_to_date"].dt.strftime("%B")  # E.g., "January"

# Calculate total_revenue
df["total_revenue"] = df["customer_lifetime_value"] - df["total_claim_amount"]

# Create pivot table with states as rows and months as columns, summing total_revenue
revenue_table = df.pivot_table(index="state", columns="month", values="total_revenue", aggfunc="sum", fill_value=0)

# Ensure months are in correct order (January â†’ December)
month_order = ["January", "February", "March", "April", "May", "June", 
               "July", "August", "September", "October", "November", "December"]
revenue_table = revenue_table.reindex(columns=month_order, fill_value=0)

# Display result
print(revenue_table)Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.
Hint:

To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.
Next, you will select the top 3 states with the highest number of policies sold.
Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.

month            January      February  March  April  May  June  July  August  \
state
Arizona     7.662300e+06  6.859440e+06      0      0    0     0     0       0
California  1.438793e+07  1.237167e+07      0      0    0     0     0       0
Nevada      4.307697e+06  3.461742e+06      0      0    0     0     0       0
Oregon      1.223436e+07  1.020043e+07      0      0    0     0     0       0
Washington  3.577799e+06  2.990138e+06      0      0    0     0     0       0

month       September  October  November  December
state
Arizona             0        0         0         0
California          0        0         0         0
Nevada              0        0         0         0
Oregon              0        0         0         0
Washington          0        0         0         0

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

In [25]:
# Convert 'effective_to_date' to datetime format (MM/DD/YY)
df["effective_to_date"] = pd.to_datetime(df["effective_to_date"], format="%m/%d/%y")

# Extract full month name
df["month"] = df["effective_to_date"].dt.strftime("%B")  # E.g., "January"

# Calculate total_revenue
df["total_revenue"] = df["customer_lifetime_value"] - df["total_claim_amount"]

# Group by state and sum total_revenue
state_revenue = df.groupby("state")["total_revenue"].sum()

# Get the top 3 states with the highest total revenue
top_3_states = state_revenue.nlargest(3).index  # Extracts top 3 state names

# Filter dataset for only the top 3 states
df_top_states = df[df["state"].isin(top_3_states)]

# Create a pivot table with months as columns and states as rows, summing total_revenue
top_states_pivot = df_top_states.pivot_table(index="state", columns="month", values="total_revenue", aggfunc="sum", fill_value=0)

# Ensure months are in correct order
month_order = ["January", "February", "March", "April", "May", "June", 
               "July", "August", "September", "October", "November", "December"]
top_states_pivot = top_states_pivot.reindex(columns=month_order, fill_value=0)

# Display the final DataFrame
print(top_states_pivot)

month            January      February  March  April  May  June  July  August  \
state
Arizona     7.662300e+06  6.859440e+06      0      0    0     0     0       0
California  1.438793e+07  1.237167e+07      0      0    0     0     0       0
Oregon      1.223436e+07  1.020043e+07      0      0    0     0     0       0

month       September  October  November  December
state
Arizona             0        0         0         0
California          0        0         0         0
Oregon              0        0         0         0

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here