# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [173]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [175]:
df.isnull().sum()

Unnamed: 0                          0
Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64

In [177]:
#Rename columns
df.rename(columns=lambda x: x.lower().replace(' ', '_'), inplace=True)
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [179]:
df['state'].value_counts()

state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

In [181]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [unnamed:_0, customer, state, customer_lifetime_value, response, coverage, education, effective_to_date, employmentstatus, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size, vehicle_type]
Index: []

[0 rows x 26 columns]

In [183]:
df.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
dtype: object

In [185]:
df['state'] = df['state'].fillna("N/A")
df['state'].value_counts()

state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
N/A            631
Name: count, dtype: int64

In [187]:
df['response'].value_counts()

response
No     8813
Yes    1466
Name: count, dtype: int64

In [189]:
df['response'] = df['response'].fillna("N/A")
df['response'].value_counts()

response
No     8813
Yes    1466
N/A     631
Name: count, dtype: int64

In [191]:
df['months_since_last_claim'].value_counts()

months_since_last_claim
3.0     426
6.0     394
1.0     386
7.0     378
4.0     373
2.0     368
5.0     355
0.0     354
10.0    346
16.0    333
11.0    331
15.0    323
13.0    320
8.0     315
12.0    307
17.0    299
14.0    299
9.0     277
23.0    276
19.0    276
25.0    269
21.0    267
18.0    257
20.0    254
22.0    246
24.0    237
29.0    234
28.0    227
31.0    221
26.0    211
27.0    208
30.0    201
34.0    199
33.0    198
35.0    157
32.0    155
Name: count, dtype: int64

In [193]:
df['months_since_last_claim'] = df['months_since_last_claim'].fillna(method='ffill')
df['months_since_last_claim'].value_counts()

C:\Users\gebruiker\AppData\Local\Temp\ipykernel_4272\413398542.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['months_since_last_claim'] = df['months_since_last_claim'].fillna(method='ffill')

months_since_last_claim
3.0     455
6.0     412
7.0     407
1.0     406
4.0     396
2.0     396
5.0     379
0.0     373
10.0    364
11.0    351
16.0    350
15.0    345
8.0     345
13.0    337
12.0    333
17.0    318
14.0    315
23.0    295
9.0     295
19.0    290
25.0    283
21.0    280
18.0    279
20.0    267
22.0    259
29.0    250
24.0    245
31.0    238
28.0    237
26.0    218
27.0    218
34.0    215
33.0    215
30.0    207
32.0    170
35.0    167
Name: count, dtype: int64

In [195]:
df['number_of_open_complaints'].value_counts()

number_of_open_complaints
0.0    8160
1.0    1145
2.0     414
3.0     324
4.0     166
5.0      68
Name: count, dtype: int64

In [197]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(0.0)
df['number_of_open_complaints'].value_counts()

number_of_open_complaints
0.0    8793
1.0    1145
2.0     414
3.0     324
4.0     166
5.0      68
Name: count, dtype: int64

In [199]:
df['vehicle_class'].value_counts()

vehicle_class
Four-Door Car    5212
Two-Door Car     2118
SUV              2012
Sports Car        550
Luxury SUV        208
Luxury Car        188
Name: count, dtype: int64

In [201]:
luxury_car = ["Sports Car", "Luxury SUV", "Luxury Car"]
df["vehicle_class"] = df["vehicle_class"].apply(lambda x: "luxury_car" if x in luxury_car else x)
df.vehicle_class.value_counts()

vehicle_class
Four-Door Car    5212
Two-Door Car     2118
SUV              2012
luxury_car        946
Name: count, dtype: int64

In [203]:
df['vehicle_class'] = df['vehicle_class'].fillna("N/A")
df['vehicle_class'].value_counts()

vehicle_class
Four-Door Car    5212
Two-Door Car     2118
SUV              2012
luxury_car        946
N/A               622
Name: count, dtype: int64

In [205]:
df['vehicle_size'].value_counts()

vehicle_size
Medsize    7251
Small      1966
Large      1071
Name: count, dtype: int64

In [207]:
df['vehicle_size'] = df['vehicle_size'].fillna("N/A")
df['vehicle_size'].value_counts()

vehicle_size
Medsize    7251
Small      1966
Large      1071
N/A         622
Name: count, dtype: int64

In [209]:
df['vehicle_type'].value_counts()

vehicle_type
A    5428
Name: count, dtype: int64

In [211]:
df['vehicle_type'] = df['vehicle_type'].fillna("A")
df['vehicle_type'].value_counts()

vehicle_type
A    10910
Name: count, dtype: int64

In [213]:
df.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
dtype: int64

In [215]:
df.reset_index(drop=True, inplace=True)

In [221]:
# Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.
df_claim = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]
df_claim.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,luxury_car,Medsize,A
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,luxury_car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,luxury_car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

In [223]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].round(2)
df['total_claim_amount'] = df['total_claim_amount'].round(2)
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.22,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,A
1,1,KX64629,California,2228.53,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,A
2,2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A
3,3,XL78013,Oregon,22332.44,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.07,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize,A

In [241]:
# Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.
# Filter for customers who responded "Yes"
filtered_data = df[df['response'] == 'Yes']

# Group by policy type and gender, then calculate the average total claim amount
marketing_data_analysis = filtered_data.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().round(2)
marketing_data_analysis

policy_type     gender
Corporate Auto  F         433.74
                M         408.58
Personal Auto   F         452.97
                M         457.01
Special Auto    F         453.28
                M         429.53
Name: total_claim_amount, dtype: float64

In [245]:
# Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.
total_customers_by_state = df.groupby('state')['customer'].count()
filtered_states = total_customers_by_state[total_customers_by_state > 500]
filtered_states

state
Arizona       1937
California    3552
N/A            631
Nevada         993
Oregon        2909
Washington     888
Name: customer, dtype: int64

In [249]:
# Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.
customer_lifetime_value = df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median']).round(2)
customer_lifetime_value

                                  max      min   median
education            gender
Bachelor             F       73225.96  1904.00  5640.50
                     M       67907.27  1898.01  5548.03
College              F       61850.19  1898.68  5623.61
                     M       61134.68  1918.12  6005.85
Doctor               F       44856.11  2395.57  5332.46
                     M       32677.34  2267.60  5577.67
High School or Below F       55277.45  2144.92  6039.56
                     M       83325.38  1940.98  6286.74
Master               F       51016.07  2417.78  5729.86
                     M       50568.26  2272.31  5579.10

In [ ]:

#Conclusions
#Gender Differences: There are notable differences in customer lifetime values between males and females for each education level.
#Education Effects: Higher education levels generally lead to higher customer lifetime values.
#Outliers: Some data points, like the maximum lifetime value for females with a high school education, are unusually high compared to other groups.
#These insights reveal patterns in how gender and education influence customer spending.

In [251]:
# Ensure the 'Number of Policies' is numeric
df['number_of_policies'] = pd.to_numeric(df['number_of_policies'], errors='coerce')

# Calculate the total number of policies sold per state
policies_per_state = df.groupby('state')['number_of_policies'].sum().reset_index()

# Sort states by number of policies sold and get the top 3
top_states = policies_per_state.sort_values(by='number_of_policies', ascending=False).head(3)

# Filter for top 3 states
top_states_list = top_states['state'].tolist()
filtered_df = df[df['state'].isin(top_states_list)]

# Group by month and state to count policies sold
policies_by_month_state = filtered_df.groupby(['effective_to_date', 'state'])['number_of_policies'].sum().reset_index()

# Convert 'Effective To Date' to datetime and extract month
policies_by_month_state['effective_to_date'] = pd.to_datetime(policies_by_month_state['effective_to_date'])
policies_by_month_state['month'] = policies_by_month_state['effective_to_date'].dt.month

# Drop the 'Effective To Date' column
policies_by_month_state = policies_by_month_state.drop(columns=['effective_to_date'])

# Display the final report DataFrame
print("\nPolicies Sold by Month for Top 3 States:")
print(policies_by_month_state)

Policies Sold by Month for Top 3 States:
          state  number_of_policies  month
0       Arizona                 139      1
1    California                 180      1
2        Oregon                 111      1
3       Arizona                 123      1
4    California                 225      1
..          ...                 ...    ...
172  California                 108      2
173      Oregon                 102      2
174     Arizona                  92      2
175  California                 168      2
176      Oregon                 105      2

[177 rows x 3 columns]

C:\Users\gebruiker\AppData\Local\Temp\ipykernel_4272\453656015.py:18: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  policies_by_month_state['effective_to_date'] = pd.to_datetime(policies_by_month_state['effective_to_date'])