# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [2]:

df= pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

In [3]:
df.head ()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [4]:
df.size

283660

In [5]:
#funciones de limpieza
def format_columns(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
    df = df.rename(columns = {'employmentstatus': 'employment_status'})
    return df

def print_unique(df):
    for column in ['response', 'coverage', 'education', 'employment_status', 'gender', 'location_code', 'marital_status',
                   'policy', 'renew_offer_type', 'sales_channel', 'vehicle_class', 'vehicle_size', 'vehicle_type']:
        print(f'{column}: {df[column].unique()}')

def replace(df):
    return df.replace({
    'vehicle_size' : {'Medsize': 'Mid'},
    'vehicle_class': {'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury', 'SUV': 'Luxury'}})

In [6]:
df = format_columns(df)
df = replace(df)
df.drop('unnamed:_0', axis = 1, inplace = True)

In [7]:
print_unique(df) #muestra problemas vehicle class
df.head()

response: ['No' 'Yes' nan]
coverage: ['Basic' 'Extended' 'Premium']
education: ['College' 'Bachelor' 'High School or Below' 'Doctor' 'Master']
employment_status: ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
gender: ['M' 'F']
location_code: ['Suburban' 'Urban' 'Rural']
marital_status: ['Married' 'Single' 'Divorced']
policy: ['Corporate L3' 'Personal L3' 'Personal L2' 'Corporate L2' 'Personal L1'
 'Special L1' 'Corporate L1' 'Special L3' 'Special L2']
renew_offer_type: ['Offer3' 'Offer4' 'Offer2' 'Offer1']
sales_channel: ['Agent' 'Call Center' 'Branch' 'Web']
vehicle_class: ['Four-Door Car' 'Luxury' 'Two-Door Car' 'Sports Car' nan]
vehicle_size: ['Mid' 'Small' 'Large' nan]
vehicle_type: [nan 'A']

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Mid,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Mid,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,Luxury,Mid,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Mid,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Mid,NaN

In [8]:
print(df.isnull().sum()) # para los NaN

customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employment_status                   0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [ ]:


df.dropna(subset = 'response', inplace = True) 
#estas dos columnas tienen valores que parecen repetidos
df.dropna(subset = 'vehicle_class', inplace = True)
df.dropna(subset = 'months_since_last_claim', inplace = True)
print(df.isnull().sum())

customer                            0
state                               0
customer_lifetime_value             0
response                            0
coverage                            0
education                           0
effective_to_date                   0
employment_status                   0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim             0
months_since_policy_inception       0
number_of_open_complaints           0
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                       0
vehicle_size                        0
vehicle_type                     4591
dtype: int64

In [10]:
#uso la moda porque el % de NaN del total es bajo 
def fill_nan(df):
    for column in ['state', 'response', 'vehicle_class', 'months_since_last_claim', 'vehicle_size', 
                   'number_of_open_complaints', 'vehicle_type']:
        df[column] = df[column].fillna(df[column].mode()[0])
    return df

In [11]:
df = fill_nan(df)
print(df.isnull().sum())

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employment_status                0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
dtype: int64

In [ ]:
df.dtypes
# customer_lifetime_value, number_of_open_complaints, total_claim_amount a entero

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employment_status                 object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
dtype: object

In [13]:
def float_to_integers(df):
    df['total_claim_amount'] = df['total_claim_amount'].apply(int)
    df['customer_lifetime_value'] = df['customer_lifetime_value'].apply(int)
    df['months_since_last_claim'] = df['months_since_last_claim'].apply(int)
    df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(int)
    return df

In [14]:
new_df1 = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]
new_df1.head(5)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury,Mid,A
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury,Mid,A
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury,Small,A
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,Luxury,Mid,A
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,Luxury,Mid,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [ ]:
new_df2 = df[(df['response'] == 'Yes')] #filtro esa columna solamente
new_df2.groupby(['policy_type', 'gender'])['total_claim_amount'].mean()
# en promedio todas las polizas tiene mismo claim amounts.
# no hay gran diferencia entre hombres y mujeres en cuanto a claim amounts
.

policy_type     gender
Corporate Auto  F         431.480117
                M         412.756888
Personal Auto   F         454.089997
                M         453.603715
Special Auto    F         455.648867
                M         414.799291
Name: total_claim_amount, dtype: float64

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [16]:
grouped = df.groupby('state')['customer'].count()
grouped.head() # todos los estados tienen mas de 500 clientes

state
Arizona       1703
California    3150
Nevada         882
Oregon        2601
Washington     798
Name: customer, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [ ]:
max_total_revenue = df.groupby(['education', 'gender'])['customer_lifetime_value'].max()
min_total_revenue = df.groupby(['education', 'gender'])['customer_lifetime_value'].min()
med_total_revenue = df.groupby(['education', 'gender'])['customer_lifetime_value'].median()

print(max_total_revenue) 
# el rango max de ganancias entre 50,000 y 80,000$.
# el max de ganancias totales femeninas es ligeramente superior a todos los niveles de educaciÃ³n excepto High School or Below
print('\n')
print(min_total_revenue)
# el rango minimo de ingresos 2,000$.
# el total de ingresos para hombres y mujeres es casi igual.
print('\n')
print(med_total_revenue)
# el rango total de ingresos esta entre 5,000 y 6,000$.
# la media entre hombres y mujeres es muy similar.

education             gender
Bachelor              F         73225.95652
                      M         67907.27050
College               F         61850.18803
                      M         61134.68307
Doctor                F         44856.11397
                      M         32677.34284
High School or Below  F         55277.44589
                      M         83325.38119
Master                F         51016.06704
                      M         50568.25912
Name: customer_lifetime_value, dtype: float64


education             gender
Bachelor              F         1904.000852
                      M         1898.007675
College               F         1898.683686
                      M         1918.119700
Doctor                F         2395.570000
                      M         2267.604038
High School or Below  F         2144.921535
                      M         1940.981221
Master                F         2417.777032
                      M         2272.307310
Name: customer_lifetime_value, dtype: float64


education             gender
Bachelor              F         5678.050167
                      M         5555.830205
College               F         5621.789489
                      M         5989.773931
Doctor                F         5332.462694
                      M         5620.587184
High School or Below  F         6044.020038
                      M         6176.700392
Master                F         5801.128252
                      M         5617.956917
Name: customer_lifetime_value, dtype: float64

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [18]:
# your code goes here