# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [37]:
import pandas as pd
marketing_customers_df = pd.read_csv('./dataset/marketing_customer_analysis_clean.csv')
display(marketing_customers_df)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,"4,809.22",No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,A,2
1,1,KX64629,California,"2,228.53",No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,"14,947.92",No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A,2
3,3,XL78013,Oregon,"22,332.44",Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,"9,025.07",No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,"15,563.37",No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,"1,214.40",Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,"5,259.44",No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.02,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,"23,893.30",No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.31,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,"11,971.98",No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.29,SUV,Medsize,A,2
10909,10909,IV32877,California,"6,857.52",No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,"1,021.72",SUV,Medsize,A,1

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [38]:
ex1_df = marketing_customers_df[(marketing_customers_df["total_claim_amount"] > 1000) & (marketing_customers_df["response"] == "Yes")].sort_values("total_claim_amount")
display(ex1_df)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
5331,5331,UT48216,Nevada,"7,840.17",Yes,Extended,College,2011-01-14,Employed,M,...,1,Personal Auto,Personal L1,Offer2,Agent,"1,008.00",Luxury SUV,Small,A,1
8420,8420,MT27589,Oregon,"7,840.17",Yes,Extended,College,2011-01-14,Employed,M,...,1,Corporate Auto,Corporate L1,Offer2,Agent,"1,008.00",Luxury SUV,Small,A,1
7255,7255,PN98247,California,"7,840.17",Yes,Extended,College,2011-01-14,Employed,M,...,1,Personal Auto,Personal L3,Offer2,Agent,"1,008.00",Luxury SUV,Small,A,1
10565,10565,QO62792,Oregon,"7,840.17",Yes,Extended,College,2011-01-14,Employed,M,...,1,Personal Auto,Personal L3,Offer2,Agent,"1,008.00",Four-Door Car,Medsize,A,1
5013,5013,GP83239,California,"7,840.17",Yes,Extended,College,2011-01-14,Employed,M,...,1,Personal Auto,Personal L3,Offer2,Agent,"1,008.00",Luxury SUV,Small,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8367,8367,AJ89108,California,"11,009.13",Yes,Premium,Bachelor,2011-01-24,Employed,F,...,1,Personal Auto,Personal L3,Offer2,Agent,"1,358.40",Luxury Car,Medsize,A,1
2865,2865,FH77504,California,"11,009.13",Yes,Premium,Bachelor,2011-01-24,Employed,F,...,1,Personal Auto,Personal L3,Offer2,Agent,"1,358.40",Luxury Car,Medsize,A,1
2027,2027,TA66375,Oregon,"11,009.13",Yes,Premium,Bachelor,2011-01-24,Employed,F,...,1,Corporate Auto,Corporate L2,Offer2,Agent,"1,358.40",Luxury Car,Medsize,A,1
5896,5896,TY31217,Washington,"11,009.13",Yes,Premium,Bachelor,2011-01-24,Employed,F,...,1,Personal Auto,Personal L3,Offer2,Agent,"1,358.40",Luxury Car,Medsize,A,1
189,189,OK31456,California,"11,009.13",Yes,Premium,Bachelor,2011-01-24,Employed,F,...,1,Corporate Auto,Corporate L3,Offer2,Agent,"1,358.40",Luxury Car,Medsize,A,1

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [39]:
pd.set_option("display.float_format", "${:,.2f}".format)
ex2_df = marketing_customers_df[marketing_customers_df["response"] == "Yes"].pivot_table(values = "total_claim_amount", index = ["policy", "gender"], aggfunc = "mean")
display(ex2_df)

                     total_claim_amount
policy       gender
Corporate L1 F                  $463.94
             M                  $426.48
Corporate L2 F                  $441.35
             M                  $427.99
Corporate L3 F                  $421.23
             M                  $391.61
Personal L1  F                  $485.13
             M                  $464.62
Personal L2  F                  $439.91
             M                  $459.43
Personal L3  F                  $447.08
             M                  $452.95
Special L1   F                  $471.34
             M                  $476.39
Special L2   F                  $396.63
             M                  $466.86
Special L3   F                  $495.57
             M                  $404.75

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [40]:
pd.set_option("display.float_format", "{:,.2f}".format)
ex3_df = marketing_customers_df.pivot_table(values = "customer", index = "state", aggfunc = "count")
display(ex3_df[ex3_df["customer"]>500])

            customer
state
Arizona         1937
California      4183
Nevada           993
Oregon          2909
Washington       888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [41]:
pd.set_option("display.float_format", "${:,.2f}".format)
ex4_df = marketing_customers_df.groupby(["education", "gender"]).agg(max=("customer_lifetime_value", "max"), min=("customer_lifetime_value", "min"), median=("customer_lifetime_value", "median"))
display(ex4_df)

# Minum values not show much variation (from $1,898.01 to $2,417.78), same than median (From $5,332.46 to $6,286.73)
# Where we can se a biggest difference in the range of values in the max value (From $32,677.34 to $83,325.38)
# While highest value is for a Man, we can't state that Man generate more than Woman since Man also have the smaller max value ($32,677.34) and we see cases where Woman generate more than Men (Like for Bachelor, $73,225.96 vs $67,907.27) 
# Education doesn't seem to be the biggest influence sice we see Doctor not being the ones with higher values (max) an neither with smaller ones (min). Highest max value is for a Woman with "High School or Bellow" and "Bachelor" in case of men.abs

                                   max       min    median
education            gender
Bachelor             F      $73,225.96 $1,904.00 $5,640.51
                     M      $67,907.27 $1,898.01 $5,548.03
College              F      $61,850.19 $1,898.68 $5,623.61
                     M      $61,134.68 $1,918.12 $6,005.85
Doctor               F      $44,856.11 $2,395.57 $5,332.46
                     M      $32,677.34 $2,267.60 $5,577.67
High School or Below F      $55,277.45 $2,144.92 $6,039.55
                     M      $83,325.38 $1,940.98 $6,286.73
Master               F      $51,016.07 $2,417.78 $5,729.86
                     M      $50,568.26 $2,272.31 $5,579.10

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [42]:
pd.set_option("display.float_format", "{:,.2f}".format)
ex5_df = marketing_customers_df.pivot_table(values = "unnamed:_0", index = "state", columns="month", aggfunc = "count")
display(ex5_df)

month          1     2
state
Arizona     1008   929
California  2231  1952
Nevada       551   442
Oregon      1565  1344
Washington   463   425

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [53]:
ex6_df = ex5_df.iloc[:5].copy()
ex6_df["total"] = ex6_df[1] + ex6_df[2]
ex6_df = ex6_df.sort_values("total", ascending=False).iloc[:3,[0, 1]]
display(ex6_df)

month          1     2
state
California  2231  1952
Oregon      1565  1344
Arizona     1008   929

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [95]:
# your code goes here
pd.set_option("display.float_format", "{:,.2f}".format)
ex7_df = marketing_customers_df.pivot_table(values = "unnamed:_0", index = "sales_channel", columns = "response", aggfunc = "count")
ex7_df["rate"] = ex7_df["Yes"] / (ex7_df["Yes"] + ex7_df["No"])
display(ex7_df)

ex7_df = pd.melt(ex7_df.reset_index(), id_vars="sales_channel", value_vars="rate", value_name="response_rate")[["sales_channel", "response_rate"]]
display(ex7_df)

response         No  Yes  rate
sales_channel
Agent          3379  742  0.18
Branch         2696  326  0.11
Call Center    1920  221  0.10
Web            1449  177  0.11

  sales_channel  response_rate
0         Agent           0.18
1        Branch           0.11
2   Call Center           0.10
3           Web           0.11