# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'

df = pd.read_csv(url)
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.rename(columns = {'unnamed:_0': 'index'}, inplace = True)
df.set_index('index', inplace = True)
df

In [14]:
# Create second dataframe for customers who have total claims > 1000 and answered "Yes" to the last marketing campaign
filtered_df = df[ (df['total_claim_amount'] > 1000) & (df['response'] == 'Yes') ]
filtered_df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
index,,,,,,,,,,,,,,,,,,,,,
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [18]:
# Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

group = df.groupby(['response'])
response_yes_df = group.get_group('Yes')
response_yes_df.groupby(['policy_type', 'gender'])['total_claim_amount'].mean()

policy_type     gender
Corporate Auto  F         433.738499
                M         408.582459
Personal Auto   F         452.965929
                M         457.010178
Special Auto    F         453.280164
                M         429.527942
Name: total_claim_amount, dtype: float64

Observations from aggregated data

1. In the Coorporate Auto type, the average claim amount is higher for female customers than for males.
2. In the Personal Auto type, the average claim amount is higher for male customers than for females.
3. In the Special Auto type, the average claim amount is higher for females than for males.

Results state that for two of three policy types that exist, female customers are more likely to claim their insurance on average.

In [21]:
# 3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

state_customer_count = df.groupby('state').size()

state
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
dtype: int64

In [22]:
# 4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.
df.groupby(['gender', 'education'])['customer_lifetime_value'].agg(['count','mean','std'])

                             count         mean          std
gender education
F      Bachelor               1700  7874.269478  6614.107319
       College                1608  7748.823325  6678.304057
       Doctor                  200  7328.508916  6930.556300
       High School or Below   1590  8675.220201  7497.848501
       Master                  475  8157.053154  6621.774653
M      Bachelor               1572  7703.601675  6658.460774
       College                1596  8052.459288  6716.960507
       Doctor                  201  7415.333638  5460.941400
       High School or Below   1556  8149.687783  7190.619899
       Master                  412  8168.832659  7362.156626

Observations of data

Female 

1. Out of the female customers, most of them claimed that their highest form of education was a Bachelor degree. Followed by College, High School or below, Master and Doctor respectively.

2. The customer lifetime value for all education levels is not as variable as I would have expected. Curiously enough, female customers who claim to have an education as high as high school, have a higher mean in this category in comparison to customers who have Bachelor or graduate level education. However, for female customers who have high school education, they have a higher standard deviation in this category suggesting variability with might affect the mean. 

Male 

1. Out of the male customers, most of them claim to have a college education, followed Bachelor, High School, Master, and Doctor respectively. 
2. The variability of the customer lifetime value for all education levels is similar to female customers. Male customers who claim to have a college education have a higher mean in this category in comparison to customers who have Bachelor or graduate level education. However, for male customers who have high school education or a Master's degree, they have a higher standard deviation in their category suggesting variability with might affect the mean values for both columns.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here