# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
# your code goes here
import pandas as pd

In [28]:
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [10]:
#1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

filtered_df = df[(df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')]
filtered_df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [14]:
#2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

# total_claim_amount mean per policy type and gender that == Yes

claim_amount_policy_gender_yes = df[df['Response'] == 'Yes'].pivot_table(values='Total Claim Amount', index='Gender', columns='Policy Type', aggfunc='mean').round(2)
claim_amount_policy_gender_yes

Policy Type  Corporate Auto  Personal Auto  Special Auto
Gender
F                    433.74         452.97        453.28
M                    408.58         457.01        429.53

In [27]:
#3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

customers_per_state = df.pivot_table( values = 'Customer' , index= 'Policy Type' , columns= 'State', aggfunc='count' ).round(2)
customers_per_state

State           Arizona  California  Nevada  Oregon  Washington
Policy Type
Corporate Auto      381         835     219     592         175
Personal Auto      1469        2594     739    2180         682
Special Auto         87         123      35     137          31

In [25]:
#4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

customer_value_per_education_gender = df.pivot_table(values= 'Customer Lifetime Value', index='Gender', columns= 'Education', aggfunc=['max', 'min', 'median']).round(2)
customer_value_per_education_gender

                max                                                     \
Education  Bachelor   College    Doctor High School or Below    Master
Gender
F          73225.96  61850.19  44856.11             55277.45  51016.07
M          67907.27  61134.68  32677.34             83325.38  50568.26

               min                                                   median  \
Education Bachelor  College   Doctor High School or Below   Master Bachelor
Gender
F          1904.00  1898.68  2395.57              2144.92  2417.78  5640.51
M          1898.01  1918.12  2267.60              1940.98  2272.31  5548.03


Education  College   Doctor High School or Below   Master
Gender
F          5623.61  5332.46              6039.55  5729.86
M          6005.85  5577.67              6286.73  5579.10

In [39]:
#5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.
df['Effective To Date'] = pd.to_datetime(df['Effective To Date'])

df['Month'] = df['Effective To Date'].dt.strftime('%b')


policies_per_state_month = df.pivot_table(values= 'Policy Type', index='State', columns= 'Month', aggfunc= 'count', fill_value=0)

policies_per_state_month

Month        Feb   Jan
State
Arizona      929  1008
California  1634  1918
Nevada       442   551
Oregon      1344  1565
Washington   425   463

In [49]:
"""
6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

"""
group_by_state_month = df.groupby(['State', 'Month']).size().reset_index(name='policy_count')
group_by_state_month

        State Month  policy_count
0     Arizona   Feb           929
1     Arizona   Jan          1008
2  California   Feb          1634
3  California   Jan          1918
4      Nevada   Feb           442
5      Nevada   Jan           551
6      Oregon   Feb          1344
7      Oregon   Jan          1565
8  Washington   Feb           425
9  Washington   Jan           463

In [50]:
sorted_group_by_state_month = group_by_state_month.sort_values(by='policy_count', ascending=False)

sorted_group_by_state_month

        State Month  policy_count
3  California   Jan          1918
2  California   Feb          1634
7      Oregon   Jan          1565
6      Oregon   Feb          1344
1     Arizona   Jan          1008
0     Arizona   Feb           929
5      Nevada   Jan           551
9  Washington   Jan           463
4      Nevada   Feb           442
8  Washington   Feb           425

In [58]:
print(df.columns)

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type', 'Month'],
      dtype='object')

In [79]:
"""
7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.
"""

melted_df = df.melt(id_vars=['Sales Channel'], value_vars=['Response'], value_name='Response_Value')

melted_df

      Sales Channel  variable Response_Value
0             Agent  Response             No
1       Call Center  Response             No
2       Call Center  Response             No
3            Branch  Response            Yes
4            Branch  Response             No
...             ...       ...            ...
10905           Web  Response             No
10906        Branch  Response             No
10907           Web  Response             No
10908        Branch  Response             No
10909           Web  Response            NaN

[10910 rows x 3 columns]

In [80]:
yes_responses = melted_df[melted_df['Response_Value'] == 'Yes']

yes_responses

      Sales Channel  variable Response_Value
3            Branch  Response            Yes
8            Branch  Response            Yes
15           Branch  Response            Yes
19      Call Center  Response            Yes
27            Agent  Response            Yes
...             ...       ...            ...
10844         Agent  Response            Yes
10852   Call Center  Response            Yes
10872         Agent  Response            Yes
10887         Agent  Response            Yes
10897         Agent  Response            Yes

[1466 rows x 3 columns]

In [81]:
response_rate = yes_responses.groupby('Sales Channel').size()

response_rate = response_rate.reset_index(name= 'Response Rate')

print(response_rate)

  Sales Channel  Response Rate
0         Agent            742
1        Branch            326
2   Call Center            221
3           Web            177