# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [1]:
import pandas as pd
import numpy as np

In [4]:
#import 

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'

df = pd.read_csv(url, index_col=0)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10910 entries, 0 to 10909
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       10910 non-null  object
 1   State                          10279 non-null  object
 2   Customer Lifetime Value        10910 non-null  float64
 3   Response                       10279 non-null  object
 4   Coverage                       10910 non-null  object
 5   Education                      10910 non-null  object
 6   Effective To Date              10910 non-null  object
 7   EmploymentStatus               10910 non-null  object
 8   Gender                         10910 non-null  object
 9   Income                         10910 non-null  int64
 10  Location Code                  10910 non-null  object
 11  Marital Status                 10910 non-null  object
 12  Monthly Premium Auto           10910 non-null  int64
 13  Months Since Last Claim        10277 non-null  float64
 14  Months Since Policy Inception  10910 non-null  int64
 15  Number of Open Complaints      10277 non-null  float64
 16  Number of Policies             10910 non-null  int64
 17  Policy Type                    10910 non-null  object
 18  Policy                         10910 non-null  object
 19  Renew Offer Type               10910 non-null  object
 20  Sales Channel                  10910 non-null  object
 21  Total Claim Amount             10910 non-null  float64
 22  Vehicle Class                  10288 non-null  object
 23  Vehicle Size                   10288 non-null  object
 24  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(4), object(17)
memory usage: 2.2+ MB

In [ ]:
# number of columns have NAs

df.isna().any().sum()

7

In [42]:
df_clean.isna().sum()

customer                            0
state                               0
customer_lifetime_value             0
response                            0
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           591
months_since_policy_inception       0
number_of_open_complaints         591
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     591
vehicle_size                      591
vehicle_type                     5164
dtype: int64

In [41]:
df_clean.isna().sum(axis=1).value_counts()

1    4591
0    4543
2     556
3     552
5      21
4      16
Name: count, dtype: int64

In [15]:
# Example integrated cleaning function

def clean_format_main(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    # ...add other cleaning steps
    return df

df = clean_format_main(df)

In [52]:
df_clean['total_claim_amount']

0         292.800000
1         744.924331
2         480.000000
3         484.013411
4         707.925645
            ...
10904     897.600000
10905    1214.400000
10906     273.018929
10907     381.306996
10908     618.288849
Name: total_claim_amount, Length: 10279, dtype: float64

In [58]:
df_clean['total_claim_amount'].isna().sum()

0

In [74]:
# drop NAs for response because it is included in the analysis

#1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 
# and have a response of "Yes" to the last marketing campaign.

df_clean = df.dropna(subset = 'response')

condition_response = df_clean['response'] == 'Yes'
condition_claim = df_clean['total_claim_amount'] > 1000
condition_dup = df_clean.duplicated(subset='customer')

df_response = df_clean[condition_claim & condition_response]
df_response

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [82]:
#2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and 
# gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

df_clean_filtered = df_clean[condition_response]
df_grouped = df_clean_filtered.groupby(['gender', 'policy_type']).agg({'customer_lifetime_value':'mean'})
df_grouped

                       customer_lifetime_value
gender policy_type
F      Corporate Auto              7712.628736
       Personal Auto               8339.791842
       Special Auto                7691.584111
M      Corporate Auto              7944.465414
       Personal Auto               7448.383281
       Special Auto                8247.088702

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here