# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [2]:
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df_marketing = pd.read_csv(url)

In [6]:
df_marketing.columns = df_marketing.columns.str.lower().str.replace(' ', '_')
df_marketing.drop(columns=['unnamed:_0'], inplace=True)

In [9]:
# step 1
df_1 = df_marketing[(df_marketing['total_claim_amount']>1000) & (df_marketing['response']=='Yes')]
df_1.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

In [12]:
# step 2
df_2 = df_marketing[df_marketing['response']=='Yes']
df_2 = df_2.pivot_table(index=['gender','policy_type'], values='total_claim_amount', aggfunc='mean')
df_2
# In Males, special auto policies have the highest average claim amounts.
# In males, personal auto policies have the highest average claim amounts.
# Females have higher average claim amounts than males less males with personal auto.

                       total_claim_amount
gender policy_type
F      Corporate Auto          433.738499
       Personal Auto           452.965929
       Special Auto            453.280164
M      Corporate Auto          408.582459
       Personal Auto           457.010178
       Special Auto            429.527942

In [26]:
# step 3

df_customers = df_marketing.groupby('state').size().reset_index(name='customer_count')
df_customers = df_customers[df_customers['customer_count']>500]
df_customers

        state  customer_count
0     Arizona            1937
1  California            3552
2      Nevada             993
3      Oregon            2909
4  Washington             888

In [28]:
# step 4
df_calculate = df_marketing.groupby(['gender', 'education'])['customer_lifetime_value'].agg(['max', 'min', 'median']).reset_index()
df_calculate

  gender             education          max          min       median
0      F              Bachelor  73225.95652  1904.000852  5640.505303
1      F               College  61850.18803  1898.683686  5623.611187
2      F                Doctor  44856.11397  2395.570000  5332.462694
3      F  High School or Below  55277.44589  2144.921535  6039.553187
4      F                Master  51016.06704  2417.777032  5729.855012
5      M              Bachelor  67907.27050  1898.007675  5548.031892
6      M               College  61134.68307  1918.119700  6005.847375
7      M                Doctor  32677.34284  2267.604038  5577.669457
8      M  High School or Below  83325.38119  1940.981221  6286.731006
9      M                Master  50568.25912  2272.307310  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here