# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [9]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df1 = pd.read_csv(url)
display(df1.head())

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [10]:
df1.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [11]:
# 1. Filter customers with a total claim amount greater than $1,000 and a response of "Yes"
filtered_df = df1[(df1['Total Claim Amount'] > 1000) & (df1['Response'] == 'Yes')]

# 2. Analyze the average total claim amount by policy type and gender for customers who responded "Yes"
avg_claim_amount = filtered_df.groupby(['Policy Type', 'Gender'])['Total Claim Amount'].mean()
print("Average Total Claim Amount by Policy Type and Gender for 'Yes' responses:")
print(avg_claim_amount)

# 3. Analyze the total number of customers with policies in each state, filtering states with more than 500 customers
customer_count_by_state = df1.groupby('State').size()
states_with_more_than_500_customers = customer_count_by_state[customer_count_by_state > 500]
print("\nStates with more than 500 customers:")

Average Total Claim Amount by Policy Type and Gender for 'Yes' responses:
Policy Type     Gender
Corporate Auto  F         1138.400000
                M         1171.150007
Personal Auto   F         1214.853805
                M         1137.861443
Special Auto    F         1358.400000
                M         1017.500015
Name: Total Claim Amount, dtype: float64

States with more than 500 customers:

In [12]:
# Group by education level and gender, then calculate maximum, minimum, and median customer lifetime value
summary_stats = df1.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median'])

# Display the summary statistics
print("Summary statistics of Customer Lifetime Value by Education Level and Gender:")
print(summary_stats)

Summary statistics of Customer Lifetime Value by Education Level and Gender:
                                     max          min       median
Education            Gender
Bachelor             F       73225.95652  1904.000852  5640.505303
                     M       67907.27050  1898.007675  5548.031892
College              F       61850.18803  1898.683686  5623.611187
                     M       61134.68307  1918.119700  6005.847375
Doctor               F       44856.11397  2395.570000  5332.462694
                     M       32677.34284  2267.604038  5577.669457
High School or Below F       55277.44589  2144.921535  6039.553187
                     M       83325.38119  1940.981221  6286.731006
Master               F       51016.06704  2417.777032  5729.855012
                     M       50568.25912  2272.307310  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [13]:
# Task 1: Number of policies sold by state and month
policy_count = df1.groupby(['State', 'Effective To Date']).size().unstack(fill_value=0)

# Task 2: Number of policies sold by month, by state, for the top 3 states with the highest number of policies sold
top_states = df1.groupby('State').size().nlargest(3).index
top_states_policy_count = df1[df1['State'].isin(top_states)].groupby(['State', 'Effective To Date']).size().unstack(fill_value=0)

# Task 3: Customer response rate by marketing channel
response_by_channel = pd.melt(df1, id_vars=['Response'], value_vars=['Sales Channel', 'Renew Offer Type'])
response_rate_by_channel = response_by_channel.groupby(['variable', 'Response']).size().unstack(fill_value=0)
response_rate_by_channel['Response Rate'] = response_rate_by_channel['Yes'] / response_rate_by_channel.sum(axis=1)

# Display results
print("Task 1: Number of policies sold by state and month")
print(policy_count)

print("\nTask 2: Number of policies sold by month, by state, for the top 3 states with the highest number of policies sold")
print(top_states_policy_count)

print("\nTask 3: Customer response rate by marketing channel")
print(response_rate_by_channel)

Task 1: Number of policies sold by state and month
Effective To Date  1/1/11  1/10/11  1/11/11  1/12/11  1/13/11  1/14/11  \
State
Arizona                35       34       35       32       35       36
California             56       72       81       49       55       57
Nevada                 13       25       19       12       20       10
Oregon                 42       70       41       36       39       54
Washington             18       21        9       12       13       11

Effective To Date  1/15/11  1/16/11  1/17/11  1/18/11  ...  2/26/11  2/27/11  \
State                                                  ...
Arizona                 29       33       35       37  ...       40       40
California              54       66       60       59  ...       61       64
Nevada                  18       10       14       18  ...       11       20
Oregon                  51       44       77       45  ...       59       55
Washington              15       11       23       13  ...       15       15

Effective To Date  2/28/11  2/3/11  2/4/11  2/5/11  2/6/11  2/7/11  2/8/11  \
State
Arizona                 29      49      48      42      23      30      41
California              49      62      57      55      62      76      39
Nevada                  19      23      17       5      15      11      18
Oregon                  64      37      54      47      43      55      35
Washington              17      12      11      18      21      10      14

Effective To Date  2/9/11
State
Arizona                37
California             59
Nevada                 14
Oregon                 34
Washington             16

[5 rows x 59 columns]

Task 2: Number of policies sold by month, by state, for the top 3 states with the highest number of policies sold
Effective To Date  1/1/11  1/10/11  1/11/11  1/12/11  1/13/11  1/14/11  \
State
Arizona                35       34       35       32       35       36
California             56       72       81       49       55       57
Oregon                 42       70       41       36       39       54

Effective To Date  1/15/11  1/16/11  1/17/11  1/18/11  ...  2/26/11  2/27/11  \
State                                                  ...
Arizona                 29       33       35       37  ...       40       40
California              54       66       60       59  ...       61       64
Oregon                  51       44       77       45  ...       59       55

Effective To Date  2/28/11  2/3/11  2/4/11  2/5/11  2/6/11  2/7/11  2/8/11  \
State
Arizona                 29      49      48      42      23      30      41
California              49      62      57      55      62      76      39
Oregon                  64      37      54      47      43      55      35

Effective To Date  2/9/11
State
Arizona                37
California             59
Oregon                 34

[3 rows x 59 columns]

Task 3: Customer response rate by marketing channel
Response            No   Yes  Response Rate
variable
Renew Offer Type  8813  1466       0.142621
Sales Channel     8813  1466       0.142621

In [14]:
# Task 3: Customer response rate by marketing channel
response_by_channel = pd.melt(df1, id_vars=['Response'], value_vars=['Sales Channel', 'Renew Offer Type'])
response_rate_by_channel = response_by_channel.groupby(['variable', 'Response']).size().unstack(fill_value=0)
response_rate_by_channel['Response Rate'] = response_rate_by_channel['Yes'] / response_rate_by_channel.sum(axis=1)

# Display results for Task 3
print("\nTask 3: Customer response rate by marketing channel")
print(response_rate_by_channel)

Task 3: Customer response rate by marketing channel
Response            No   Yes  Response Rate
variable
Renew Offer Type  8813  1466       0.142621
Sales Channel     8813  1466       0.142621