# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
import pandas as pd

In [3]:
df_customer = pd.read_csv('C:/Users/Andre/OneDrive/Documents/GitHub/lab-dw-data-aggregation-and-filtering/marketing_customer_analysis.csv')
df_customer

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [17]:
df_customer.columns = df_customer.columns.str.lower().str.replace(' ', '_')
if 'total_claim_amount' in df_customer.columns and 'response' in df_customer.columns:
    df_customer_filtered = df_customer[(df_customer['total_claim_amount'] > 1000) & (df_customer['response'] == 'Yes')]
    print(df_customer_filtered)

       unnamed:_0 customer       state  customer_lifetime_value response  \
189           189  OK31456  California             11009.130490      Yes
236           236  YJ16163      Oregon             11009.130490      Yes
419           419  GW43195      Oregon             25807.063000      Yes
442           442  IP94270     Arizona             13736.132500      Yes
587           587  FJ28407  California              5619.689084      Yes
...           ...      ...         ...                      ...      ...
10351       10351  FN44127      Oregon              3508.569533      Yes
10373       10373  XZ64172      Oregon             10963.957230      Yes
10487       10487  IX60941      Oregon              3508.569533      Yes
10565       10565  QO62792      Oregon              7840.165778      Yes
10708       10708  CK39096      Oregon              5619.689084      Yes

       coverage             education effective_to_date employmentstatus  \
189     Premium              Bachelor           1/24/11         Employed
236     Premium              Bachelor           1/24/11         Employed
419    Extended               College           2/13/11         Employed
442     Premium                Master           2/13/11         Disabled
587     Premium  High School or Below           1/26/11       Unemployed
...         ...                   ...               ...              ...
10351  Extended               College            1/5/11    Medical Leave
10373   Premium  High School or Below            2/8/11         Employed
10487  Extended               College            1/5/11    Medical Leave
10565  Extended               College           1/14/11         Employed
10708   Premium  High School or Below           1/26/11       Unemployed

      gender  ...  number_of_open_complaints number_of_policies  \
189        F  ...                        0.0                  1
236        F  ...                        0.0                  1
419        F  ...                        1.0                  2
442        F  ...                        0.0                  8
587        M  ...                        0.0                  1
...      ...  ...                        ...                ...
10351      M  ...                        1.0                  1
10373      M  ...                        0.0                  1
10487      M  ...                        1.0                  1
10565      M  ...                        2.0                  1
10708      M  ...                        0.0                  1

          policy_type        policy  renew_offer_type  sales_channel  \
189    Corporate Auto  Corporate L3            Offer2          Agent
236      Special Auto    Special L3            Offer2          Agent
419     Personal Auto   Personal L2            Offer1         Branch
442     Personal Auto   Personal L2            Offer1            Web
587     Personal Auto   Personal L1            Offer2            Web
...               ...           ...               ...            ...
10351   Personal Auto   Personal L2            Offer2         Branch
10373  Corporate Auto  Corporate L2            Offer1          Agent
10487   Personal Auto   Personal L3            Offer2         Branch
10565   Personal Auto   Personal L3            Offer2          Agent
10708   Personal Auto   Personal L3            Offer2            Web

       total_claim_amount  vehicle_class vehicle_size vehicle_type
189           1358.400000     Luxury Car      Medsize          NaN
236           1358.400000     Luxury Car      Medsize            A
419           1027.200000     Luxury Car        Small            A
442           1261.319869            SUV      Medsize            A
587           1027.000029            SUV      Medsize            A
...                   ...            ...          ...          ...
10351         1176.278800  Four-Door Car        Small          NaN
10373         1324.800000     Luxury SUV      Medsize          NaN
10487         1176.278800  Four-Door Car        Small          NaN
10565         1008.000000            NaN          NaN          NaN
10708         1027.000029            SUV      Medsize            A

[67 rows x 26 columns]

In [16]:
df_customer.columns = df_customer.columns.str.lower().str.replace(' ', '_')
if 'response' in df_customer.columns and 'total_claim_amount' in df_customer.columns and 'policy_type' in df_customer.columns and 'gender' in df_customer.columns:
    df_yes_response = df_customer_filtered[df_customer_filtered['response'] == 'yes']

    avg_claim_by_policy_gender = df_yes_response.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().reset_index()
    print(avg_claim_by_policy_gender)

Empty DataFrame
Columns: [policy_type, gender, total_claim_amount]
Index: []

In [13]:
if 'State' in df_customer.columns:
        customers_per_state = df_customer['State'].value_counts().reset_index()
        customers_per_state.columns = ['State', 'number_of_customers']

        filtered_states = customers_per_state[customers_per_state['number_of_customers'] > 500]

        print("Estados con más de 500 clientes con pólizas:")
        print(filtered_states)

Estados con más de 500 clientes con pólizas:
        State  number_of_customers
0  California                 3552
1      Oregon                 2909
2     Arizona                 1937
3      Nevada                  993
4  Washington                  888

In [18]:
df_customer.columns = df_customer.columns.str.lower().str.replace(' ', '_')

if 'customer_lifetime_value' in df_customer.columns and 'education' in df_customer.columns and 'gender' in df_customer.columns:
    df_customer['customer_lifetime_value'] = pd.to_numeric(df_customer['customer_lifetime_value'], errors='coerce')

    clv_stats = df_customer.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median']).reset_index()

    print(clv_stats)

              education gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5640.505303
1              Bachelor      M  67907.27050  1898.007675  5548.031892
2               College      F  61850.18803  1898.683686  5623.611187
3               College      M  61134.68307  1918.119700  6005.847375
4                Doctor      F  44856.11397  2395.570000  5332.462694
5                Doctor      M  32677.34284  2267.604038  5577.669457
6  High School or Below      F  55277.44589  2144.921535  6039.553187
7  High School or Below      M  83325.38119  1940.981221  6286.731006
8                Master      F  51016.06704  2417.777032  5729.855012
9                Master      M  50568.25912  2272.307310  5579.099207

In [19]:
df_customer.columns = df_customer.columns.str.lower().str.replace(' ', '_')

if 'state' in df_customer.columns and 'effective_to_date' in df_customer.columns:
    df_customer['effective_to_date'] = pd.to_datetime(df_customer['effective_to_date'], errors='coerce')

    df_customer['month'] = df_customer['effective_to_date'].dt.month

    policies_pivot = df_customer.pivot_table(
        values='customer_lifetime_value',  
        index='state',
        columns='month',
        aggfunc='count',
        fill_value=0
    )

    print(policies_pivot)

month          1     2
state
Arizona     1008   929
California  1918  1634
Nevada       551   442
Oregon      1565  1344
Washington   463   425

In [20]:
df_customer.columns = df_customer.columns.str.lower().str.replace(' ', '_')

if 'state' in df_customer.columns and 'effective_to_date' in df_customer.columns:
    df_customer['effective_to_date'] = pd.to_datetime(df_customer['effective_to_date'], errors='coerce')

    df_customer['month'] = df_customer['effective_to_date'].dt.month

    grouped_df = df_customer.groupby(['state', 'month']).size().reset_index(name='number_of_policies_sold')

    total_policies_by_state = grouped_df.groupby('state')['number_of_policies_sold'].sum().reset_index()
    top_3_states = total_policies_by_state.sort_values(by='number_of_policies_sold', ascending=False).head(3)['state']

    filtered_df = grouped_df[grouped_df['state'].isin(top_3_states)]

    print(filtered_df)

        state  month  number_of_policies_sold
0     Arizona      1                     1008
1     Arizona      2                      929
2  California      1                     1918
3  California      2                     1634
6      Oregon      1                     1565
7      Oregon      2                     1344

In [21]:
if 'response' in df_customer.columns and 'sales_channel' in df_customer.columns:
    df_yes_response = df_customer[df_customer['response'] == 'yes']

    response_by_channel = df_yes_response['sales_channel'].value_counts().reset_index()
    response_by_channel.columns = ['marketing_channel', 'number_of_responses']

    total_customers_by_channel = df_customer['sales_channel'].value_counts().reset_index()
    total_customers_by_channel.columns = ['marketing_channel', 'total_customers']

    response_rate_df = pd.merge(response_by_channel, total_customers_by_channel, on='marketing_channel')
    response_rate_df['response_rate'] = (response_rate_df['number_of_responses'] / response_rate_df['total_customers']) * 100

    print("Tasa de respuesta de los clientes por canal de marketing:")
    print(response_rate_df)

Tasa de respuesta de los clientes por canal de marketing:
Empty DataFrame
Columns: [number_of_responses, marketing_channel, total_customers, response_rate]
Index: []