# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)

df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [3]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

filtered_df = df[(df['total_claim_amount'] < 1000) & (df['response'] == 'Yes')]

filtered_df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
15,15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN
19,19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A
27,27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [4]:
responders = df[df['response'] == 'Yes']

# Group by policy_type and gender, then calculate averages
agg_metrics = responders.groupby(['policy_type', 'gender'])[
    ['monthly_premium_auto', 'customer_lifetime_value']
].mean().reset_index()

print(agg_metrics)

      policy_type gender  monthly_premium_auto  customer_lifetime_value
0  Corporate Auto      F             94.301775              7712.628736
1  Corporate Auto      M             92.188312              7944.465414
2   Personal Auto      F             98.998148              8339.791842
3   Personal Auto      M             91.085821              7448.383281
4    Special Auto      F             92.314286              7691.584111
5    Special Auto      M             86.343750              8247.088702

In [5]:
claim_metrics = responders.groupby(['policy_type', 'gender'])[
    'total_claim_amount'
].mean().reset_index()

print(claim_metrics)

      policy_type gender  total_claim_amount
0  Corporate Auto      F          433.738499
1  Corporate Auto      M          408.582459
2   Personal Auto      F          452.965929
3   Personal Auto      M          457.010178
4    Special Auto      F          453.280164
5    Special Auto      M          429.527942

In [ ]:
# Personal Auto - Female is the very profitable for the company, having the highest premium and lifetime value with a moderate claim amount.
# Corporate Auto - Male is also interesting for the company, considering the the lowest claim amount by far.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [10]:
# Count customers by state
state_counts = df['state'].value_counts().reset_index()
state_counts.columns = ['state', 'customer_count']

# Display the full result
print(state_counts)

        state  customer_count
0  California            3552
1      Oregon            2909
2     Arizona            1937
3      Nevada             993
4  Washington             888

In [ ]:
# All 5 states have more than 500 customers

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [ ]:

clv_stats = df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median']).reset_index()

print(clv_stats)

              education gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5640.505303
1              Bachelor      M  67907.27050  1898.007675  5548.031892
2               College      F  61850.18803  1898.683686  5623.611187
3               College      M  61134.68307  1918.119700  6005.847375
4                Doctor      F  44856.11397  2395.570000  5332.462694
5                Doctor      M  32677.34284  2267.604038  5577.669457
6  High School or Below      F  55277.44589  2144.921535  6039.553187
7  High School or Below      M  83325.38119  1940.981221  6286.731006
8                Master      F  51016.06704  2417.777032  5729.855012
9                Master      M  50568.25912  2272.307310  5579.099207

In [14]:
clv_stats_sorted = clv_stats.sort_values(by='median').reset_index(drop=True)
print(clv_stats_sorted)

              education gender          max          min       median
0                Doctor      F  44856.11397  2395.570000  5332.462694
1              Bachelor      M  67907.27050  1898.007675  5548.031892
2                Doctor      M  32677.34284  2267.604038  5577.669457
3                Master      M  50568.25912  2272.307310  5579.099207
4               College      F  61850.18803  1898.683686  5623.611187
5              Bachelor      F  73225.95652  1904.000852  5640.505303
6                Master      F  51016.06704  2417.777032  5729.855012
7               College      M  61134.68307  1918.119700  6005.847375
8  High School or Below      F  55277.44589  2144.921535  6039.553187
9  High School or Below      M  83325.38119  1940.981221  6286.731006

In [15]:
clv_stats_sorted = clv_stats.sort_values(by='education').reset_index(drop=True)
print(clv_stats_sorted)

              education gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5640.505303
1              Bachelor      M  67907.27050  1898.007675  5548.031892
2               College      F  61850.18803  1898.683686  5623.611187
3               College      M  61134.68307  1918.119700  6005.847375
4                Doctor      F  44856.11397  2395.570000  5332.462694
5                Doctor      M  32677.34284  2267.604038  5577.669457
6  High School or Below      F  55277.44589  2144.921535  6039.553187
7  High School or Below      M  83325.38119  1940.981221  6286.731006
8                Master      F  51016.06704  2417.777032  5729.855012
9                Master      M  50568.25912  2272.307310  5579.099207

In [16]:
clv_stats_sorted = clv_stats.sort_values(by='gender').reset_index(drop=True)
print(clv_stats_sorted)

              education gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5640.505303
1               College      F  61850.18803  1898.683686  5623.611187
2                Doctor      F  44856.11397  2395.570000  5332.462694
3  High School or Below      F  55277.44589  2144.921535  6039.553187
4                Master      F  51016.06704  2417.777032  5729.855012
5              Bachelor      M  67907.27050  1898.007675  5548.031892
6               College      M  61134.68307  1918.119700  6005.847375
7                Doctor      M  32677.34284  2267.604038  5577.669457
8  High School or Below      M  83325.38119  1940.981221  6286.731006
9                Master      M  50568.25912  2272.307310  5579.099207

In [23]:
clv_stats_education = df.groupby('education')['customer_lifetime_value'].agg(['max', 'min', 'median']).reset_index()

print(clv_stats_education)

              education          max          min       median
0              Bachelor  73225.95652  1898.007675  5579.380404
1               College  61850.18803  1898.683686  5813.629209
2                Doctor  44856.11397  2267.604038  5423.136755
3  High School or Below  83325.38119  1940.981221  6189.348131
4                Master  51016.06704  2272.307310  5680.467468

In [24]:
clv_stats_sorted = clv_stats_education.sort_values(by='median', ascending=False).reset_index(drop=True)

print(clv_stats_sorted)

              education          max          min       median
0  High School or Below  83325.38119  1940.981221  6189.348131
1               College  61850.18803  1898.683686  5813.629209
2                Master  51016.06704  2272.307310  5680.467468
3              Bachelor  73225.95652  1898.007675  5579.380404
4                Doctor  44856.11397  2267.604038  5423.136755

In [ ]:
# There is no significant difference between Female and Male.
# The lowest is the education level, the highest is the lifetime value with exception for Bachelor

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here