# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
# 1. Import df:

import pandas as pd

# Load dataset from an online source:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
mkt_cust_analisys_df = pd.read_csv(url)

In [12]:
#  Comprobe data in df
mkt_cust_analisys_df.head()

,id,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,EmploymentStatus,Gender,...,Number_of_Open_Complaints,Number_of_Policies,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [11]:
#Clean columns with unformated data

mkt_cust_analisys_df.rename(columns={'Unnamed: 0': 'id'}, inplace=True)

# White spaces in column names have been replaced by "_":

mkt_cust_analisys_df.columns = mkt_cust_analisys_df.columns.str.replace(' ','_')

In [13]:
# New DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

# Filter the DataFrame based on the conditions
filtered_mkt_ca_df = mkt_cust_analisys_df[(mkt_cust_analisys_df['Total_Claim_Amount'] > 1000) & (mkt_cust_analisys_df['Response'] == 'Yes')]

filtered_mkt_ca_df

,id,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,EmploymentStatus,Gender,...,Number_of_Open_Complaints,Number_of_Policies,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [14]:
# 2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers
#who have responded "Yes" to the last marketing campaign. Write your conclusions.

# Filter the original DataFrame to include only customers who have responded "Yes" to the last marketing campaign
filtered_mkt_ca_df = mkt_cust_analisys_df[mkt_cust_analisys_df['Response'] == 'Yes']

# Group the filtered DataFrame by policy type and gender, and calculate the average total_claim_amount for group
analysis_df = filtered_mkt_ca_df.groupby(['Policy_Type', 'Gender'])['Total_Claim_Amount'].mean().reset_index()

# Print the analysis DataFrame
analysis_df

      Policy_Type Gender  Total_Claim_Amount
0  Corporate Auto      F          433.738499
1  Corporate Auto      M          408.582459
2   Personal Auto      F          452.965929
3   Personal Auto      M          457.010178
4    Special Auto      F          453.280164
5    Special Auto      M          429.527942

In [15]:
# 3. Analyze the total number of customers who have policies in each state, and then filter the results to only 
#include states where there are more than 500 customers.

# Group the DataFrame by state and count the number of customers in each state
state_counts = mkt_cust_analisys_df.groupby('State').size().reset_index(name='Total_Customers')

# Filter the results to include only states where there are more than 500 customers
filtered_states = state_counts[state_counts['Total_Customers'] > 500]

# Print the filtered DataFrame
filtered_states

        State  Total_Customers
0     Arizona             1937
1  California             3552
2      Nevada              993
3      Oregon             2909
4  Washington              888

In [16]:
# 4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write conclusions.

# Group the DataFrame by 'Education' and 'Gender', and calculate the max, min, and median cust. lifetime value
cust_l_v_df = mkt_cust_analisys_df.groupby(['Education', 'Gender'])['Customer_Lifetime_Value'].agg(['max', 'min', 'median']).reset_index()

cust_l_v_df

              Education Gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5640.505303
1              Bachelor      M  67907.27050  1898.007675  5548.031892
2               College      F  61850.18803  1898.683686  5623.611187
3               College      M  61134.68307  1918.119700  6005.847375
4                Doctor      F  44856.11397  2395.570000  5332.462694
5                Doctor      M  32677.34284  2267.604038  5577.669457
6  High School or Below      F  55277.44589  2144.921535  6039.553187
7  High School or Below      M  83325.38119  1940.981221  6286.731006
8                Master      F  51016.06704  2417.777032  5729.855012
9                Master      M  50568.25912  2272.307310  5579.099207

In [20]:
# 5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a 
#table where the months are arranged as columns and the states are arranged as rows.

# Pivot the DataFrame to arrange months as columns and states as rows, and count the number of policies sold

mkt_ca_policies_df = mkt_cust_analisys_df.pivot_table(index='State', columns='Months_Since_Policy_Inception', values='Number_of_Policies', aggfunc='count')

mkt_ca_policies_df

Months_Since_Policy_Inception,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
State,,,,,,,,,,,,,,,,,,,,,
Arizona,16,11,14,28,17,19,19,13,17,19,...,15,20,21,21,26,16,11,9,14,24
California,45,34,27,38,37,32,27,33,33,44,...,28,19,22,27,26,28,26,20,20,32
Nevada,9,10,9,11,15,5,5,16,16,14,...,14,12,2,13,2,19,8,6,5,9
Oregon,21,27,40,40,27,29,25,25,22,32,...,22,28,30,30,18,17,21,18,13,16
Washington,6,10,8,13,9,8,5,7,7,3,...,13,10,10,11,7,8,8,3,7,9

In [24]:
# 6. Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with 
# the highest number of policies sold.

# Group the data by 'State' and 'Month' and count the number of policies sold
policy_count_by_state_month = mkt_cust_analisys_df.groupby(['State', 'Months_Since_Policy_Inception']).size().reset_index(name='Policy_Count')

# Sort the data by the count of policies sold in descending order
policy_count_by_state_month_sorted = policy_count_by_state_month.sort_values(by='Policy_Count', ascending=False)

# Get the top 3 states with the highest number of policies sold
top_3_states = policy_count_by_state_month_sorted['State'].unique()[:3]

array(['California', 'Oregon', 'Arizona'], dtype=object)

In [26]:
# Filter the original DataFrame to include only data for the top 3 states
filtered_df = mkt_cust_analisys_df[mkt_cust_analisys_df['State'].isin(top_3_states)]

filtered_df

,id,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,EmploymentStatus,Gender,...,Number_of_Open_Complaints,Number_of_Policies,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
6,6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,10902,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,...,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
10903,10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

In [28]:
# Pivot the filtered DataFrame to display the number of policies sold by month, by state
pivot_df = filtered_df.pivot_table(index='State', columns='Months_Since_Policy_Inception', values='Number_of_Policies', aggfunc='sum')

pivot_df

Months_Since_Policy_Inception,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
State,,,,,,,,,,,,,,,,,,,,,
Arizona,53,44,36,67,43,54,70,27,61,44,...,40,55,47,53,92,33,17,18,34,70
California,189,107,70,114,143,80,92,87,93,143,...,87,50,60,63,70,63,76,50,58,117
Oregon,54,99,123,91,67,88,73,88,83,95,...,54,119,97,82,54,57,62,67,50,59

In [30]:
# 7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

# Filter the DataFrame to include only relevant columns (marketing channel and response)
filtered_df = mkt_cust_analisys_df[['Sales_Channel', 'Response']]

# Count the number of customers who responded "Yes" for each marketing channel
response_counts = filtered_df[filtered_df['Response'] == 'Yes'].groupby('Sales_Channel').size()

response_counts

Sales_Channel
Agent          742
Branch         326
Call Center    221
Web            177
dtype: int64

In [31]:
# Calculate the total number of customers for each marketing channel
total_customers = filtered_df.groupby('Sales_Channel').size()

# Calculate the response rate for each marketing channel
response_rate = (response_counts / total_customers) * 100

# Reset index to convert the groupby result into a DataFrame
response_rate_df = response_rate.reset_index()

# Rename columns for clarity
response_rate_df.columns = ['Sales_Channel', 'Response_Rate']
response_rate_df

  Sales_Channel  Response_Rate
0         Agent      18.005339
1        Branch      10.787558
2   Call Center      10.322279
3           Web      10.885609