# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [19]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)

df.columns = df.columns.str.lower().str.replace(' ', '_')

new_df = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]
print("\nFiltered DataFrame with total claim amount greater than $1,000 and response as 'Yes':")
display(filtered_df.head())

avg_claim_by_policy_gender = df[df['response'] == 'Yes'].pivot_table(
    index='policy_type',
    columns='gender',
    values='total_claim_amount',
    aggfunc='mean'
)
print("\nAverage Total Claim Amount by Policy Type and Gender for 'Yes' respondents:")
display(avg_claim_by_policy_gender)

customer_count_by_state = df['state'].value_counts()
states_above_500 = customer_count_by_state[customer_count_by_state > 500]
print("\nStates with more than 500 customers:")
display(states_above_500)

clv_stats_by_education_gender = df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median'])
print("\nCustomer Lifetime Value statistics by Education Level and Gender:")
display(clv_stats_by_education_gender)

Filtered DataFrame with total claim amount greater than $1,000 and response as 'Yes':

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

Average Total Claim Amount by Policy Type and Gender for 'Yes' respondents:

gender                   F           M
policy_type
Corporate Auto  433.738499  408.582459
Personal Auto   452.965929  457.010178
Special Auto    453.280164  429.527942

States with more than 500 customers:

state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

Customer Lifetime Value statistics by Education Level and Gender:

                                     max          min       median
education            gender
Bachelor             F       73225.95652  1904.000852  5640.505303
                     M       67907.27050  1898.007675  5548.031892
College              F       61850.18803  1898.683686  5623.611187
                     M       61134.68307  1918.119700  6005.847375
Doctor               F       44856.11397  2395.570000  5332.462694
                     M       32677.34284  2267.604038  5577.669457
High School or Below F       55277.44589  2144.921535  6039.553187
                     M       83325.38119  1940.981221  6286.731006
Master               F       51016.06704  2417.777032  5729.855012
                     M       50568.25912  2272.307310  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [41]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

df['effective_to_date'] = pd.to_datetime(df['effective_to_date'], errors='coerce')

if 'effective_to_date' in df.columns:
    df['month'] = df['effective_to_date'].dt.month

policies_by_state_month = df.groupby(['state', 'month']).size().unstack(fill_value=0)

display("\nPolicies Sold by State and Month:\n", policies_by_state_month)

top_3_states = policies_by_state_month.sum(axis=1).nlargest(3).index
print("\nTop 3 States with the Highest Policy Sales:\n", top_3_states)

top_states_df = policies_by_state_month.loc[top_3_states]
display("\nNumber of Policies Sold by Month for Top 3 States:\n", top_states_df)

response_by_channel = df[df['response'] == 'Yes'].groupby('sales_channel').size()
total_by_channel = df.groupby('sales_channel').size()

response_rate = (response_by_channel / total_by_channel).fillna(0).reset_index(name='response_rate')

print("\nCustomer Response Rate by Marketing Channel:\n", response_rate.sort_values(by='response_rate', ascending=False))

'\nPolicies Sold by State and Month:\n'

month          1     2
state
Arizona     1008   929
California  1918  1634
Nevada       551   442
Oregon      1565  1344
Washington   463   425

Top 3 States with the Highest Policy Sales:
 Index(['California', 'Oregon', 'Arizona'], dtype='object', name='state')

'\nNumber of Policies Sold by Month for Top 3 States:\n'

month          1     2
state
California  1918  1634
Oregon      1565  1344
Arizona     1008   929

Customer Response Rate by Marketing Channel:
   sales_channel  response_rate
0         Agent       0.180053
3           Web       0.108856
1        Branch       0.107876
2   Call Center       0.103223