# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)

In [2]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [3]:
numerical_columns = df.select_dtypes(include=[int, float]).columns
df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].mean())

In [4]:
categorical_columns = df.select_dtypes(include=object).columns
df[categorical_columns] = df[categorical_columns].fillna("Unknown")

In [5]:
df["effective_to_date"] = pd.to_datetime(df["effective_to_date"])
df["month"] = df["effective_to_date"].dt.month

In [6]:
1#
filtered_df = df[(df["total_claim_amount"] > 1000) & (df["response"] == "Yes")]
filtered_df.reset_index(drop=True, inplace=True)
print(filtered_df)

    unnamed:_0 customer       state  customer_lifetime_value response  \
0          189  OK31456  California             11009.130490      Yes
1          236  YJ16163      Oregon             11009.130490      Yes
2          419  GW43195      Oregon             25807.063000      Yes
3          442  IP94270     Arizona             13736.132500      Yes
4          587  FJ28407  California              5619.689084      Yes
..         ...      ...         ...                      ...      ...
62       10351  FN44127      Oregon              3508.569533      Yes
63       10373  XZ64172      Oregon             10963.957230      Yes
64       10487  IX60941      Oregon              3508.569533      Yes
65       10565  QO62792      Oregon              7840.165778      Yes
66       10708  CK39096      Oregon              5619.689084      Yes

    coverage             education effective_to_date employmentstatus gender  \
0    Premium              Bachelor        2011-01-24         Employed      F
1    Premium              Bachelor        2011-01-24         Employed      F
2   Extended               College        2011-02-13         Employed      F
3    Premium                Master        2011-02-13         Disabled      F
4    Premium  High School or Below        2011-01-26       Unemployed      M
..       ...                   ...               ...              ...    ...
62  Extended               College        2011-01-05    Medical Leave      M
63   Premium  High School or Below        2011-02-08         Employed      M
64  Extended               College        2011-01-05    Medical Leave      M
65  Extended               College        2011-01-14         Employed      M
66   Premium  High School or Below        2011-01-26       Unemployed      M

    ...  number_of_policies     policy_type        policy  renew_offer_type  \
0   ...                   1  Corporate Auto  Corporate L3            Offer2
1   ...                   1    Special Auto    Special L3            Offer2
2   ...                   2   Personal Auto   Personal L2            Offer1
3   ...                   8   Personal Auto   Personal L2            Offer1
4   ...                   1   Personal Auto   Personal L1            Offer2
..  ...                 ...             ...           ...               ...
62  ...                   1   Personal Auto   Personal L2            Offer2
63  ...                   1  Corporate Auto  Corporate L2            Offer1
64  ...                   1   Personal Auto   Personal L3            Offer2
65  ...                   1   Personal Auto   Personal L3            Offer2
66  ...                   1   Personal Auto   Personal L3            Offer2

    sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0           Agent         1358.400000     Luxury Car       Medsize
1           Agent         1358.400000     Luxury Car       Medsize
2          Branch         1027.200000     Luxury Car         Small
3             Web         1261.319869            SUV       Medsize
4             Web         1027.000029            SUV       Medsize
..            ...                 ...            ...           ...
62         Branch         1176.278800  Four-Door Car         Small
63          Agent         1324.800000     Luxury SUV       Medsize
64         Branch         1176.278800  Four-Door Car         Small
65          Agent         1008.000000        Unknown       Unknown
66            Web         1027.000029            SUV       Medsize

   vehicle_type month
0       Unknown     1
1             A     1
2             A     2
3             A     2
4             A     1
..          ...   ...
62      Unknown     1
63      Unknown     2
64      Unknown     1
65      Unknown     1
66            A     1

[67 rows x 27 columns]

In [7]:
2#
filtered_df = df[df["response"] == "Yes"]
average_claim_amount_by_policy_gender = filtered_df.groupby(["policy", "gender"])["total_claim_amount"].mean().reset_index()
print(average_claim_amount_by_policy_gender)

          policy gender  total_claim_amount
0   Corporate L1      F          463.942272
1   Corporate L1      M          426.482338
2   Corporate L2      F          441.345018
3   Corporate L2      M          427.988391
4   Corporate L3      F          421.231615
5   Corporate L3      M          391.613774
6    Personal L1      F          485.125282
7    Personal L1      M          464.620881
8    Personal L2      F          439.905973
9    Personal L2      M          459.430442
10   Personal L3      F          447.076355
11   Personal L3      M          452.948421
12    Special L1      F          471.344049
13    Special L1      M          476.390378
14    Special L2      F          396.625189
15    Special L2      M          466.855864
16    Special L3      F          495.566135
17    Special L3      M          404.747560

In [8]:
3#
customers_per_state = df.groupby("state")["customer"].count().reset_index()
states_with_more_than_500_customers = customers_per_state[customers_per_state["customer"] > 500]
print(states_with_more_than_500_customers)

        state  customer
0     Arizona      1937
1  California      3552
2      Nevada       993
3      Oregon      2909
4     Unknown       631
5  Washington       888

In [9]:
4#
median_clv_by_education_gender = df.groupby(["education", "gender"])["customer_lifetime_value"].median().reset_index()
print(median_clv_by_education_gender)

              education gender  customer_lifetime_value
0              Bachelor      F              5640.505303
1              Bachelor      M              5548.031892
2               College      F              5623.611187
3               College      M              6005.847375
4                Doctor      F              5332.462694
5                Doctor      M              5577.669457
6  High School or Below      F              6039.553187
7  High School or Below      M              6286.731006
8                Master      F              5729.855012
9                Master      M              5579.099207

In [10]:
5#
complaints_stats_by_state_policy = df.groupby(["state", "policy"])["number_of_open_complaints"].agg(['max', 'min', 'mean']).reset_index()
print(complaints_stats_by_state_policy)

         state        policy  max  min      mean
0      Arizona  Corporate L1  3.0  0.0  0.151359
1      Arizona  Corporate L2  5.0  0.0  0.353563
2      Arizona  Corporate L3  5.0  0.0  0.433426
3      Arizona   Personal L1  4.0  0.0  0.305303
4      Arizona   Personal L2  5.0  0.0  0.510795
5      Arizona   Personal L3  5.0  0.0  0.354010
6      Arizona    Special L1  3.0  0.0  0.270740
7      Arizona    Special L2  3.0  0.0  0.318651
8      Arizona    Special L3  2.0  0.0  0.162380
9   California  Corporate L1  4.0  0.0  0.317525
10  California  Corporate L2  3.0  0.0  0.275783
11  California  Corporate L3  4.0  0.0  0.330109
12  California   Personal L1  5.0  0.0  0.443643
13  California   Personal L2  5.0  0.0  0.383748
14  California   Personal L3  5.0  0.0  0.397578
15  California    Special L1  4.0  0.0  0.376028
16  California    Special L2  5.0  0.0  0.423847
17  California    Special L3  5.0  0.0  0.489005
18      Nevada  Corporate L1  3.0  0.0  0.334710
19      Nevada  Corporate L2  5.0  0.0  0.374048
20      Nevada  Corporate L3  5.0  0.0  0.558911
21      Nevada   Personal L1  5.0  0.0  0.372719
22      Nevada   Personal L2  5.0  0.0  0.396576
23      Nevada   Personal L3  4.0  0.0  0.420396
24      Nevada    Special L1  3.0  0.0  0.600000
25      Nevada    Special L2  5.0  0.0  0.722222
26      Nevada    Special L3  5.0  0.0  0.416667
27      Oregon  Corporate L1  4.0  0.0  0.513889
28      Oregon  Corporate L2  4.0  0.0  0.290443
29      Oregon  Corporate L3  4.0  0.0  0.319544
30      Oregon   Personal L1  5.0  0.0  0.292478
31      Oregon   Personal L2  5.0  0.0  0.397167
32      Oregon   Personal L3  5.0  0.0  0.386324
33      Oregon    Special L1  5.0  0.0  0.714286
34      Oregon    Special L2  4.0  0.0  0.256393
35      Oregon    Special L3  3.0  0.0  0.380241
36     Unknown  Corporate L1  3.0  0.0  0.182407
37     Unknown  Corporate L2  1.0  0.0  0.179475
38     Unknown  Corporate L3  3.0  0.0  0.365866
39     Unknown   Personal L1  5.0  0.0  0.425617
40     Unknown   Personal L2  5.0  0.0  0.515029
41     Unknown   Personal L3  5.0  0.0  0.376623
42     Unknown    Special L1  1.0  0.0  0.250000
43     Unknown    Special L2  5.0  0.0  0.626322
44     Unknown    Special L3  3.0  0.0  0.300000
45  Washington  Corporate L1  5.0  0.0  0.619213
46  Washington  Corporate L2  4.0  0.0  0.516707
47  Washington  Corporate L3  4.0  0.0  0.448554
48  Washington   Personal L1  5.0  0.0  0.317518
49  Washington   Personal L2  5.0  0.0  0.358172
50  Washington   Personal L3  5.0  0.0  0.424581
51  Washington    Special L1  1.0  0.0  0.400000
52  Washington    Special L2  4.0  0.0  0.500000
53  Washington    Special L3  4.0  0.0  0.916667

In [11]:
#6
policies_by_state_and_month = df.pivot_table(index='state', columns='month', values='policy', aggfunc='count', fill_value=0)
print(policies_by_state_and_month)

month          1     2
state
Arizona     1008   929
California  1918  1634
Nevada       551   442
Oregon      1565  1344
Unknown      313   318
Washington   463   425

In [12]:
#7
policies_by_state_month = df.groupby(['state', 'month'])['policy'].count().reset_index()
sorted_policies = policies_by_state_month.sort_values(by='policy', ascending=False)
top_3_states = sorted_policies['state'].unique()[:3]
top_3_states_policies = sorted_policies[sorted_policies['state'].isin(top_3_states)]
policies_by_month_top_states = top_3_states_policies.pivot_table(index='state', columns='month', values='policy', fill_value=0)
print(policies_by_month_top_states)

month          1     2
state
Arizona     1008   929
California  1918  1634
Oregon      1565  1344

In [15]:
#8
unpivoted_df = pd.melt(df, id_vars='sales_channel', value_vars='response', value_name='response')
positive_responses_df = unpivoted_df[unpivoted_df['response'] == 'Yes']
customer_response_rate = positive_responses_df.groupby('sales_channel')['response'].count() / df.groupby('sales_channel')['response'].count()
response_rate_by_channel = pd.DataFrame({'customer_response_rate': customer_response_rate}).reset_index()
print(response_rate_by_channel)

  sales_channel  customer_response_rate
0         Agent                0.180053
1        Branch                0.107876
2   Call Center                0.103223
3           Web                0.108856

/var/folders/wj/9yy2qymx1q58s3n2gkl01vj00000gn/T/ipykernel_138/417164676.py:2: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  unpivoted_df = pd.melt(df, id_vars='sales_channel', value_vars='response', value_name='response')