# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [20]:
import pandas as pd

# Load the dataset
url = "https://github.com/SarahRestrepo/Lab-Customer_Analysis/blob/main/files_for_lab/csv_files/marketing_customer_analysis.csv?raw=true"
df = pd.read_csv(url)
df.head()
df.columns
# Create the new DataFrame
filtered_df = df[(df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')]

display(filtered_df)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [24]:
# Filter for customers who responded "Yes"
yes_response_df = df[df['Response'] == 'Yes']

# Group by policy type and gender and calculate the mean
average_claim = yes_response_df.groupby(['Policy Type', 'Gender'])['Total Claim Amount'].mean().reset_index()

display(average_claim)

      Policy Type Gender  Total Claim Amount
0  Corporate Auto      F          433.738499
1  Corporate Auto      M          408.582459
2   Personal Auto      F          452.965929
3   Personal Auto      M          457.010178
4    Special Auto      F          453.280164
5    Special Auto      M          429.527942

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [26]:
# Group by state and count the number of customers
customers_by_state = df.groupby('State')['Customer'].count().reset_index()

# Filter states with more than 500 customers
states_over_500 = customers_by_state[customers_by_state['Customer'] > 500]

display(states_over_500)

        State  Customer
0     Arizona      1937
1  California      3552
2      Nevada       993
3      Oregon      2909
4  Washington       888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [28]:
# Group by education and gender and calculate max, min, and median
clv_stats = df.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median']).reset_index()

display(clv_stats)

              Education Gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5640.505303
1              Bachelor      M  67907.27050  1898.007675  5548.031892
2               College      F  61850.18803  1898.683686  5623.611187
3               College      M  61134.68307  1918.119700  6005.847375
4                Doctor      F  44856.11397  2395.570000  5332.462694
5                Doctor      M  32677.34284  2267.604038  5577.669457
6  High School or Below      F  55277.44589  2144.921535  6039.553187
7  High School or Below      M  83325.38119  1940.981221  6286.731006
8                Master      F  51016.06704  2417.777032  5729.855012
9                Master      M  50568.25912  2272.307310  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [30]:
# your code goes here

In [44]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)

# Ensure 'Effective To Date' is in datetime format
df['Effective To Date'] = pd.to_datetime(df['Effective To Date'])

# Extract month and year for grouping
df['Month'] = df['Effective To Date'].dt.month
df['Year'] = df['Effective To Date'].dt.year

# Group by state and month, then count the number of policies
policies_by_state_month = df.groupby(['State', 'Year', 'Month']).size().unstack(fill_value=0)

# Display the grouped data
from IPython.display import display
display(policies_by_state_month)

# Sum the policies sold by state
total_policies_by_state = policies_by_state_month.sum(axis=1).sort_values(ascending=False)

# Get the top 3 states
top_3_states = total_policies_by_state.head(3).index

# Filter the original grouped data for the top 3 states
top_3_states_policies = policies_by_state_month.loc[top_3_states]

# Display the policies for top 3 states
display(top_3_states_policies)

# Inspect unique values in the 'Response' column
response_unique_values = df['Response'].unique()
print("Unique values in 'Response' column:", response_unique_values)

# Analyzing the effect of different marketing channels on the customer response rate
# Assuming we have columns for different marketing channels like 'channel_A', 'channel_B', etc., and a 'Response' column

# Melting the data to unpivot marketing channels into a single column
channel_columns = [col for col in df.columns if 'channel_' in col]
melted_df = df.melt(id_vars=['Response'], value_vars=channel_columns, var_name='Marketing Channel', value_name='Channel Used')

# Filter for rows where the channel was used (value is 1)
melted_df = melted_df[melted_df['Channel Used'] == 1]

# Group by marketing channel and calculate the response rate
response_rate_by_channel = melted_df.groupby('Marketing Channel')['Response'].value_counts(normalize=True).unstack().fillna(0)

# Display the response rate by marketing channel
display(response_rate_by_channel)

# Identify the positive response value, assuming it's the first unique value for now
positive_response_value = response_unique_values[0]  # Adjust this if needed
response_rate_by_channel_positive = response_rate_by_channel[positive_response_value]

# Display the response rate for positive responses
display(response_rate_by_channel_positive)

C:\Users\ampob\AppData\Local\Temp\ipykernel_27580\1796678768.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Effective To Date'] = pd.to_datetime(df['Effective To Date'])

Month               1     2
State      Year
Arizona    2011  1008   929
California 2011  1918  1634
Nevada     2011   551   442
Oregon     2011  1565  1344
Washington 2011   463   425

Month               1     2
State      Year
California 2011  1918  1634
Oregon     2011  1565  1344
Arizona    2011  1008   929

Unique values in 'Response' column: ['No' 'Yes' nan]

Empty DataFrame
Columns: []
Index: []

KeyError: 'No'