# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df =pd.read_csv(url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10279 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             10910 non-null  float64
 23  Vehicle Class                  10288 non-null  object
 24  Vehicle Size                   10288 non-null  object
 25  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [2]:
df_a=df[df['Total Claim Amount'] > 1000]

In [3]:
df["response"]=df['Response']=="Yes"

In [4]:
df_a==df[df['Response']=="Yes"]

ValueError: Can only compare identically-labeled (both index and columns) DataFrame objects

In [ ]:
#df_a = df[(df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')]
df_a

In [ ]:
df_a.info()

In [ ]:
#Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and 
#have a response of "Yes" to the last marketing campaign.

df_a.groupby("Total Claim Amount").agg({"Response":"count"}).reset_index()

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [ ]:
df.info()

In [7]:
df.groupby(["Policy Type","Gender"]).agg({"Total Claim Amount":"mean","response":"count"}).reset_index()

      Policy Type Gender  Total Claim Amount  response
0  Corporate Auto      F          397.799287      1183
1  Corporate Auto      M          462.223565      1158
2   Personal Auto      F          413.239658      4152
3   Personal Auto      M          459.919476      3976
4    Special Auto      F          458.139623       238
5    Special Auto      M          420.355202       203

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [33]:
grouped_state=df.groupby(["State", "Policy"]).agg({"Customer":"count"}).reset_index()
grouped_state

         State        Policy  Customer
0      Arizona  Corporate L1        62
1      Arizona  Corporate L2       119
2      Arizona  Corporate L3       200
3      Arizona   Personal L1       293
4      Arizona   Personal L2       434
5      Arizona   Personal L3       742
6      Arizona    Special L1        25
7      Arizona    Special L2        35
8      Arizona    Special L3        27
9   California  Corporate L1       164
10  California  Corporate L2       246
11  California  Corporate L3       425
12  California   Personal L1       439
13  California   Personal L2       905
14  California   Personal L3      1250
15  California    Special L1        18
16  California    Special L2        49
17  California    Special L3        56
18      Nevada  Corporate L1        37
19      Nevada  Corporate L2        73
20      Nevada  Corporate L3       109
21      Nevada   Personal L1       136
22      Nevada   Personal L2       212
23      Nevada   Personal L3       391
24      Nevada    Special L1         5
25      Nevada    Special L2        18
26      Nevada    Special L3        12
27      Oregon  Corporate L1        94
28      Oregon  Corporate L2       174
29      Oregon  Corporate L3       324
30      Oregon   Personal L1       405
31      Oregon   Personal L2       618
32      Oregon   Personal L3      1157
33      Oregon    Special L1        21
34      Oregon    Special L2        63
35      Oregon    Special L3        53
36  Washington  Corporate L1        40
37  Washington  Corporate L2        46
38  Washington  Corporate L3        89
39  Washington   Personal L1       125
40  Washington   Personal L2       230
41  Washington   Personal L3       327
42  Washington    Special L1         5
43  Washington    Special L2        14
44  Washington    Special L3        12

In [38]:
df_2=grouped_state[(grouped_state["Customer"]>500)==True]
df_2

         State       Policy  Customer
5      Arizona  Personal L3       742
13  California  Personal L2       905
14  California  Personal L3      1250
31      Oregon  Personal L2       618
32      Oregon  Personal L3      1157

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [47]:
df.groupby(["Education","Gender"]).agg({"Customer Lifetime Value":["min","max","median"]}).reset_index()

              Education Gender Customer Lifetime Value               \
                                                   min          max
0              Bachelor      F             1904.000852  73225.95652
1              Bachelor      M             1898.007675  67907.27050
2               College      F             1898.683686  61850.18803
3               College      M             1918.119700  61134.68307
4                Doctor      F             2395.570000  44856.11397
5                Doctor      M             2267.604038  32677.34284
6  High School or Below      F             2144.921535  55277.44589
7  High School or Below      M             1940.981221  83325.38119
8                Master      F             2417.777032  51016.06704
9                Master      M             2272.307310  50568.25912


        median
0  5640.505303
1  5548.031892
2  5623.611187
3  6005.847375
4  5332.462694
5  5577.669457
6  6039.553187
7  6286.731006
8  5729.855012
9  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

#### Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.