# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [119]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"

data_mca = pd.read_csv(url)

In [120]:
data_mca.columns = data_mca.columns.str.replace(' ', '_')
data_mca.columns = data_mca.columns.str.lower()

In [121]:
data_mca["gender"].value_counts()

gender
F    5573
M    5337
Name: count, dtype: int64

In [122]:
data_mca = data_mca.drop(columns=['unnamed:_0'])
data_mca.duplicated().sum()

np.int64(37)

In [123]:
#Keeping only the first occurrence of each duplicated row
data_mca = data_mca.drop_duplicates(subset=['customer'], keep='first')
data_mca.duplicated().sum()

np.int64(0)

In [124]:
data_mca.isnull().sum()

customer                            0
state                             290
customer_lifetime_value             0
response                          290
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           287
months_since_policy_inception       0
number_of_open_complaints         287
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     267
vehicle_size                      267
vehicle_type                     4608
dtype: int64

In [125]:
# Fill missing values with ratio M/F based on the known distribution. 
import numpy as np

gender_distribution = data_mca['gender'].value_counts(normalize=True)
print("Gender Distribution (Known):")
print(gender_distribution)

prob_male = gender_distribution.get('M', 0)
prob_female = gender_distribution.get('F', 0)


missing_gender_rows = data_mca[data_mca['gender'].isnull()]

random_assignments = np.random.choice(['M', 'F'], size=missing_gender_rows.shape[0], p=[prob_male, prob_female])

data_mca.loc[data_mca['gender'].isnull(), 'gender'] = random_assignments

Gender Distribution (Known):
gender
F    0.509963
M    0.490037
Name: proportion, dtype: float64

In [126]:
# Fill missing values with ratio State based on the known distribution.
state_distribution = data_mca['state'].value_counts(normalize=True)
print("State Distribution (Known):")
print(state_distribution)

states = state_distribution.index
probabilities = state_distribution.values

missing_state_rows = data_mca[data_mca['state'].isnull()]

random_assignments = np.random.choice(states, size=missing_state_rows.shape[0], p=probabilities)

data_mca.loc[data_mca['state'].isnull(), 'state'] = random_assignments

State Distribution (Known):
state
California    0.343171
Oregon        0.284600
Arizona       0.187133
Nevada        0.097580
Washington    0.087517
Name: proportion, dtype: float64

In [127]:
data_mca['response'].fillna('unknown', inplace=True)

C:\Users\modri\AppData\Local\Temp\ipykernel_19016\582662263.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_mca['response'].fillna('unknown', inplace=True)

In [128]:
data_mca['months_since_last_claim'] = data_mca['months_since_last_claim'].fillna(data_mca['months_since_last_claim'].mean()).round(1)

In [129]:
data_mca['number_of_open_complaints'] = data_mca['number_of_open_complaints'].fillna(data_mca['number_of_open_complaints'].mean()).round(0)

In [130]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Select the features and target variable
features = data_mca.drop(columns=['vehicle_class'])
target = data_mca['vehicle_class']

# Encode categorical variables
label_encoders = {}
for column in features.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    features[column] = le.fit_transform(features[column].astype(str))
    label_encoders[column] = le

# Split the data into training and testing sets
X_train = features[target.notnull()]
y_train = target[target.notnull()]
X_test = features[target.isnull()]

# Train a RandomForestClassifier
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)

# Predict the missing values
predicted_vehicle_class = clf.predict(X_test)

# Fill the missing values in the original dataframe
data_mca.loc[data_mca['vehicle_class'].isnull(), 'vehicle_class'] = predicted_vehicle_class

# Verify the missing values are filled
print(data_mca['vehicle_class'].isnull().sum())

0

In [131]:
# Fill missing values in vehicle_size based on vehicle_class
vehicle_size_mode = data_mca.groupby('vehicle_class')['vehicle_size'].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)

def fill_vehicle_size(row):
    if pd.isnull(row['vehicle_size']):
        return vehicle_size_mode.get(row['vehicle_class'], np.nan)
    return row['vehicle_size']

data_mca['vehicle_size'] = data_mca.apply(fill_vehicle_size, axis=1)

# Verify the missing values are filled
print(data_mca['vehicle_size'].isnull().sum())

0

In [132]:
# Fill missing values in vehicle_type based on vehicle_class and vehicle_size
vehicle_type_mode = data_mca.groupby(['vehicle_class', 'vehicle_size'])['vehicle_type'].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)

def fill_vehicle_type(row):
    if pd.isnull(row['vehicle_type']):
        return vehicle_type_mode.get((row['vehicle_class'], row['vehicle_size']), np.nan)
    return row['vehicle_type']

data_mca['vehicle_type'] = data_mca.apply(fill_vehicle_type, axis=1)

# Verify the missing values are filled
print(data_mca['vehicle_type'].isnull().sum())

0

In [133]:
data_mca.isnull().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
dtype: int64

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [134]:
df_1000 = data_mca[(data_mca['total_claim_amount'] > 1000) & (data_mca['response'] == 'Yes')]
print(df_1000)

      customer       state  customer_lifetime_value response  coverage  \
189    OK31456  California             11009.130490      Yes   Premium
236    YJ16163      Oregon             11009.130490      Yes   Premium
419    GW43195      Oregon             25807.063000      Yes  Extended
442    IP94270     Arizona             13736.132500      Yes   Premium
587    FJ28407  California              5619.689084      Yes   Premium
654    VV47792  California             25807.063000      Yes  Extended
680    QL45827  Washington             25807.063000      Yes  Extended
815    MA15172  California             10179.717040      Yes   Premium
1276   WA45944     Arizona             25807.063000      Yes  Extended
1422   YK65946      Oregon              8427.172486      Yes  Extended
1527   TU53781      Oregon              8427.172486      Yes  Extended
1570   VL84149      Oregon             25807.063000      Yes  Extended
1629   UH35128      Oregon             25807.063000      Yes  Extended
1638   ZV80216      Oregon              5619.689084      Yes   Premium
1753   FG29932  California              7840.165778      Yes  Extended
1809   QO62792      Oregon              7840.165778      Yes  Extended
1856   ZA45956  California             13736.132500      Yes   Premium
2027   TA66375      Oregon             11009.130490      Yes   Premium
2125   JC11405      Oregon             10963.957230      Yes   Premium
2340   YE24562  California              3508.569533      Yes  Extended
2364   TC88986      Oregon              5619.689084      Yes   Premium
2865   FH77504  California             11009.130490      Yes   Premium
3346   UY18770  California             10179.717040      Yes   Premium
3934   ZW93288  California             19160.989940      Yes  Extended
3958   KC26486     Arizona              8427.172486      Yes  Extended
4284   GA72966      Oregon              8427.172486      Yes  Extended
4358   CG15505  California             19160.989940      Yes  Extended
4440   QW47320  California             10179.717040      Yes   Premium
4475   WP58340     Arizona             10963.957230      Yes   Premium
4521   LT72149      Nevada              5619.689084      Yes   Premium
4566   TC99043  California             13736.132500      Yes   Premium
5331   UT48216      Nevada              7840.165778      Yes  Extended
5489   TQ84956  California             10963.957230      Yes   Premium
5577   FN44127      Oregon              3508.569533      Yes  Extended
5896   TY31217  Washington             11009.130490      Yes   Premium
5987   MO21402      Oregon             13736.132500      Yes   Premium
6342   NZ60700  Washington             10963.957230      Yes   Premium
6601   RO89785      Oregon              3508.569533      Yes  Extended
7255   PN98247  California              7840.165778      Yes  Extended
7340   JL21509  California              3508.569533      Yes  Extended
7480   ZR79373     Arizona             10179.717040      Yes   Premium
7989   UU42868  California              5619.689084      Yes   Premium
8367   AJ89108  California             11009.130490      Yes   Premium
8420   MT27589      Oregon              7840.165778      Yes  Extended
8425   UP29839      Nevada             19160.989940      Yes  Extended
8505   DT77901      Oregon             10179.717040      Yes   Premium
8510   QE79527  California              8427.172486      Yes  Extended
8662   YU86361  Washington             19160.989940      Yes  Extended
8802   MC30750      Oregon             13736.132500      Yes   Premium
8835   XT93203  California             10963.957230      Yes   Premium
9326   MS18916  California              3508.569533      Yes  Extended
9498   IV54766      Oregon             19160.989940      Yes  Extended
9581   GD55093  California             19160.989940      Yes  Extended
10373  XZ64172      Oregon             10963.957230      Yes   Premium
10487  IX60941      Oregon              3508.569533      Yes  Extended
10708  CK39096      Oregon              5619.689084      Yes   Premium

                  education effective_to_date employmentstatus gender  income  \
189                Bachelor           1/24/11         Employed      F   51643
236                Bachelor           1/24/11         Employed      F   51643
419                 College           2/13/11         Employed      F   71210
442                  Master           2/13/11         Disabled      F   16181
587    High School or Below           1/26/11       Unemployed      M       0
654                 College           2/13/11         Employed      F   71210
680                 College           2/13/11         Employed      F   71210
815                Bachelor            1/5/11          Retired      F   14290
1276                College           2/13/11         Employed      F   71210
1422               Bachelor           2/10/11         Employed      F   46503
1527               Bachelor           2/10/11         Employed      F   46503
1570                College           2/13/11         Employed      F   71210
1629                College           2/13/11         Employed      F   71210
1638   High School or Below           1/26/11       Unemployed      M       0
1753                College           1/14/11         Employed      M   58414
1809                College           1/14/11         Employed      M   58414
1856                 Master           2/13/11         Disabled      F   16181
2027               Bachelor           1/24/11         Employed      F   51643
2125   High School or Below            2/8/11         Employed      M   55687
2340                College            1/5/11    Medical Leave      M   20978
2364   High School or Below           1/26/11       Unemployed      M       0
2865               Bachelor           1/24/11         Employed      F   51643
3346               Bachelor            1/5/11          Retired      F   14290
3934                 Master           2/20/11         Employed      F   22705
3958               Bachelor           2/10/11         Employed      F   46503
4284               Bachelor           2/10/11         Employed      F   46503
4358                 Master           2/20/11         Employed      F   22705
4440               Bachelor            1/5/11          Retired      F   14290
4475   High School or Below            2/8/11         Employed      M   55687
4521   High School or Below           1/26/11       Unemployed      M       0
4566                 Master           2/13/11         Disabled      F   16181
5331                College           1/14/11         Employed      M   58414
5489   High School or Below            2/8/11         Employed      M   55687
5577                College            1/5/11    Medical Leave      M   20978
5896               Bachelor           1/24/11         Employed      F   51643
5987                 Master           2/13/11         Disabled      F   16181
6342   High School or Below            2/8/11         Employed      M   55687
6601                College            1/5/11    Medical Leave      M   20978
7255                College           1/14/11         Employed      M   58414
7340                College            1/5/11    Medical Leave      M   20978
7480               Bachelor            1/5/11          Retired      F   14290
7989   High School or Below           1/26/11       Unemployed      M       0
8367               Bachelor           1/24/11         Employed      F   51643
8420                College           1/14/11         Employed      M   58414
8425                 Master           2/20/11         Employed      F   22705
8505               Bachelor            1/5/11          Retired      F   14290
8510               Bachelor           2/10/11         Employed      F   46503
8662                 Master           2/20/11         Employed      F   22705
8802                 Master           2/13/11         Disabled      F   16181
8835   High School or Below            2/8/11         Employed      M   55687
9326                College            1/5/11    Medical Leave      M   20978
9498                 Master           2/20/11         Employed      F   22705
9581                 Master           2/20/11         Employed      F   22705
10373  High School or Below            2/8/11         Employed      M   55687
10487               College            1/5/11    Medical Leave      M   20978
10708  High School or Below           1/26/11       Unemployed      M       0

       ... number_of_open_complaints number_of_policies     policy_type  \
189    ...                       0.0                  1  Corporate Auto
236    ...                       0.0                  1    Special Auto
419    ...                       1.0                  2   Personal Auto
442    ...                       0.0                  8   Personal Auto
587    ...                       0.0                  1   Personal Auto
654    ...                       1.0                  2   Personal Auto
680    ...                       1.0                  2   Personal Auto
815    ...                       0.0                  1   Personal Auto
1276   ...                       1.0                  2  Corporate Auto
1422   ...                       1.0                  1   Personal Auto
1527   ...                       1.0                  1  Corporate Auto
1570   ...                       1.0                  2  Corporate Auto
1629   ...                       1.0                  2   Personal Auto
1638   ...                       0.0                  1   Personal Auto
1753   ...                       2.0                  1    Special Auto
1809   ...                       2.0                  1   Personal Auto
1856   ...                       0.0                  8   Personal Auto
2027   ...                       0.0                  1  Corporate Auto
2125   ...                       0.0                  1   Personal Auto
2340   ...                       1.0                  1   Personal Auto
2364   ...                       0.0                  1    Special Auto
2865   ...                       0.0                  1   Personal Auto
3346   ...                       0.0                  1   Personal Auto
3934   ...                       0.0                  7   Personal Auto
3958   ...                       1.0                  1   Personal Auto
4284   ...                       1.0                  1   Personal Auto
4358   ...                       0.0                  7   Personal Auto
4440   ...                       0.0                  1   Personal Auto
4475   ...                       0.0                  1   Personal Auto
4521   ...                       0.0                  1   Personal Auto
4566   ...                       0.0                  8   Personal Auto
5331   ...                       2.0                  1   Personal Auto
5489   ...                       0.0                  1  Corporate Auto
5577   ...                       1.0                  1   Personal Auto
5896   ...                       0.0                  1   Personal Auto
5987   ...                       0.0                  8   Personal Auto
6342   ...                       0.0                  1   Personal Auto
6601   ...                       1.0                  1   Personal Auto
7255   ...                       2.0                  1   Personal Auto
7340   ...                       1.0                  1   Personal Auto
7480   ...                       0.0                  1   Personal Auto
7989   ...                       0.0                  1  Corporate Auto
8367   ...                       0.0                  1   Personal Auto
8420   ...                       2.0                  1  Corporate Auto
8425   ...                       0.0                  7   Personal Auto
8505   ...                       0.0                  1   Personal Auto
8510   ...                       1.0                  1   Personal Auto
8662   ...                       0.0                  7   Personal Auto
8802   ...                       0.0                  8   Personal Auto
8835   ...                       0.0                  1   Personal Auto
9326   ...                       1.0                  1   Personal Auto
9498   ...                       0.0                  7   Personal Auto
9581   ...                       0.0                  7   Personal Auto
10373  ...                       0.0                  1  Corporate Auto
10487  ...                       1.0                  1   Personal Auto
10708  ...                       0.0                  1   Personal Auto

             policy  renew_offer_type  sales_channel  total_claim_amount  \
189    Corporate L3            Offer2          Agent         1358.400000
236      Special L3            Offer2          Agent         1358.400000
419     Personal L2            Offer1         Branch         1027.200000
442     Personal L2            Offer1            Web         1261.319869
587     Personal L1            Offer2            Web         1027.000029
654     Personal L3            Offer1         Branch         1027.200000
680     Personal L1            Offer1         Branch         1027.200000
815     Personal L2            Offer1          Agent         1300.800000
1276   Corporate L3            Offer1         Branch         1027.200000
1422    Personal L3            Offer1          Agent         1032.000000
1527   Corporate L3            Offer1          Agent         1032.000000
1570   Corporate L2            Offer1         Branch         1027.200000
1629    Personal L2            Offer1         Branch         1027.200000
1638    Personal L1            Offer2            Web         1027.000029
1753     Special L2            Offer2          Agent         1008.000000
1809    Personal L3            Offer2          Agent         1008.000000
1856    Personal L2            Offer1            Web         1261.319869
2027   Corporate L2            Offer2          Agent         1358.400000
2125    Personal L3            Offer1          Agent         1324.800000
2340    Personal L3            Offer2         Branch         1176.278800
2364     Special L1            Offer2            Web         1027.000029
2865    Personal L3            Offer2          Agent         1358.400000
3346    Personal L3            Offer1          Agent         1300.800000
3934    Personal L1            Offer2          Agent         1294.700423
3958    Personal L2            Offer1          Agent         1032.000000
4284    Personal L3            Offer1          Agent         1032.000000
4358    Personal L3            Offer2          Agent         1294.700423
4440    Personal L1            Offer1          Agent         1300.800000
4475    Personal L2            Offer1          Agent         1324.800000
4521    Personal L2            Offer2            Web         1027.000029
4566    Personal L2            Offer1            Web         1261.319869
5331    Personal L1            Offer2          Agent         1008.000000
5489   Corporate L3            Offer1          Agent         1324.800000
5577    Personal L2            Offer2         Branch         1176.278800
5896    Personal L3            Offer2          Agent         1358.400000
5987    Personal L3            Offer1            Web         1261.319869
6342    Personal L2            Offer1          Agent         1324.800000
6601    Personal L3            Offer2         Branch         1176.278800
7255    Personal L3            Offer2          Agent         1008.000000
7340    Personal L3            Offer2         Branch         1176.278800
7480    Personal L3            Offer1          Agent         1300.800000
7989   Corporate L2            Offer2            Web         1027.000029
8367    Personal L3            Offer2          Agent         1358.400000
8420   Corporate L1            Offer2          Agent         1008.000000
8425    Personal L1            Offer2          Agent         1294.700423
8505    Personal L3            Offer1          Agent         1300.800000
8510    Personal L1            Offer1          Agent         1032.000000
8662    Personal L1            Offer2          Agent         1294.700423
8802    Personal L2            Offer1            Web         1261.319869
8835    Personal L3            Offer1          Agent         1324.800000
9326    Personal L1            Offer2         Branch         1176.278800
9498    Personal L1            Offer2          Agent         1294.700423
9581    Personal L1            Offer2          Agent         1294.700423
10373  Corporate L2            Offer1          Agent         1324.800000
10487   Personal L3            Offer2         Branch         1176.278800
10708   Personal L3            Offer2            Web         1027.000029

       vehicle_class vehicle_size vehicle_type
189       Luxury Car      Medsize            A
236       Luxury Car      Medsize            A
419       Luxury Car        Small            A
442              SUV      Medsize            A
587              SUV      Medsize            A
654       Luxury Car        Small            A
680       Luxury Car        Small            A
815       Luxury SUV      Medsize            A
1276      Luxury Car        Small            A
1422      Luxury SUV      Medsize            A
1527      Luxury SUV      Medsize            A
1570      Luxury Car        Small            A
1629      Luxury Car        Small            A
1638             SUV      Medsize            A
1753      Luxury SUV        Small            A
1809      Luxury SUV        Small            A
1856             SUV      Medsize            A
2027      Luxury Car      Medsize            A
2125      Luxury SUV      Medsize            A
2340   Four-Door Car        Small            A
2364             SUV      Medsize            A
2865      Luxury Car      Medsize            A
3346      Luxury SUV      Medsize            A
3934      Luxury SUV      Medsize            A
3958      Luxury SUV      Medsize            A
4284      Luxury SUV      Medsize            A
4358      Luxury SUV      Medsize            A
4440      Luxury SUV      Medsize            A
4475      Luxury SUV      Medsize            A
4521             SUV      Medsize            A
4566             SUV      Medsize            A
5331      Luxury SUV        Small            A
5489      Luxury SUV      Medsize            A
5577   Four-Door Car      Medsize            A
5896      Luxury Car      Medsize            A
5987             SUV      Medsize            A
6342      Luxury SUV      Medsize            A
6601   Four-Door Car        Small            A
7255      Luxury SUV        Small            A
7340   Four-Door Car        Small            A
7480      Luxury SUV      Medsize            A
7989             SUV      Medsize            A
8367      Luxury Car      Medsize            A
8420      Luxury SUV        Small            A
8425      Luxury SUV      Medsize            A
8505      Luxury SUV      Medsize            A
8510      Luxury SUV      Medsize            A
8662      Luxury SUV      Medsize            A
8802             SUV      Medsize            A
8835      Luxury SUV      Medsize            A
9326   Four-Door Car        Small            A
9498      Luxury SUV      Medsize            A
9581      Luxury SUV      Medsize            A
10373     Luxury SUV      Medsize            A
10487  Four-Door Car        Small            A
10708            SUV      Medsize            A

[56 rows x 25 columns]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [135]:
responded_yes = data_mca[data_mca['response'] == 'Yes']

average_claims = responded_yes.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().reset_index()

average_claims

      policy_type gender  total_claim_amount
0  Corporate Auto      F          431.835494
1  Corporate Auto      M          410.032861
2   Personal Auto      F          453.143064
3   Personal Auto      M          456.083128
4    Special Auto      F          460.360832
5    Special Auto      M          414.799291

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [136]:
customer_count_by_state = data_mca.groupby('state')['customer'].count().reset_index()

states_with_more_than_500_customers = customer_count_by_state[customer_count_by_state['customer'] > 500]
states_with_more_than_500_customers

        state  customer
0     Arizona      1706
1  California      3132
2      Nevada       895
3      Oregon      2599
4  Washington       802

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [137]:

clv_stats = data_mca.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median']).reset_index()

print(clv_stats)

              education gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5678.050167
1              Bachelor      M  67907.27050  1898.007675  5555.830205
2               College      F  61850.18803  1898.683686  5621.789489
3               College      M  61134.68307  1918.119700  5989.773931
4                Doctor      F  44856.11397  2395.570000  5332.462694
5                Doctor      M  32677.34284  2267.604038  5620.587184
6  High School or Below      F  55277.44589  2144.921535  6044.020038
7  High School or Below      M  83325.38119  1940.981221  6176.700392
8                Master      F  51016.06704  2417.777032  5801.128252
9                Master      M  50568.25912  2272.307310  5617.956917

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [138]:
# your code goes here