# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [104]:
import pandas as pd
import numpy as np

customer_analysis_df=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

print(customer_analysis_df.columns)
print(customer_analysis_df.head())

#1
new_customer_analysis_df=customer_analysis_df[(customer_analysis_df['Total Claim Amount']>1000) & (customer_analysis_df['Response']=="Yes")]
new_customer_analysis_df.head()

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')
   Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

   Number of Open Complaints Number of Policies     Policy Type        Policy  \
0                        0.0                  9  Corporate Auto  Corporate L3
1                        0.0                  1   Personal Auto   Personal L3
2                        0.0                  2   Personal Auto   Personal L3
3                        0.0                  2  Corporate Auto  Corporate L3
4                        NaN                  7   Personal Auto   Personal L2

   Renew Offer Type  Sales Channel  Total Claim Amount  Vehicle Class  \
0            Offer3          Agent          292.800000  Four-Door Car
1            Offer4    Call Center          744.924331  Four-Door Car
2            Offer3    Call Center          480.000000            SUV
3            Offer2         Branch          484.013411  Four-Door Car
4            Offer1         Branch          707.925645  Four-Door Car

  Vehicle Size Vehicle Type
0      Medsize          NaN
1      Medsize          NaN
2      Medsize            A
3      Medsize            A
4      Medsize          NaN

[5 rows x 26 columns]

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

In [105]:
#2

response_yes_customer_analysis_df=customer_analysis_df[customer_analysis_df['Response']=="Yes"]

response_yes_customer_analysis_df.groupby(['Policy Type','Gender'])[['Total Claim Amount']].mean()

#On average, male customers with a corporate auto policy have the lowest claim amount.
#On average, female customers with a corporate auto policy have a higher claim amount than male customers with a special auto policy.

                       Total Claim Amount
Policy Type    Gender
Corporate Auto F               433.738499
               M               408.582459
Personal Auto  F               452.965929
               M               457.010178
Special Auto   F               453.280164
               M               429.527942

In [106]:
#3

state_policies_analysis_df=customer_analysis_df.groupby('State')[['Customer']].count()
state_policies_analysis_df

state_policies_analysis_df[state_policies_analysis_df['Customer']>500]

            Customer
State
Arizona         1937
California      3552
Nevada           993
Oregon          2909
Washington       888

In [107]:
#4

max_customer_lifetime_ed_gen_df=round(customer_analysis_df.groupby(['Education','Gender'])['Customer Lifetime Value'].max(),2)
print(max_customer_lifetime_ed_gen_df)

min_customer_lifetime_ed_gen_df=round(customer_analysis_df.groupby(['Education','Gender'])['Customer Lifetime Value'].min(),2)
print(min_customer_lifetime_ed_gen_df)

med_customer_lifetime_ed_gen_df=round(customer_analysis_df.groupby(['Education','Gender'])['Customer Lifetime Value'].median(),2)
print(med_customer_lifetime_ed_gen_df)

Education             Gender
Bachelor              F         73225.96
                      M         67907.27
College               F         61850.19
                      M         61134.68
Doctor                F         44856.11
                      M         32677.34
High School or Below  F         55277.45
                      M         83325.38
Master                F         51016.07
                      M         50568.26
Name: Customer Lifetime Value, dtype: float64
Education             Gender
Bachelor              F         1904.00
                      M         1898.01
College               F         1898.68
                      M         1918.12
Doctor                F         2395.57
                      M         2267.60
High School or Below  F         2144.92
                      M         1940.98
Master                F         2417.78
                      M         2272.31
Name: Customer Lifetime Value, dtype: float64
Education             Gender
Bachelor              F         5640.51
                      M         5548.03
College               F         5623.61
                      M         6005.85
Doctor                F         5332.46
                      M         5577.67
High School or Below  F         6039.55
                      M         6286.73
Master                F         5729.86
                      M         5579.10
Name: Customer Lifetime Value, dtype: float64

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [123]:
#5

customer_analysis_df['Effective To Date_month']=customer_analysis_df['Effective To Date'].apply(lambda x:x.split("/")[0]) 

customer_analysis_df.pivot_table(index='State',columns='Effective To Date_month',values='Number of Policies',aggfunc='count')

Effective To Date_month     1     2
State
Arizona                  1008   929
California               1918  1634
Nevada                    551   442
Oregon                   1565  1344
Washington                463   425

In [121]:
#6

#Display a new DataFrame that contains the number of policies sold by month, by state, 
#for the top 3 states with the highest number of policies sold.

top_3_states = customer_analysis_df['State'].value_counts().nlargest(3).index
customer_analysis_states_df = customer_analysis_df[customer_analysis_df['State'].isin(top_3_states)]

customer_analysis_states_df.pivot_table(index='State',columns='Effective To Date_month',values='Number of Policies',aggfunc='count')

Effective To Date_month     1     2
State
Arizona                  1008   929
California               1918  1634
Oregon                   1565  1344

In [165]:
#7

response_rate=(customer_analysis_df['Response'].value_counts())/(customer_analysis_df.shape[0])
response_rate

merged_customer_analysis_df=pd.melt(customer_analysis_df, id_vars=['Sales Channel'],value_vars=['Response'],var_name='response_rate',value_name='response_rate')
merged_customer_analysis_df

      Sales Channel response_rate response_rate
0             Agent      Response      Response
1       Call Center      Response      Response
2       Call Center      Response      Response
3            Branch      Response      Response
4            Branch      Response      Response
...             ...           ...           ...
10905           Web      Response      Response
10906        Branch      Response      Response
10907           Web      Response      Response
10908        Branch      Response      Response
10909           Web      Response      Response

[10910 rows x 3 columns]