# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [28]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'

marketing_df = pd.read_csv(url)
marketing_df.head(10)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
5,5,HO81102,NaN,4745.181764,NaN,Basic,High School or Below,2/14/11,Employed,M,...,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
6,6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN
7,7,IH64929,California,4956.247235,No,Basic,High School or Below,2/24/11,Employed,M,...,0.0,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,NaN
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
9,9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,NaN

In [5]:
# Filter the DataFrame by total_claim_amount > 1000 and response == 'Yes'
filtered_df = marketing_df[(marketing_df['Total Claim Amount'] > 1000) & (marketing_df['Response'] == 'Yes')]
filtered_df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [8]:
# Filter the DataFrame for customers who responded "Yes"
responded_yes_df = marketing_df[marketing_df['Response'] == 'Yes']

# Group by 'policy_type' and 'gender', and calculate the average total_claim_amount
claims_by_policy_gender_df = responded_yes_df.groupby(['Policy Type', 'Gender'])['Total Claim Amount'].mean().reset_index()
claims_by_policy_gender_df

      Policy Type Gender  Total Claim Amount
0  Corporate Auto      F          433.738499
1  Corporate Auto      M          408.582459
2   Personal Auto      F          452.965929
3   Personal Auto      M          457.010178
4    Special Auto      F          453.280164
5    Special Auto      M          429.527942

For Personal Auto policies, the difference in total claim amounts between genders is very small, with males having a marginally higher average claim amount than females.
For Corporate Auto policies, females tend to have higher average claims compared to males, with a notable difference of around $25 between genders.
For Special Auto policies, female customers again have higher claims than male customers, with a difference of about $24.

Gender differences in claim amounts vary depending on the policy type. Females generally have higher claims for Corporate Auto and Special Auto policies, while males slightly outpace females for Personal Auto policies.
Personal Auto policies have the highest average claim amounts overall, which could be due to the nature of personal vehicles and potential damage costs.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [10]:
# Step 1: Count the total number of customers per state
customers_per_state = marketing_df.groupby('State')['Customer'].count().reset_index()

# Rename the columns for clarity
customers_per_state.columns = ['State', 'Customer_count']

# Step 2: Filter states where the customer count is greater than 500
states_with_more_than_500_customers_df = customers_per_state[customers_per_state['Customer_count'] > 500]

states_with_more_than_500_customers_df

        State  Customer_count
0     Arizona            1937
1  California            3552
2      Nevada             993
3      Oregon            2909
4  Washington             888

 California has the highest number of policyholders

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [14]:
# Step 1: Group by 'Education' and 'Gender', then calculate max, min, and median for 'Customer Lifetime Value'
clv_stats_df = marketing_df.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median']).reset_index()
clv_stats_df[['max', 'min', 'median']] = clv_stats_df[['max', 'min', 'median']].round(2)
clv_stats_sorted_df = clv_stats_df.sort_values(by='median', ascending=False)
clv_stats_sorted_df

              Education Gender       max      min   median
7  High School or Below      M  83325.38  1940.98  6286.73
6  High School or Below      F  55277.45  2144.92  6039.55
3               College      M  61134.68  1918.12  6005.85
8                Master      F  51016.07  2417.78  5729.86
0              Bachelor      F  73225.96  1904.00  5640.51
2               College      F  61850.19  1898.68  5623.61
9                Master      M  50568.26  2272.31  5579.10
5                Doctor      M  32677.34  2267.60  5577.67
1              Bachelor      M  67907.27  1898.01  5548.03
4                Doctor      F  44856.11  2395.57  5332.46

High school-educated males have the highest maximum CLV among all groups.

Bachelor's degree holders show strong potential, especially among females, with a high maximum CLV. However, the median CLV between genders in this group is almost equal, suggesting similar average values.

College-educated males tend to have a slightly higher median CLV than females, indicating that, on average, this group might offer better long-term value.

Females with Doctoral degrees show a wider range of CLV, with some having very high maximum values but similar medians to their male counterparts. This indicates variability in customer value within this group.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [15]:
marketing_df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [18]:
# Convert 'Effective To Date' to datetime format and extract month
marketing_df['Effective To Date'] = pd.to_datetime(marketing_df['Effective To Date'], format='%m/%d/%y', errors='coerce')
marketing_df['Month'] = marketing_df['Effective To Date'].dt.month

# Create a pivot table to summarize policies sold by state and month
pivot_table_df = marketing_df.pivot_table(values='Number of Policies', 
                              index='State', 
                              columns='Month', 
                              aggfunc='sum', 
                              fill_value=0)

pivot_table_df

Month          1     2
State
Arizona     3052  2864
California  5673  4929
Nevada      1493  1278
Oregon      4697  3969
Washington  1358  1225

In [20]:
unique_months = marketing_df['Month'].unique()
unique_months

array([2, 1], dtype=int32)

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [23]:
grouped_data = marketing_df.groupby(['State', 'Month']).agg({'Number of Policies': 'sum'}).reset_index()

# Sort by total policies sold in descending order
total_policies_by_state = grouped_data.groupby('State').agg({'Number of Policies': 'sum'}).reset_index()
top_states = total_policies_by_state.sort_values(by='Number of Policies', ascending=False).head(3)

# Filter the original grouped data to include only the top 3 states
top_states_data_df = grouped_data[grouped_data['State'].isin(top_states['State'])]
top_states_data_df

        State  Month  Number of Policies
0     Arizona      1                3052
1     Arizona      2                2864
2  California      1                5673
3  California      2                4929
6      Oregon      1                4697
7      Oregon      2                3969

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

In [39]:
# Melt the DataFrame to unpivot the sales channels
melted_df = marketing_df.melt(id_vars=['Customer'], value_vars=['Sales Channel', 'Response'], 
                               var_name='Channel', value_name='Value')

# Filter to only keep the responses
response_df = melted_df[melted_df['Channel'] == 'Response']

# Calculate the response rates for each marketing channel
response_counts = (
    marketing_df.groupby('Sales Channel')
    .agg(Total_Responses=('Response', 'count'), 
         Yes_Responses=('Response', lambda x: (x == 'Yes').sum()))
    .reset_index()
)

# Calculate response rate percentage
response_counts['Response Rate (%)'] = (response_counts['Yes_Responses'] / response_counts['Total_Responses']) * 100

In [40]:
print("\nCustomer Response Rate by Marketing Channel:")
print(response_counts[['Sales Channel', 'Total_Responses', 'Yes_Responses', 'Response Rate (%)']])

Customer Response Rate by Marketing Channel:
  Sales Channel  Total_Responses  Yes_Responses  Response Rate (%)
0         Agent             3890            742          19.074550
1        Branch             2865            326          11.378709
2   Call Center             2013            221          10.978639
3           Web             1511            177          11.714097