# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd
import functions as f
url="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df=pd.read_csv(url)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10279 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             10910 non-null  float64
 23  Vehicle Class                  10288 non-null  object
 24  Vehicle Size                   10288 non-null  object
 25  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [3]:
df=f.data_standarization(df)
df.info()

Data before cleaning: 10910
 Data after cleaning: 10910
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10910 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10910 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10910 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10910 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             10910 non-null  float64
 23  Vehicle Class                  10910 non-null  object
 24  Vehicle Size                   10910 non-null  object
 25  Vehicle Type                   10910 non-null  object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [4]:
df1=df[(df["Total Claim Amount"]>1000) & (df["Response"]=="Yes")]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [20]:
filtered_df = df[df["Response"] == "Yes"]#Filter data with response=yes
df2=df.groupby(["Gender","Policy Type"]).agg({"Total Claim Amount":"mean"})#group by gender and policy type to get total claim mean
df2

                       Total Claim Amount
Gender Policy Type
F      Corporate Auto          397.799287
       Personal Auto           413.239658
       Special Auto            458.139623
M      Corporate Auto          462.223565
       Personal Auto           459.919476
       Special Auto            420.355202

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [29]:
filtered_df = df[df["State"] != 0]#Filter data to exclude no state value
df3=filtered_df.groupby(["State","Policy Type"]).agg({"Customer":"count"})
df3=df3[df3["Customer"]>500]
df3

                           Customer
State      Policy Type
Arizona    Personal Auto       1469
California Corporate Auto       835
           Personal Auto       2594
Nevada     Personal Auto        739
Oregon     Corporate Auto       592
           Personal Auto       2180
Washington Personal Auto        682

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [32]:
df4=df.groupby(["Education","Gender"]).agg({"Customer Lifetime Value":["max","min","median"]})
df4.round(2)

                            Customer Lifetime Value
                                                max      min   median
Education            Gender
Bachelor             F                     73225.96  1904.00  5640.51
                     M                     67907.27  1898.01  5548.03
College              F                     61850.19  1898.68  5623.61
                     M                     61134.68  1918.12  6005.85
Doctor               F                     44856.11  2395.57  5332.46
                     M                     32677.34  2267.60  5577.67
High School or Below F                     55277.45  2144.92  6039.55
                     M                     83325.38  1940.98  6286.73
Master               F                     51016.07  2417.78  5729.86
                     M                     50568.26  2272.31  5579.10

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9