# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [11]:
import numpy as np
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10279 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             10910 non-null  float64
 23  Vehicle Class                  10288 non-null  object
 24  Vehicle Size                   10288 non-null  object
 25  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [18]:
# cleaning

df.columns = df.columns.str.lower() 

df.columns = df.columns.str.replace(' ', '_')

df.rename(columns={'st': 'state'})

df['gender']= df['gender'].replace({'Femal':'F', 'female':'F', 'Femal': 'F', 'Male':'M'})

df['state']= df['state'].replace({'Cali': 'California', 'Wa': 'Washington','AZ': 'Arizona'})

df['education']= df['education'].replace({'Bachelors':'Bachelor'})

df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(str)
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '') 

df['vehicle_class'] = df['vehicle_class'].replace(
    {'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'})

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.21696,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.9173,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.43946,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.36944,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.3041,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury,Medsize,NaN
10908,10908,WA60547,California,11971.97765,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [20]:
#formatting
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)

df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(str).str.split('/').str[1]

df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'])

In [22]:
df= df.dropna(how='all')

df['gender'] = df['gender'].fillna(df['gender'].mode())

df['customer_lifetime_value']= df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].median())

In [24]:
df= df.drop_duplicates(subset='customer', keep='first')

In [34]:
df.isna().any()   # clean: state,response,mslc,nooc,vc,vs,vt

unnamed:_0                       False
customer                         False
state                             True
customer_lifetime_value          False
response                          True
coverage                         False
education                        False
effective_to_date                False
employmentstatus                 False
gender                           False
income                           False
location_code                    False
marital_status                   False
monthly_premium_auto             False
months_since_last_claim           True
months_since_policy_inception    False
number_of_open_complaints         True
number_of_policies               False
policy_type                      False
policy                           False
renew_offer_type                 False
sales_channel                    False
total_claim_amount               False
vehicle_class                     True
vehicle_size                      True
vehicle_type                      True
dtype: bool

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [82]:
filtered_cust = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]
grouped = filtered_cust.groupby('customer')
print(grouped.first())

          unnamed:_0       state  customer_lifetime_value response  coverage  \
customer
AJ89108         8367  California             11009.130490      Yes   Premium
CG15505         4358  California             19160.989940      Yes  Extended
CK39096        10708      Oregon              5619.689084      Yes   Premium
DT77901         8505      Oregon             10179.717040      Yes   Premium
FG29932         1753  California              7840.165778      Yes  Extended
FH77504         2865  California             11009.130490      Yes   Premium
FJ28407          587  California              5619.689084      Yes   Premium
FN44127         5577      Oregon              3508.569533      Yes  Extended
GA72966         4284      Oregon              8427.172486      Yes  Extended
GD55093         9581  California             19160.989940      Yes  Extended
GW43195          419      Oregon             25807.063000      Yes  Extended
IP94270          442     Arizona             13736.132500      Yes   Premium
IV54766         9498      Oregon             19160.989940      Yes  Extended
IX60941        10487      Oregon              3508.569533      Yes  Extended
JC11405         2125      Oregon             10963.957230      Yes   Premium
JL21509         7340  California              3508.569533      Yes  Extended
KC26486         3958     Arizona              8427.172486      Yes  Extended
LT72149         4521      Nevada              5619.689084      Yes   Premium
MA15172          815  California             10179.717040      Yes   Premium
MC30750         8802      Oregon             13736.132500      Yes   Premium
MO21402         5987      Oregon             13736.132500      Yes   Premium
MS18916         9326  California              3508.569533      Yes  Extended
MT27589         8420      Oregon              7840.165778      Yes  Extended
NZ60700         6342  Washington             10963.957230      Yes   Premium
OK31456          189  California             11009.130490      Yes   Premium
PN98247         7255  California              7840.165778      Yes  Extended
QE79527         8510  California              8427.172486      Yes  Extended
QL45827          680  Washington             25807.063000      Yes  Extended
QO62792         1809      Oregon              7840.165778      Yes  Extended
QW47320         4440  California             10179.717040      Yes   Premium
RO89785         6601      Oregon              3508.569533      Yes  Extended
TA66375         2027      Oregon             11009.130490      Yes   Premium
TC88986         2364      Oregon              5619.689084      Yes   Premium
TC99043         4566  California             13736.132500      Yes   Premium
TQ84956         5489  California             10963.957230      Yes   Premium
TU53781         1527      Oregon              8427.172486      Yes  Extended
TY31217         5896  Washington             11009.130490      Yes   Premium
UH35128         1629      Oregon             25807.063000      Yes  Extended
UP29839         8425      Nevada             19160.989940      Yes  Extended
UT48216         5331      Nevada              7840.165778      Yes  Extended
UU42868         7989  California              5619.689084      Yes   Premium
UY18770         3346  California             10179.717040      Yes   Premium
VL84149         1570      Oregon             25807.063000      Yes  Extended
VV47792          654  California             25807.063000      Yes  Extended
WA45944         1276     Arizona             25807.063000      Yes  Extended
WP58340         4475     Arizona             10963.957230      Yes   Premium
XT93203         8835  California             10963.957230      Yes   Premium
XZ64172        10373      Oregon             10963.957230      Yes   Premium
YE24562         2340  California              3508.569533      Yes  Extended
YJ16163          236      Oregon             11009.130490      Yes   Premium
YK65946         1422      Oregon              8427.172486      Yes  Extended
YU86361         8662  Washington             19160.989940      Yes  Extended
ZA45956         1856  California             13736.132500      Yes   Premium
ZR79373         7480     Arizona             10179.717040      Yes   Premium
ZV80216         1638      Oregon              5619.689084      Yes   Premium
ZW93288         3934  California             19160.989940      Yes  Extended

                     education effective_to_date employmentstatus gender  \
customer
AJ89108               Bachelor           1/24/11         Employed      F
CG15505                 Master           2/20/11         Employed      F
CK39096   High School or Below           1/26/11       Unemployed      M
DT77901               Bachelor            1/5/11          Retired      F
FG29932                College           1/14/11         Employed      M
FH77504               Bachelor           1/24/11         Employed      F
FJ28407   High School or Below           1/26/11       Unemployed      M
FN44127                College            1/5/11    Medical Leave      M
GA72966               Bachelor           2/10/11         Employed      F
GD55093                 Master           2/20/11         Employed      F
GW43195                College           2/13/11         Employed      F
IP94270                 Master           2/13/11         Disabled      F
IV54766                 Master           2/20/11         Employed      F
IX60941                College            1/5/11    Medical Leave      M
JC11405   High School or Below            2/8/11         Employed      M
JL21509                College            1/5/11    Medical Leave      M
KC26486               Bachelor           2/10/11         Employed      F
LT72149   High School or Below           1/26/11       Unemployed      M
MA15172               Bachelor            1/5/11          Retired      F
MC30750                 Master           2/13/11         Disabled      F
MO21402                 Master           2/13/11         Disabled      F
MS18916                College            1/5/11    Medical Leave      M
MT27589                College           1/14/11         Employed      M
NZ60700   High School or Below            2/8/11         Employed      M
OK31456               Bachelor           1/24/11         Employed      F
PN98247                College           1/14/11         Employed      M
QE79527               Bachelor           2/10/11         Employed      F
QL45827                College           2/13/11         Employed      F
QO62792                College           1/14/11         Employed      M
QW47320               Bachelor            1/5/11          Retired      F
RO89785                College            1/5/11    Medical Leave      M
TA66375               Bachelor           1/24/11         Employed      F
TC88986   High School or Below           1/26/11       Unemployed      M
TC99043                 Master           2/13/11         Disabled      F
TQ84956   High School or Below            2/8/11         Employed      M
TU53781               Bachelor           2/10/11         Employed      F
TY31217               Bachelor           1/24/11         Employed      F
UH35128                College           2/13/11         Employed      F
UP29839                 Master           2/20/11         Employed      F
UT48216                College           1/14/11         Employed      M
UU42868   High School or Below           1/26/11       Unemployed      M
UY18770               Bachelor            1/5/11          Retired      F
VL84149                College           2/13/11         Employed      F
VV47792                College           2/13/11         Employed      F
WA45944                College           2/13/11         Employed      F
WP58340   High School or Below            2/8/11         Employed      M
XT93203   High School or Below            2/8/11         Employed      M
XZ64172   High School or Below            2/8/11         Employed      M
YE24562                College            1/5/11    Medical Leave      M
YJ16163               Bachelor           1/24/11         Employed      F
YK65946               Bachelor           2/10/11         Employed      F
YU86361                 Master           2/20/11         Employed      F
ZA45956                 Master           2/13/11         Disabled      F
ZR79373               Bachelor            1/5/11          Retired      F
ZV80216   High School or Below           1/26/11       Unemployed      M
ZW93288                 Master           2/20/11         Employed      F

          income  ... number_of_open_complaints number_of_policies  \
customer          ...
AJ89108    51643  ...                       NaN                  1
CG15505    22705  ...                       NaN                  7
CK39096        0  ...                       NaN                  1
DT77901    14290  ...                       NaN                  1
FG29932    58414  ...                       NaN                  1
FH77504    51643  ...                       NaN                  1
FJ28407        0  ...                       NaN                  1
FN44127    20978  ...                       NaN                  1
GA72966    46503  ...                       NaN                  1
GD55093    22705  ...                       NaN                  7
GW43195    71210  ...                       NaN                  2
IP94270    16181  ...                       NaN                  8
IV54766    22705  ...                       NaN                  7
IX60941    20978  ...                       NaN                  1
JC11405    55687  ...                       NaN                  1
JL21509    20978  ...                       NaN                  1
KC26486    46503  ...                       NaN                  1
LT72149        0  ...                       NaN                  1
MA15172    14290  ...                       NaN                  1
MC30750    16181  ...                       NaN                  8
MO21402    16181  ...                       NaN                  8
MS18916    20978  ...                       NaN                  1
MT27589    58414  ...                       NaN                  1
NZ60700    55687  ...                       NaN                  1
OK31456    51643  ...                       NaN                  1
PN98247    58414  ...                       NaN                  1
QE79527    46503  ...                       NaN                  1
QL45827    71210  ...                       NaN                  2
QO62792    58414  ...                       NaN                  1
QW47320    14290  ...                       NaN                  1
RO89785    20978  ...                       NaN                  1
TA66375    51643  ...                       NaN                  1
TC88986        0  ...                       NaN                  1
TC99043    16181  ...                       NaN                  8
TQ84956    55687  ...                       NaN                  1
TU53781    46503  ...                       NaN                  1
TY31217    51643  ...                       NaN                  1
UH35128    71210  ...                       NaN                  2
UP29839    22705  ...                       NaN                  7
UT48216    58414  ...                       NaN                  1
UU42868        0  ...                       NaN                  1
UY18770    14290  ...                       NaN                  1
VL84149    71210  ...                       NaN                  2
VV47792    71210  ...                       NaN                  2
WA45944    71210  ...                       NaN                  2
WP58340    55687  ...                       NaN                  1
XT93203    55687  ...                       NaN                  1
XZ64172    55687  ...                       NaN                  1
YE24562    20978  ...                       NaN                  1
YJ16163    51643  ...                       NaN                  1
YK65946    46503  ...                       NaN                  1
YU86361    22705  ...                       NaN                  7
ZA45956    16181  ...                       NaN                  8
ZR79373    14290  ...                       NaN                  1
ZV80216        0  ...                       NaN                  1
ZW93288    22705  ...                       NaN                  7

             policy_type        policy  renew_offer_type  sales_channel  \
customer
AJ89108    Personal Auto   Personal L3            Offer2          Agent
CG15505    Personal Auto   Personal L3            Offer2          Agent
CK39096    Personal Auto   Personal L3            Offer2            Web
DT77901    Personal Auto   Personal L3            Offer1          Agent
FG29932     Special Auto    Special L2            Offer2          Agent
FH77504    Personal Auto   Personal L3            Offer2          Agent
FJ28407    Personal Auto   Personal L1            Offer2            Web
FN44127    Personal Auto   Personal L2            Offer2         Branch
GA72966    Personal Auto   Personal L3            Offer1          Agent
GD55093    Personal Auto   Personal L1            Offer2          Agent
GW43195    Personal Auto   Personal L2            Offer1         Branch
IP94270    Personal Auto   Personal L2            Offer1            Web
IV54766    Personal Auto   Personal L1            Offer2          Agent
IX60941    Personal Auto   Personal L3            Offer2         Branch
JC11405    Personal Auto   Personal L3            Offer1          Agent
JL21509    Personal Auto   Personal L3            Offer2         Branch
KC26486    Personal Auto   Personal L2            Offer1          Agent
LT72149    Personal Auto   Personal L2            Offer2            Web
MA15172    Personal Auto   Personal L2            Offer1          Agent
MC30750    Personal Auto   Personal L2            Offer1            Web
MO21402    Personal Auto   Personal L3            Offer1            Web
MS18916    Personal Auto   Personal L1            Offer2         Branch
MT27589   Corporate Auto  Corporate L1            Offer2          Agent
NZ60700    Personal Auto   Personal L2            Offer1          Agent
OK31456   Corporate Auto  Corporate L3            Offer2          Agent
PN98247    Personal Auto   Personal L3            Offer2          Agent
QE79527    Personal Auto   Personal L1            Offer1          Agent
QL45827    Personal Auto   Personal L1            Offer1         Branch
QO62792    Personal Auto   Personal L3            Offer2          Agent
QW47320    Personal Auto   Personal L1            Offer1          Agent
RO89785    Personal Auto   Personal L3            Offer2         Branch
TA66375   Corporate Auto  Corporate L2            Offer2          Agent
TC88986     Special Auto    Special L1            Offer2            Web
TC99043    Personal Auto   Personal L2            Offer1            Web
TQ84956   Corporate Auto  Corporate L3            Offer1          Agent
TU53781   Corporate Auto  Corporate L3            Offer1          Agent
TY31217    Personal Auto   Personal L3            Offer2          Agent
UH35128    Personal Auto   Personal L2            Offer1         Branch
UP29839    Personal Auto   Personal L1            Offer2          Agent
UT48216    Personal Auto   Personal L1            Offer2          Agent
UU42868   Corporate Auto  Corporate L2            Offer2            Web
UY18770    Personal Auto   Personal L3            Offer1          Agent
VL84149   Corporate Auto  Corporate L2            Offer1         Branch
VV47792    Personal Auto   Personal L3            Offer1         Branch
WA45944   Corporate Auto  Corporate L3            Offer1         Branch
WP58340    Personal Auto   Personal L2            Offer1          Agent
XT93203    Personal Auto   Personal L3            Offer1          Agent
XZ64172   Corporate Auto  Corporate L2            Offer1          Agent
YE24562    Personal Auto   Personal L3            Offer2         Branch
YJ16163     Special Auto    Special L3            Offer2          Agent
YK65946    Personal Auto   Personal L3            Offer1          Agent
YU86361    Personal Auto   Personal L1            Offer2          Agent
ZA45956    Personal Auto   Personal L2            Offer1            Web
ZR79373    Personal Auto   Personal L3            Offer1          Agent
ZV80216    Personal Auto   Personal L1            Offer2            Web
ZW93288    Personal Auto   Personal L1            Offer2          Agent

          total_claim_amount  vehicle_class vehicle_size vehicle_type
customer
AJ89108          1358.400000         Luxury      Medsize            A
CG15505          1294.700423         Luxury      Medsize         None
CK39096          1027.000029            SUV      Medsize            A
DT77901          1300.800000         Luxury      Medsize            A
FG29932          1008.000000         Luxury        Small         None
FH77504          1358.400000         Luxury      Medsize            A
FJ28407          1027.000029            SUV      Medsize            A
FN44127          1176.278800           None         None            A
GA72966          1032.000000         Luxury      Medsize         None
GD55093          1294.700423         Luxury      Medsize            A
GW43195          1027.200000         Luxury        Small            A
IP94270          1261.319869            SUV      Medsize            A
IV54766          1294.700423         Luxury      Medsize            A
IX60941          1176.278800  Four-Door Car        Small         None
JC11405          1324.800000         Luxury      Medsize            A
JL21509          1176.278800  Four-Door Car        Small         None
KC26486          1032.000000         Luxury      Medsize            A
LT72149          1027.000029            SUV      Medsize            A
MA15172          1300.800000         Luxury      Medsize         None
MC30750          1261.319869            SUV      Medsize         None
MO21402          1261.319869            SUV      Medsize         None
MS18916          1176.278800  Four-Door Car        Small         None
MT27589          1008.000000         Luxury        Small         None
NZ60700          1324.800000         Luxury      Medsize         None
OK31456          1358.400000         Luxury      Medsize         None
PN98247          1008.000000         Luxury        Small            A
QE79527          1032.000000         Luxury      Medsize         None
QL45827          1027.200000         Luxury        Small         None
QO62792          1008.000000         Luxury        Small            A
QW47320          1300.800000         Luxury      Medsize         None
RO89785          1176.278800  Four-Door Car        Small         None
TA66375          1358.400000         Luxury      Medsize            A
TC88986          1027.000029            SUV      Medsize         None
TC99043          1261.319869            SUV      Medsize            A
TQ84956          1324.800000         Luxury      Medsize            A
TU53781          1032.000000         Luxury      Medsize            A
TY31217          1358.400000         Luxury      Medsize            A
UH35128          1027.200000         Luxury        Small         None
UP29839          1294.700423         Luxury      Medsize         None
UT48216          1008.000000         Luxury        Small            A
UU42868          1027.000029            SUV      Medsize         None
UY18770          1300.800000         Luxury      Medsize         None
VL84149          1027.200000         Luxury        Small         None
VV47792          1027.200000         Luxury        Small         None
WA45944          1027.200000         Luxury        Small         None
WP58340          1324.800000         Luxury      Medsize            A
XT93203          1324.800000         Luxury      Medsize            A
XZ64172          1324.800000         Luxury      Medsize         None

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [110]:
# filter customer who responded yes
filtered_data = df[df['response'] == 'Yes']
# group by
grouped_data = filtered_data.groupby(['policy_type', 'gender'])
# mean
average_claims = grouped_data['total_claim_amount'].mean().reset_index()

average_claims

      policy_type gender  total_claim_amount
0  Corporate Auto      F          431.835494
1  Corporate Auto      M          410.032861
2   Personal Auto      F          453.143064
3   Personal Auto      M          456.083128
4    Special Auto      F          460.360832
5    Special Auto      M          414.799291

In [112]:
# conclusion:

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [115]:
customer_counts = df['state'].value_counts().reset_index()  #counts unique values in state
customer_counts.columns = ['state', 'number_of_customers'] #rename for clarification
customer_counts

        state  number_of_customers
0  California                 3035
1      Oregon                 2517
2     Arizona                 1655
3      Nevada                  863
4  Washington                  774

In [117]:
filtered_states = customer_counts[customer_counts['number_of_customers'] > 500]
filtered_states

        state  number_of_customers
0  California                 3035
1      Oregon                 2517
2     Arizona                 1655
3      Nevada                  863
4  Washington                  774

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [134]:
# group by education & gender 
clv_grouped = df.groupby(['education', 'gender'])
clv_max= clv_grouped['customer_lifetime_value'].max().reset_index()
clv_max

              education gender  customer_lifetime_value
0              Bachelor      F              73225.95652
1              Bachelor      M              67907.27050
2               College      F              61850.18803
3               College      M              61134.68307
4                Doctor      F              44856.11397
5                Doctor      M              32677.34284
6  High School or Below      F              55277.44589
7  High School or Below      M              83325.38119
8                Master      F              51016.06704
9                Master      M              50568.25912

In [142]:
clv_min= clv_grouped['customer_lifetime_value'].min().reset_index()
clv_min

              education gender  customer_lifetime_value
0              Bachelor      F              1904.000852
1              Bachelor      M              1898.007675
2               College      F              1898.683686
3               College      M              1918.119700
4                Doctor      F              2395.570000
5                Doctor      M              2267.604038
6  High School or Below      F              2144.921535
7  High School or Below      M              1940.981221
8                Master      F              2417.777032
9                Master      M              2272.307310

In [138]:
clv_median= clv_grouped['customer_lifetime_value'].median().reset_index()
clv_median

              education gender  customer_lifetime_value
0              Bachelor      F              5678.050167
1              Bachelor      M              5555.830205
2               College      F              5621.789489
3               College      M              5989.773931
4                Doctor      F              5332.462694
5                Doctor      M              5620.587184
6  High School or Below      F              6044.020038
7  High School or Below      M              6176.700392
8                Master      F              5801.128252
9                Master      M              5617.956917

In [ ]:
#conclusion: lowest level of education (especially for M) highest CLV: more accidents? outliers?

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here