# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [12]:
# your code goes here
#Create a new DataFrame that only includes customers who have a total_claim_amount
#greater than $1,000 and have a response of "Yes" to the last marketing campaign.
import pandas as pd
import numpy as np

df=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

In [13]:
df = df.drop(['Unnamed: 0'], axis=1)

In [14]:
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [15]:
df_filter=df[(df['Total Claim Amount']>1000) & (df['Response']=='Yes')]

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [17]:
df_filter

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

#### 2.Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [19]:
df.groupby('Policy Type')['Total Claim Amount'].mean()

Policy Type
Corporate Auto    429.667426
Personal Auto     436.074175
Special Auto      440.746794
Name: Total Claim Amount, dtype: float64

In [20]:
df_response_yes=df[df['Response']=='Yes']

In [21]:
df_response_yes['Gender'].value_counts()

Gender
F    744
M    722
Name: count, dtype: int64

#### 3.Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [23]:
df_group=df.groupby('State')['Customer'].count()
df_group_filter=df_group[df_group>500]
df_group_filter

State
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
Name: Customer, dtype: int64

#### 4.Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [41]:
max_value=df.groupby(['Education','Gender'])['Customer Lifetime Value'].max()
min_valued=df.groupby(['Education','Gender'])['Customer Lifetime Value'].min()
median_value=df.groupby(['Education','Gender'])['Customer Lifetime Value'].median()
print(f" {max_value} {min_valued} {median_value}" )

 Education             Gender
Bachelor              F         73225.95652
                      M         67907.27050
College               F         61850.18803
                      M         61134.68307
Doctor                F         44856.11397
                      M         32677.34284
High School or Below  F         55277.44589
                      M         83325.38119
Master                F         51016.06704
                      M         50568.25912
Name: Customer Lifetime Value, dtype: float64 Education             Gender
Bachelor              F         1904.000852
                      M         1898.007675
College               F         1898.683686
                      M         1918.119700
Doctor                F         2395.570000
                      M         2267.604038
High School or Below  F         2144.921535
                      M         1940.981221
Master                F         2417.777032
                      M         2272.307310
Name: Customer Lifetime Value, dtype: float64 Education             Gender
Bachelor              F         5640.505303
                      M         5548.031892
College               F         5623.611187
                      M         6005.847375
Doctor                F         5332.462694
                      M         5577.669457
High School or Below  F         6039.553187
                      M         6286.731006
Master                F         5729.855012
                      M         5579.099207
Name: Customer Lifetime Value, dtype: float64

#### 5.The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [52]:
df['Effective To Date'].unique()

array(['2/18/11', '1/18/11', '2/10/11', '1/11/11', '1/17/11', '2/14/11',
       '2/24/11', '1/19/11', '1/4/11', '1/2/11', '2/7/11', '1/31/11',
       '1/26/11', '2/28/11', '1/16/11', '2/26/11', '2/23/11', '1/15/11',
       '2/2/11', '2/15/11', '1/24/11', '2/21/11', '2/22/11', '1/7/11',
       '1/28/11', '2/8/11', '2/12/11', '2/20/11', '1/5/11', '2/19/11',
       '1/3/11', '2/3/11', '1/22/11', '1/23/11', '2/5/11', '2/13/11',
       '1/25/11', '2/16/11', '2/1/11', '1/27/11', '1/12/11', '1/20/11',
       '2/6/11', '2/11/11', '1/21/11', '1/29/11', '1/9/11', '2/9/11',
       '2/27/11', '1/1/11', '2/17/11', '2/25/11', '1/13/11', '1/6/11',
       '2/4/11', '1/14/11', '1/10/11', '1/8/11', '1/30/11'], dtype=object)

In [54]:
df['Effective To Date']=df['Effective To Date'].apply(lambda x : int(str(x).split('/')[0]))

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       10910 non-null  object
 1   State                          10279 non-null  object
 2   Customer Lifetime Value        10910 non-null  float64
 3   Response                       10279 non-null  object
 4   Coverage                       10910 non-null  object
 5   Education                      10910 non-null  object
 6   Effective To Date              10910 non-null  int64
 7   EmploymentStatus               10910 non-null  object
 8   Gender                         10910 non-null  object
 9   Income                         10910 non-null  int64
 10  Location Code                  10910 non-null  object
 11  Marital Status                 10910 non-null  object
 12  Monthly Premium Auto           10910 non-null  int64
 13  Months Since Last Claim        10277 non-null  float64
 14  Months Since Policy Inception  10910 non-null  int64
 15  Number of Open Complaints      10277 non-null  float64
 16  Number of Policies             10910 non-null  int64
 17  Policy Type                    10910 non-null  object
 18  Policy                         10910 non-null  object
 19  Renew Offer Type               10910 non-null  object
 20  Sales Channel                  10910 non-null  object
 21  Total Claim Amount             10910 non-null  float64
 22  Vehicle Class                  10288 non-null  object
 23  Vehicle Size                   10288 non-null  object
 24  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(5), object(16)
memory usage: 2.1+ MB

In [60]:
df.groupby(['State','Effective To Date'])['Number of Policies'].count()

State       Effective To Date
Arizona     1                    1008
            2                     929
California  1                    1918
            2                    1634
Nevada      1                     551
            2                     442
Oregon      1                    1565
            2                    1344
Washington  1                     463
            2                     425
Name: Number of Policies, dtype: int64

In [64]:
table = df.groupby(['State', 'Effective To Date'])['Number of Policies'].count().unstack(fill_value=0)
table

Effective To Date     1     2
State
Arizona            1008   929
California         1918  1634
Nevada              551   442
Oregon             1565  1344
Washington          463   425

#### 6.Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

In [127]:
#pick top 3 states
df_state=df.groupby(['State'])['Number of Policies'].count().sort_values(ascending=False)
top_states=df_state.head(3)

#group by month and state
grp=df.groupby(['State','Effective To Date'])['Number of Policies'].count().sort_values(ascending=False)

In [129]:
#df_filtered with top 3 states
df_filtered = grp[grp.index.get_level_values('State').isin(top_states.index)]
df_filtered

State       Effective To Date
California  1                    1918
            2                    1634
Oregon      1                    1565
            2                    1344
Arizona     1                    1008
            2                     929
Name: Number of Policies, dtype: int64