# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [4]:
import pandas as pd

raw_data = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
raw_data.columns = [item.lower().replace(' ', '_') for item in raw_data.columns]

In [6]:

print(raw_data.columns)
raw_data.shape

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

(10910, 26)

In [8]:
raw_data["response"].value_counts()

response
No     8813
Yes    1466
Name: count, dtype: int64

In [9]:
data = raw_data[(raw_data["total_claim_amount"] > 1000) & (raw_data["response"] == "Yes")]
data.shape

(67, 26)

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [12]:
raw_data["response"].value_counts()

response
No     8813
Yes    1466
Name: count, dtype: int64

In [11]:
data_2 = raw_data[(raw_data["response"] == "Yes")]
print(data_2.shape)
data_2.pivot_table(values="total_claim_amount", index=["gender", "policy_type"], aggfunc="mean").round(2)

(1466, 26)

                       total_claim_amount
gender policy_type
F      Corporate Auto              433.74
       Personal Auto               452.97
       Special Auto                453.28
M      Corporate Auto              408.58
       Personal Auto               457.01
       Special Auto                429.53

In [14]:
raw_data.pivot_table(values="total_claim_amount", index=["gender", "policy_type"], columns=["response"], aggfunc="mean").round(2)

response                   No     Yes
gender policy_type
F      Corporate Auto  388.10  433.74
       Personal Auto   407.50  452.97
       Special Auto    458.31  453.28
M      Corporate Auto  472.46  408.58
       Personal Auto   462.55  457.01
       Special Auto    425.03  429.53

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [19]:
print(raw_data.shape)
data_unique = raw_data.drop_duplicates(subset=["customer"])
print(data_unique.shape)
data_unique.pivot_table(values="customer", index=["state"], aggfunc="count")

(10910, 26)
(9134, 26)

            customer
state
Arizona         1655
California      3035
Nevada           863
Oregon          2517
Washington       774

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [26]:
data_unique.groupby(by=["gender", "education"]).agg({"customer_lifetime_value":["min", "max", "median"] }).round(2)

                            customer_lifetime_value
                                                min       max   median
gender education
F      Bachelor                             1904.00  73225.96  5678.05
       College                              1898.68  61850.19  5621.79
       Doctor                               2395.57  44856.11  5332.46
       High School or Below                 2144.92  55277.45  6044.02
       Master                               2417.78  51016.07  5801.13
M      Bachelor                             1898.01  67907.27  5555.83
       College                              1918.12  61134.68  5989.77
       Doctor                               2267.60  32677.34  5620.59
       High School or Below                 1940.98  83325.38  6176.70
       Master                               2272.31  50568.26  5617.96

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here