# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [188]:

import numpy as np
import pandas as pd
mktg_df= pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")




#clean columns names: lowercase, delete 0 in unnamed, employment status  space, change spaces for_, empty column?, 
# duplicates, nulls, formatting string and numbers and dates (map, apply)
#with function (function that put column names in lowercase, replaces whithe espaces by _ and change  st to state

def clean_column_names(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    df = df.rename(columns={str('employmentstatus'): 'employment_status'})
    df = df.rename(columns={str('unnamed:_0'): 'unnamed'})
    return df    
    
    #return df

mktg_df= clean_column_names(mktg_df)
mktg_df.head()

#Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

#total claim amount check format
#mktg_df.dtypes
#mktg_df=mktg_df.copy()
#check response unique values

#mktg_df["response"].unique()
new_df = m_df[(m_df.total_claim_amount > 1000) & (m_df.response == "Yes")]
new_df.head()
#new_df["response"].unique()

,unnamed,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [190]:

#mktg_df
responded_yes_df = mktg_df[mktg_df['response'] == 'Yes']

print("The average total_claim_amount is: ")
print(mktg_df.total_claim_amount.mean())
print("The average total_claim_amount for customers who have responded yes is: ")
print(responded_yes_df.total_claim_amount.mean())
print()
#responded_yes_df = mktg_df[mktg_df['response'] == 'Yes']
avrg_policy_claims = responded_yes_df.groupby(['policy_type'])['total_claim_amount'].mean().reset_index()
avrg_gender_claims = responded_yes_df.groupby(['gender'])['total_claim_amount'].mean().reset_index()
avrg_claims = responded_yes_df.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().reset_index()
print("The average total_claim_amount by each policy type is: ")
print(avrg_policy_claims)
print()
print("The average total_claim_amount by each policy type is: ")
print(avrg_gender_claims)
print()
print("The average total_claim_amount by each policy type and gender is: ")
print(avrg_claims)

#First of all we can see than the average is much higher in those cases that the customers responded yes.
#By observing first the average total_claim_amountin those cases that the customers responded yes we can see that Personal Auto has the highst averege followed by Special Auto, being corporate Auto much lower than the average.
#The average total_claim_amount by each policy type is:
#Looking at the average total_claim_amount in those cases that the customers responded yes, between male and females we see that for females the average is slightly higher.
#Considering all the variables, we observe that specially for corporate auto the average is considerably higher for female than male, same as for the special auto. In contrast for the personal auto the average is slightly higher for males.

#gender and policy type are significant factors influencing the total claim amounts for customers who responded positively to the marketing campaign.

The average total_claim_amount is:
434.8883297028414
The average total_claim_amount for customers who have responded yes is:
447.06157009890853

The average total_claim_amount by each policy type is:
      policy_type  total_claim_amount
0  Corporate Auto          421.744598
1   Personal Auto          454.980536
2    Special Auto          441.935819

The average total_claim_amount by each policy type is:
  gender  total_claim_amount
0      F          448.613190
1      M          445.462671

The average total_claim_amount by each policy type and gender is:
      policy_type gender  total_claim_amount
0  Corporate Auto      F          433.738499
1  Corporate Auto      M          408.582459
2   Personal Auto      F          452.965929
3   Personal Auto      M          457.010178
4    Special Auto      F          453.280164
5    Special Auto      M          429.527942

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [192]:

customers_state = mktg_df['state'].value_counts().reset_index()
customers_state.columns = ['state', 'customer_count']

customers_500 = customers_state[customers_state['customer_count'] > 500]

print(customers_500)

        state  customer_count
0  California            3552
1      Oregon            2909
2     Arizona            1937
3      Nevada             993
4  Washington             888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [194]:

stats = mktg_df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median']).astype(int)

print(stats)

                               max   min  median
education            gender
Bachelor             F       73225  1904    5640
                     M       67907  1898    5548
College              F       61850  1898    5623
                     M       61134  1918    6005
Doctor               F       44856  2395    5332
                     M       32677  2267    5577
High School or Below F       55277  2144    6039
                     M       83325  1940    6286
Master               F       51016  2417    5729
                     M       50568  2272    5579

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [197]:
#mktg_df.head()
mktg_df['effective_to_date'].unique()
mktg_df['effective_to_date'] = pd.to_datetime(mktg_df['effective_to_date'], format='%m/%d/%y')
mktg_df['month'] = mktg_df['effective_to_date'].dt.strftime('%B')

pivot_df = mktg_df.pivot_table(index='state', columns='month', values='customer_lifetime_value', aggfunc='count', fill_value=0)

print(pivot_df.head())

month       February  January
state
Arizona          929     1008
California      1634     1918
Nevada           442      551
Oregon          1344     1565
Washington       425      463

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [199]:
top_3 = (mktg_df.groupby(['state', 'month']).size().reset_index(name='policy_count').groupby('month').apply(lambda x: x.nlargest(3, 'policy_count')).reset_index(drop=True))
top_3_month = pd.pivot_table(top_3_states_policies, index='state', columns='month', values='policy_count', fill_value=0)
top_3_month = top_3_month.astype(int)
print(top_3_month)

month       February  January
state
Arizona          929     1008
California      1634     1918
Oregon          1344     1565

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [210]:

mktg_df.head()

response_rate = pd.melt(mktg_df, id_vars=['response'], value_vars=['sales_channel'], var_name='sales_channel_variable', value_name='sales_channel_value')
response_rate = response_rate[response_rate['response'] == 'Yes']
response_rate_by_channel = response_rate.groupby('sales_channel_value').size().reset_index(name='response_count')

print(response_rate_by_channel)

  sales_channel_value  response_count
0               Agent             742
1              Branch             326
2         Call Center             221
3                 Web             177