# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [98]:
import numpy as np
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
marketing_df = pd.read_csv(url)

marketing_df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [99]:
marketing_df[(marketing_df["Total Claim Amount"] > 1000) & (marketing_df["Response"] == "Yes")]

marketing_df["Gender"].unique()

array(['M', 'F'], dtype=object)

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [122]:
marketing_df.groupby(["Response"]).get_group("Yes").groupby(["Response","Gender"])[["Total Claim Amount"]].mean()
#Same proportion betw F and M

                 Total Claim Amount
Response Gender
Yes      F               448.613190
         M               445.462671

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [126]:
group = marketing_df.groupby("State")[["Customer"]].count()
group

            Customer
State
Arizona         1937
California      3552
Nevada           993
Oregon          2909
Washington       888

In [128]:
filtered_df = group[group["Customer"] > 500]
filtered_df

            Customer
State
Arizona         1937
California      3552
Nevada           993
Oregon          2909
Washington       888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [103]:
marketing_df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [104]:
marketing_df.groupby(["Education", "Gender"])[["Customer Lifetime Value"]].agg(["min", "max", "median"])
#Education and gender don't have a big impact of Lifetime Value

                            Customer Lifetime Value
                                                min          max       median
Education            Gender
Bachelor             F                  1904.000852  73225.95652  5640.505303
                     M                  1898.007675  67907.27050  5548.031892
College              F                  1898.683686  61850.18803  5623.611187
                     M                  1918.119700  61134.68307  6005.847375
Doctor               F                  2395.570000  44856.11397  5332.462694
                     M                  2267.604038  32677.34284  5577.669457
High School or Below F                  2144.921535  55277.44589  6039.553187
                     M                  1940.981221  83325.38119  6286.731006
Master               F                  2417.777032  51016.06704  5729.855012
                     M                  2272.307310  50568.25912  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [105]:
marketing_df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [106]:
policy = marketing_df.groupby(["State", "Months Since Policy Inception"])[["Number of Policies"]].count().reset_index()

policy

          State  Months Since Policy Inception  Number of Policies
0       Arizona                              0                  16
1       Arizona                              1                  11
2       Arizona                              2                  14
3       Arizona                              3                  28
4       Arizona                              4                  17
..          ...                            ...                 ...
495  Washington                             95                   8
496  Washington                             96                   8
497  Washington                             97                   3
498  Washington                             98                   7
499  Washington                             99                   9

[500 rows x 3 columns]

In [109]:
table = policy.pivot_table(index = "State", 
                           columns = "Months Since Policy Inception", 
                           values = "Number of Policies",
                           aggfunc = "sum"
                          )
table

Months Since Policy Inception,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
State,,,,,,,,,,,,,,,,,,,,,
Arizona,16,11,14,28,17,19,19,13,17,19,...,15,20,21,21,26,16,11,9,14,24
California,45,34,27,38,37,32,27,33,33,44,...,28,19,22,27,26,28,26,20,20,32
Nevada,9,10,9,11,15,5,5,16,16,14,...,14,12,2,13,2,19,8,6,5,9
Oregon,21,27,40,40,27,29,25,25,22,32,...,22,28,30,30,18,17,21,18,13,16
Washington,6,10,8,13,9,8,5,7,7,3,...,13,10,10,11,7,8,8,3,7,9

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [118]:
new_df = marketing_df.groupby(["State", "Months Since Policy Inception"])[["Number of Policies"]].count().sort_values(by = "Number of Policies", ascending = False)
filtered_df = new_df.groupby("State")["Number of Policies"].sum()

final_df = filtered_df.head(3)
display(final_df)

State
Arizona       1937
California    3552
Nevada         993
Name: Number of Policies, dtype: int64

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [119]:
# your code goes here
marketing_df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [120]:
melted_df = pd.melt(marketing_df, id_vars=['Customer', 'Response', 'Sales Channel'], 
                    value_vars=['Policy Type', 'Coverage', 'Education', 'Vehicle Class', 'Vehicle Size', 'Location Code', 'EmploymentStatus'],
                    var_name='Variable', value_name='Value')

print(melted_df.head())

  Customer Response Sales Channel     Variable           Value
0  DK49336       No         Agent  Policy Type  Corporate Auto
1  KX64629       No   Call Center  Policy Type   Personal Auto
2  LZ68649       No   Call Center  Policy Type   Personal Auto
3  XL78013      Yes        Branch  Policy Type  Corporate Auto
4  QA50777       No        Branch  Policy Type   Personal Auto

In [121]:
response_rate_df = melted_df.groupby('Sales Channel').agg(
    total_customers=('Response', 'size'),
    positive_responses=('Response', lambda x: (x == 'Yes').sum())
).reset_index()


response_rate_df['response_rate'] = response_rate_df['positive_responses'] / response_rate_df['total_customers']

print(response_rate_df[['Sales Channel', 'response_rate']])

  Sales Channel  response_rate
0         Agent       0.180053
1        Branch       0.107876
2   Call Center       0.103223
3           Web       0.108856