# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [26]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
#display(df.head())

In [43]:
# Check for missing values and dublicapye rows
display(df.isnull().sum)
display(df.duplicated().sum())

<bound method DataFrame.sum of        Unnamed: 0  Customer  State  Customer Lifetime Value  Response  \
0           False     False  False                    False     False
1           False     False  False                    False     False
2           False     False  False                    False     False
3           False     False  False                    False     False
4           False     False  False                    False     False
...           ...       ...    ...                      ...       ...
10905       False     False  False                    False     False
10906       False     False  False                    False     False
10907       False     False  False                    False     False
10908       False     False  False                    False     False
10909       False     False   True                    False      True

       Coverage  Education  Effective To Date  EmploymentStatus  Gender  ...  \
0         False      False              False             False   False  ...
1         False      False              False             False   False  ...
2         False      False              False             False   False  ...
3         False      False              False             False   False  ...
4         False      False              False             False   False  ...
...         ...        ...                ...               ...     ...  ...
10905     False      False              False             False   False  ...
10906     False      False              False             False   False  ...
10907     False      False              False             False   False  ...
10908     False      False              False             False   False  ...
10909     False      False              False             False   False  ...

       Number of Open Complaints  Number of Policies  Policy Type  Policy  \
0                          False               False        False   False
1                          False               False        False   False
2                          False               False        False   False
3                          False               False        False   False
4                           True               False        False   False
...                          ...                 ...          ...     ...
10905                       True               False        False   False
10906                      False               False        False   False
10907                      False               False        False   False
10908                      False               False        False   False
10909                      False               False        False   False

       Renew Offer Type  Sales Channel  Total Claim Amount  Vehicle Class  \
0                 False          False               False          False
1                 False          False               False          False
2                 False          False               False          False
3                 False          False               False          False
4                 False          False               False          False
...                 ...            ...                 ...            ...
10905             False          False               False          False
10906             False          False               False          False
10907             False          False               False          False
10908             False          False               False          False
10909             False          False               False          False

       Vehicle Size  Vehicle Type
0             False          True
1             False          True
2             False         False
3             False         False
4             False          True
...             ...           ...
10905         False         False
10906         False         False
10907         False          True
10908         False         False
10909         False          True

[10910 rows x 26 columns]>

0

In [36]:
# customers who have a total_claim_amount > $1,000 and say "Yes"
filtered_df = df[(df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')]
display(filtered_df.head())

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

In [34]:
# Group by policy type and gender, average total claim amount
avg_claim_amount = filtered_df.groupby(['Policy', 'Gender'])['Total Claim Amount'].mean().round(2)
display(avg_claim_amount)

Policy        Gender
Corporate L1  M         1008.00
Corporate L2  F         1137.60
              M         1175.90
Corporate L3  F         1139.20
              M         1324.80
Personal L1   F         1229.19
              M         1053.06
Personal L2   F         1149.65
              M         1225.66
Personal L3   F         1253.24
              M         1128.52
Special L1    M         1027.00
Special L2    M         1008.00
Special L3    F         1358.40
Name: Total Claim Amount, dtype: float64

In [39]:
# Customers numbers>500
customer_count_by_state = df['State'].value_counts()
states_with_more_than_500_customers = customer_count_by_state[customer_count_by_state > 500]
display(states_with_more_than_500_customers)

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

In [42]:
# Group by education level and gender, customer lifetime value max/min/median
lifetime_value_stats = df.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median']).round(2)
display(lifetime_value_stats)

                                  max      min   median
Education            Gender
Bachelor             F       73225.96  1904.00  5640.51
                     M       67907.27  1898.01  5548.03
College              F       61850.19  1898.68  5623.61
                     M       61134.68  1918.12  6005.85
Doctor               F       44856.11  2395.57  5332.46
                     M       32677.34  2267.60  5577.67
High School or Below F       55277.45  2144.92  6039.55
                     M       83325.38  1940.98  6286.73
Master               F       51016.07  2417.78  5729.86
                     M       50568.26  2272.31  5579.10

Conclusion: 
1. The customers who responded "Yes" to the last marketing campaign and have a total claim amount greater than $1,000, the average total claim amount varies across different policy types and genders.
2. States with more than 500 customers with policies include California, Oregon, Arizona, Nevada and Washington.
3. Customer lifetime value varies across different education levels and genders, with different maximum, minimum, and median values observed. Among, the male with high school or below education degree have the maximum value, and the male with bachelor degree have the minimum value.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here