# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [90]:
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [91]:
df['Effective To Date'].value_counts()

1/10/11    239
1/27/11    239
1/31/11    224
1/17/11    221
2/14/11    221
1/26/11    220
1/3/11     216
1/19/11    212
2/27/11    205
1/28/11    203
2/26/11    202
1/20/11    201
1/21/11    199
2/4/11     198
2/7/11     197
2/19/11    196
2/3/11     195
1/11/11    195
1/5/11     193
2/28/11    192
2/22/11    191
1/2/11     191
2/18/11    186
2/10/11    186
2/11/11    184
1/23/11    184
2/12/11    183
1/18/11    183
2/25/11    183
1/8/11     182
1/29/11    182
1/9/11     182
2/5/11     181
2/1/11     181
2/2/11     181
2/9/11     180
1/14/11    180
1/24/11    179
2/21/11    178
1/7/11     178
2/23/11    176
1/30/11    173
1/15/11    172
1/16/11    172
1/13/11    171
1/1/11     171
2/6/11     171
1/25/11    168
2/13/11    168
2/16/11    167
2/24/11    162
2/17/11    162
1/6/11     161
2/20/11    156
2/15/11    155
2/8/11     155
1/22/11    148
1/12/11    148
1/4/11     131
Name: Effective To Date, dtype: int64

In [6]:
# read the cleaned version of the marketing_customer_analysis.csv
# from the previous lab

marketing_customer_df = pd.read_csv('/Users/minhnguyen/IronHack2023-2024/Bootcamp/Week_1/Day_4/Morning/lab-dw-data-structuring-and-combining/marketing_customer_analysis_clean.csv')
marketing_customer_df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month,effective_to_month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medium,A,2,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medium,A,1,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medium,A,2,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medium,A,1,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medium,A,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury,Medium,A,1,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medium,A,1,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury,Medium,A,2,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medium,A,2,2
10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medium,A,1,1

In [7]:
# checking info about marketing_customer_df
marketing_customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10910 non-null  object
 1   state                          10910 non-null  object
 2   customer_lifetime_value        10910 non-null  float64
 3   response                       10910 non-null  object
 4   coverage                       10910 non-null  object
 5   education                      10910 non-null  object
 6   effective_to_date              10910 non-null  object
 7   employment_status              10910 non-null  object
 8   gender                         10910 non-null  object
 9   income                         10910 non-null  int64
 10  location_code                  10910 non-null  object
 11  marital_status                 10910 non-null  object
 12  monthly_premium_auto           10910 non-null  int64
 13  months_since_last_claim        10910 non-null  int64
 14  months_since_policy_inception  10910 non-null  int64
 15  number_of_open_complaints      10910 non-null  int64
 16  number_of_policies             10910 non-null  int64
 17  policy_type                    10910 non-null  object
 18  policy                         10910 non-null  object
 19  renew_offer_type               10910 non-null  object
 20  sales_channel                  10910 non-null  object
 21  total_claim_amount             10910 non-null  float64
 22  vehicle_class                  10910 non-null  object
 23  vehicle_size                   10910 non-null  object
 24  vehicle_type                   10910 non-null  object
 25  month                          10910 non-null  int64
 26  effective_to_month             10910 non-null  int64
dtypes: float64(2), int64(8), object(17)
memory usage: 2.2+ MB

In [10]:
# 1. Create a new DataFrame that only includes customers who 
# have a total_claim_amount greater than $1,000 
# and have a response of "Yes" to the last marketing campaign

customer_group_1_df = marketing_customer_df[(marketing_customer_df['total_claim_amount']>1000) & (marketing_customer_df['response'] == 'Yes')]
customer_group_1_df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month,effective_to_month
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury,Medium,A,1,1
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury,Medium,A,1,1
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury,Small,A,2,2
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,16181,...,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medium,A,2,2
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medium,A,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,FN44127,Oregon,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,A,1,1
10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,55687,...,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury,Medium,A,2,2
10487,IX60941,Oregon,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,A,1,1
10565,QO62792,Oregon,7840.165778,Yes,Extended,College,2011-01-14,Employed,M,58414,...,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Four-Door Car,Medium,A,1,1
10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medium,A,1,1

In [15]:
# 2.Using the original Dataframe, analyze the average 
# total_claim_amount by each policy type and gender 
# for customers who have responded "Yes" to the last marketing campaign.
# Write your conclusions.
marketing_customer_df[marketing_customer_df['response'] == 'Yes'].groupby(['policy_type','gender']).agg({'total_claim_amount': 'mean'})


# conclusions
# there is no big difference in total_claim_amount between female and male among three types of policy

                       total_claim_amount
policy_type    gender
Corporate Auto F               433.738499
               M               408.582459
Personal Auto  F               452.965929
               M               457.010178
Special Auto   F               453.280164
               M               429.527942

In [28]:
# 3.Analyze the total number of customers who have policies
# in each state, and then filter the results to only include
# states where there are more than 500 customers.

total_customer_in_each_state = marketing_customer_df.groupby('state').agg({'customer':'count'})
display(total_customer_in_each_state)
state_with_more_than_500_customers = total_customer_in_each_state[total_customer_in_each_state['customer'] > 500]

            customer
state
Arizona         1937
California      4183
Nevada           993
Oregon          2909
Washington       888

In [34]:
marketing_customer_df['state'].value_counts()

California    4183
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: state, dtype: int64

In [40]:
# 4.Find the maximum, minimum, and median customer lifetime value
# by education level and gender. Write your conclusions.

marketing_customer_df.groupby(['education', 'gender']).agg({'customer_lifetime_value': [max, min, 'median', 'mean']}).round(2)

# conclusion
# 1. generally, there is no big difference of median value of customer_lifetime_value between gender (F vs M)
# among different education levels. 
# 2. I observed a huge range between max and min value of customer_lifetime_value.
# On top of that, the median values for all the group range around 5000 - 6500,
# and below mean values,
# indicating that distribution of this customer_lifetime_value data 
# is skewed, and the max values in each group are rather a refection 
# of potential outliers

                            customer_lifetime_value
                                                max      min   median     mean
education            gender
Bachelor             F                     73225.96  1904.00  5640.51  7874.27
                     M                     67907.27  1898.01  5548.03  7703.60
College              F                     61850.19  1898.68  5623.61  7748.82
                     M                     61134.68  1918.12  6005.85  8052.46
Doctor               F                     44856.11  2395.57  5332.46  7328.51
                     M                     32677.34  2267.60  5577.67  7415.33
High School or Below F                     55277.45  2144.92  6039.55  8675.22
                     M                     83325.38  1940.98  6286.73  8149.69
Master               F                     51016.07  2417.78  5729.86  8157.05
                     M                     50568.26  2272.31  5579.10  8168.83

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [93]:
df5 = pd.pivot_table(marketing_customer_df, index = ['state', 'month'], values = 'policy', aggfunc= 'count')
display(df5.columns)
display(df5)

df5 = df5.reset_index()
display(df5)


pd.pivot(df5,index = 'state',columns = 'month',  values = 'policy')

Index(['policy'], dtype='object')

                  policy
state      month
Arizona    1        1008
           2         929
California 1        2231
           2        1952
Nevada     1         551
           2         442
Oregon     1        1565
           2        1344
Washington 1         463
           2         425

        state  month  policy
0     Arizona      1    1008
1     Arizona      2     929
2  California      1    2231
3  California      2    1952
4      Nevada      1     551
5      Nevada      2     442
6      Oregon      1    1565
7      Oregon      2    1344
8  Washington      1     463
9  Washington      2     425

month          1     2
state
Arizona     1008   929
California  2231  1952
Nevada       551   442
Oregon      1565  1344
Washington   463   425

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [137]:
# group data by 'state', 'month', count 'policy'
df6_test = marketing_customer_df.groupby(['state', 'month']).agg({'policy': 'count'})

display(df6_test.columns)
display(df6_test)
#df6_test = df6_test.reset_index()
#df6_test = df6_test.pivot(index = 'state', columns = 'month', values = 'policy')
#df6_test.columns
#df6_test.droplevel(1)
#df6_test.columns
#df6_test.index

#sort based on policy value of df6_test, and select only top 6 (as we have 2 levels of row-index, there for head(6))
# if it makes any sense?
display(df6_test.sort_values (by ='policy', ascending = False).head(6))

Index(['policy'], dtype='object')

                  policy
state      month
Arizona    1        1008
           2         929
California 1        2231
           2        1952
Nevada     1         551
           2         442
Oregon     1        1565
           2        1344
Washington 1         463
           2         425

                  policy
state      month
California 1        2231
           2        1952
Oregon     1        1565
           2        1344
Arizona    1        1008
           2         929

In [115]:
# another way:

# group data by 'state'
test2 = marketing_customer_df.groupby(['state']).agg({'policy': 'count'})
display(test2)

#select top 3 states
top =  test2.nlargest(3, 'policy')
display(top)

# get the name of the top 3 states, and select only data for these states
top.index
top_states = marketing_customer_df[marketing_customer_df['state'].isin(top.index)]
display()

# group top_states data by 'state', 'month', and count 'policy'
top_states = top_states.groupby(['state', 'month']).agg({'policy': 'count'})
top_states

            policy
state
Arizona       1937
California    4183
Nevada         993
Oregon        2909
Washington     888

            policy
state
California    4183
Oregon        2909
Arizona       1937

                  policy
state      month
Arizona    1        1008
           2         929
California 1        2231
           2        1952
Oregon     1        1565
           2        1344

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [163]:
# your code goes here
response_df = marketing_customer_df.pivot_table(index = 'sales_channel', columns = 'response', values ='customer', aggfunc = {'response': 'count'} )
display(response_df)
#response_df = response_df.reset
display(response_df.index)
response_df['yes_rate'] = round((response_df['Yes']*100/(response_df['Yes']+response_df['No'])),2)
response_df

# base on yes_rate, agent channel has the highest yes_rate

response         No  Yes
sales_channel
Agent          3379  742
Branch         2696  326
Call Center    1920  221
Web            1449  177

Index(['Agent', 'Branch', 'Call Center', 'Web'], dtype='object', name='sales_channel')

response         No  Yes  yes_rate
sales_channel
Agent          3379  742     18.01
Branch         2696  326     10.79
Call Center    1920  221     10.32
Web            1449  177     10.89