# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [35]:
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
insurance_db_4 = pd.read_csv(url)
df_1 = insurance_db_4[(insurance_db_4['total_claim_amount'] > 1000) & (insurance_db_4['response'] == 'Yes')].drop(columns=["unnamed:_0"]).reset_index()
df_1

,index,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,...,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
1,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,...,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
2,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,...,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A,2
3,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A,2
4,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,...,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,...,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,A,1
63,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,...,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A,2
64,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,...,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,A,1
65,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,2011-01-14,Employed,M,...,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Four-Door Car,Medsize,A,1
66,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,...,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A,1

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [36]:
marketing_yes = insurance_db_4[(insurance_db_4["response"]=="Yes")]
df_2 = marketing_yes.groupby(["policy_type","gender"]).agg({"total_claim_amount":"mean"}).reset_index()
df_2 = round(df_2,2)
df_2

      policy_type gender  total_claim_amount
0  Corporate Auto      F              433.74
1  Corporate Auto      M              408.58
2   Personal Auto      F              452.97
3   Personal Auto      M              457.01
4    Special Auto      F              453.28
5    Special Auto      M              429.53

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [37]:
policy_count = insurance_db_4["state"].value_counts().reset_index()
df_3 = policy_count[(policy_count["count"]>500)]
df_3

        state  count
0  California   4183
1      Oregon   2909
2     Arizona   1937
3      Nevada    993
4  Washington    888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [38]:
# finding maximum:
df_4 = insurance_db_4.groupby(["education","gender"]).agg({"customer_lifetime_value":"max"})
df_4 = round(df_4,2)
df_4

                             customer_lifetime_value
education            gender
Bachelor             F                      73225.96
                     M                      67907.27
College              F                      61850.19
                     M                      61134.68
Doctor               F                      44856.11
                     M                      32677.34
High School or Below F                      55277.45
                     M                      83325.38
Master               F                      51016.07
                     M                      50568.26

In [39]:
# finding minimum:
df_4 = insurance_db_4.groupby(["education","gender"]).agg({"customer_lifetime_value":"min"})
df_4 = round(df_4,2)
df_4

                             customer_lifetime_value
education            gender
Bachelor             F                       1904.00
                     M                       1898.01
College              F                       1898.68
                     M                       1918.12
Doctor               F                       2395.57
                     M                       2267.60
High School or Below F                       2144.92
                     M                       1940.98
Master               F                       2417.78
                     M                       2272.31

In [40]:
# finding median:
df_4 = insurance_db_4.groupby(["education","gender"]).agg({"customer_lifetime_value":"median"})
df_4 = round(df_4,2)
df_4

                             customer_lifetime_value
education            gender
Bachelor             F                       5640.51
                     M                       5548.03
College              F                       5623.61
                     M                       6005.85
Doctor               F                       5332.46
                     M                       5577.67
High School or Below F                       6039.55
                     M                       6286.73
Master               F                       5729.86
                     M                       5579.10

In [ ]:
#conclusion: Male whos education level is high school or bellow are the top customer with life time value. Bachelor male are at the bottom of this chart.
#            Both male and female are at a range of 5.5k - 6.2k considering the median of their life time value with the insurance company.
#            College educated female has the lowest value while bachelor educated has the highest life time value as per the analysis

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [41]:
# your code goes here