# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [49]:
import pandas as pd

pd.set_option('display.max_columns', None)

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"

df_og = pd.read_csv(url)

df_og.drop(columns=["Unnamed: 0"], inplace=True)

df_og.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [50]:
df_filtered = df_og[(df_og["Total Claim Amount"] > 1000) & (df_og["Response"] == 'Yes')]

df_filtered.shape

(67, 25)

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [51]:
df_og[df_og["Response"] == 'Yes'].groupby(["Policy Type", "Gender"]).agg({"Total Claim Amount" : "mean"})

# df_og.rename(columns={"Total Claim Amount" : "total_claim_amount"}, inplace=True)
# df_og[df_og["Response"] == 'Yes'].groupby(["Policy Type", "Gender"]).total_claim_amount.mean()       Si el nombre de mi columna no tiene espacios podria hacerlo así sin el agg como tal

                       Total Claim Amount
Policy Type    Gender
Corporate Auto F               433.738499
               M               408.582459
Personal Auto  F               452.965929
               M               457.010178
Special Auto   F               453.280164
               M               429.527942

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [52]:
# df_og.groupby(["State", "Policy Type"]).agg({"Customer" : "count"}).loc[lambda x: x['Customer'] > 500]

df_og.groupby("State").agg({"Customer" : "count"}).loc[lambda x: x['Customer'] > 500].sort_values(by="Customer", ascending=False)

            Customer
State
California      3552
Oregon          2909
Arizona         1937
Nevada           993
Washington       888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [53]:
df_og.groupby(["Education", "Gender"]).agg({"Customer Lifetime Value" : ["max", "min", "median"]})

                            Customer Lifetime Value
                                                max          min       median
Education            Gender
Bachelor             F                  73225.95652  1904.000852  5640.505303
                     M                  67907.27050  1898.007675  5548.031892
College              F                  61850.18803  1898.683686  5623.611187
                     M                  61134.68307  1918.119700  6005.847375
Doctor               F                  44856.11397  2395.570000  5332.462694
                     M                  32677.34284  2267.604038  5577.669457
High School or Below F                  55277.44589  2144.921535  6039.553187
                     M                  83325.38119  1940.981221  6286.731006
Master               F                  51016.06704  2417.777032  5729.855012
                     M                  50568.25912  2272.307310  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [54]:
df_og["Effective To Date"] = df_og["Effective To Date"].str.split("/").str[0]

df_bonus = df_og.pivot_table(index="State", columns="Effective To Date", values="Number of Policies", aggfunc='count').rename_axis(columns="Mes")
df_bonus

Mes            1     2
State
Arizona     1008   929
California  1918  1634
Nevada       551   442
Oregon      1565  1344
Washington   463   425

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [55]:
df_bonus2 = df_og.pivot_table(index="State", columns="Effective To Date", values="Number of Policies", aggfunc='count').rename_axis(columns="Mes").sort_values(by=["1", "2"], ascending=False).head(3)

df_bonus2

# Pregunta: ¿y si los estados tuvieran valores diferentes entre el mes 1 y 2?. Ej:
#             1       2
# California  1918    929
# Arizona     1008    1634

# La solución sería pasar por una columna que tome mes 1 y 2 y les de X% de importancia a cada una

Mes            1     2
State
California  1918  1634
Oregon      1565  1344
Arizona     1008   929

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [56]:
# your code goes here

df_bonus3 = df_og.groupby("Sales Channel")["Response"].value_counts().unstack(fill_value=0)
# ["Response"].value_counts() cuenta cuantas veces aparece cada valor de Response en la columna 
# .unstack()    Transforma el result agrupado en formato dataframe, permitiendo que los valores Yes y No se vuelvan columnas distinguibles
# El fill_value=0 hace que si no hay dato ponga 0 en vez de NA

df_bonus3

Response         No  Yes
Sales Channel
Agent          3148  742
Branch         2539  326
Call Center    1792  221
Web            1334  177