# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [2]:
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'

df = pd.read_csv(url)
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [5]:
import sys
sys.path.append(r'C:\Users\lenovo\Documents\ironhack\labs\lab-dw-data-cleaning-and-formatting')

from data_cleaning import to_snake_casing

df.columns = to_snake_casing(df.columns)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10279 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10279 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employment_status              10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10277 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10277 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10288 non-null  object
 24  vehicle_size                   10288 non-null  object
 25  vehicle_type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [6]:
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employment_status', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [12]:
df.customer_lifetime_value = df.customer_lifetime_value.round(2)

In [14]:
df.number_of_open_complaints.dtype

dtype('float64')

In [18]:
df.number_of_open_complaints = df.number_of_open_complaints.astype('Int64')

In [19]:
df.number_of_open_complaints.dtype

Int64Dtype()

In [20]:
df.customer_lifetime_value.dtype

dtype('float64')

In [22]:
df.shape

(10910, 26)

In [26]:
df[df.state.isna()]

Empty DataFrame
Columns: [unnamed:_0, customer, state, customer_lifetime_value, response, coverage, education, effective_to_date, employment_status, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size, vehicle_type]
Index: []

[0 rows x 26 columns]

In [25]:
df.state = df.state.fillna("Unknown")

In [38]:
df.isna().sum()

unnamed:_0                         0
customer                           0
state                              0
customer_lifetime_value            0
response                           0
coverage                           0
education                          0
effective_to_date                  0
employment_status                  0
gender                             0
income                             0
location_code                      0
marital_status                     0
monthly_premium_auto               0
months_since_last_claim          633
months_since_policy_inception      0
number_of_open_complaints          0
number_of_policies                 0
policy_type                        0
policy                             0
renew_offer_type                   0
sales_channel                      0
total_claim_amount                 0
vehicle_class                    622
vehicle_size                     622
vehicle_type                       0
dtype: int64

In [32]:
df[df.response.isna()]

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
5,5,HO81102,Unknown,4745.18,NaN,Basic,High School or Below,2/14/11,Employed,M,...,0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
11,11,GE63585,Unknown,2420.71,NaN,Basic,Bachelor,2/7/11,Employed,M,...,0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
58,58,BR69566,Unknown,14019.83,NaN,Basic,College,2/18/11,Employed,M,...,0,2,Personal Auto,Personal L3,Offer4,Call Center,469.882367,Two-Door Car,Small,NaN
62,62,UF44021,Unknown,2108.49,NaN,Basic,Bachelor,1/2/11,Unemployed,M,...,0,1,Personal Auto,Personal L2,Offer1,Agent,351.856810,Two-Door Car,Medsize,NaN
126,126,TE60343,Unknown,4716.26,NaN,Basic,High School or Below,2/25/11,Employed,M,...,1,3,Corporate Auto,Corporate L3,Offer2,Agent,292.800000,Four-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10837,10837,IJ40048,Unknown,4978.95,NaN,Basic,Bachelor,1/31/11,Employed,M,...,0,4,Corporate Auto,Corporate L2,Offer1,Branch,221.241837,Four-Door Car,Medsize,A
10849,10849,SO38188,Unknown,5308.62,NaN,Extended,Bachelor,1/24/11,Employed,M,...,0,1,Special Auto,Special L2,Offer1,Agent,652.800000,SUV,Medsize,NaN
10874,10874,PD52748,Unknown,10036.54,NaN,Extended,High School or Below,2/12/11,Unemployed,F,...,1,8,Personal Auto,Personal L3,Offer1,Call Center,1353.289060,SUV,Medsize,NaN
10894,10894,EX63393,Unknown,6314.49,NaN,Extended,Master,2/27/11,Employed,F,...,0,6,Personal Auto,Personal L1,Offer3,Agent,374.400000,Four-Door Car,Small,NaN
10909,10909,IV32877,Unknown,6857.52,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [33]:
df.response = df.response.fillna("Unknown")

In [10]:
df.describe()

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
count,10910.000000,10910.000000,10910.000000,10910.000000,10277.000000,10910.000000,10277.000000,10910.000000,10910.000000
mean,5454.500000,8018.241093,37536.284785,93.196059,15.149071,48.091934,0.384256,2.979193,434.888330
std,3149.590053,6885.081426,30359.195670,34.442532,10.080349,27.940675,0.912457,2.399359,292.180556
min,0.000000,1898.010000,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,2727.250000,4014.450000,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,271.082527
50%,5454.500000,5771.145000,33813.500000,83.000000,14.000000,48.000000,0.000000,2.000000,382.564630
75%,8181.750000,8992.780000,62250.750000,109.000000,23.000000,71.000000,0.000000,4.000000,547.200000
max,10909.000000,83325.380000,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [37]:
df.vehicle_type.unique()

array(['Unknown', 'A'], dtype=object)

In [36]:
df.vehicle_type = df.vehicle_type.fillna("Unknown")

In [50]:
df.months_since_last_claim = df.months_since_last_claim.astype('Int64')

In [ ]:
df.months_since_last_claim.unique()

array([ 7.,  3., 34., 10., nan,  2.,  8., 35., 33., 19., 13.,  5., 24.,
       25.,  6., 20., 26., 14.,  9., 29., 11.,  1., 18., 16., 30., 12.,
        4., 22., 31., 21., 28., 17., 15., 32., 23., 27.,  0.])

In [42]:
df[df.months_since_last_claim.isna()]

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
4,4,QA50777,Oregon,9025.07,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Unknown
23,23,NQ71171,California,5107.07,No,Basic,Bachelor,2/2/11,Employed,M,...,0,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,Unknown
51,51,FT56968,Arizona,2590.10,No,Basic,High School or Below,1/3/11,Employed,M,...,0,1,Personal Auto,Personal L1,Offer1,Agent,321.600000,Four-Door Car,Large,A
59,59,EP83939,Arizona,5575.75,No,Basic,High School or Below,1/26/11,Employed,M,...,0,5,Personal Auto,Personal L3,Offer2,Call Center,109.904496,Four-Door Car,Medsize,Unknown
67,67,KR35099,Washington,7507.46,Yes,Basic,College,2/6/11,Employed,M,...,0,2,Personal Auto,Personal L3,Offer2,Agent,231.201886,Two-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10801,10801,AP56340,Washington,5384.67,No,Basic,Bachelor,2/26/11,Disabled,M,...,0,7,Personal Auto,Personal L2,Offer1,Agent,458.003651,Four-Door Car,Medsize,A
10816,10816,AW71157,California,5531.72,No,Basic,College,1/16/11,Employed,M,...,0,5,Personal Auto,Personal L1,Offer3,Web,17.484679,Four-Door Car,Medsize,A
10833,10833,OQ99704,Washington,3981.78,No,Basic,Bachelor,2/11/11,Employed,F,...,0,1,Personal Auto,Personal L3,Offer2,Branch,475.200880,SUV,Small,A
10834,10834,FU99476,Washington,6770.31,No,Extended,High School or Below,2/22/11,Employed,M,...,0,3,Personal Auto,Personal L1,Offer1,Call Center,95.338505,Four-Door Car,Medsize,A
10905,10905,FE99816,Nevada,15563.37,No,Premium,Bachelor,1/19/11,Unemployed,F,...,0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A

In [46]:
df['months_since_last_claim'].describe()

count      10277.0
mean     15.149071
std      10.080349
min            0.0
25%            6.0
50%           14.0
75%           23.0
max           35.0
Name: months_since_last_claim, dtype: Float64

In [51]:
mean_val = round(df.months_since_last_claim.mean())
df.months_since_last_claim = df.months_since_last_claim.fillna(mean_val)

In [56]:
df.vehicle_class.unique()

array(['Four-Door Car', 'SUV', 'Two-Door Car', 'Sports Car', 'Luxury Car',
       'Luxury SUV', nan], dtype=object)

In [58]:
df.vehicle_class.describe()

count             10288
unique                6
top       Four-Door Car
freq               5212
Name: vehicle_class, dtype: object

In [57]:
df.vehicle_size.unique()

array(['Medsize', 'Small', 'Large', nan], dtype=object)

In [59]:
df.vehicle_class = df.vehicle_class.fillna("Unknown")

In [60]:
df.vehicle_size = df.vehicle_size.fillna("Unknown")

In [55]:
df[df.vehicle_class.isna() & df.vehicle_size.isna()]

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
87,87,ZH92587,Oregon,8126.77,No,Basic,College,2/22/11,Disabled,F,...,0,3,Personal Auto,Personal L3,Offer1,Agent,513.600000,NaN,NaN,Unknown
88,88,CJ51511,Arizona,13466.92,Yes,Basic,High School or Below,2/23/11,Disabled,F,...,0,2,Corporate Auto,Corporate L3,Offer2,Agent,571.200000,NaN,NaN,Unknown
89,89,ME37450,Arizona,5210.35,No,Basic,Bachelor,1/4/11,Employed,M,...,0,5,Special Auto,Special L2,Offer1,Agent,37.960537,NaN,NaN,A
97,97,CA22248,Oregon,2505.42,No,Basic,Master,2/14/11,Employed,F,...,0,1,Personal Auto,Personal L3,Offer2,Branch,46.278027,NaN,NaN,A
148,148,HB24005,California,2347.05,No,Basic,College,2/2/11,Employed,M,...,1,1,Personal Auto,Personal L1,Offer1,Agent,244.269407,NaN,NaN,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10852,10852,KZ80424,Washington,8382.48,Yes,Basic,Bachelor,1/27/11,Employed,M,...,0,2,Personal Auto,Personal L2,Offer2,Call Center,791.878042,NaN,NaN,A
10860,10860,GA79817,Arizona,2369.11,No,Basic,Bachelor,2/5/11,Unemployed,M,...,0,1,Corporate Auto,Corporate L2,Offer3,Call Center,468.000000,NaN,NaN,Unknown
10879,10879,FK95213,California,18611.45,No,Extended,Master,1/16/11,Employed,F,...,0,7,Personal Auto,Personal L3,Offer2,Web,1021.654003,NaN,NaN,Unknown
10883,10883,FD64348,Oregon,22563.62,No,Basic,High School or Below,1/17/11,Employed,M,...,3,2,Personal Auto,Personal L3,Offer4,Branch,1.687291,NaN,NaN,A
10890,10890,VQ78876,Oregon,4660.40,No,Basic,Bachelor,2/3/11,Employed,F,...,0,1,Corporate Auto,Corporate L3,Offer1,Branch,43.155950,NaN,NaN,Unknown

In [83]:
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employment_status', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'low_total_claim_amount'],
      dtype='object')

In [61]:
df.isna().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employment_status                0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
dtype: int64

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [64]:
df.total_claim_amount = df.total_claim_amount.round(2)
df.total_claim_amount

0         292.80
1         744.92
2         480.00
3         484.01
4         707.93
          ...
10905    1214.40
10906     273.02
10907     381.31
10908     618.29
10909    1021.72
Name: total_claim_amount, Length: 10910, dtype: float64

In [65]:
def low_claim_amt(amount):
    if amount <1000.00:
        return "Yes"


df["low_total_claim_amount"] = df['total_claim_amount'].apply(low_claim_amt)
df.head(3)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,low_total_claim_amount
0,0,DK49336,Arizona,4809.22,No,Basic,College,2/18/11,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,Unknown,Yes
1,1,KX64629,California,2228.53,No,Basic,College,1/18/11,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,Unknown,Yes
2,2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2/10/11,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A,Yes

In [66]:
df.response.unique()

array(['No', 'Yes', 'Unknown'], dtype=object)

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [68]:
df[df['response']== 'Yes'].groupby(['policy_type','gender'])[['monthly_premium_auto','customer_lifetime_value']].mean()

                       monthly_premium_auto  customer_lifetime_value
policy_type    gender
Corporate Auto F                  94.301775              7712.628521
               M                  92.188312              7944.465974
Personal Auto  F                  98.998148              8339.791630
               M                  91.085821              7448.383265
Special Auto   F                  92.314286              7691.584571
               M                  86.343750              8247.089375

In [69]:
df[df['response']== 'Yes'].groupby(['policy_type','gender'])[['monthly_premium_auto','customer_lifetime_value','total_claim_amount']].mean()

                       monthly_premium_auto  customer_lifetime_value  \
policy_type    gender
Corporate Auto F                  94.301775              7712.628521
               M                  92.188312              7944.465974
Personal Auto  F                  98.998148              8339.791630
               M                  91.085821              7448.383265
Special Auto   F                  92.314286              7691.584571
               M                  86.343750              8247.089375

                       total_claim_amount
policy_type    gender
Corporate Auto F               433.738462
               M               408.582468
Personal Auto  F               452.966037
               M               457.010149
Special Auto   F               453.279714
               M               429.528125

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [77]:
state_count = df.groupby('state')['customer'].nunique()
top_states = state_count[state_count > 500]

In [78]:
top_states

state
Arizona       1703
California    3150
Nevada         882
Oregon        2601
Unknown        589
Washington     798
Name: customer, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [79]:
df.describe()

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
count,10910.000000,10910.000000,10910.000000,10910.000000,10910.0,10910.000000,10910.0,10910.000000,10910.000000
mean,5454.500000,8018.241093,37536.284785,93.196059,15.140422,48.091934,0.361962,2.979193,434.888383
std,3149.590053,6885.081426,30359.195670,34.442532,9.783582,27.940675,0.890134,2.399359,292.180518
min,0.000000,1898.010000,0.000000,61.000000,0.0,0.000000,0.0,1.000000,0.100000
25%,2727.250000,4014.450000,0.000000,68.000000,7.0,24.000000,0.0,1.000000,271.080000
50%,5454.500000,5771.145000,33813.500000,83.000000,15.0,48.000000,0.0,2.000000,382.565000
75%,8181.750000,8992.780000,62250.750000,109.000000,23.0,71.000000,0.0,4.000000,547.200000
max,10909.000000,83325.380000,99981.000000,298.000000,35.0,99.000000,5.0,9.000000,2893.240000

In [81]:
df.groupby(['education','gender'])['customer_lifetime_value'].agg(['max', 'min', 'median']).round(2)

                                  max      min   median
education            gender
Bachelor             F       73225.96  1904.00  5640.50
                     M       67907.27  1898.01  5548.03
College              F       61850.19  1898.68  5623.61
                     M       61134.68  1918.12  6005.85
Doctor               F       44856.11  2395.57  5332.46
                     M       32677.34  2267.60  5577.67
High School or Below F       55277.45  2144.92  6039.56
                     M       83325.38  1940.98  6286.74
Master               F       51016.07  2417.78  5729.86
                     M       50568.26  2272.31  5579.10

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [87]:
df['months'] = pd.to_datetime(df['effective_to_date']).dt.month_name()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_13392\3047162637.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['months'] = pd.to_datetime(df['effective_to_date']).dt.month_name()

In [88]:
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employment_status', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'low_total_claim_amount', 'months'],
      dtype='object')

In [85]:
df.monthly_premium_auto.unique()

array([ 61,  64, 100,  97, 117,  63, 154,  85, 127,  62,  99,  69, 116,
       114,  66,  73,  94, 104, 189,  74, 121, 110, 111,  72, 115, 159,
       101,  65,  82,  71, 126,  68, 199,  96,  67, 125, 249, 105,  92,
        78,  77,  79, 223, 242,  70, 102, 109, 107, 119, 194, 113, 106,
       247,  80,  86,  81,  83, 122, 253, 196, 132, 139,  84, 130,  93,
       103, 112, 222, 118,  88, 182, 283,  90, 128,  89, 235, 190,  76,
        87, 133, 153, 129,  98, 148, 123,  91, 211, 131, 108, 187, 214,
       181, 173, 252,  95, 124, 137, 145, 188, 143, 198, 138, 245, 195,
       186, 170, 136, 161, 157, 141, 205, 271, 192, 142, 140, 134, 240,
       185, 244, 210, 184, 202, 296, 213, 273, 219, 135, 169, 155, 225,
       266, 215, 197, 256, 212, 158, 180, 166, 168, 183, 162, 191, 179,
       150, 146, 276, 165, 239, 237, 193, 229, 274, 207, 295, 208, 172,
       217, 206, 201, 171, 152, 156, 174, 238, 167, 151, 144, 163, 287,
       209, 290, 220, 228, 232, 178, 177, 275, 176, 281, 149, 298, 255,
       216, 285, 226, 160, 147, 254, 164, 175, 297, 234, 284, 204, 218,
       261, 231, 248, 286, 230, 268, 203], dtype=int64)

In [90]:
pivot_df = df.pivot_table(index='state', columns='months', values=['number_of_policies'], aggfunc='sum')
pivot_df

           number_of_policies
months               February January
state
Arizona                  2864    3052
California               4929    5673
Nevada                   1278    1493
Oregon                   3969    4697
Unknown                   972     993
Washington               1225    1358

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [93]:
policy_count = df.groupby(['state','months']).size().reset_index(name='policy_count')
policy_count

         state    months  policy_count
0      Arizona  February           929
1      Arizona   January          1008
2   California  February          1634
3   California   January          1918
4       Nevada  February           442
5       Nevada   January           551
6       Oregon  February          1344
7       Oregon   January          1565
8      Unknown  February           318
9      Unknown   January           313
10  Washington  February           425
11  Washington   January           463

In [95]:
total_by_state = policy_count.groupby('state')['policy_count'].sum().reset_index()
total_by_state

        state  policy_count
0     Arizona          1937
1  California          3552
2      Nevada           993
3      Oregon          2909
4     Unknown           631
5  Washington           888

In [97]:
top3_states = total_by_state.sort_values(by='policy_count', ascending = False).head(3)
top3_states

        state  policy_count
1  California          3552
3      Oregon          2909
0     Arizona          1937

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

In [98]:
total_per_channel = df.groupby('sales_channel')['response'].count()
total_per_channel

sales_channel
Agent          4121
Branch         3022
Call Center    2141
Web            1626
Name: response, dtype: int64

In [101]:
yes_per_channel = df[df['response'] == 'Yes'].groupby('sales_channel')['response'].count()
yes_per_channel

sales_channel
Agent          742
Branch         326
Call Center    221
Web            177
Name: response, dtype: int64

In [102]:
response_rate = (yes_per_channel/total_per_channel*100).round(2).reset_index(name = 'response_rate_%')
response_rate

  sales_channel  response_rate_%
0         Agent            18.01
1        Branch            10.79
2   Call Center            10.32
3           Web            10.89

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9