# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [2]:
import pandas as pd

In [4]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)

df.sample(10)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
4786,4786,PO26937,Oregon,8223.164916,No,Premium,Bachelor,1/18/11,Employed,M,...,0.0,8,Corporate Auto,Corporate L3,Offer3,Web,94.338814,Four-Door Car,Medsize,NaN
7996,7996,PR10005,Oregon,2916.417460,No,Basic,Bachelor,2/1/11,Employed,M,...,NaN,1,Personal Auto,Personal L3,Offer4,Web,100.517679,Four-Door Car,Medsize,NaN
6719,6719,JK53304,California,6159.011684,No,Extended,High School or Below,1/14/11,Employed,F,...,1.0,3,Personal Auto,Personal L3,Offer1,Call Center,364.800000,Four-Door Car,Medsize,NaN
8808,8808,BQ94931,Oregon,7388.178085,No,Extended,College,2/17/11,Employed,F,...,0.0,8,Special Auto,Special L2,Offer2,Branch,425.527834,Four-Door Car,Medsize,NaN
4952,4952,IK49861,NaN,3107.588649,NaN,Extended,Bachelor,2/23/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L2,Offer2,Agent,87.135752,Two-Door Car,Medsize,A
1286,1286,WR63188,Arizona,7854.960831,No,Basic,College,1/16/11,Employed,M,...,1.0,2,Personal Auto,Personal L2,Offer1,Agent,419.464143,Four-Door Car,Medsize,A
7498,7498,IC61020,Oregon,7437.514997,No,Basic,High School or Below,2/23/11,Employed,F,...,0.0,1,Personal Auto,Personal L2,Offer1,Call Center,929.958895,Luxury Car,Large,NaN
10071,10071,MR56401,NaN,2542.845763,NaN,Basic,College,2/13/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer3,Call Center,307.200000,Four-Door Car,Large,NaN
7037,7037,YG11074,Arizona,4794.931261,No,Extended,Bachelor,2/2/11,Employed,F,...,0.0,1,Personal Auto,Personal L2,Offer1,Call Center,223.028356,SUV,Medsize,A
3677,3677,FG35165,Washington,2480.487171,No,Basic,College,2/27/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer1,Branch,179.633818,Four-Door Car,Medsize,A

In [6]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [7]:
filtered_df = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]
filtered_df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [9]:
df_yes = df[df['response'] == 'Yes']

average_df = df_yes.pivot_table(index='policy_type',columns = 'gender', values='total_claim_amount', aggfunc='mean')
average_df

gender                   F           M
policy_type
Corporate Auto  433.738499  408.582459
Personal Auto   452.965929  457.010178
Special Auto    453.280164  429.527942

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [10]:
customers_per_state = df['state'].value_counts()

# Filtrar los estados con más de 500 clientes
states_with_over_500_customers = customers_per_state[customers_per_state > 500]

states_with_over_500_customers

state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

In [11]:
customers_per_state = df.pivot_table(
    index='state',              # Agrupar por estado
    values='customer',          # Columna de referencia (puede ser cualquier columna, se usa para contar)
    aggfunc='count'             # Función de agregación: cuenta el número de clientes
)

# Filtrar los estados con más de 500 clientes
states_with_over_500_customers = customers_per_state[customers_per_state['customer'] > 500]

states_with_over_500_customers

            customer
state
Arizona         1937
California      3552
Nevada           993
Oregon          2909
Washington       888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [12]:
# Agrupar los datos por 'education' y 'gender', y calcular max, min, y median para 'customer_lifetime_value'
stats_by_education_gender = df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median'])

# Redondear los resultados a 2 decimales para mayor claridad
stats_by_education_gender = stats_by_education_gender.round(2)

stats_by_education_gender

                                  max      min   median
education            gender
Bachelor             F       73225.96  1904.00  5640.51
                     M       67907.27  1898.01  5548.03
College              F       61850.19  1898.68  5623.61
                     M       61134.68  1918.12  6005.85
Doctor               F       44856.11  2395.57  5332.46
                     M       32677.34  2267.60  5577.67
High School or Below F       55277.45  2144.92  6039.55
                     M       83325.38  1940.98  6286.73
Master               F       51016.07  2417.78  5729.86
                     M       50568.26  2272.31  5579.10

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here