# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [3]:
len(df)

10910

In [4]:
df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [5]:
high_claims_df = df[(df["Total Claim Amount"] > 1000) & (df["Response"] == "Yes")]
high_claims_df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [6]:
df.Response.value_counts()

Response
No     8813
Yes    1466
Name: count, dtype: int64

In [7]:
len(df[df["Response"] == "Yes"])

1466

In [8]:
df[df["Response"] == "Yes"].groupby(["Policy Type", "Gender"])["Total Claim Amount"].agg(["mean","count"])

                             mean  count
Policy Type    Gender
Corporate Auto F       433.738499    169
               M       408.582459    154
Personal Auto  F       452.965929    540
               M       457.010178    536
Special Auto   F       453.280164     35
               M       429.527942     32

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [9]:
df.State.value_counts()

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

In [10]:
policy_df = df.groupby(["Policy", "State"])["Customer"].agg(["count"])
policy_df

                         count
Policy       State
Corporate L1 Arizona        62
             California    164
             Nevada         37
             Oregon         94
             Washington     40
Corporate L2 Arizona       119
             California    246
             Nevada         73
             Oregon        174
             Washington     46
Corporate L3 Arizona       200
             California    425
             Nevada        109
             Oregon        324
             Washington     89
Personal L1  Arizona       293
             California    439
             Nevada        136
             Oregon        405
             Washington    125
Personal L2  Arizona       434
             California    905
             Nevada        212
             Oregon        618
             Washington    230
Personal L3  Arizona       742
             California   1250
             Nevada        391
             Oregon       1157
             Washington    327
Special L1   Arizona        25
             California     18
             Nevada          5
             Oregon         21
             Washington      5
Special L2   Arizona        35
             California     49
             Nevada         18
             Oregon         63
             Washington     14
Special L3   Arizona        27
             California     56
             Nevada         12
             Oregon         53
             Washington     12

In [11]:
policy_df[policy_df["count"] >= 500]

                        count
Policy      State
Personal L2 California    905
            Oregon        618
Personal L3 Arizona       742
            California   1250
            Oregon       1157

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [12]:
round(df.groupby(["Education", "Gender"])["Customer Lifetime Value"].agg(["max", "min", "median"]),2)

                                  max      min   median
Education            Gender
Bachelor             F       73225.96  1904.00  5640.51
                     M       67907.27  1898.01  5548.03
College              F       61850.19  1898.68  5623.61
                     M       61134.68  1918.12  6005.85
Doctor               F       44856.11  2395.57  5332.46
                     M       32677.34  2267.60  5577.67
High School or Below F       55277.45  2144.92  6039.55
                     M       83325.38  1940.98  6286.73
Master               F       51016.07  2417.78  5729.86
                     M       50568.26  2272.31  5579.10

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [26]:
#There is no column with the month, so we create it
df["month"] = df["Months Since Policy Inception"].apply(lambda x: x % 12)

In [27]:
months_df = df.pivot_table(index= "State", columns="month", values="Number of Policies", aggfunc="sum").rename(columns={0: "Jan", 1: "Feb", 2: "Mar", 3: "Apr", 4: "May", 5: "Jun", 6: "Jul", 7: "Aug", 8: "Sep", 9: "Oct", 10: "Nov", 11: "Dec"})
months_df

month        Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov   Dec
State
Arizona      486  415  521  556  490  449  462  516  501  521  445   554
California  1029  893  889  987  846  858  817  844  819  824  794  1002
Nevada       275  242  265  245  234  194  240  205  187  248  210   226
Oregon       689  888  805  768  625  687  629  758  767  634  696   720
Washington   219  202  244  243  217  224  208  214  291  164  157   200

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [28]:
df.groupby(["State", "month"])["Number of Policies"].agg(["count"])

                  count
State      month
Arizona    0        162
           1        138
           2        166
           3        201
           4        164
           5        156
           6        138
           7        161
           8        163
           9        173
           10       145
           11       170
California 0        325
           1        304
           2        313
           3        316
           4        267
           5        294
           6        284
           7        300
           8        267
           9        272
           10       285
           11       325
Nevada     0         79
           1         83
           2         89
           3        100
           4         84
           5         60
           6         85
           7         83
           8         71
           9         86
           10        83
           11        90
Oregon     0        236
           1        286
           2        287
           3        261
           4        221
           5        222
           6        213
           7        229
           8        246
           9        217
           10       236
           11       255
Washington 0         70
           1         74
           2         79
           3        103
           4         64
           5         78
           6         68
           7         74
           8         90
           9         64
           10        58
           11        66

In [17]:
df.State.value_counts()

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

In [21]:
df2 = df[df["State"].isin(["California", "Oregon", "Arizona"])]
df2

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,4
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,3
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,7
6,6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,...,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,10902,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,...,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,6
10903,10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,10
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,8
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN,3
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,3

In [22]:
df2.groupby(["State", "month"])["Number of Policies"].agg(["count"])

                  count
State      month
Arizona    0        162
           1        138
           2        166
           3        201
           4        164
           5        156
           6        138
           7        161
           8        163
           9        173
           10       145
           11       170
California 0        325
           1        304
           2        313
           3        316
           4        267
           5        294
           6        284
           7        300
           8        267
           9        272
           10       285
           11       325
Oregon     0        236
           1        286
           2        287
           3        261
           4        221
           5        222
           6        213
           7        229
           8        246
           9        217
           10       236
           11       255