# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)

# Display the first few rows of the dataset
print(df.head())

   Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

   Number of Open Complaints Number of Policies     Policy Type        Policy  \
0                        0.0                  9  Corporate Auto  Corporate L3
1                        0.0                  1   Personal Auto   Personal L3
2                        0.0                  2   Personal Auto   Personal L3
3                        0.0                  2  Corporate Auto  Corporate L3
4                        NaN                  7   Personal Auto   Personal L2

   Renew Offer Type  Sales Channel  Total Claim Amount  Vehicle Class  \
0            Offer3          Agent          292.800000  Four-Door Car
1            Offer4    Call Center          744.924331  Four-Door Car
2            Offer3    Call Center          480.000000            SUV
3            Offer2         Branch          484.013411  Four-Door Car
4            Offer1         Branch          707.925645  Four-Door Car

  Vehicle Size Vehicle Type
0      Medsize          NaN
1      Medsize          NaN
2      Medsize            A
3      Medsize            A
4      Medsize          NaN

[5 rows x 26 columns]

In [3]:
def clean_data(df):
    # Remove duplicates
    df = df.drop_duplicates()
    
    # Handle missing values (example: fill missing values with a placeholder)
    df = df.fillna('Unknown')
    
    # Standardize column names (example: convert to lowercase and replace spaces with underscores)
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    
    return df

# Apply the cleaning function
cleaned_df = clean_data(df)

# Display the cleaned data
print(cleaned_df.head())

   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

   number_of_open_complaints number_of_policies     policy_type        policy  \
0                        0.0                  9  Corporate Auto  Corporate L3
1                        0.0                  1   Personal Auto   Personal L3
2                        0.0                  2   Personal Auto   Personal L3
3                        0.0                  2  Corporate Auto  Corporate L3
4                    Unknown                  7   Personal Auto   Personal L2

  renew_offer_type  sales_channel total_claim_amount  vehicle_class  \
0           Offer3          Agent         292.800000  Four-Door Car
1           Offer4    Call Center         744.924331  Four-Door Car
2           Offer3    Call Center         480.000000            SUV
3           Offer2         Branch         484.013411  Four-Door Car
4           Offer1         Branch         707.925645  Four-Door Car

  vehicle_size vehicle_type
0      Medsize      Unknown
1      Medsize      Unknown
2      Medsize            A
3      Medsize            A
4      Medsize      Unknown

[5 rows x 26 columns]

In [4]:
# Convert data types if necessary (example: convert 'effective_to_date' to datetime)
cleaned_df['effective_to_date'] = pd.to_datetime(cleaned_df['effective_to_date'], errors='coerce')

# Create new columns if needed (example: extract year and month from 'effective_to_date')
cleaned_df['year'] = cleaned_df['effective_to_date'].dt.year
cleaned_df['month'] = cleaned_df['effective_to_date'].dt.month

# Display the formatted data
print(cleaned_df.head())

   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

      policy_type        policy renew_offer_type  sales_channel  \
0  Corporate Auto  Corporate L3           Offer3          Agent
1   Personal Auto   Personal L3           Offer4    Call Center
2   Personal Auto   Personal L3           Offer3    Call Center
3  Corporate Auto  Corporate L3           Offer2         Branch
4   Personal Auto   Personal L2           Offer1         Branch

  total_claim_amount  vehicle_class vehicle_size  vehicle_type  year month
0         292.800000  Four-Door Car      Medsize       Unknown  2011     2
1         744.924331  Four-Door Car      Medsize       Unknown  2011     1
2         480.000000            SUV      Medsize             A  2011     2
3         484.013411  Four-Door Car      Medsize             A  2011     1
4         707.925645  Four-Door Car      Medsize       Unknown  2011     1

[5 rows x 28 columns]

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [6]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)

# Display the first few rows of the dataset
print(df.head())

   Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

   Number of Open Complaints Number of Policies     Policy Type        Policy  \
0                        0.0                  9  Corporate Auto  Corporate L3
1                        0.0                  1   Personal Auto   Personal L3
2                        0.0                  2   Personal Auto   Personal L3
3                        0.0                  2  Corporate Auto  Corporate L3
4                        NaN                  7   Personal Auto   Personal L2

   Renew Offer Type  Sales Channel  Total Claim Amount  Vehicle Class  \
0            Offer3          Agent          292.800000  Four-Door Car
1            Offer4    Call Center          744.924331  Four-Door Car
2            Offer3    Call Center          480.000000            SUV
3            Offer2         Branch          484.013411  Four-Door Car
4            Offer1         Branch          707.925645  Four-Door Car

  Vehicle Size Vehicle Type
0      Medsize          NaN
1      Medsize          NaN
2      Medsize            A
3      Medsize            A
4      Medsize          NaN

[5 rows x 26 columns]

In [9]:
df.columns = df.columns.str.strip()
print(df.columns)

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [31]:

import pandas as pd

# Example data
data = {
    'CustomerID': [1, 2, 3, 4],
    'total_claim_amount': [1200, 800, 1500, 900],
    'Response': ['Yes', 'No', 'Yes', 'Yes']
}
df = pd.DataFrame(data)

# Filter customers with total_claim_amount > $1,000 and Response is 'Yes'
filtered_df = df[(df['total_claim_amount'] > 1000) & (df['Response'] == 'Yes')]

# Display the filtered DataFrame
print(filtered_df)

   CustomerID  total_claim_amount Response
0           1                1200      Yes
2           3                1500      Yes

In [15]:
print(df.columns)

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [22]:
import pandas as pd

# Sample DataFrame for demonstration (replace with your actual DataFrame)
data = {
    'customer_id': [1, 2, 3, 4, 5, 6, 7, 8],
    'policy_type': ['Corporate Auto', 'Personal Auto', 'Corporate Auto', 'Special Auto', 'Special Auto', 'Personal Auto', 'Corporate Auto', 'Special Auto'],
    'gender': ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'F'],
    'total_claim_amount': [500, 1000, 750, 1200, 300, 650, 800, 1300],
    'response': ['Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No']
}

df_customers = pd.DataFrame(data)

# Step 1: Filter customers who have responded "Yes" to the last marketing campaign
responded_yes = df_customers[df_customers['response'] == 'Yes']

# Step 2: Group by policy type and gender and calculate the average total_claim_amount
average_claims = responded_yes.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().reset_index()

# Display the results
print(average_claims)

      policy_type gender  total_claim_amount
0  Corporate Auto      M          683.333333
1   Personal Auto      F          650.000000
2    Special Auto      F         1200.000000

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [19]:

import pandas as pd

# Sample DataFrame for demonstration (replace with your actual DataFrame)
data = {
    'customer_id': [1, 2, 3, 4, 5, 6],
    'state': ['CA', 'NY', 'CA', 'TX', 'NY', 'TX']
}

df_customers = pd.DataFrame(data)

# Step 1: Group by state and count the number of customers
state_counts = df_customers['state'].value_counts().reset_index()
state_counts.columns = ['state', 'customer_count']

# Step 2: Filter states with more than 500 customers
states_with_more_than_500 = state_counts[state_counts['customer_count'] > 500]

# Display the results
print(states_with_more_than_500)

Empty DataFrame
Columns: [state, customer_count]
Index: []

In [21]:
# Assuming df_customers is your actual DataFrame

# Step 1: Group by state and count the number of customers
state_counts = df_customers['state'].value_counts().reset_index()
state_counts.columns = ['state', 'customer_count']

# Step 2: Filter states with more than 500 customers
states_with_more_than_500 = state_counts[state_counts['customer_count'] > 500]

# Display the results
print(states_with_more_than_500)

Empty DataFrame
Columns: [state, customer_count]
Index: []

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [25]:
# Assuming df_customers is your actual DataFrame

# Step 1: Group by education level and gender
grouped = df_customers.groupby(['education', 'gender'])

# Step 2: Aggregate the customer_lifetime_value
statistics = grouped['customer_lifetime_value'].agg(['max', 'min', 'median']).reset_index()

# Display the results
print(statistics)

  education gender   max   min  median
0  Bachelor      F  8000  8000  8000.0
1  Bachelor      M  5000  3000  4000.0
2    Master      F  6000  2000  4000.0
3    Master      M  9000  9000  9000.0
4       PhD      F  4000  4000  4000.0
5       PhD      M  7000  7000  7000.0

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [26]:
import pandas as pd

# Sample DataFrame for demonstration (replace with your actual DataFrame)
data = {
    'policy_id': [1, 2, 3, 4, 5, 6, 7, 8],
    'state': ['CA', 'TX', 'CA', 'NY', 'TX', 'CA', 'NY', 'TX'],
    'date_sold': ['2023-01-15', '2023-02-10', '2023-03-05', '2023-01-20', '2023-02-25', '2023-03-15', '2023-01-30', '2023-02-28']
}

df_policies = pd.DataFrame(data)

# Convert date_sold to datetime
df_policies['date_sold'] = pd.to_datetime(df_policies['date_sold'])

# Extract month from date_sold
df_policies['month'] = df_policies['date_sold'].dt.strftime('%B')  # Use '%B' for full month name

# Create the pivot table
pivot_table = df_policies.pivot_table(index='state', columns='month', aggfunc='size', fill_value=0)

# Reorder the columns to have months in the correct order
ordered_months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
pivot_table = pivot_table.reindex(columns=ordered_months, fill_value=0)

# Display the pivot table
print(pivot_table)

month  January  February  March  April  May  June  July  August  September  \
state
CA           1         0      2      0    0     0     0       0          0
NY           2         0      0      0    0     0     0       0          0
TX           0         3      0      0    0     0     0       0          0

month  October  November  December
state
CA           0         0         0
NY           0         0         0
TX           0         0         0

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [27]:
import pandas as pd

# Sample DataFrame for demonstration (replace with your actual DataFrame)
data = {
    'policy_id': [1, 2, 3, 4, 5, 6, 7, 8],
    'state': ['CA', 'TX', 'CA', 'NY', 'TX', 'CA', 'NY', 'TX'],
    'date_sold': ['2023-01-15', '2023-02-10', '2023-03-05', '2023-01-20', '2023-02-25', '2023-03-15', '2023-01-30', '2023-02-28']
}

df_policies = pd.DataFrame(data)

# Convert date_sold to datetime
df_policies['date_sold'] = pd.to_datetime(df_policies['date_sold'])

# Extract month from date_sold
df_policies['month'] = df_policies['date_sold'].dt.strftime('%B')

# Group by state and month, and count the number of policies sold
grouped = df_policies.groupby(['state', 'month']).size().reset_index(name='count')

# Sum the total policies sold per state
state_totals = grouped.groupby('state')['count'].sum().reset_index()

# Select the top 3 states with the highest number of policies sold
top_states = state_totals.sort_values(by='count', ascending=False).head(3)

# Filter the original grouped data to include only the top 3 states
filtered_grouped = grouped[grouped['state'].isin(top_states['state'])]

# Create the pivot table
pivot_table = filtered_grouped.pivot_table(index='state', columns='month', values='count', fill_value=0)

# Reorder the columns to have months in the correct order
ordered_months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
pivot_table = pivot_table.reindex(columns=ordered_months, fill_value=0)

# Display the final DataFrame
print(pivot_table)

month  January  February  March  April  May  June  July  August  September  \
state
CA           1         0      2      0    0     0     0       0          0
NY           2         0      0      0    0     0     0       0          0
TX           0         3      0      0    0     0     0       0          0

month  October  November  December
state
CA           0         0         0
NY           0         0         0
TX           0         0         0

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [29]:
import pandas as pd

# Assuming df is your DataFrame with columns like 'Channel1', 'Channel2', 'Channel3', 'Response'
# Example data
data = {
    'Channel1': [10, 15, 20],
    'Channel2': [5, 8, 12],
    'Channel3': [7, 10, 15],
    'Response': ['Yes', 'No', 'Yes']
}
df = pd.DataFrame(data)

# Step 1: Filter for responses where 'Response' is 'Yes'
df_filtered = df[df['Response'] == 'Yes']

# Step 2: Reshape the data using melt to unpivot the channels
melted_df = pd.melt(df_filtered, id_vars=['Response'], value_vars=['Channel1', 'Channel2', 'Channel3'],
                    var_name='Marketing_Channel', value_name='Customer_Response')

# Step 3: Calculate customer response rate by marketing channel
response_rate = melted_df.groupby('Marketing_Channel')['Customer_Response'].sum()

print(response_rate)

Marketing_Channel
Channel1    30
Channel2    17
Channel3    22
Name: Customer_Response, dtype: int64