# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [10]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [33]:
# 1
data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')
data = data.applymap(lambda x: x.lower() if isinstance(x,str) else x)

data.drop(columns=['unnamed:_0'], inplace=True)
data_a = data.loc[(data['total_claim_amount'] > 1000) & (data['response'] == 'yes')]

data_a.head(5)

C:\Users\maric\AppData\Local\Temp\ipykernel_2732\3695398604.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: x.lower() if isinstance(x,str) else x)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
189,ok31456,california,11009.130490,yes,premium,bachelor,2011-01-24,employed,f,51643,suburban,single,283,16.0,43,0.0,1,corporate auto,corporate l3,offer2,agent,1358.400000,luxury car,medsize,a,1
236,yj16163,oregon,11009.130490,yes,premium,bachelor,2011-01-24,employed,f,51643,suburban,single,283,16.0,43,0.0,1,special auto,special l3,offer2,agent,1358.400000,luxury car,medsize,a,1
419,gw43195,oregon,25807.063000,yes,extended,college,2011-02-13,employed,f,71210,suburban,married,214,8.0,89,1.0,2,personal auto,personal l2,offer1,branch,1027.200000,luxury car,small,a,2
442,ip94270,arizona,13736.132500,yes,premium,master,2011-02-13,disabled,f,16181,suburban,divorced,181,22.0,79,0.0,8,personal auto,personal l2,offer1,web,1261.319869,suv,medsize,a,2
587,fj28407,california,5619.689084,yes,premium,high school or below,2011-01-26,unemployed,m,0,suburban,married,153,25.0,5,0.0,1,personal auto,personal l1,offer2,web,1027.000029,suv,medsize,a,1

In [49]:
# 2
yes_data = data.loc[data['response'] == 'yes']
print(yes_data.response.unique())
yes_data.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().round(2)

['yes']

policy_type     gender
corporate auto  f         433.74
                m         408.58
personal auto   f         452.97
                m         457.01
special auto    f         453.28
                m         429.53
Name: total_claim_amount, dtype: float64

**conclusion**:
The data seems to indicate that Men in personal auto policy type pay the most towards on their insurance policy on average, while Men in corporate auto pay the least on their insurance on average

In [48]:
# 3 
print(f"num of total customers: {data.shape[0]}")
data_group = data.groupby('state').size()
data_more = data_group[data_group > 500]
data_more

num of total customers: 10910

state
arizona       1937
california    4183
nevada         993
oregon        2909
washington     888
dtype: int64

In [53]:
# 4
data_c = data.groupby(['gender','education'])
data_c['customer_lifetime_value'].agg(['max','min','median']).round(2)

                                  max      min   median
gender education
f      bachelor              73225.96  1904.00  5640.51
       college               61850.19  1898.68  5623.61
       doctor                44856.11  2395.57  5332.46
       high school or below  55277.45  2144.92  6039.55
       master                51016.07  2417.78  5729.86
m      bachelor              67907.27  1898.01  5548.03
       college               61134.68  1918.12  6005.85
       doctor                32677.34  2267.60  5577.67
       high school or below  83325.38  1940.98  6286.73
       master                50568.26  2272.31  5579.10

**conclusion**:
The data seems to indicate that Men without any college education and women with a bachelor degree have the highest Max CLV, Women with some college & Men with bachelor degrees have the lowest Min CLV, and the median ranges from 5.3 - 6.28 k CLV across gender and education levels. 

The data seems to indicate those with less education and are men tend to have higher CLV, since both the highest max clv & median belong to men without college. It could be that Blue Collar men working as contractors are more prone to car accidents due to harsh work conditions and are likely the most unlikely group to negotiate with insurance, so they probably tend to get higher CLV scores.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here