# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [32]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)

In [33]:
df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

##### Data cleaning, formatting, and structuring

In [34]:
df.columns = df.columns.str.replace(" ","_")
df.columns = df.columns.str.lower()
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [76]:
df.to_csv('policies.csv')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10279 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10279 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10277 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10277 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10288 non-null  object
 24  vehicle_size                   10288 non-null  object
 25  vehicle_type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [37]:
# Identify float columns
float_columns = df.select_dtypes(include=['float']).columns

# Round values in float columns
df[float_columns] = df[float_columns].round(decimals=2)

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [48]:
filter = (df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')
df_customers = df[filter]
df_customers.to_csv('df_customers.csv')
df_customers.head(6)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,189,OK31456,California,11009.13,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.40,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.13,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.40,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.06,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.20,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.13,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.32,SUV,Medsize,A
587,587,FJ28407,California,5619.69,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.00,SUV,Medsize,A
654,654,VV47792,California,25807.06,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L3,Offer1,Branch,1027.20,Luxury Car,Small,NaN

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [55]:
# average total_claim_amount by policy type and gender  responded "Yes"

# Step 1: Filter the DataFrame based on 'response' == 'Yes'
filtered_df = df[df['response'] == 'Yes']

# Step 2: Group by 'policy_type' and 'gender', then calculate mean of 'total_claim_amount'
df2 = filtered_df.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().reset_index()
# reset_index() is used to convert the grouped result (Series) back to a DataFrame with 'policy_type' and 'gender' as columns.
df2.head()

      policy_type gender  total_claim_amount
0  Corporate Auto      F          433.738462
1  Corporate Auto      M          408.582468
2   Personal Auto      F          452.966037
3   Personal Auto      M          457.010149
4    Special Auto      F          453.279714

##### Conclusions: The average total claim amount by each policy type and gender for customers who have responded "Yes" is higher in female group and with personal auto policy

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [96]:
df_500 = df.groupby(['state'])['customer'].count().reset_index()
df_500

        state  customer
0     Arizona      1937
1  California      3552
2      Nevada       993
3      Oregon      2909
4  Washington       888

In [90]:
# total number of customers who have policies in each state,
pivot_df = df.pivot_table(index='policy', columns='state', values=['customer'],  aggfunc='count')
pivot_df

             customer
state         Arizona California Nevada Oregon Washington
policy
Corporate L1       62        164     37     94         40
Corporate L2      119        246     73    174         46
Corporate L3      200        425    109    324         89
Personal L1       293        439    136    405        125
Personal L2       434        905    212    618        230
Personal L3       742       1250    391   1157        327
Special L1         25         18      5     21          5
Special L2         35         49     18     63         14
Special L3         27         56     12     53         12

##### Conclusions: All states have more than 500 customer

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [102]:
# maximun
pivot_df = df.pivot_table(index='gender', columns='education', values=['customer_lifetime_value'], aggfunc='max')
round(pivot_df,2)

          customer_lifetime_value                                           \
education                Bachelor   College    Doctor High School or Below
gender
F                        73225.96  61850.19  44856.11             55277.45
M                        67907.27  61134.68  32677.34             83325.38


education    Master
gender
F          51016.07
M          50568.26

###### My conclusions: The maximun customer life time value is greater for people with High School or Below

In [103]:
# minimun
pivot_df = df.pivot_table(index='gender', columns='education', values=['customer_lifetime_value'], aggfunc='min')
round(pivot_df,2)

          customer_lifetime_value                                         \
education                Bachelor  College   Doctor High School or Below
gender
F                         1904.00  1898.68  2395.57              2144.92
M                         1898.01  1918.12  2267.60              1940.98


education   Master
gender
F          2417.78
M          2272.31

###### My conclusion: The minimun values are within customers with Doctor education.

In [104]:
# median
pivot_df = df.pivot_table(index='gender', columns='education', values=['customer_lifetime_value'], aggfunc='median')
round(pivot_df,2)

          customer_lifetime_value                                         \
education                Bachelor  College   Doctor High School or Below
gender
F                         5640.50  5623.61  5332.46              6039.56
M                         5548.03  6005.85  5577.67              6286.74


education   Master
gender
F          5729.86
M          5579.10

###### My conclusions: The median shows that values for High School or Below are the highest and that the lowest values belongs to people with Doctor education.

## Bonus

-The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

-Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

-The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here