# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [2]:
import pandas as pd
df= pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [5]:
# Filter customers with total_claim_amount > 1000 and response as "Yes"
filtered_df = df[(df["Total Claim Amount"] > 1000) & (df["Response"] == "Yes")]
print(filtered_df)

       Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
189           189  OK31456  California             11009.130490      Yes
236           236  YJ16163      Oregon             11009.130490      Yes
419           419  GW43195      Oregon             25807.063000      Yes
442           442  IP94270     Arizona             13736.132500      Yes
587           587  FJ28407  California              5619.689084      Yes
...           ...      ...         ...                      ...      ...
10351       10351  FN44127      Oregon              3508.569533      Yes
10373       10373  XZ64172      Oregon             10963.957230      Yes
10487       10487  IX60941      Oregon              3508.569533      Yes
10565       10565  QO62792      Oregon              7840.165778      Yes
10708       10708  CK39096      Oregon              5619.689084      Yes

       Coverage             Education Effective To Date EmploymentStatus  \
189     Premium              Bachelor           1/24/11         Employed
236     Premium              Bachelor           1/24/11         Employed
419    Extended               College           2/13/11         Employed
442     Premium                Master           2/13/11         Disabled
587     Premium  High School or Below           1/26/11       Unemployed
...         ...                   ...               ...              ...
10351  Extended               College            1/5/11    Medical Leave
10373   Premium  High School or Below            2/8/11         Employed
10487  Extended               College            1/5/11    Medical Leave
10565  Extended               College           1/14/11         Employed
10708   Premium  High School or Below           1/26/11       Unemployed

      Gender  ...  Number of Open Complaints Number of Policies  \
189        F  ...                        0.0                  1
236        F  ...                        0.0                  1
419        F  ...                        1.0                  2
442        F  ...                        0.0                  8
587        M  ...                        0.0                  1
...      ...  ...                        ...                ...
10351      M  ...                        1.0                  1
10373      M  ...                        0.0                  1
10487      M  ...                        1.0                  1
10565      M  ...                        2.0                  1
10708      M  ...                        0.0                  1

          Policy Type        Policy  Renew Offer Type  Sales Channel  \
189    Corporate Auto  Corporate L3            Offer2          Agent
236      Special Auto    Special L3            Offer2          Agent
419     Personal Auto   Personal L2            Offer1         Branch
442     Personal Auto   Personal L2            Offer1            Web
587     Personal Auto   Personal L1            Offer2            Web
...               ...           ...               ...            ...
10351   Personal Auto   Personal L2            Offer2         Branch
10373  Corporate Auto  Corporate L2            Offer1          Agent
10487   Personal Auto   Personal L3            Offer2         Branch
10565   Personal Auto   Personal L3            Offer2          Agent
10708   Personal Auto   Personal L3            Offer2            Web

       Total Claim Amount  Vehicle Class Vehicle Size Vehicle Type
189           1358.400000     Luxury Car      Medsize          NaN
236           1358.400000     Luxury Car      Medsize            A
419           1027.200000     Luxury Car        Small            A
442           1261.319869            SUV      Medsize            A
587           1027.000029            SUV      Medsize            A
...                   ...            ...          ...          ...
10351         1176.278800  Four-Door Car        Small          NaN
10373         1324.800000     Luxury SUV      Medsize          NaN
10487         1176.278800  Four-Door Car        Small          NaN
10565         1008.000000            NaN          NaN          NaN
10708         1027.000029            SUV      Medsize            A

[67 rows x 26 columns]

In [7]:
# Filter for customers who responded "Yes" to the marketing campaign
df_yes = df[df["Response"] == "Yes"]
avg_claim = df_yes.groupby(["Policy Type", "Gender"])["Total Claim Amount"].mean().reset_index()

In [ ]:
state_counts = df.groupby("State")["customer"].count().reset_index()
state_counts.columns = ["state", "customer_count"]
states_over_500 = state_counts[state_counts["customer_count"] > 500]
print(states_over_500)

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here