# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [18]:
import pandas as pd

url = ('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
df_1 = pd.read_csv(url)

In [19]:
type(df_1)

pandas.core.frame.DataFrame

In [21]:
def clean_column_names(df):
    """
    Cleans and standardizes column names in a DataFrame.
    """
    df.columns = [col.lower().replace(' ', '_') for col in df.columns]
    return df

In [ ]:
# Standardize column names

df_1.columns = df_1.columns.str.replace(' ','_').str.lower()

In [23]:
df_1 = df_1.drop(columns=['unnamed:_0'], axis = 1)

In [ ]:
# Filter dataframe df_1 to DataFrame with 'total_claim_amout' and response 'Yes'
# Subset of data based in specified conditions.

low_claim_df = df_1[(df_1['total_claim_amount'] < 1000) & (df_1['response'] == 'Yes')]
low_claim_df

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [ ]:
# Filter the dataframe for customers who answer yes

respond_yes = df_1[df_1['response'] == 'Yes'].copy()

In [ ]:
respond_yes

In [27]:
# pivot table to calculate avg monthly_premium and customer_lifetime_value
# for each combination policy_type - gender

pivot_premium = pd.pivot_table(
    respond_yes,
    values=['monthly_premium_auto', 'customer_lifetime_value'],
    index=['policy_type', 'gender'],
    aggfunc='mean'
).round(2)

In [ ]:
pivot_premium

ANALYSIS

Average Monthly Premium and CLV:

Corporate Auto policies, especially for males, show a significantly higher average monthly_premium and customer_lifetime_value, than other policy types. This segment appears to be highly profitable.

Personal Auto policies, for both genders, have lower average monthly premiums but still represent a substantial portion of the business.

Special Auto policies generally have a high customer_lifetime_value, particularly for males, indicating that these customers are valuable over time.

In [29]:
# This is a similar pivot table but for the avg total_claim_amout.
# Helps understand risk associate with each segment - higher claim amount more risk.

pivot_claim = pd.pivot_table(
    respond_yes,
    values='total_claim_amount',
    index=['policy_type', 'gender'],
    aggfunc='mean'
).round(2)

In [ ]:
pivot_claim

ANALYSIS

Average Total Claim Amount:

Corporate Auto policies also have a notably high average total_claim_amount, which suggests this profitable segment might also be high-risk in terms of claims.

Special Auto policies, again with a high CLV, also show a high average total_claim_amount, particularly for males. This confirms that while they are profitable, they are not necessarily low-risk.

Personal Auto policies have the lowest average total_claim_amount across both genders.

Conclusion:

Based on this analysis, the most profitable segment is Corporate Auto and Special Auto, especially for male customers, due to their high customer_lifetime_value and monthly_premium. However, these are also high-risk segments due to their higher average total_claim_amount.

The lowest-risk and still valuable segment is Personal Auto, as they have a significantly lower total_claim_amount. While their profitability might be lower on a per-customer basis, their low-risk profile could make them a stable and reliable customer base.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [ ]:
# Count the number of customers in each state:

customers_state = df_1['state'].value_counts().reset_index()

# Change columns names to clarity:

customers_state.columns = ['state', 'total_customers']

customers_state

In [ ]:
# create a filter to apply and retrieve only states with more than 500 customers:

filter_customers_state = customers_state[customers_state['total_customers'] > 500]

filter_customers_state

ANALYSIS

The final table clearly shows which states are the company's largest markets, with California, Oregon, and Arizona having significantly more than 500 customers. This is crucial information for business strategy, marketing resource allocation, and operational planning. The marketing team can use this to focus campaigns, the sales team can use it to determine staffing needs, and the customer service department can use it to anticipate call volumes in these high-volume states.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [34]:
# Clean and standardize the categorical columns 'education' and 'gender'.
# Standardize 'education' to Title case and 'gender' to single letters.
df_1['education'] = df_1['education'].str.title()
df_1['gender'] = df_1['gender'].replace({'Male': 'M', 'Female': 'F'})

df_1

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [35]:
# Group by education and gender, then calculate max, min, and median CLV:

clv_summary = df_1.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median'])

# Round the values for better readability:

clv_summary = clv_summary.round(2)

clv_summary

                                  max      min   median
education            gender
Bachelor             F       73225.96  1904.00  5640.51
                     M       67907.27  1898.01  5548.03
College              F       61850.19  1898.68  5623.61
                     M       61134.68  1918.12  6005.85
Doctor               F       44856.11  2395.57  5332.46
                     M       32677.34  2267.60  5577.67
High School Or Below F       55277.45  2144.92  6039.55
                     M       83325.38  1940.98  6286.73
Master               F       51016.07  2417.78  5729.86
                     M       50568.26  2272.31  5579.10

CONCLUSIONS:

Based on the analysis of the summary table:
High-Value Customers: 
- Customers with a Bachelor's degree have the highest median CLV, especially females. This suggests that while there may be outliers with a higher CLV in other groups, the typical Bachelor's degree holder is more valuable to the company over their lifetime.

CLV Range: 
- The range between the minimum and maximum CLV is substantial across all segments. This indicates a wide variation in customer value, regardless of their education or gender.

Gender Differences: 
- Within each education level, there are some differences in CLV between genders, but the median values are generally closer than the max and min values. This suggests that extreme outliers might be driving the max/min differences, but the typical customer's value is more similar across genders within the same education level.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [5]:
# your code goes here