# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
marketing_data = pd.read_csv(url)

In [4]:
marketing_data.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [9]:
# Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.
claim_amount = marketing_data[(marketing_data['Total Claim Amount'] > 1000) & (marketing_data['Response'] == 'Yes')]
claim_amount.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

In [13]:
# Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.
# Filter for customers who responded "Yes"
filtered_data = marketing_data[marketing_data['Response'] == 'Yes']

# Group by policy type and gender, then calculate the average total claim amount
marketing_data_analysis = filtered_data.groupby(['Policy Type', 'Gender'])['Total Claim Amount'].mean()

# Display the results
print(marketing_data_analysis)

Policy Type     Gender
Corporate Auto  F         433.738499
                M         408.582459
Personal Auto   F         452.965929
                M         457.010178
Special Auto    F         453.280164
                M         429.527942
Name: Total Claim Amount, dtype: float64

In [21]:
# Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.
total_customers_by_state = marketing_data.groupby('State')['Customer'].count()
filtered_states = total_customers_by_state[total_customers_by_state > 500]
print(filtered_states)

State
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
Name: Customer, dtype: int64

In [22]:
# Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.
customer_lifetime_value = marketing_data.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median'])
print(customer_lifetime_value)

                                     max          min       median
Education            Gender
Bachelor             F       73225.95652  1904.000852  5640.505303
                     M       67907.27050  1898.007675  5548.031892
College              F       61850.18803  1898.683686  5623.611187
                     M       61134.68307  1918.119700  6005.847375
Doctor               F       44856.11397  2395.570000  5332.462694
                     M       32677.34284  2267.604038  5577.669457
High School or Below F       55277.44589  2144.921535  6039.553187
                     M       83325.38119  1940.981221  6286.731006
Master               F       51016.06704  2417.777032  5729.855012
                     M       50568.25912  2272.307310  5579.099207

In [28]:
marketing_data['Effective To Date'].unique()

<DatetimeArray>
['2011-02-18 00:00:00', '2011-01-18 00:00:00', '2011-02-10 00:00:00',
 '2011-01-11 00:00:00', '2011-01-17 00:00:00', '2011-02-14 00:00:00',
 '2011-02-24 00:00:00', '2011-01-19 00:00:00', '2011-01-04 00:00:00',
 '2011-01-02 00:00:00', '2011-02-07 00:00:00', '2011-01-31 00:00:00',
 '2011-01-26 00:00:00', '2011-02-28 00:00:00', '2011-01-16 00:00:00',
 '2011-02-26 00:00:00', '2011-02-23 00:00:00', '2011-01-15 00:00:00',
 '2011-02-02 00:00:00', '2011-02-15 00:00:00', '2011-01-24 00:00:00',
 '2011-02-21 00:00:00', '2011-02-22 00:00:00', '2011-01-07 00:00:00',
 '2011-01-28 00:00:00', '2011-02-08 00:00:00', '2011-02-12 00:00:00',
 '2011-02-20 00:00:00', '2011-01-05 00:00:00', '2011-02-19 00:00:00',
 '2011-01-03 00:00:00', '2011-02-03 00:00:00', '2011-01-22 00:00:00',
 '2011-01-23 00:00:00', '2011-02-05 00:00:00', '2011-02-13 00:00:00',
 '2011-01-25 00:00:00', '2011-02-16 00:00:00', '2011-02-01 00:00:00',
 '2011-01-27 00:00:00', '2011-01-12 00:00:00', '2011-01-20 00:00:00',
 '2011-02-06 00:00:00', '2011-02-11 00:00:00', '2011-01-21 00:00:00',
 '2011-01-29 00:00:00', '2011-01-09 00:00:00', '2011-02-09 00:00:00',
 '2011-02-27 00:00:00', '2011-01-01 00:00:00', '2011-02-17 00:00:00',
 '2011-02-25 00:00:00', '2011-01-13 00:00:00', '2011-01-06 00:00:00',
 '2011-02-04 00:00:00', '2011-01-14 00:00:00', '2011-01-10 00:00:00',
 '2011-01-08 00:00:00', '2011-01-30 00:00:00']
Length: 59, dtype: datetime64[ns]

In [27]:
# The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.
marketing_data['Effective To Date'] = pd.to_datetime(marketing_data['Effective To Date'])
months = marketing_data['Effective To Date'].dt.month
marketing_data['Month'] = months
pivot_table = marketing_data.pivot_table(index='State', columns='Month', values='Number of Policies', aggfunc='sum')
print(pivot_table)

Month          1     2
State
Arizona     3052  2864
California  5673  4929
Nevada      1493  1278
Oregon      4697  3969
Washington  1358  1225

<ipython-input-27-5fcaf38c7d19>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  marketing_data['Effective To Date'] = pd.to_datetime(marketing_data['Effective To Date'])

In [38]:
# Step 1: Group by State and Month, and sum the Number of Policies
grouped_data = marketing_data.groupby(['State', 'Month'])['Number of Policies'].sum().reset_index()

# Step 2: Calculate the total number of policies for each state
state_totals = grouped_data.groupby('State')['Number of Policies'].sum().reset_index()

# Step 3: Identify the top 3 states with the highest total number of policies
top_states = state_totals.nlargest(3, 'Number of Policies')['State']

# Step 4: Filter the grouped data to include only the top 3 states
top_states_data = grouped_data[grouped_data['State'].isin(top_states)]

# Step 5: Sort the data by total policies (descending) and then by Month
top_states_data = top_states_data.merge(state_totals, on='State', suffixes=('', '_total'))
top_states_data = top_states_data.sort_values(by=['Number of Policies_total', 'Month'], ascending=[False, True])

# Step 6: Drop the total column (optional, for cleaner output)
top_states_data = top_states_data.drop(columns=['Number of Policies_total'])

# Step 7: Display the final DataFrame
print(top_states_data)

        State  Month  Number of Policies
2  California      1                5673
3  California      2                4929
4      Oregon      1                4697
5      Oregon      2                3969
0     Arizona      1                3052
1     Arizona      2                2864