# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
import pandas as pd

In [2]:
mktg = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")

In [3]:
mktg.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [7]:
mktg.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [9]:
def rename_col(df):
  new_col = [name.strip().lower().replace(' ','_') for name in df.columns]
  df.columns = new_col

rename_col(mktg)

In [10]:
mktg

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [22]:
null_col = mktg.isnull().sum()

In [ ]:
null_col

In [23]:
mktg = mktg.fillna({'state':'nd',
                    'response':'nd',
                    'months_since_last_claim':'0',
                    'number_of_open_complaints':'0'})

null_col

unnamed:_0                          0
customer                            0
state                               0
customer_lifetime_value             0
response                            0
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim             0
months_since_policy_inception       0
number_of_open_complaints           0
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [16]:
mktg['effective_to_date'].unique()

array(['2/18/11', '1/18/11', '2/10/11', '1/11/11', '1/17/11', '2/14/11',
       '2/24/11', '1/19/11', '1/4/11', '1/2/11', '2/7/11', '1/31/11',
       '1/26/11', '2/28/11', '1/16/11', '2/26/11', '2/23/11', '1/15/11',
       '2/2/11', '2/15/11', '1/24/11', '2/21/11', '2/22/11', '1/7/11',
       '1/28/11', '2/8/11', '2/12/11', '2/20/11', '1/5/11', '2/19/11',
       '1/3/11', '2/3/11', '1/22/11', '1/23/11', '2/5/11', '2/13/11',
       '1/25/11', '2/16/11', '2/1/11', '1/27/11', '1/12/11', '1/20/11',
       '2/6/11', '2/11/11', '1/21/11', '1/29/11', '1/9/11', '2/9/11',
       '2/27/11', '1/1/11', '2/17/11', '2/25/11', '1/13/11', '1/6/11',
       '2/4/11', '1/14/11', '1/10/11', '1/8/11', '1/30/11'], dtype=object)

In [44]:
mktg['effective_to_date'] = pd.to_datetime(mktg['effective_to_date'])
mktg['number_of_open_complaints'] = pd.to_numeric(mktg['effective_to_date'])

In [24]:

mktg

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,nd,6857.519928,nd,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [28]:
# 1) Create a new DataFrame that only includes customers who have a total_claim_amount
# greater than $1,000 and have a response of "Yes" to the last marketing campaign.

df_claim = mktg[(mktg['total_claim_amount'] > 1000) & (mktg['response'] == "Yes")]
df_claim

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,2011-01-14,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [30]:
# 2) Analyze the average total_claim_amount by each policy type and gender
# for customers who have responded "Yes" to the last marketing campaign.

mktg.groupby(['policy_type', 'gender'])['total_claim_amount'].mean()

policy_type     gender
Corporate Auto  F         397.799287
                M         462.223565
Personal Auto   F         413.239658
                M         459.919476
Special Auto    F         458.139623
                M         420.355202
Name: total_claim_amount, dtype: float64

In [33]:
# 3) Analyze the total number of customers who have policies in each state,
# and then filter the results to only include states where there are more
# than 500 customers.

mktg['state'].value_counts()

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
nd             631
Name: state, dtype: int64

In [34]:
mktg['state'].value_counts() > 500

California    True
Oregon        True
Arizona       True
Nevada        True
Washington    True
nd            True
Name: state, dtype: bool

In [37]:
#4) Find the median customer lifetime value by education level and gender.

mktg.groupby(['education', 'gender'])['customer_lifetime_value'].mean()

#mktg.columns

education             gender
Bachelor              F         7874.269478
                      M         7703.601675
College               F         7748.823325
                      M         8052.459288
Doctor                F         7328.508916
                      M         7415.333638
High School or Below  F         8675.220201
                      M         8149.687783
Master                F         8157.053154
                      M         8168.832659
Name: customer_lifetime_value, dtype: float64

In [45]:
# 5) Find the maximum, minimum, and average number of open complaints by state
# and policy type.

mktg.groupby(['state','policy_type'])['number_of_open_complaints'].max()

state       policy_type
Arizona     Corporate Auto    1298851200000000000
            Personal Auto     1298851200000000000
            Special Auto      1298764800000000000
California  Corporate Auto    1298851200000000000
            Personal Auto     1298851200000000000
            Special Auto      1298851200000000000
Nevada      Corporate Auto    1298851200000000000
            Personal Auto     1298851200000000000
            Special Auto      1298419200000000000
Oregon      Corporate Auto    1298851200000000000
            Personal Auto     1298851200000000000
            Special Auto      1298851200000000000
Washington  Corporate Auto    1298851200000000000
            Personal Auto     1298851200000000000
            Special Auto      1298851200000000000
nd          Corporate Auto    1298851200000000000
            Personal Auto     1298851200000000000
            Special Auto      1298851200000000000
Name: number_of_open_complaints, dtype: int64

In [46]:
mktg.groupby(['state','policy_type'])['number_of_open_complaints'].min()

state       policy_type
Arizona     Corporate Auto    1293840000000000000
            Personal Auto     1293840000000000000
            Special Auto      1293840000000000000
California  Corporate Auto    1293840000000000000
            Personal Auto     1293840000000000000
            Special Auto      1293840000000000000
Nevada      Corporate Auto    1293840000000000000
            Personal Auto     1293840000000000000
            Special Auto      1293840000000000000
Oregon      Corporate Auto    1293840000000000000
            Personal Auto     1293840000000000000
            Special Auto      1293840000000000000
Washington  Corporate Auto    1293840000000000000
            Personal Auto     1293840000000000000
            Special Auto      1293840000000000000
nd          Corporate Auto    1293926400000000000
            Personal Auto     1293840000000000000
            Special Auto      1293840000000000000
Name: number_of_open_complaints, dtype: int64

In [47]:
mktg.groupby(["state", "policy_type"])["number_of_open_complaints"].mean()

state       policy_type
Arizona     Corporate Auto    1.296276e+18
            Personal Auto     1.296343e+18
            Special Auto      1.296261e+18
California  Corporate Auto    1.296294e+18
            Personal Auto     1.296341e+18
            Special Auto      1.296339e+18
Nevada      Corporate Auto    1.296396e+18
            Personal Auto     1.296320e+18
            Special Auto      1.295988e+18
Oregon      Corporate Auto    1.296397e+18
            Personal Auto     1.296331e+18
            Special Auto      1.296489e+18
Washington  Corporate Auto    1.296422e+18
            Personal Auto     1.296318e+18
            Special Auto      1.296557e+18
nd          Corporate Auto    1.296469e+18
            Personal Auto     1.296405e+18
            Special Auto      1.296531e+18
Name: number_of_open_complaints, dtype: float64

In [48]:
mktg.groupby(["state", "policy_type"]).agg({"number_of_open_complaints": ["max", "min", "mean"]}).reset_index()

         state     policy_type number_of_open_complaints                       \
                                                     max                  min
0      Arizona  Corporate Auto       1298851200000000000  1293840000000000000
1      Arizona   Personal Auto       1298851200000000000  1293840000000000000
2      Arizona    Special Auto       1298764800000000000  1293840000000000000
3   California  Corporate Auto       1298851200000000000  1293840000000000000
4   California   Personal Auto       1298851200000000000  1293840000000000000
5   California    Special Auto       1298851200000000000  1293840000000000000
6       Nevada  Corporate Auto       1298851200000000000  1293840000000000000
7       Nevada   Personal Auto       1298851200000000000  1293840000000000000
8       Nevada    Special Auto       1298419200000000000  1293840000000000000
9       Oregon  Corporate Auto       1298851200000000000  1293840000000000000
10      Oregon   Personal Auto       1298851200000000000  1293840000000000000
11      Oregon    Special Auto       1298851200000000000  1293840000000000000
12  Washington  Corporate Auto       1298851200000000000  1293840000000000000
13  Washington   Personal Auto       1298851200000000000  1293840000000000000
14  Washington    Special Auto       1298851200000000000  1293840000000000000
15          nd  Corporate Auto       1298851200000000000  1293926400000000000
16          nd   Personal Auto       1298851200000000000  1293840000000000000
17          nd    Special Auto       1298851200000000000  1293840000000000000


            mean
0   1.296276e+18
1   1.296343e+18
2   1.296261e+18
3   1.296294e+18
4   1.296341e+18
5   1.296339e+18
6   1.296396e+18
7   1.296320e+18
8   1.295988e+18
9   1.296397e+18
10  1.296331e+18
11  1.296489e+18
12  1.296422e+18
13  1.296318e+18
14  1.296557e+18
15  1.296469e+18
16  1.296405e+18
17  1.296531e+18

In [55]:
# 6) The marketing team wants to analyze the number of policies sold by state and month.
# Present the data in a table where the months are arranged as columns
# and the states are arranged as rows.

mktg['month'] = mktg['effective_to_date'].dt.month

pivot_table = pd.pivot_table(mktg, values = "number_of_policies", index = "state", columns = "month", aggfunc = "sum", fill_value=0)
mktg["month"] = mktg["effective_to_date"].dt.strftime("%B")
pivot_table

month          1     2
state
Arizona     3052  2864
California  5673  4929
Nevada      1493  1278
Oregon      4697  3969
Washington  1358  1225
nd           993   972

In [56]:
mktg.groupby(['state','month'])['number_of_policies'].sum()

state       month
Arizona     February    2864
            January     3052
California  February    4929
            January     5673
Nevada      February    1278
            January     1493
Oregon      February    3969
            January     4697
Washington  February    1225
            January     1358
nd          February     972
            January      993
Name: number_of_policies, dtype: int64

In [60]:
#7

top3 = mktg.groupby(['state','month']).agg({"number_of_policies":"count"}).reset_index()

In [61]:
top3_sorted = top3.sort_values(by="number_of_policies", ascending=False)

In [62]:
top3_sorted

         state     month  number_of_policies
3   California   January                1918
2   California  February                1634
7       Oregon   January                1565
6       Oregon  February                1344
1      Arizona   January                1008
0      Arizona  February                 929
5       Nevada   January                 551
9   Washington   January                 463
4       Nevada  February                 442
8   Washington  February                 425
10          nd  February                 318
11          nd   January                 313

In [63]:
top3.nlargest(3, columns = "number_of_policies")

        state     month  number_of_policies
3  California   January                1918
2  California  February                1634
7      Oregon   January                1565