# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [3]:
import pandas as pd
import math
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"

df = pd.read_csv(url)

In [4]:
col_rename = ['unnamed_0', 'customer', 'state', 'customer_lifetime_value', 'response', 'coverage', 'education', 'effective_to_date', 'employment_ststus', 'gender', 'income', 'location_code', 'marital_status', 'monthly_premium_auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size', 'vehicle_type']

df.columns = col_rename

In [5]:
df.nunique()

unnamed_0                        10910
customer                          9134
state                                5
customer_lifetime_value           8041
response                             2
coverage                             3
education                            5
effective_to_date                   59
employment_ststus                    5
gender                               2
income                            5694
location_code                        3
marital_status                       3
monthly_premium_auto               202
months_since_last_claim             36
months_since_policy_inception      100
number_of_open_complaints            6
number_of_policies                   9
policy_type                          3
policy                               9
renew_offer_type                     4
sales_channel                        4
total_claim_amount                5106
vehicle_class                        6
vehicle_size                         3
vehicle_type                         1
dtype: int64

In [6]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].apply(lambda val: round(val, 2))
df['total_claim_amount'] = df['total_claim_amount'].apply(lambda val: round(val, 2))
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda val: 0 if math.isnan(val) else val)
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda val: format(val, '.0f'))

In [7]:
#df.duplicated()
df['total_claim_amount'].isnull().sum()

0

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [8]:
df_tca = df[df['total_claim_amount'] > 1000]
#df_piv = df.pivot_table()

df_tca_y = df_tca[df_tca['response'] == 'Yes']
df_tca_y.reset_index(drop=True, inplace= True)
df_tca_y

,unnamed_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_ststus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,189,OK31456,California,11009.13,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.40,Luxury Car,Medsize,NaN
1,236,YJ16163,Oregon,11009.13,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0,1,Special Auto,Special L3,Offer2,Agent,1358.40,Luxury Car,Medsize,A
2,419,GW43195,Oregon,25807.06,Yes,Extended,College,2/13/11,Employed,F,...,1,2,Personal Auto,Personal L2,Offer1,Branch,1027.20,Luxury Car,Small,A
3,442,IP94270,Arizona,13736.13,Yes,Premium,Master,2/13/11,Disabled,F,...,0,8,Personal Auto,Personal L2,Offer1,Web,1261.32,SUV,Medsize,A
4,587,FJ28407,California,5619.69,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0,1,Personal Auto,Personal L1,Offer2,Web,1027.00,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,10351,FN44127,Oregon,3508.57,Yes,Extended,College,1/5/11,Medical Leave,M,...,1,1,Personal Auto,Personal L2,Offer2,Branch,1176.28,Four-Door Car,Small,NaN
63,10373,XZ64172,Oregon,10963.96,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.80,Luxury SUV,Medsize,NaN
64,10487,IX60941,Oregon,3508.57,Yes,Extended,College,1/5/11,Medical Leave,M,...,1,1,Personal Auto,Personal L3,Offer2,Branch,1176.28,Four-Door Car,Small,NaN
65,10565,QO62792,Oregon,7840.17,Yes,Extended,College,1/14/11,Employed,M,...,2,1,Personal Auto,Personal L3,Offer2,Agent,1008.00,NaN,NaN,NaN
66,10708,CK39096,Oregon,5619.69,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0,1,Personal Auto,Personal L3,Offer2,Web,1027.00,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [9]:
# df_y = df[df['response'] == 'Yes']

# df_ac = df_y.groupby(['policy_type', 'gender']).mean()['total_claim_amount'].reset_index()
# df_ac

numeric_cols = ['total_claim_amount']
non_numeric_cols = ['policy_type', 'gender']

df_y = df[df['response'] == 'Yes']
df_ac = df_y.groupby([col for col in df_y.columns if col not in numeric_cols]).mean()[numeric_cols].reset_index()
df_ac

,unnamed_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_ststus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,vehicle_type,total_claim_amount
0,3,XL78013,Oregon,22332.44,Yes,Extended,College,1/11/11,Employed,M,...,0,2,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A,484.01
1,19,NJ54277,California,3746.75,Yes,Extended,College,2/26/11,Employed,F,...,1,1,Personal Auto,Personal L2,Offer2,Call Center,Two-Door Car,Large,A,19.58
2,69,QG27547,Oregon,2867.31,Yes,Extended,Bachelor,1/3/11,Retired,F,...,0,1,Personal Auto,Personal L3,Offer2,Call Center,Four-Door Car,Medsize,A,374.40
3,102,VG56765,Arizona,2471.53,Yes,Basic,High School or Below,1/15/11,Employed,M,...,0,1,Personal Auto,Personal L2,Offer2,Agent,Two-Door Car,Medsize,A,114.27
4,113,EC28398,Oregon,5096.67,Yes,Basic,Master,1/28/11,Disabled,F,...,0,3,Corporate Auto,Corporate L2,Offer1,Agent,Four-Door Car,Small,A,312.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,10818,XT35473,Arizona,2300.69,Yes,Basic,Bachelor,1/15/11,Retired,M,...,0,1,Personal Auto,Personal L3,Offer1,Agent,Four-Door Car,Large,A,302.40
637,10825,FB17016,Oregon,5470.06,Yes,Extended,Bachelor,2/17/11,Employed,F,...,0,1,Personal Auto,Personal L3,Offer2,Agent,SUV,Medsize,A,702.99
638,10840,ME22430,Nevada,2453.57,Yes,Basic,Bachelor,2/9/11,Medical Leave,M,...,0,1,Personal Auto,Personal L2,Offer1,Agent,Four-Door Car,Medsize,A,331.20
639,10887,BY78730,Oregon,8879.79,Yes,Basic,High School or Below,2/3/11,Employed,F,...,0,7,Special Auto,Special L2,Offer1,Agent,SUV,Small,A,528.20
640,10897,MM70762,Arizona,9075.77,Yes,Basic,Master,1/26/11,Employed,M,...,0,8,Personal Auto,Personal L1,Offer1,Agent,Sports Car,Medsize,A,158.08

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [26]:
df_state = df.groupby('state')['customer'].count().reset_index()

df_state5 = df_state [df_state['customer'] > 500]
                    
df_state5

        state  customer
0     Arizona      1937
1  California      3552
2      Nevada       993
3      Oregon      2909
4  Washington       888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [36]:
df_2 = df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['min', 'max', 'median'])

df_2

                                 min       max    median
education            gender
Bachelor             F       1904.00  73225.96  5640.505
                     M       1898.01  67907.27  5548.030
College              F       1898.68  61850.19  5623.610
                     M       1918.12  61134.68  6005.850
Doctor               F       2395.57  44856.11  5332.460
                     M       2267.60  32677.34  5577.670
High School or Below F       2144.92  55277.45  6039.555
                     M       1940.98  83325.38  6286.735
Master               F       2417.78  51016.07  5729.860
                     M       2272.31  50568.26  5579.100

Based on the results, we can see that the median customer lifetime value is the same for all education levels and genders. The minimum and maximum customer lifetime values vary by education level and gender. There is no clear relationship between education level and gender and customer lifetime value.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here