# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [1]:
import pandas as pd


url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)


df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [19]:
df['response'] = df['response'].str.strip().str.lower()

# Filter
filtered_df = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'yes')]

display("Filtered DataFrame shape:", filtered_df.shape)
display(filtered_df.head())

'Filtered DataFrame shape:'

(67, 26)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,189,OK31456,California,11009.130490,yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [31]:

responded_df = df[df['response'] == 'yes']


avg_claim = responded_df.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().reset_index()


avg_claim['total_claim_amount'] = avg_claim['total_claim_amount'].round(2)

display("Average Total Claim Amount by Policy Type & Gender (Responders):\n")
display(avg_claim)

'Average Total Claim Amount by Policy Type & Gender (Responders):\n'

      policy_type gender  total_claim_amount
0  Corporate Auto      F              433.74
1  Corporate Auto      M              408.58
2   Personal Auto      F              452.97
3   Personal Auto      M              457.01
4    Special Auto      F              453.28
5    Special Auto      M              429.53

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [33]:

state_counts = df['state'].value_counts().reset_index()
state_counts.columns = ['state', 'customer_count']


big_states = state_counts[state_counts['customer_count'] > 500]

display("States with More Than 500 Customers:\n")
display(big_states)

'States with More Than 500 Customers:\n'

        state  customer_count
0  California            3552
1      Oregon            2909
2     Arizona            1937
3      Nevada             993
4  Washington             888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [35]:
clv_stats = df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median']).round(2).reset_index()

display("Customer Lifetime Value Stats by Education & Gender:\n")
display(clv_stats)

'Customer Lifetime Value Stats by Education & Gender:\n'

              education gender       max      min   median
0              Bachelor      F  73225.96  1904.00  5640.51
1              Bachelor      M  67907.27  1898.01  5548.03
2               College      F  61850.19  1898.68  5623.61
3               College      M  61134.68  1918.12  6005.85
4                Doctor      F  44856.11  2395.57  5332.46
5                Doctor      M  32677.34  2267.60  5577.67
6  High School or Below      F  55277.45  2144.92  6039.55
7  High School or Below      M  83325.38  1940.98  6286.73
8                Master      F  51016.07  2417.78  5729.86
9                Master      M  50568.26  2272.31  5579.10

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [23]:
import pandas as pd


url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)


df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')


df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])


df['month'] = df['effective_to_date'].dt.strftime('%B')  


policies_by_state_month = df.groupby(['state', 'month']).size().reset_index(name='policies_sold')


pivot_table = policies_by_state_month.pivot(index='state', columns='month', values='policies_sold')


pivot_table = pivot_table.fillna(0).astype(int)


month_order = ['January', 'February', 'March', 'April', 'May', 'June', 
               'July', 'August', 'September', 'October', 'November', 'December']
pivot_table = pivot_table.reindex(columns=month_order)


display("Number of Policies Sold by State and Month:\n")
display(pivot_table)

C:\Users\ewaki\AppData\Local\Temp\ipykernel_7496\745417087.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])

'\nðŸ“Š Number of Policies Sold by State and Month:\n'

month,January,February,March,April,May,June,July,August,September,October,November,December
state,,,,,,,,,,,,
Arizona,1008,929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
California,1918,1634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nevada,551,442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oregon,1565,1344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Washington,463,425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [39]:
import pandas as pd


url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)


df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')


df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
df['month'] = df['effective_to_date'].dt.strftime('%B')  


policies_by_state_month = df.groupby(['state', 'month']).size().reset_index(name='policies_sold')


total_by_state = policies_by_state_month.groupby('state')['policies_sold'].sum().reset_index()


top_states = total_by_state.sort_values(by='policies_sold', ascending=False).head(3)['state']


top_states_data = policies_by_state_month[policies_by_state_month['state'].isin(top_states)]


pivot_top3_states = top_states_data.pivot(index='state', columns='month', values='policies_sold').fillna(0).astype(int)


month_order = ['January', 'February', 'March', 'April', 'May', 'June',
               'July', 'August', 'September', 'October', 'November', 'December']
pivot_top3_states = pivot_top3_states.reindex(columns=month_order)


display("Number of Policies Sold by Month (Top 3 States):\n")
display(pivot_top3_states)

C:\Users\ewaki\AppData\Local\Temp\ipykernel_7496\2388531301.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])

'Number of Policies Sold by Month (Top 3 States):\n'

month,January,February,March,April,May,June,July,August,September,October,November,December
state,,,,,,,,,,,,
Arizona,1008,929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
California,1918,1634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oregon,1565,1344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [37]:
import pandas as pd


url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)


df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')


df['response'] = df['response'].str.strip().str.lower()
df['sales_channel'] = df['sales_channel'].str.strip().str.title()  # capitalize nicely


response_counts = df.groupby(['sales_channel', 'response']).size().reset_index(name='count')


response_pivot = response_counts.pivot(index='sales_channel', columns='response', values='count').fillna(0)


response_pivot['response_rate_%'] = (response_pivot['yes'] / (response_pivot['yes'] + response_pivot['no'])) * 100
response_pivot = response_pivot.round(2)


display("Customer Response Rate by Marketing Channel:\n")
display(response_pivot[['response_rate_%']])

'Customer Response Rate by Marketing Channel:\n'

response       response_rate_%
sales_channel
Agent                    19.07
Branch                   11.38
Call Center              10.98
Web                      11.71