# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [373]:
import numpy as np
import pandas as pd

# Load the data
marketing_customer_analysis = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

pd.set_option('display.max_columns', None)

marketing_customer_analysis.head ()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [374]:
# Clean the data
marketing_customer_analysis.reset_index(drop=True, inplace=True)
marketing_customer_analysis.columns = [c.lower().strip() for c in marketing_customer_analysis.columns.values.tolist()]

marketing_customer_analysis.head()

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [375]:
# Clean the data pt 2
marketing_customer_analysis.drop(columns=['unnamed: 0'], inplace=True)

marketing_customer_analysis.head()

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [376]:
#Get unique values for each column
unique_states = marketing_customer_analysis['state'].unique()
print(unique_states)

['Arizona' 'California' 'Washington' 'Oregon' nan 'Nevada']

In [377]:
#Get unique values for each column
unique_states = marketing_customer_analysis['customer lifetime value'].unique()
print(unique_states)

[ 4809.21696   2228.525238 14947.9173   ...  5259.444853 23893.3041
 11971.97765 ]

In [378]:
#Get unique values for each column
unique_states = marketing_customer_analysis['response'].unique()
print(unique_states)

['No' 'Yes' nan]

In [379]:
#Get unique values for each column
unique_states = marketing_customer_analysis['coverage'].unique()
print(unique_states)

['Basic' 'Extended' 'Premium']

In [380]:
#Get unique values for each column
unique_states = marketing_customer_analysis['education'].unique()
print(unique_states)

['College' 'Bachelor' 'High School or Below' 'Doctor' 'Master']

In [381]:
#Get unique values for each column
unique_states = marketing_customer_analysis['effective to date'].unique()
print(unique_states)

['2/18/11' '1/18/11' '2/10/11' '1/11/11' '1/17/11' '2/14/11' '2/24/11'
 '1/19/11' '1/4/11' '1/2/11' '2/7/11' '1/31/11' '1/26/11' '2/28/11'
 '1/16/11' '2/26/11' '2/23/11' '1/15/11' '2/2/11' '2/15/11' '1/24/11'
 '2/21/11' '2/22/11' '1/7/11' '1/28/11' '2/8/11' '2/12/11' '2/20/11'
 '1/5/11' '2/19/11' '1/3/11' '2/3/11' '1/22/11' '1/23/11' '2/5/11'
 '2/13/11' '1/25/11' '2/16/11' '2/1/11' '1/27/11' '1/12/11' '1/20/11'
 '2/6/11' '2/11/11' '1/21/11' '1/29/11' '1/9/11' '2/9/11' '2/27/11'
 '1/1/11' '2/17/11' '2/25/11' '1/13/11' '1/6/11' '2/4/11' '1/14/11'
 '1/10/11' '1/8/11' '1/30/11']

In [382]:
#Get unique values for each column
unique_states = marketing_customer_analysis['employmentstatus'].unique()
print(unique_states)

['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']

In [383]:
#Get unique values for each column
unique_states = marketing_customer_analysis['gender'].unique()
print(unique_states)

['M' 'F']

In [384]:
#Get unique values for each column
unique_states = marketing_customer_analysis['income'].unique()
print(unique_states)

[48029     0 22139 ... 61146 39837 64195]

In [385]:
#Get unique values for each column
unique_states = marketing_customer_analysis['location code'].unique()
print(unique_states)

['Suburban' 'Urban' 'Rural']

In [386]:
#Get unique values for each column
unique_states = marketing_customer_analysis['marital status'].unique()
print(unique_states)

['Married' 'Single' 'Divorced']

In [387]:
#Get unique values for each column
unique_states = marketing_customer_analysis['monthly premium auto'].unique()
print(unique_states)

[ 61  64 100  97 117  63 154  85 127  62  99  69 116 114  66  73  94 104
 189  74 121 110 111  72 115 159 101  65  82  71 126  68 199  96  67 125
 249 105  92  78  77  79 223 242  70 102 109 107 119 194 113 106 247  80
  86  81  83 122 253 196 132 139  84 130  93 103 112 222 118  88 182 283
  90 128  89 235 190  76  87 133 153 129  98 148 123  91 211 131 108 187
 214 181 173 252  95 124 137 145 188 143 198 138 245 195 186 170 136 161
 157 141 205 271 192 142 140 134 240 185 244 210 184 202 296 213 273 219
 135 169 155 225 266 215 197 256 212 158 180 166 168 183 162 191 179 150
 146 276 165 239 237 193 229 274 207 295 208 172 217 206 201 171 152 156
 174 238 167 151 144 163 287 209 290 220 228 232 178 177 275 176 281 149
 298 255 216 285 226 160 147 254 164 175 297 234 284 204 218 261 231 248
 286 230 268 203]

In [388]:
#Get unique values for each column
unique_states = marketing_customer_analysis['months since last claim'].unique()
print(unique_states)

[ 7.  3. 34. 10. nan  2.  8. 35. 33. 19. 13.  5. 24. 25.  6. 20. 26. 14.
  9. 29. 11.  1. 18. 16. 30. 12.  4. 22. 31. 21. 28. 17. 15. 32. 23. 27.
  0.]

In [389]:
#Get unique values for each column
unique_states = marketing_customer_analysis['months since policy inception'].unique()
print(unique_states)

[52 26 31  3 73 99 45 24  8 29 32 25 28 87 10 74  1 38 58 37  7 80 95 78
 63 27 97 39 11 59 46 62 13 54 51 22 82 91 44 43 76 48 84  6 92 12 61  4
 18 66 70 16 75 34 35 64  9 89  0 60 71 23 55 93  2 67 81 40 57 86 19 72
 69 33 47 42 17 49 21 83 94 30 15 50 53 77 41 90  5 79 56 98 20 88 65 14
 85 96 36 68]

In [390]:
#Get unique values for each column
unique_states = marketing_customer_analysis['number of open complaints'].unique()
print(unique_states)

[ 0. nan  3.  1.  2.  4.  5.]

In [391]:
#Get unique values for each column
unique_states = marketing_customer_analysis['number of policies'].unique()
print(unique_states)

[9 1 2 7 4 3 6 8 5]

In [392]:
#Get unique values for each column
unique_states = marketing_customer_analysis['policy type'].unique()
print(unique_states)

['Corporate Auto' 'Personal Auto' 'Special Auto']

In [393]:
#Get unique values for each column
unique_states = marketing_customer_analysis['policy'].unique()
print(unique_states)

['Corporate L3' 'Personal L3' 'Personal L2' 'Corporate L2' 'Personal L1'
 'Special L1' 'Corporate L1' 'Special L3' 'Special L2']

In [394]:
#Get unique values for each column
unique_states = marketing_customer_analysis['renew offer type'].unique()
print(unique_states)

['Offer3' 'Offer4' 'Offer2' 'Offer1']

In [395]:
#Get unique values for each column
unique_states = marketing_customer_analysis['sales channel'].unique()
print(unique_states)

['Agent' 'Call Center' 'Branch' 'Web']

In [396]:
#Get unique values for each column
unique_states = marketing_customer_analysis['total claim amount'].unique()
print(unique_states)

[292.8      744.924331 480.       ... 273.018929 381.306996 618.288849]

In [397]:
#Get unique values for each column
unique_states = marketing_customer_analysis['vehicle class'].unique()
print(unique_states)

['Four-Door Car' 'SUV' 'Two-Door Car' 'Sports Car' 'Luxury Car'
 'Luxury SUV' nan]

In [398]:
#Get unique values for each column
unique_states = marketing_customer_analysis['vehicle size'].unique()
print(unique_states)

['Medsize' 'Small' 'Large' nan]

In [399]:
#Get unique values for each column
unique_states = marketing_customer_analysis['vehicle type'].unique()
print(unique_states)

[nan 'A']

In [400]:
#drop NaN rows
marketing_customer_analysis.dropna(inplace=True)
print(marketing_customer_analysis.shape)

(4543, 25)

In [401]:
# Convert all numeric columns to int
marketing_customer_analysis.select_dtypes(include=['float64', 'int64']).astype(int)

# Keep changes in DataFrame
marketing_customer_analysis[marketing_customer_analysis.select_dtypes(include=['float64']).columns] = marketing_customer_analysis.select_dtypes(include=['float64']).astype(int)

print(marketing_customer_analysis.dtypes)

customer                         object
state                            object
customer lifetime value           int32
response                         object
coverage                         object
education                        object
effective to date                object
employmentstatus                 object
gender                           object
income                            int64
location code                    object
marital status                   object
monthly premium auto              int64
months since last claim           int32
months since policy inception     int64
number of open complaints         int32
number of policies                int64
policy type                      object
policy                           object
renew offer type                 object
sales channel                    object
total claim amount                int32
vehicle class                    object
vehicle size                     object
vehicle type                     object
dtype: object

In [402]:
# Check for duplicate rows
duplicates = marketing_customer_analysis.duplicated()
duplicate_rows = marketing_customer_analysis[duplicates]

# Display the updated DataFrame
print(marketing_customer_analysis)

      customer       state  customer lifetime value response  coverage  \
2      LZ68649  Washington                    14947       No     Basic
3      XL78013      Oregon                    22332      Yes  Extended
10     HG93801     Arizona                     5154       No  Extended
13     KR82385  California                     5454       No     Basic
16     FH51383  California                     5326       No     Basic
...        ...         ...                      ...      ...       ...
10902  PP30874  California                     3579       No  Extended
10903  SU71163     Arizona                     2771       No     Basic
10904  QI63521      Nevada                    19228       No     Basic
10906  KX53892      Oregon                     5259       No     Basic
10908  WA60547  California                    11971       No   Premium

                  education effective to date employmentstatus gender  income  \
2                  Bachelor           2/10/11         Employed      M   22139
3                   College           1/11/11         Employed      M   49078
10     High School or Below            1/2/11         Employed      M   82730
13                   Master           1/26/11         Employed      M   66334
16     High School or Below            2/7/11         Employed      F   76717
...                     ...               ...              ...    ...     ...
10902  High School or Below           1/24/11         Employed      F   28304
10903               College            1/7/11         Employed      M   59855
10904  High School or Below           2/24/11       Unemployed      M       0
10906               College            1/6/11         Employed      F   61146
10908               College           2/13/11         Employed      F   64195

      location code marital status  monthly premium auto  \
2          Suburban         Single                   100
3          Suburban         Single                    97
10            Urban        Married                   127
13         Suburban         Single                    69
16            Urban        Married                    66
...             ...            ...                   ...
10902      Suburban        Married                    91
10903      Suburban        Married                    74
10904      Suburban         Single                   187
10906         Urban        Married                    65
10908         Urban       Divorced                   158

       months since last claim  months since policy inception  \
2                           34                             31
3                           10                              3
10                          13                             31
13                          25                             25
16                          26                             10
...                        ...                            ...
10902                       10                             30
10903                       30                             82
10904                       14                             32
10906                        7                             68
10908                        0                             27

       number of open complaints  number of policies     policy type  \
2                              0                   2   Personal Auto
3                              0                   2  Corporate Auto
10                             0                   1  Corporate Auto
13                             0                   4   Personal Auto
16                             0                   6   Personal Auto
...                          ...                 ...             ...
10902                          2                   1   Personal Auto
10903                          4                   1   Personal Auto
10904                          0                   2   Personal Auto
10906                          0                   6   Personal Auto
10908                          4                   6   Personal Auto

             policy renew offer type sales channel  total claim amount  \
2       Personal L3           Offer3   Call Center                 480
3      Corporate L3           Offer2        Branch                 484
10     Corporate L3           Offer2        Branch                 442
13      Personal L3           Offer4   Call Center                 331
16      Personal L3           Offer4   Call Center                 300
...             ...              ...           ...                 ...
10902   Personal L2           Offer2         Agent                 655
10903   Personal L2           Offer2        Branch                 355
10904   Personal L2           Offer1        Branch                 897
10906   Personal L3           Offer2        Branch                 273
10908   Personal L1           Offer1        Branch                 618

       vehicle class vehicle size vehicle type
2                SUV      Medsize            A
3      Four-Door Car      Medsize            A
10               SUV        Large            A
13      Two-Door Car      Medsize            A
16      Two-Door Car        Large            A
...              ...          ...          ...
10902  Four-Door Car      Medsize            A
10903   Two-Door Car      Medsize            A
10904     Luxury SUV      Medsize            A
10906  Four-Door Car      Medsize            A
10908            SUV      Medsize            A

[4543 rows x 25 columns]

In [403]:
# Drop duplicates
marketing_customer_analysis.drop_duplicates(inplace=True)

# Reset the index
marketing_customer_analysis.reset_index(drop=True, inplace=True)

# Display the updated DataFrame
print(marketing_customer_analysis)

     customer       state  customer lifetime value response  coverage  \
0     LZ68649  Washington                    14947       No     Basic
1     XL78013      Oregon                    22332      Yes  Extended
2     HG93801     Arizona                     5154       No  Extended
3     KR82385  California                     5454       No     Basic
4     FH51383  California                     5326       No     Basic
...       ...         ...                      ...      ...       ...
4538  PP30874  California                     3579       No  Extended
4539  SU71163     Arizona                     2771       No     Basic
4540  QI63521      Nevada                    19228       No     Basic
4541  KX53892      Oregon                     5259       No     Basic
4542  WA60547  California                    11971       No   Premium

                 education effective to date employmentstatus gender  income  \
0                 Bachelor           2/10/11         Employed      M   22139
1                  College           1/11/11         Employed      M   49078
2     High School or Below            1/2/11         Employed      M   82730
3                   Master           1/26/11         Employed      M   66334
4     High School or Below            2/7/11         Employed      F   76717
...                    ...               ...              ...    ...     ...
4538  High School or Below           1/24/11         Employed      F   28304
4539               College            1/7/11         Employed      M   59855
4540  High School or Below           2/24/11       Unemployed      M       0
4541               College            1/6/11         Employed      F   61146
4542               College           2/13/11         Employed      F   64195

     location code marital status  monthly premium auto  \
0         Suburban         Single                   100
1         Suburban         Single                    97
2            Urban        Married                   127
3         Suburban         Single                    69
4            Urban        Married                    66
...            ...            ...                   ...
4538      Suburban        Married                    91
4539      Suburban        Married                    74
4540      Suburban         Single                   187
4541         Urban        Married                    65
4542         Urban       Divorced                   158

      months since last claim  months since policy inception  \
0                          34                             31
1                          10                              3
2                          13                             31
3                          25                             25
4                          26                             10
...                       ...                            ...
4538                       10                             30
4539                       30                             82
4540                       14                             32
4541                        7                             68
4542                        0                             27

      number of open complaints  number of policies     policy type  \
0                             0                   2   Personal Auto
1                             0                   2  Corporate Auto
2                             0                   1  Corporate Auto
3                             0                   4   Personal Auto
4                             0                   6   Personal Auto
...                         ...                 ...             ...
4538                          2                   1   Personal Auto
4539                          4                   1   Personal Auto
4540                          0                   2   Personal Auto
4541                          0                   6   Personal Auto
4542                          4                   6   Personal Auto

            policy renew offer type sales channel  total claim amount  \
0      Personal L3           Offer3   Call Center                 480
1     Corporate L3           Offer2        Branch                 484
2     Corporate L3           Offer2        Branch                 442
3      Personal L3           Offer4   Call Center                 331
4      Personal L3           Offer4   Call Center                 300
...            ...              ...           ...                 ...
4538   Personal L2           Offer2         Agent                 655
4539   Personal L2           Offer2        Branch                 355
4540   Personal L2           Offer1        Branch                 897
4541   Personal L3           Offer2        Branch                 273
4542   Personal L1           Offer1        Branch                 618

      vehicle class vehicle size vehicle type
0               SUV      Medsize            A
1     Four-Door Car      Medsize            A
2               SUV        Large            A
3      Two-Door Car      Medsize            A
4      Two-Door Car        Large            A
...             ...          ...          ...
4538  Four-Door Car      Medsize            A
4539   Two-Door Car      Medsize            A
4540     Luxury SUV      Medsize            A
4541  Four-Door Car      Medsize            A
4542            SUV      Medsize            A

[4543 rows x 25 columns]

In [404]:
marketing_customer_analysis.head()

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,LZ68649,Washington,14947,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34,31,0,2,Personal Auto,Personal L3,Offer3,Call Center,480,SUV,Medsize,A
1,XL78013,Oregon,22332,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10,3,0,2,Corporate Auto,Corporate L3,Offer2,Branch,484,Four-Door Car,Medsize,A
2,HG93801,Arizona,5154,No,Extended,High School or Below,1/2/11,Employed,M,82730,Urban,Married,127,13,31,0,1,Corporate Auto,Corporate L3,Offer2,Branch,442,SUV,Large,A
3,KR82385,California,5454,No,Basic,Master,1/26/11,Employed,M,66334,Suburban,Single,69,25,25,0,4,Personal Auto,Personal L3,Offer4,Call Center,331,Two-Door Car,Medsize,A
4,FH51383,California,5326,No,Basic,High School or Below,2/7/11,Employed,F,76717,Urban,Married,66,26,10,0,6,Personal Auto,Personal L3,Offer4,Call Center,300,Two-Door Car,Large,A

In [405]:
marketing_customer_analysis.to_csv('cleaned_marketing_customer_analysis.csv')

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [407]:
import pandas as pd

marketing_customer_analysis_filter = pd.read_csv('cleaned_marketing_customer_analysis.csv')

print(marketing_customer_analysis_filter.head())

   Unnamed: 0 customer       state  customer lifetime value response  \
0           0  LZ68649  Washington                    14947       No
1           1  XL78013      Oregon                    22332      Yes
2           2  HG93801     Arizona                     5154       No
3           3  KR82385  California                     5454       No
4           4  FH51383  California                     5326       No

   coverage             education effective to date employmentstatus gender  \
0     Basic              Bachelor           2/10/11         Employed      M
1  Extended               College           1/11/11         Employed      M
2  Extended  High School or Below            1/2/11         Employed      M
3     Basic                Master           1/26/11         Employed      M
4     Basic  High School or Below            2/7/11         Employed      F

   income location code marital status  monthly premium auto  \
0   22139      Suburban         Single                   100
1   49078      Suburban         Single                    97
2   82730         Urban        Married                   127
3   66334      Suburban         Single                    69
4   76717         Urban        Married                    66

   months since last claim  months since policy inception  \
0                       34                             31
1                       10                              3
2                       13                             31
3                       25                             25
4                       26                             10

   number of open complaints  number of policies     policy type  \
0                          0                   2   Personal Auto
1                          0                   2  Corporate Auto
2                          0                   1  Corporate Auto
3                          0                   4   Personal Auto
4                          0                   6   Personal Auto

         policy renew offer type sales channel  total claim amount  \
0   Personal L3           Offer3   Call Center                 480
1  Corporate L3           Offer2        Branch                 484
2  Corporate L3           Offer2        Branch                 442
3   Personal L3           Offer4   Call Center                 331
4   Personal L3           Offer4   Call Center                 300

   vehicle class vehicle size vehicle type
0            SUV      Medsize            A
1  Four-Door Car      Medsize            A
2            SUV        Large            A
3   Two-Door Car      Medsize            A
4   Two-Door Car        Large            A

In [408]:
#Needed columns
selected_columns = marketing_customer_analysis_filter[['customer', 'response', 'total claim amount']]

# Reset the index
selected_columns.reset_index(drop=True, inplace=True)

selected_columns.head()

  customer response  total claim amount
0  LZ68649       No                 480
1  XL78013      Yes                 484
2  HG93801       No                 442
3  KR82385       No                 331
4  FH51383       No                 300

In [409]:
#Drop 'total claim amount' less than 1000
filtered_data = selected_columns[selected_columns['total claim amount'] >= 1000]

# Reset the index
filtered_data.reset_index(drop=True, inplace=True)

filtered_data.head()

  customer response  total claim amount
0  GX19342       No                1193
1  XQ74827       No                2294
2  FE99816       No                1214
3  YJ16163      Yes                1358
4  HH30454       No                1101

In [410]:
final_data = filtered_data[filtered_data['response'] == 'Yes']

# Reset the index
final_data.reset_index(drop=True, inplace=True)

final_data.head()

  customer response  total claim amount
0  YJ16163      Yes                1358
1  GW43195      Yes                1027
2  IP94270      Yes                1261
3  FJ28407      Yes                1027
4  TU53781      Yes                1032

In [411]:
final_data.to_csv('marketing_customer_analysis_filter.csv')

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [413]:
import pandas as pd

marketing_customer_analysis_filter = pd.read_csv('cleaned_marketing_customer_analysis.csv')

marketing_customer_analysis_filter.head()

,Unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,LZ68649,Washington,14947,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34,31,0,2,Personal Auto,Personal L3,Offer3,Call Center,480,SUV,Medsize,A
1,1,XL78013,Oregon,22332,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10,3,0,2,Corporate Auto,Corporate L3,Offer2,Branch,484,Four-Door Car,Medsize,A
2,2,HG93801,Arizona,5154,No,Extended,High School or Below,1/2/11,Employed,M,82730,Urban,Married,127,13,31,0,1,Corporate Auto,Corporate L3,Offer2,Branch,442,SUV,Large,A
3,3,KR82385,California,5454,No,Basic,Master,1/26/11,Employed,M,66334,Suburban,Single,69,25,25,0,4,Personal Auto,Personal L3,Offer4,Call Center,331,Two-Door Car,Medsize,A
4,4,FH51383,California,5326,No,Basic,High School or Below,2/7/11,Employed,F,76717,Urban,Married,66,26,10,0,6,Personal Auto,Personal L3,Offer4,Call Center,300,Two-Door Car,Large,A

In [488]:
#Filter response type
filtered_data = marketing_customer_analysis_filter[marketing_customer_analysis_filter['response'] == 'Yes']

#Group
mean_claims = filtered_data.groupby(['policy type', 'gender'])['total claim amount'].mean().reset_index()

print(mean_claims.to_string(index=False))

   policy type gender  total claim amount
Corporate Auto      F          403.636364
Corporate Auto      M          390.852459
 Personal Auto      F          456.586364
 Personal Auto      M          472.071429
  Special Auto      F          495.235294
  Special Auto      M          368.071429

In [490]:
from IPython.display import display

display(mean_claims)

      policy type gender  total claim amount
0  Corporate Auto      F          403.636364
1  Corporate Auto      M          390.852459
2   Personal Auto      F          456.586364
3   Personal Auto      M          472.071429
4    Special Auto      F          495.235294
5    Special Auto      M          368.071429

# Description

## Gender Comparison:
Female:
Average Claim Amount across all policy types:
(403.64+456.59+495.24)/3

451.16
(403.64+456.59+495.24)/3451.16

Male:
Average Claim Amount across all policy types:
(390.85+472.07+368.07)/3

410.00
(390.85+472.07+368.07)/3410.00

## Total Claim Amounts by Policy Type:

1. The highest average claim amount is observed in the Special Auto category for Females (495.24), leading us to infer this policy type may involve higher-risk or more expensive claims.
2. The Corporate Auto policy type has the lowest average claim amount for Males (390.85), indicating to an inference of potential differences in claim characteristics across policy types.

## Gender Differences:
Female average claim amounts are observably higher in Personal and Special Auto categories compared to Males, whereas the Male average claim is lower for Corporate Auto. This may reflect differences in risk assessment or claims behavior between genders.

## Conclusion: 
The analysis indicates a noticeable variation in average claim amounts based on policy type and gender. Understanding the differences can help in risk management, pricing strategy, and targeting of insurance product. Further analysis should include additional factors like age, vehicle class, location code or claim frequency for a more comprehensive analysis of the claims in a marketing perspective.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [423]:
# your code goes here