# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [2]:
import pandas as pd

In [6]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [14]:
df.nunique()

Unnamed: 0                       10910
Customer                          9134
State                                5
Customer Lifetime Value           8041
Response                             2
Coverage                             3
Education                            5
Effective To Date                   59
EmploymentStatus                     5
Gender                               2
Income                            5694
Location Code                        3
Marital Status                       3
Monthly Premium Auto               202
Months Since Last Claim             36
Months Since Policy Inception      100
Number of Open Complaints            6
Number of Policies                   9
Policy Type                          3
Policy                               9
Renew Offer Type                     4
Sales Channel                        4
Total Claim Amount                5106
Vehicle Class                        6
Vehicle Size                         3
Vehicle Type                         1
dtype: int64

In [16]:
df.isna().sum()

Unnamed: 0                          0
Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64

In [24]:
round(df['Response'].isna().sum() / df['Response'].value_counts().sum() *100, 2)

6.14

In [30]:
df2 = df[(df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')]
df2

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [50]:
"""
Using the original Dataframe, analyze the average total_claim_amount by each policy type 
and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.
"""
# Giving you the average. 
pivot_df = round(df2.pivot_table(index='Policy', columns='Gender', values='Total Claim Amount'), 2)
pivot_df

Gender              F        M
Policy
Corporate L1      NaN  1008.00
Corporate L2  1137.60  1175.90
Corporate L3  1139.20  1324.80
Personal L1   1229.19  1053.06
Personal L2   1149.65  1225.66
Personal L3   1253.24  1128.52
Special L1        NaN  1027.00
Special L2        NaN  1008.00
Special L3    1358.40      NaN

In [52]:
#Sums the total value from both columns. 
row_totals = pivot_df.sum(axis=1)
row_totals

Policy
Corporate L1    1008.00
Corporate L2    2313.50
Corporate L3    2464.00
Personal L1     2282.25
Personal L2     2375.31
Personal L3     2381.76
Special L1      1027.00
Special L2      1008.00
Special L3      1358.40
dtype: float64

In [56]:
# Giving you the percentages 

percentage_df = round(pivot_df.div(row_totals, axis=0) * 100, 2)
percentage_df

Gender             F       M
Policy
Corporate L1     NaN  100.00
Corporate L2   49.17   50.83
Corporate L3   46.23   53.77
Personal L1    53.86   46.14
Personal L2    48.40   51.60
Personal L3    52.62   47.38
Special L1       NaN  100.00
Special L2       NaN  100.00
Special L3    100.00     NaN

In [92]:
""" 
3. Analyze the total number of customers who have policies in each state, 
and then filter the results to only include states where there are more than 500 customers.
"""
df['State'].value_counts()

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

In [118]:
pivot_df4 = df.pivot_table(index='State', columns='Policy', values='Customer', aggfunc='count')
pivot_df4

Policy,Corporate L1,Corporate L2,Corporate L3,Personal L1,Personal L2,Personal L3,Special L1,Special L2,Special L3
State,,,,,,,,,
Arizona,62,119,200,293,434,742,25,35,27
California,164,246,425,439,905,1250,18,49,56
Nevada,37,73,109,136,212,391,5,18,12
Oregon,94,174,324,405,618,1157,21,63,53
Washington,40,46,89,125,230,327,5,14,12

In [110]:
# Pruebas. 
round(df2.groupby('State')['Policy'].agg('count'))

State
Arizona        8
California    24
Nevada         3
Oregon        27
Washington     5
Name: Policy, dtype: int64

In [102]:
"""
4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.
"""
round(df2.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['mean', 'std', 'max', 'min', 'median']))

                                mean     std      max      min   median
Education            Gender
Bachelor             F        9857.0  1129.0  11009.0   8427.0  10180.0
College              F       25807.0     0.0  25807.0  25807.0  25807.0
                     M        5674.0  2248.0   7840.0   3509.0   5674.0
High School or Below M        8292.0  2773.0  10964.0   5620.0   8292.0
Master               F       16449.0  2833.0  19161.0  13736.0  16449.0

In [76]:
#Without filtering for 1000 and Yes. 
round(df.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['mean', 'std', 'max', 'min', 'median']))

                               mean     std      max     min  median
Education            Gender
Bachelor             F       7874.0  6614.0  73226.0  1904.0  5641.0
                     M       7704.0  6658.0  67907.0  1898.0  5548.0
College              F       7749.0  6678.0  61850.0  1899.0  5624.0
                     M       8052.0  6717.0  61135.0  1918.0  6006.0
Doctor               F       7329.0  6931.0  44856.0  2396.0  5332.0
                     M       7415.0  5461.0  32677.0  2268.0  5578.0
High School or Below F       8675.0  7498.0  55277.0  2145.0  6040.0
                     M       8150.0  7191.0  83325.0  1941.0  6287.0
Master               F       8157.0  6622.0  51016.0  2418.0  5730.0
                     M       8169.0  7362.0  50568.0  2272.0  5579.0

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here