# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [34]:
# your code goes here
import pandas as pd

pd.set_option('display.max_columns', None)

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
data = pd.read_csv(url)
data.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [45]:
data["Education"].unique()

array(['College', 'Bachelor', 'High School or Below', 'Doctor', 'Master'],
      dtype=object)

In [46]:
data["Gender"].unique()

array(['M', 'F'], dtype=object)

In [35]:
data.shape

(10910, 26)

In [36]:
data.describe()

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
count,10910.000000,10910.000000,10910.000000,10910.000000,10277.000000,10910.000000,10277.000000,10910.000000,10910.000000
mean,5454.500000,8018.241094,37536.284785,93.196059,15.149071,48.091934,0.384256,2.979193,434.888330
std,3149.590053,6885.081434,30359.195670,34.442532,10.080349,27.940675,0.912457,2.399359,292.180556
min,0.000000,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,2727.250000,4014.453113,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,271.082527
50%,5454.500000,5771.147235,33813.500000,83.000000,14.000000,48.000000,0.000000,2.000000,382.564630
75%,8181.750000,8992.779137,62250.750000,109.000000,23.000000,71.000000,0.000000,4.000000,547.200000
max,10909.000000,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [37]:
list(data.columns)

['Unnamed: 0',
 'Customer',
 'State',
 'Customer Lifetime Value',
 'Response',
 'Coverage',
 'Education',
 'Effective To Date',
 'EmploymentStatus',
 'Gender',
 'Income',
 'Location Code',
 'Marital Status',
 'Monthly Premium Auto',
 'Months Since Last Claim',
 'Months Since Policy Inception',
 'Number of Open Complaints',
 'Number of Policies',
 'Policy Type',
 'Policy',
 'Renew Offer Type',
 'Sales Channel',
 'Total Claim Amount',
 'Vehicle Class',
 'Vehicle Size',
 'Vehicle Type']

In [41]:
# data.rename(columns = {"EmploymentStatus":"Employment Status"}, inplace=True)
data.columns = data.columns.str.replace("EmploymentStatus", "Employment Status")

In [42]:
list(data.columns)

['Unnamed: 0',
 'Customer',
 'State',
 'Customer Lifetime Value',
 'Response',
 'Coverage',
 'Education',
 'Effective To Date',
 'Employment Status',
 'Gender',
 'Income',
 'Location Code',
 'Marital Status',
 'Monthly Premium Auto',
 'Months Since Last Claim',
 'Months Since Policy Inception',
 'Number of Open Complaints',
 'Number of Policies',
 'Policy Type',
 'Policy',
 'Renew Offer Type',
 'Sales Channel',
 'Total Claim Amount',
 'Vehicle Class',
 'Vehicle Size',
 'Vehicle Type']

In [39]:
data.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [40]:
data.isnull().count()

Unnamed: 0                       10910
Customer                         10910
State                            10910
Customer Lifetime Value          10910
Response                         10910
Coverage                         10910
Education                        10910
Effective To Date                10910
EmploymentStatus                 10910
Gender                           10910
Income                           10910
Location Code                    10910
Marital Status                   10910
Monthly Premium Auto             10910
Months Since Last Claim          10910
Months Since Policy Inception    10910
Number of Open Complaints        10910
Number of Policies               10910
Policy Type                      10910
Policy                           10910
Renew Offer Type                 10910
Sales Channel                    10910
Total Claim Amount               10910
Vehicle Class                    10910
Vehicle Size                     10910
Vehicle Type                     10910
dtype: int64

In [50]:
data = data.dropna()

In [51]:
data.isnull().count()

Unnamed: 0                       4543
Customer                         4543
State                            4543
Customer Lifetime Value          4543
Response                         4543
Coverage                         4543
Education                        4543
Effective To Date                4543
Employment Status                4543
Gender                           4543
Income                           4543
Location Code                    4543
Marital Status                   4543
Monthly Premium Auto             4543
Months Since Last Claim          4543
Months Since Policy Inception    4543
Number of Open Complaints        4543
Number of Policies               4543
Policy Type                      4543
Policy                           4543
Renew Offer Type                 4543
Sales Channel                    4543
Total Claim Amount               4543
Vehicle Class                    4543
Vehicle Size                     4543
Vehicle Type                     4543
dtype: int64

In [52]:
data['Effective To Date'] = pd.to_datetime(data['Effective To Date'])

data['Month'] = data['Effective To Date'].dt.strftime('%B')
data.head()

C:\Users\sfsou\AppData\Local\Temp\ipykernel_11972\2259930037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Effective To Date'] = pd.to_datetime(data['Effective To Date'])
C:\Users\sfsou\AppData\Local\Temp\ipykernel_11972\2259930037.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Month'] = data['Effective To Date'].dt.strftime('%B')

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,Month
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,February
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,January
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,82730,Urban,Married,127,13.0,31,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,January
13,13,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,66334,Suburban,Single,69,25.0,25,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,January
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,76717,Urban,Married,66,26.0,10,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,February

In [53]:
#1: Create a new DataFrame that only includes customers who have a total_claim_amount 
# greater than $1,000 and have a response of "Yes" to the last marketing campaign.

new_data = data[(data['Total Claim Amount'] > 1000) & (data['Response'] == 'Yes')]

new_data.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,Month
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,Suburban,Single,283,16.0,43,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,January
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,Suburban,Married,214,8.0,89,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A,February
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,16181,Suburban,Divorced,181,22.0,79,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A,February
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,Suburban,Married,153,25.0,5,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A,January
1527,1527,TU53781,Oregon,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,F,46503,Suburban,Divorced,215,4.0,21,1.0,1,Corporate Auto,Corporate L3,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A,February

In [54]:
#2. Analyze the average total_claim_amount by each policy type and gender for customers who 
# have responded "Yes" to the last marketing campaign.

avg_total = data[data['Response'] == 'Yes'].groupby(["Policy Type", "Gender"]).agg({"Total Claim Amount": "mean"}).reset_index()

avg_total['Total Claim Amount'] = avg_total['Total Claim Amount'].round(2)

avg_total

      Policy Type Gender  Total Claim Amount
0  Corporate Auto      F              404.10
1  Corporate Auto      M              391.37
2   Personal Auto      F              457.06
3   Personal Auto      M              472.49
4    Special Auto      F              495.69
5    Special Auto      M              368.52

In [55]:
#3. Analyze the total number of customers who have policies in each state, 
# and then filter the results to only include states where there are more than 500 customers.

num_policies_state = data.groupby(["State"]).agg({"Number of Policies": "count"}).reset_index()

customers_state = data.groupby(["State"]).agg({"Customer": "count"}).reset_index()

merged_data = pd.merge(num_policies_state, customers_state, on = "State")

filtered_states = merged_data[merged_data["Number of Policies"] > 500]

filtered_states

        State  Number of Policies  Customer
0     Arizona                 868       868
1  California                1552      1552
3      Oregon                1281      1281

In [56]:
#4. Find the median customer lifetime value by education level and gender.

data.groupby(["Education", "Gender"]).agg({"Customer Lifetime Value": "median"}).reset_index()

              Education Gender  Customer Lifetime Value
0              Bachelor      F              5752.485185
1              Bachelor      M              5797.377350
2               College      F              5642.596077
3               College      M              6005.847375
4                Doctor      F              5789.850900
5                Doctor      M              5843.989737
6  High School or Below      F              5978.754765
7  High School or Below      M              6081.481291
8                Master      F              5714.165863
9                Master      M              5512.342258

In [57]:
#5. Find the maximum, minimum, and average number of open complaints by state and policy type.

data.groupby(["State", "Policy Type"]).agg({"Number of Open Complaints": ["max", "min", "mean"]}).reset_index()

         State     Policy Type Number of Open Complaints
                                                     max  min      mean
0      Arizona  Corporate Auto                       5.0  0.0  0.456790
1      Arizona   Personal Auto                       5.0  0.0  0.413374
2      Arizona    Special Auto                       3.0  0.0  0.229167
3   California  Corporate Auto                       4.0  0.0  0.296703
4   California   Personal Auto                       5.0  0.0  0.398589
5   California    Special Auto                       4.0  0.0  0.388889
6       Nevada  Corporate Auto                       3.0  0.0  0.393617
7       Nevada   Personal Auto                       5.0  0.0  0.422492
8       Nevada    Special Auto                       3.0  0.0  0.285714
9       Oregon  Corporate Auto                       4.0  0.0  0.331984
10      Oregon   Personal Auto                       5.0  0.0  0.373444
11      Oregon    Special Auto                       5.0  0.0  0.328571
12  Washington  Corporate Auto                       4.0  0.0  0.467532
13  Washington   Personal Auto                       5.0  0.0  0.409836
14  Washington    Special Auto                       4.0  0.0  0.562500

In [58]:
#6. The marketing team wants to analyze the number of policies sold by state and month.
# Present the data in a table where the months are arranged as columns and the states are arranged as rows.

pivot_table = pd.pivot_table(data, values = "Number of Policies", index = "State", columns = "Month", aggfunc = "sum", fill_value=0)

pivot_table

Month       February  January
State
Arizona         1297     1344
California      2158     2439
Nevada           567      666
Oregon          1885     2009
Washington       589      585

In [59]:
#7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 
# states with the highest number of policies sold.

policies_sold = data.groupby(["Month", "State"], as_index=False)["Number of Policies"].sum()

sorted_analysis = policies_sold.sort_values(["Number of Policies"], ascending = False)

In [60]:
top_3_states = sorted_analysis["State"].unique()[:3]   #this was the only way i could get the top 3 of each column
top_3_months = sorted_analysis["Month"].unique()[:3]
top_3_policies = sorted_analysis["Number of Policies"].unique()[:3]

top_3 = [top_3_states, top_3_months, top_3_policies]

In [61]:
top_states = pd.DataFrame(top_3)
top_states

            0         1        2
0  California    Oregon  Arizona
1     January  February     None
2        2439      2158     2009

In [62]:
#8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.
#Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

melted_df = pd.melt(data, id_vars=['Sales Channel'], value_vars=['Response'])

filtered_df = melted_df[melted_df['value'] == 'Yes']

response_rate = filtered_df.groupby('Sales Channel').size().reset_index(name='Customer Response Rate')

In [63]:
response_rate

  Sales Channel  Customer Response Rate
0         Agent                     332
1        Branch                     123
2   Call Center                      97
3           Web                      89