# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [22]:
dataset = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
dataset.drop(["Unnamed: 0"], axis=1, inplace = True)
dataset.dropna(inplace=True)
dataset.drop_duplicates(inplace=True)
dataset
claimdf = dataset[dataset["Total Claim Amount"] > 1000]
claimdf

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
30,GX19342,California,8491.465719,No,Premium,High School or Below,1/28/11,Unemployed,F,0,Suburban,Single,116,3.0,97,0.0,3,Personal Auto,Personal L3,Offer1,Branch,1193.115879,Four-Door Car,Large,A
55,XQ74827,Arizona,19435.629240,No,Extended,High School or Below,2/1/11,Employed,F,38688,Suburban,Single,249,22.0,6,0.0,3,Special Auto,Special L3,Offer1,Agent,2294.631639,Luxury Car,Medsize,A
114,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,15.0,40,5.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,Suburban,Single,283,16.0,43,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
250,HH30454,Oregon,32654.838300,No,Premium,Bachelor,2/23/11,Unemployed,M,0,Suburban,Single,153,7.0,75,0.0,2,Personal Auto,Personal L3,Offer3,Branch,1101.600000,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10559,OA46321,Oregon,15512.249970,No,Basic,College,1/17/11,Employed,M,54833,Suburban,Married,198,22.0,92,3.0,3,Corporate Auto,Corporate L3,Offer3,Agent,1396.702365,Luxury Car,Large,A
10581,MS41043,Arizona,7469.145695,No,Basic,College,1/14/11,Unemployed,F,0,Suburban,Married,199,10.0,17,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,1956.368115,Luxury SUV,Medsize,A
10607,GM63998,Oregon,32613.690380,No,Premium,Doctor,2/14/11,Employed,F,45173,Suburban,Married,268,20.0,57,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,1286.400000,Luxury Car,Medsize,A
10609,ZZ97035,California,20714.940430,No,Extended,College,2/1/11,Unemployed,M,0,Suburban,Single,203,20.0,66,0.0,2,Corporate Auto,Corporate L1,Offer1,Branch,2027.724442,Luxury Car,Small,A
10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,Suburban,Married,153,25.0,5,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [33]:
pivot_table = dataset[dataset["Response"] == "Yes"].pivot_table(index='Policy', columns='Response', values='Total Claim Amount', aggfunc='mean')
pivot_table.sort_values(by="Yes", ascending = False)

#you can see that corporate policy plans tend to skew towards the bottom while personal ones tend to be at the top at the list. Special policies are all over the place so it's hard to draw conclusions about it.

Response             Yes
Policy
Personal L1   473.156640
Special L3    471.293200
Personal L3   469.088156
Personal L2   455.006136
Special L1    415.859127
Corporate L3  410.326500
Corporate L2  383.236332
Corporate L1  381.380769
Special L2    366.265155

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [55]:
state_customers = dataset.groupby('State').size()
state_list = state_customers[state_customers >500].index.tolist()
dataset_filtered = dataset[dataset["State"].isin(state_list)]
pivot_table2 = dataset_filtered.pivot_table(index='Policy', columns='State', values='Total Claim Amount', aggfunc='mean')
pivot_table2

State            Arizona  California      Oregon
Policy
Corporate L1  377.799204  499.856810  390.425024
Corporate L2  390.156718  425.900378  420.589113
Corporate L3  425.000098  436.535382  432.054724
Personal L1   438.302024  427.493811  447.883614
Personal L2   432.426971  434.184080  435.216961
Personal L3   404.337141  440.559515  441.493976
Special L1    492.673983  390.305293  536.326315
Special L2    399.943880  501.235502  443.741882
Special L3    476.644718  401.382323  491.182310

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [60]:
dataset.groupby(["Education", "Gender"])["Total Claim Amount"].agg(['max', 'min', 'median'])
#median customer lifetime value more or less equal across the board with high-school level males being slightly elevated, minimum are all at roughly zero while maz is considerably more varied in values, but there still doesn't look to be a strong enough correlation to draw conclusions

                                     max       min      median
Education            Gender
Bachelor             F       2156.011022  2.455033  370.513343
                     M       2893.239678  1.208908  384.000000
College              F       1979.444237  0.769185  345.600000
                     M       2059.200000  4.238626  398.400000
Doctor               F       1286.400000  3.463700  333.696228
                     M       1152.000000  0.887629  346.711434
High School or Below F       2294.631639  1.332349  418.352779
                     M       2759.794354  0.099007  475.200000
Master               F       1368.000000  2.704934  303.331178
                     M       1505.230405  3.468912  326.400000

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here