# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [6]:
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv ('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

In [10]:
df.columns = [column.lower().replace(" ","_") for column in df.columns]
df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')

In [14]:
df1 = df[(df["total_claim_amount"] > 1000) & (df["response"] == "Yes")]
df1

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [18]:
# Filter df by only people who responded yes.
# average total_claim_amount (average) by policy type and gender --> pivot table

df2 = df[(df["response"] == "Yes")]

In [22]:
pivot_df2 = df2.pivot_table(index='policy_type', columns='gender', values=['total_claim_amount'], aggfunc="mean")
pivot_df2

               total_claim_amount
gender                          F           M
policy_type
Corporate Auto         433.738499  408.582459
Personal Auto          452.965929  457.010178
Special Auto           453.280164  429.527942

Personal Auto policies have the highest total claim amounts overall. While claim values are generally similar across genders, males claim slightly more under Personal Auto, whereas females lead in Corporate and Special Auto policies.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [53]:
df3 = df.groupby('state')['number_of_policies'].count()
df3

state
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
Name: number_of_policies, dtype: int64

In [57]:
df3 = df3[(df3> 500)]
df3

state
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
Name: number_of_policies, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [73]:
from statistics import median
df.pivot_table(index='education', columns='gender', values=['customer_lifetime_value'], aggfunc="median")

                     customer_lifetime_value
gender                                     F            M
education
Bachelor                         5640.505303  5548.031892
College                          5623.611187  6005.847375
Doctor                           5332.462694  5577.669457
High School or Below             6039.553187  6286.731006
Master                           5729.855012  5579.099207

In [69]:
df.pivot_table(index='education', columns='gender', values=['customer_lifetime_value'], aggfunc="max")

                     customer_lifetime_value
gender                                     F            M
education
Bachelor                         73225.95652  67907.27050
College                          61850.18803  61134.68307
Doctor                           44856.11397  32677.34284
High School or Below             55277.44589  83325.38119
Master                           51016.06704  50568.25912

In [71]:
df.pivot_table(index='education', columns='gender', values=['customer_lifetime_value'], aggfunc="min")

                     customer_lifetime_value
gender                                     F            M
education
Bachelor                         1904.000852  1898.007675
College                          1898.683686  1918.119700
Doctor                           2395.570000  2267.604038
High School or Below             2144.921535  1940.981221
Master                           2417.777032  2272.307310

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here