# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
data = pd.read_csv(url)

In [2]:
filtered_data = data[(data['Total Claim Amount'] > 1000) & (data['Response'] == 'Yes')]
filtered_data

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [3]:
mean_claim_amount = filtered_data.groupby(['Policy Type', 'Gender'])['Total Claim Amount'].mean()
print("Average total_claim_amount by policy type and gender:")
print(mean_claim_amount)

Average total_claim_amount by policy type and gender:
Policy Type     Gender
Corporate Auto  F         1138.400000
                M         1171.150007
Personal Auto   F         1214.853805
                M         1137.861443
Special Auto    F         1358.400000
                M         1017.500015
Name: Total Claim Amount, dtype: float64

In [4]:
#Podemos ver las diferencias en la media del precio total de las reclamaciones entre tipos de polizas y género
#Esto nos puede indicar que se debe ajustar las estrategias de precios asi como que segmento necesita atencion especifica en términos de servicio al cliente

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [5]:
customers_by_state = data.groupby('State').size()
states_with_more_than_500_customers = customers_by_state[customers_by_state > 500]
print("\nStates with more than 500 customers:")
print(states_with_more_than_500_customers)

States with more than 500 customers:
State
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
dtype: int64

In [6]:
# De esta manera podemos ver en que estados necesitamos asignar mas recursos de mkty ventas por wue resultan más atractivos para la empresa

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [7]:
summary = data.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median'])
print("\nSummary of customer lifetime value by education level and gender:")
print(summary)

Summary of customer lifetime value by education level and gender:
                                     max          min       median
Education            Gender
Bachelor             F       73225.95652  1904.000852  5640.505303
                     M       67907.27050  1898.007675  5548.031892
College              F       61850.18803  1898.683686  5623.611187
                     M       61134.68307  1918.119700  6005.847375
Doctor               F       44856.11397  2395.570000  5332.462694
                     M       32677.34284  2267.604038  5577.669457
High School or Below F       55277.44589  2144.921535  6039.553187
                     M       83325.38119  1940.981221  6286.731006
Master               F       51016.06704  2417.777032  5729.855012
                     M       50568.25912  2272.307310  5579.099207

In [8]:
#Al ver los diferentes géneros y educacion podemos crean campañas de mkt dirigidas o la fidelización creadas para cada grupo específico

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [9]:
data['Effective To Date'] = pd.to_datetime(data['Effective To Date'], format='%m/%d/%y')
# Agrupar por estado y mes y contar el número de pólizas vendidas para cada grupo
policies_by_state_month = data.groupby([data['Effective To Date'].dt.month, 'State']).size().unstack()

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [10]:
policies_by_state_month = data.groupby([data['Effective To Date'].dt.month, 'State']).size().unstack()
policies_by_state_month

State              Arizona  California  Nevada  Oregon  Washington
Effective To Date
1                     1008        1918     551    1565         463
2                      929        1634     442    1344         425

In [11]:
top_states = data['State'].value_counts().index
top_states

Index(['California', 'Oregon', 'Arizona', 'Nevada', 'Washington'], dtype='object', name='State')

In [12]:
top_states_3 = data['State'].value_counts().nlargest(3).index
top_states_3

Index(['California', 'Oregon', 'Arizona'], dtype='object', name='State')

In [13]:
top_states_policies_by_month = data[data['State'].isin(top_states)].groupby([data['Effective To Date'].dt.month, 'State']).size().unstack()
top_states_policies_by_month

State              Arizona  California  Nevada  Oregon  Washington
Effective To Date
1                     1008        1918     551    1565         463
2                      929        1634     442    1344         425

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [14]:
yes_responses_data = data[data['Response'] == 'Yes']

In [15]:
response_by_channel_pivot = pd.pivot_table(yes_responses_data, index='Sales Channel', values='Response', aggfunc='count')

In [16]:
total_customers_by_channel = data.groupby('Sales Channel').size()
response_by_channel_pivot['Response Rate'] = (response_by_channel_pivot['Response'] / total_customers_by_channel) * 100

In [17]:
response_by_channel_pivot.drop(columns='Response', inplace=True)

In [18]:
print("\nCustomer response rate by marketing channel:")
print(response_by_channel_pivot)

Customer response rate by marketing channel:
               Response Rate
Sales Channel
Agent              18.005339
Branch             10.787558
Call Center        10.322279
Web                10.885609