# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
mkt_df = pd.read_csv(url)

# Display the first few rows of the DataFrame
mkt_df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [11]:
mkt_df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [5]:
mkt_df["Response"].value_counts()

Response
No     8813
Yes    1466
Name: count, dtype: int64

In [29]:
filt_df = mkt_df[(mkt_df['Total Claim Amount'] > 1000) & (mkt_df['Response'] == "Yes")]

filt_df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [35]:
yes_df = mkt_df[mkt_df['Response'] == "Yes"]

yes_pivot = yes_df.pivot_table(index='Policy Type', columns='Gender', values=['Total Claim Amount'], aggfunc="mean")

yes_pivot

               Total Claim Amount
Gender                          F           M
Policy Type
Corporate Auto         433.738499  408.582459
Personal Auto          452.965929  457.010178
Special Auto           453.280164  429.527942

In [ ]:
# Female average claim amounts are above Male, other than Personal claims which are similar

# Surprisingly, corporate policy claims tend to be lower than personal or special, 
# and special claims are not noticeably higher than other personal claims

In [37]:
no_df = mkt_df[mkt_df['Response'] == "No"]

no_pivot = no_df.pivot_table(index='Policy Type', columns='Gender', values=['Total Claim Amount'], aggfunc="mean")

no_pivot

               Total Claim Amount
Gender                          F           M
Policy Type
Corporate Auto         388.104574  472.461272
Personal Auto          407.499560  462.554331
Special Auto           458.313057  425.032393

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [81]:
state = mkt_df.groupby("State")

state.size()

State
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
dtype: int64

In [85]:
state_dict = dict(state.size())

state_dict["Arizona"]

1937

In [87]:
state_dict = dict(state["Customer"].agg("count"))

for state, count in state_dict.items():
    if count > 500:
        print(f"{state} has over 500 customers: {count}")
    else:
        print(f"{state} does not have over 500 customers: {count}")

Arizona has over 500 customers: 1937
California has over 500 customers: 3552
Nevada has over 500 customers: 993
Oregon has over 500 customers: 2909
Washington has over 500 customers: 888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [91]:
mkt_df.groupby('Education')['Customer Lifetime Value'].agg(['max', 'min','median'])

                              max          min       median
Education
Bachelor              73225.95652  1898.007675  5579.380404
College               61850.18803  1898.683686  5813.629209
Doctor                44856.11397  2267.604038  5423.136755
High School or Below  83325.38119  1940.981221  6189.348131
Master                51016.06704  2272.307310  5680.467468

In [ ]:
# The lowest education level customers return the highest lifetime value

In [93]:
mkt_df.groupby('Gender')['Customer Lifetime Value'].agg(['max', 'min','median'])

                max          min       median
Gender
F       73225.95652  1898.683686  5714.165863
M       83325.38119  1898.007675  5824.224192

In [ ]:
# There are more men who have high liftemine customer values than women

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [97]:
mkt_df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [99]:
mkt_df.pivot_table(index='State', columns='Months Since Policy Inception', values=['Number of Policies'], aggfunc="count")

#There is no "Month" column, or date that policy was opened, so unsure how to analyse

                              Number of Policies                              \
Months Since Policy Inception                 0   1   2   3   4   5   6   7
State
Arizona                                       16  11  14  28  17  19  19  13
California                                    45  34  27  38  37  32  27  33
Nevada                                         9  10   9  11  15   5   5  16
Oregon                                        21  27  40  40  27  29  25  25
Washington                                     6  10   8  13   9   8   5   7

                                       ...                                  \
Months Since Policy Inception  8   9   ...  90  91  92  93  94  95  96  97
State                                  ...
Arizona                        17  19  ...  15  20  21  21  26  16  11   9
California                     33  44  ...  28  19  22  27  26  28  26  20
Nevada                         16  14  ...  14  12   2  13   2  19   8   6
Oregon                         22  32  ...  22  28  30  30  18  17  21  18
Washington                      7   3  ...  13  10  10  11   7   8   8   3


Months Since Policy Inception  98  99
State
Arizona                        14  24
California                     20  32
Nevada                          5   9
Oregon                         13  16
Washington                      7   9

[5 rows x 100 columns]

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here