# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [11]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
customer_data = pd.read_csv(url)

customer_data.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [12]:
# performing data cleaning, formatting, and structuring
print(customer_data.info())
print(customer_data.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10279 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             10910 non-null  float64
 23  Vehicle Class                  10288 non-null  object
 24  Vehicle Size                   10288 non-null  object
 25  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB
None
          Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
count   10910.000000    10910       10279             10910.000000    10279
unique           NaN     9134           5                      NaN        2
top              NaN  ID89933  California                      NaN       No
freq             NaN        7        3552                      NaN     8813
mean     5454.500000      NaN         NaN              8018.241094      NaN
std      3149.590053      NaN         NaN              6885.081434      NaN
min         0.000000      NaN         NaN              1898.007675      NaN
25%      2727.250000      NaN         NaN              4014.453113      NaN
50%      5454.500000      NaN         NaN              5771.147235      NaN
75%      8181.750000      NaN         NaN              8992.779137      NaN
max     10909.000000      NaN         NaN             83325.381190      NaN

       Coverage Education Effective To Date EmploymentStatus Gender  ...  \
count     10910     10910             10910            10910  10910  ...
unique        3         5                59                5      2  ...
top       Basic  Bachelor           1/10/11         Employed      F  ...
freq       6660      3272               239             6789   5573  ...
mean        NaN       NaN               NaN              NaN    NaN  ...
std         NaN       NaN               NaN              NaN    NaN  ...
min         NaN       NaN               NaN              NaN    NaN  ...
25%         NaN       NaN               NaN              NaN    NaN  ...
50%         NaN       NaN               NaN              NaN    NaN  ...
75%         NaN       NaN               NaN              NaN    NaN  ...
max         NaN       NaN               NaN              NaN    NaN  ...

        Number of Open Complaints Number of Policies    Policy Type  \
count                10277.000000       10910.000000          10910
unique                        NaN                NaN              3
top                           NaN                NaN  Personal Auto
freq                          NaN                NaN           8128
mean                     0.384256           2.979193            NaN
std                      0.912457           2.399359            NaN
min                      0.000000           1.000000            NaN
25%                      0.000000           1.000000            NaN
50%                      0.000000           2.000000            NaN
75%                      0.000000           4.000000            NaN
max                      5.000000           9.000000            NaN

             Policy  Renew Offer Type  Sales Channel  Total Claim Amount  \
count         10910             10910          10910        10910.000000
unique            9                 4              4                 NaN
top     Personal L3            Offer1          Agent                 NaN
freq           4118              4483           4121                 NaN
mean            NaN               NaN            NaN          434.888330
std             NaN               NaN            NaN          292.180556
min             NaN               NaN            NaN            0.099007
25%             NaN               NaN            NaN          271.082527
50%             NaN               NaN            NaN          382.564630
75%             NaN               NaN            NaN          547.200000
max             NaN               NaN            NaN         2893.239678

        Vehicle Class Vehicle Size Vehicle Type
count           10288        10288         5428
unique              6            3            1
top     Four-Door Car      Medsize            A
freq             5212         7251         5428
mean              NaN          NaN          NaN
std               NaN          NaN          NaN
min               NaN          NaN          NaN
25%               NaN          NaN          NaN
50%               NaN          NaN          NaN
75%               NaN          NaN          NaN
max               NaN          NaN          NaN

[11 rows x 26 columns]

In [13]:
print(customer_data.isnull().sum())

Unnamed: 0                          0
Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64

In [14]:
#fill missing cat with mode etc
categorical_columns = ['State', 'Response', 'Vehicle Class', 'Vehicle Size', 'Vehicle Type']
for column in categorical_columns:
    customer_data[column].fillna(customer_data[column].mode()[0], inplace=True)

In [16]:
#fill missing item in num column
numerical_columns = ['Months Since Last Claim', 'Number of Open Complaints']
for column in numerical_columns:
   customer_data[column].fillna(customer_data[column].median(), inplace=True)

In [17]:
#checking anymore null values 
print(customer_data.isnull().sum())

Unnamed: 0                       0
Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
Vehicle Type                     0
dtype: int64

In [18]:
#1.total_claim_amount greater than $1,000 and have a response of "BYes" to the last marketing campaign.

#correcting column
customer_data['Response'] = customer_data['Response'].str.strip().replace({'BYes': 'Yes'})

In [20]:
filtered_customer_data = customer_data.loc[(customer_data['Total Claim Amount'] > 1000) & (customer_data['Response'] == 'Yes')]

In [21]:
print(filtered_customer_data)

       Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
189           189  OK31456  California             11009.130490      Yes
236           236  YJ16163      Oregon             11009.130490      Yes
419           419  GW43195      Oregon             25807.063000      Yes
442           442  IP94270     Arizona             13736.132500      Yes
587           587  FJ28407  California              5619.689084      Yes
...           ...      ...         ...                      ...      ...
10351       10351  FN44127      Oregon              3508.569533      Yes
10373       10373  XZ64172      Oregon             10963.957230      Yes
10487       10487  IX60941      Oregon              3508.569533      Yes
10565       10565  QO62792      Oregon              7840.165778      Yes
10708       10708  CK39096      Oregon              5619.689084      Yes

       Coverage             Education Effective To Date EmploymentStatus  \
189     Premium              Bachelor           1/24/11         Employed
236     Premium              Bachelor           1/24/11         Employed
419    Extended               College           2/13/11         Employed
442     Premium                Master           2/13/11         Disabled
587     Premium  High School or Below           1/26/11       Unemployed
...         ...                   ...               ...              ...
10351  Extended               College            1/5/11    Medical Leave
10373   Premium  High School or Below            2/8/11         Employed
10487  Extended               College            1/5/11    Medical Leave
10565  Extended               College           1/14/11         Employed
10708   Premium  High School or Below           1/26/11       Unemployed

      Gender  ...  Number of Open Complaints Number of Policies  \
189        F  ...                        0.0                  1
236        F  ...                        0.0                  1
419        F  ...                        1.0                  2
442        F  ...                        0.0                  8
587        M  ...                        0.0                  1
...      ...  ...                        ...                ...
10351      M  ...                        1.0                  1
10373      M  ...                        0.0                  1
10487      M  ...                        1.0                  1
10565      M  ...                        2.0                  1
10708      M  ...                        0.0                  1

          Policy Type        Policy  Renew Offer Type  Sales Channel  \
189    Corporate Auto  Corporate L3            Offer2          Agent
236      Special Auto    Special L3            Offer2          Agent
419     Personal Auto   Personal L2            Offer1         Branch
442     Personal Auto   Personal L2            Offer1            Web
587     Personal Auto   Personal L1            Offer2            Web
...               ...           ...               ...            ...
10351   Personal Auto   Personal L2            Offer2         Branch
10373  Corporate Auto  Corporate L2            Offer1          Agent
10487   Personal Auto   Personal L3            Offer2         Branch
10565   Personal Auto   Personal L3            Offer2          Agent
10708   Personal Auto   Personal L3            Offer2            Web

       Total Claim Amount  Vehicle Class Vehicle Size Vehicle Type
189           1358.400000     Luxury Car      Medsize            A
236           1358.400000     Luxury Car      Medsize            A
419           1027.200000     Luxury Car        Small            A
442           1261.319869            SUV      Medsize            A
587           1027.000029            SUV      Medsize            A
...                   ...            ...          ...          ...
10351         1176.278800  Four-Door Car        Small            A
10373         1324.800000     Luxury SUV      Medsize            A
10487         1176.278800  Four-Door Car        Small            A
10565         1008.000000  Four-Door Car      Medsize            A
10708         1027.000029            SUV      Medsize            A

[67 rows x 26 columns]

In [ ]:
#2 using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

In [26]:
responded_yes_df = customer_data[customer_data['Response'] == 'Yes']

In [27]:
Total_claims_average= responded_yes_df.groupby(['Policy Type', 'Gender'])['Total Claim Amount'].mean()

In [28]:
print(Total_claims_average)

Policy Type     Gender
Corporate Auto  F         433.738499
                M         408.582459
Personal Auto   F         452.965929
                M         457.010178
Special Auto    F         453.280164
                M         429.527942
Name: Total Claim Amount, dtype: float64

In [29]:
Total_claims_average = Total_claims_average.reset_index()

In [30]:
Total_claims_average=Total_claims_average['Total Claim Amount'].round(2)

In [31]:
print(Total_claims_average)

0    433.74
1    408.58
2    452.97
3    457.01
4    453.28
5    429.53
Name: Total Claim Amount, dtype: float64

In [ ]:
#male claims more from personal auto channel and highest female claims are from special auto.

In [ ]:
#3 Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers

In [32]:
customer_count_by_state = customer_data.groupby('State')['Customer'].count()

In [45]:
customer_count_by_state = customer_count_by_state.reset_index()

In [35]:
 #Rename the columns for clarity
customer_count_by_state.columns = ['State', 'Customer Count']

In [36]:
states_with_more_than_500_customers = customer_count_by_state[customer_count_by_state['Customer Count'] > 500]

In [37]:
print(states_with_more_than_500_customers)

        State  Customer Count
0     Arizona            1937
1  California            4183
2      Nevada             993
3      Oregon            2909
4  Washington             888

In [38]:
#4Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.
stats_by_education_gender = customer_data.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median'])

In [39]:
print(stats_by_education_gender)

                                     max          min       median
Education            Gender
Bachelor             F       73225.95652  1904.000852  5640.505303
                     M       67907.27050  1898.007675  5548.031892
College              F       61850.18803  1898.683686  5623.611187
                     M       61134.68307  1918.119700  6005.847375
Doctor               F       44856.11397  2395.570000  5332.462694
                     M       32677.34284  2267.604038  5577.669457
High School or Below F       55277.44589  2144.921535  6039.553187
                     M       83325.38119  1940.981221  6286.731006
Master               F       51016.06704  2417.777032  5729.855012
                     M       50568.25912  2272.307310  5579.099207

In [42]:
stats_by_education_gender = stats_by_education_gender.reset_index()

In [43]:
Total_claims_average=Total_claims_average['stats_by_education_gender'].round(2)

KeyError: 'stats_by_education_gender'

In [44]:
print(stats_by_education_gender)

              Education Gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5640.505303
1              Bachelor      M  67907.27050  1898.007675  5548.031892
2               College      F  61850.18803  1898.683686  5623.611187
3               College      M  61134.68307  1918.119700  6005.847375
4                Doctor      F  44856.11397  2395.570000  5332.462694
5                Doctor      M  32677.34284  2267.604038  5577.669457
6  High School or Below      F  55277.44589  2144.921535  6039.553187
7  High School or Below      M  83325.38119  1940.981221  6286.731006
8                Master      F  51016.06704  2417.777032  5729.855012
9                Master      M  50568.25912  2272.307310  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here

#