# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [4]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df_marketing = pd.read_csv(url)

pd.set_option('display.max_columns', None)
df_marketing.columns
df_marketing.head()
df_marketing.round(2)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.22,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.00,52,0.00,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.53,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.00,26,0.00,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.00,31,0.00,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.44,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.00,3,0.00,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.07,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.15,31,0.38,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.37,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,Suburban,Married,253,15.15,40,0.38,7,Personal Auto,Personal L1,Offer3,Web,1214.40,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.44,No,Basic,College,2011-01-06,Employed,F,61146,Urban,Married,65,7.00,68,0.00,6,Personal Auto,Personal L3,Offer2,Branch,273.02,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.30,No,Extended,Bachelor,2011-02-06,Employed,F,39837,Rural,Married,201,11.00,63,0.00,2,Corporate Auto,Corporate L3,Offer1,Web,381.31,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.98,No,Premium,College,2011-02-13,Employed,F,64195,Urban,Divorced,158,0.00,27,4.00,6,Personal Auto,Personal L1,Offer1,Branch,618.29,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.52,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,Suburban,Single,101,31.00,1,0.00,3,Personal Auto,Personal L1,Offer4,Web,1021.72,SUV,Medsize,A,1

In [83]:
#Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

good_customers =  df_marketing[(df_marketing['total_claim_amount'] > 1000) & (df_marketing['response'] == "Yes")]


#Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

yes = df_marketing[(df_marketing['response'] == "Yes")]

yes.groupby(["policy_type", "gender"]).agg({"total_claim_amount":"mean"}).reset_index()

""" Conclusions: women's average claim is higher for corporate and special, but overall the differences are not big """

#Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.
states = df_marketing.groupby(["state"]).agg({"customer":"count"}).reset_index()

states = states[(states["customer"] > 500)]

#Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

df_marketing.groupby(["education", "gender"]).agg({"customer_lifetime_value": ["max", "min", "mean"]}).reset_index()

""" Conclusions: 
Women tend to have a slightly higher CLV than men
The mean CLV for both males and females with a bachelor's degree is relatively close
Men in the college group have a slightly higher mean CLV
Men with a high school education or below have the highest maximum CLV (83,325.38), while women in this group have a mean CLV of 8,675.22, which is the highest average across all groups.

"""

#The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

pivotdata = df_marketing.groupby(["state", "month"]).agg({"customer":"count"}).reset_index()

pivot = pd.pivot_table(pivotdata, values="customer", index="month", columns="state", aggfunc='sum')

pivot

state  Arizona  California  Nevada  Oregon  Washington
month
1         1008        2231     551    1565         463
2          929        1952     442    1344         425

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here