# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
import pandas as pd# your code goes here
url = '/Users/javi/Desktop/Ironhack/Entregas de github/lab-dw-data-aggregation-and-filtering/marketing customer analysis(cleaned and formatted).csv'
df = pd.read_csv(url)
df.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,Male,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,Female,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,Male,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,Male,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,Female,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [2]:
df.shape

(10467, 26)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10467 entries, 0 to 10466
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10467 non-null  object
 1   state                          10467 non-null  object
 2   customer_lifetime_value        10467 non-null  float64
 3   response                       10467 non-null  object
 4   coverage                       10467 non-null  object
 5   education                      10467 non-null  object
 6   effective_to_date              10467 non-null  object
 7   employmentstatus               10467 non-null  object
 8   gender                         10467 non-null  object
 9   income                         10467 non-null  int64
 10  location_code                  10467 non-null  object
 11  marital_status                 10467 non-null  object
 12  monthly_premium_auto           10467 non-null  int64
 13  months_since_last_claim        10467 non-null  float64
 14  months_since_policy_inception  10467 non-null  int64
 15  number_of_open_complaints      10467 non-null  float64
 16  number_of_policies             10467 non-null  int64
 17  policy_type                    10467 non-null  object
 18  policy                         10467 non-null  object
 19  renew_offer_type               10467 non-null  object
 20  sales_channel                  10467 non-null  object
 21  total_claim_amount             10467 non-null  float64
 22  vehicle_class                  10467 non-null  object
 23  vehicle_size                   10467 non-null  object
 24  vehicle_type                   10467 non-null  object
 25  month                          10467 non-null  int64
dtypes: float64(4), int64(5), object(17)
memory usage: 2.1+ MB

In [4]:
total_claim_amount_and_response = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]

grouped_df = total_claim_amount_and_response.groupby('customer')

aggregated_df = grouped_df.size().reset_index(name='count')

new_df = total_claim_amount_and_response[total_claim_amount_and_response['customer'].isin(aggregated_df[aggregated_df['count'] > 0]['customer'])]

new_df.head(20)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,Female,51643,...,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury,Medsize,A,1
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,Female,51643,...,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury,Medsize,A,1
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,Female,71210,...,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury,Small,A,2
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,Female,16181,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A,2
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,Male,0,...,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A,1
652,VV47792,California,25807.063000,Yes,Extended,College,2011-02-13,Employed,Female,71210,...,2,Personal Auto,Personal L3,Offer1,Branch,1027.200000,Luxury,Small,A,2
678,QL45827,Washington,25807.063000,Yes,Extended,College,2011-02-13,Employed,Female,71210,...,2,Personal Auto,Personal L1,Offer1,Branch,1027.200000,Luxury,Small,A,2
812,MA15172,California,10179.717040,Yes,Premium,Bachelor,2011-01-05,Retired,Female,14290,...,1,Personal Auto,Personal L2,Offer1,Agent,1300.800000,Luxury,Medsize,A,1
1268,WA45944,Arizona,25807.063000,Yes,Extended,College,2011-02-13,Employed,Female,71210,...,2,Corporate Auto,Corporate L3,Offer1,Branch,1027.200000,Luxury,Small,A,2
1380,FJ28407,California,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,Male,0,...,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A,1
1412,YK65946,Oregon,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,Female,46503,...,1,Personal Auto,Personal L3,Offer1,Agent,1032.000000,Luxury,Medsize,A,2
1515,TU53781,Oregon,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,Female,46503,...,1,Corporate Auto,Corporate L3,Offer1,Agent,1032.000000,Luxury,Medsize,A,2
1558,VL84149,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,Female,71210,...,2,Corporate Auto,Corporate L2,Offer1,Branch,1027.200000,Luxury,Small,A,2
1616,UH35128,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,Female,71210,...,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury,Small,A,2
1625,ZV80216,Oregon,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,Male,0,...,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A,1
1739,FG29932,California,7840.165778,Yes,Extended,College,2011-01-14,Employed,Male,58414,...,1,Special Auto,Special L2,Offer2,Agent,1008.000000,Luxury,Small,A,1
1795,QO62792,Oregon,7840.165778,Yes,Extended,College,2011-01-14,Employed,Male,58414,...,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury,Small,A,1
1842,ZA45956,California,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,Female,16181,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A,2
2013,TA66375,Oregon,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,Female,51643,...,1,Corporate Auto,Corporate L2,Offer2,Agent,1358.400000,Luxury,Medsize,A,1
2109,JC11405,Oregon,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,Male,55687,...,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury,Medsize,A,2

In [5]:
response_and_yes = df[df['response'] == 'Yes']

grouped_df = response_and_yes.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().reset_index()

grouped_df
#on average the female gender has a higher total_claim_amount and the variance between male and female when the female has a higher total_claim_amount is quite significant 
#

      policy_type  gender  total_claim_amount
0  Corporate Auto  Female          434.477882
1  Corporate Auto    Male          409.718796
2   Personal Auto  Female          452.992358
3   Personal Auto    Male          457.472299
4    Special Auto  Female          454.257757
5    Special Auto    Male          429.527942

In [6]:
state_customer_count = df.groupby('state')['customer'].count().reset_index()

filtered_states = state_customer_count[state_customer_count['customer'] > 500]

filtered_states

        state  customer
0     Arizona      1892
1  California      3884
2      Nevada       969
3      Oregon      2849
4  Washington       873

In [8]:
result = df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median']).reset_index()
df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median'])
result
#with a highr level of education the average of the customer_lifetime_value is lower than those customers with a lower level of education. This mostly means that those customers are younger and hence we have more time to be able to make business with them. The next marketing campaign should focus on the recruitment AND retention of these customers  in order of priority: male highschoolers, female bachelors, male bachelors then both genders at college of education. The maximums on these previous mentioned customers are quite high. If we can figure out to what social demographic they stem from and also which states they reside it would be advantagous to focus on these potential high customer_lifetime_value customers

              education  gender          max          min       median
0              Bachelor  Female  73225.95652  1904.000852  5644.535921
1              Bachelor    Male  67907.27050  1898.007675  5548.031892
2               College  Female  61850.18803  1898.683686  5635.249486
3               College    Male  61134.68307  1918.119700  6005.847375
4                Doctor  Female  44856.11397  2395.570000  5332.462694
5                Doctor    Male  32677.34284  2267.604038  5577.669457
6  High School or Below  Female  55277.44589  2144.921535  6054.182016
7  High School or Below    Male  83325.38119  1940.981221  6289.873388
8                Master  Female  51016.06704  2417.777032  5735.775545
9                Master    Male  50568.25912  2272.307310  5580.960642