# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [7]:
import pandas as pd

In [10]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [18]:
#Create a new DataFrame that only includes customers who have a total_claim_amount greater
#than $1,000 and have a response of "Yes" to the last marketing campaign.

total_claim_per_customer = df[(df["Total Claim Amount"] > 1000) & (df["Response"] == "Yes")]
total_claim_per_customer

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [41]:
total_claim_per_customer = df[(df["Response"] == "Yes")]
total_claim_per_customer = df.groupby(['Policy Type', 'Gender'])['Total Claim Amount'].mean()
total_claim_per_customer

Policy Type     Gender
Corporate Auto  F         397.799287
                M         462.223565
Personal Auto   F         413.239658
                M         459.919476
Special Auto    F         458.139623
                M         420.355202
Name: Total Claim Amount, dtype: float64

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [79]:
df["Customer"].value_counts()

Customer
ID89933    7
DQ50258    5
AM79057    5
FP86246    5
KE35335    4
          ..
VW27730    1
ZX64745    1
CK24264    1
IX18485    1
WA60547    1
Name: count, Length: 9134, dtype: int64

In [114]:
#Analyze the total number of customers who have policies in each state
customers_with_policies = df.groupby(["State", "Policy"])["Customer"].nunique()
customers_with_policies

State       Policy
Arizona     Corporate L1      58
            Corporate L2     106
            Corporate L3     169
            Personal L1      255
            Personal L2      384
            Personal L3      654
            Special L1        23
            Special L2        29
            Special L3        25
California  Corporate L1     148
            Corporate L2     225
            Corporate L3     366
            Personal L1      392
            Personal L2      798
            Personal L3     1108
            Special L1        13
            Special L2        46
            Special L3        54
Nevada      Corporate L1      32
            Corporate L2      61
            Corporate L3     102
            Personal L1      120
            Personal L2      189
            Personal L3      343
            Special L1         5
            Special L2        18
            Special L3        12
Oregon      Corporate L1      85
            Corporate L2     161
            Corporate L3     294
            Personal L1      361
            Personal L2      547
            Personal L3     1030
            Special L1        20
            Special L2        57
            Special L3        46
Washington  Corporate L1      36
            Corporate L2      42
            Corporate L3      83
            Personal L1      112
            Personal L2      204
            Personal L3      291
            Special L1         5
            Special L2        14
            Special L3        11
Name: Customer, dtype: int64

In [116]:
# Filter for rows where Customer Count is greater than 500
test = customers_with_policies.reset_index(name="Customer Count")

In [120]:
customers_with_policies = test[test["Customer Count"] > 500]
customers_with_policies

         State       Policy  Customer Count
5      Arizona  Personal L3             654
13  California  Personal L2             798
14  California  Personal L3            1108
31      Oregon  Personal L2             547
32      Oregon  Personal L3            1030

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [136]:
df_statistics = df.groupby(['Education', 'Gender']).agg({"Customer Lifetime Value" : ['max', 'min', 'median']}).round(2)
df_statistics

                            Customer Lifetime Value
                                                max      min   median
Education            Gender
Bachelor             F                     73225.96  1904.00  5640.51
                     M                     67907.27  1898.01  5548.03
College              F                     61850.19  1898.68  5623.61
                     M                     61134.68  1918.12  6005.85
Doctor               F                     44856.11  2395.57  5332.46
                     M                     32677.34  2267.60  5577.67
High School or Below F                     55277.45  2144.92  6039.55
                     M                     83325.38  1940.98  6286.73
Master               F                     51016.07  2417.78  5729.86
                     M                     50568.26  2272.31  5579.10

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [187]:
date_obj = pd.to_datetime(df["Effective To Date"], format='%m/%d/%y')
#we can see which is the month, in this case the index 1, in the initial df index 0
date_obj

0       2011-02-18
1       2011-01-18
2       2011-02-10
3       2011-01-11
4       2011-01-17
           ...
10905   2011-01-19
10906   2011-01-06
10907   2011-02-06
10908   2011-02-13
10909   2011-01-08
Name: Effective To Date, Length: 10910, dtype: datetime64[ns]

In [189]:
date_parts = df["Effective To Date"].str.split('/')
# accessing the first part (month) directly

In [191]:
df['Month'] = date_parts.str[0].astype(int)
df['Month']

0        2
1        1
2        2
3        1
4        1
        ..
10905    1
10906    1
10907    2
10908    2
10909    1
Name: Month, Length: 10910, dtype: int64

In [207]:
#Present the data in a table where the months are arranged as columns and the states are arranged as rows.
policies_by_state_month = df.pivot_table(index = "State", columns = "Month", values = "Policy", aggfunc='count')
policies_by_state_month

Month          1     2
State
Arizona     1008   929
California  1918  1634
Nevada       551   442
Oregon      1565  1344
Washington   463   425

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here