# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [11]:
import pandas as pd
import numpy as np

# Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)

# Display the columns of the DataFrame
print("Columns:",df.columns)

# replace white spaces in column names by _
df.columns = df.columns.str.replace(r'\s+', '_', regex=True)

# change column names to lower case
df.columns = df.columns.str.lower()

# Display the standardized columns of the DataFrame
print("Columns_st:",df.columns)

Columns: Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')
Columns_st: Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [53]:
# Check unique values in response and total_claim_amount columns

print("Unique values Response column:",df.response.unique())
print("Unique values Total Claim Amount column:",df.total_claim_amount.unique())

# new DataFrame with total_claim_amount greater than $1,000 and response of "Yes" to the last marketing campaign
df_new_1 = df.groupby('response').filter(lambda x: (x['total_claim_amount'] > 1000).any() and (x['response'].iloc[0] == 'Yes'))
print(df_new_1)

Unique values Response column: ['No' 'Yes' nan]
Unique values Total Claim Amount column: [292.8      744.924331 480.       ... 273.018929 381.306996 618.288849]
       unnamed:_0 customer       state  customer_lifetime_value response  \
3               3  XL78013      Oregon                    22332      Yes
8               8  FM55990  California                     5989      Yes
15             15  CW49887  California                     4626      Yes
19             19  NJ54277  California                     3746      Yes
27             27  MQ68407      Oregon                     4376      Yes
...           ...      ...         ...                      ...      ...
10844       10844  FM31768     Arizona                     5979      Yes
10852       10852  KZ80424  Washington                     8382      Yes
10872       10872  XT67997  California                     5979      Yes
10887       10887  BY78730      Oregon                     8879      Yes
10897       10897  MM70762     Arizona                     9075      Yes

       coverage             education effective_to_date employmentstatus  \
3      Extended               College           1/11/11         Employed
8       Premium               College           1/19/11         Employed
15        Basic                Master           1/16/11         Employed
19     Extended               College           2/26/11         Employed
27      Premium              Bachelor           2/28/11         Employed
...         ...                   ...               ...              ...
10844  Extended  High School or Below            2/7/11         Employed
10852     Basic              Bachelor           1/27/11         Employed
10872  Extended  High School or Below            2/7/11         Employed
10887     Basic  High School or Below            2/3/11         Employed
10897     Basic                Master           1/26/11         Employed

      gender  ...  number_of_open_complaints number_of_policies  \
3          M  ...                        0.0                  2
8          M  ...                        0.0                  1
15         F  ...                        0.0                  1
19         F  ...                        1.0                  1
27         F  ...                        0.0                  1
...      ...  ...                        ...                ...
10844      F  ...                        0.0                  3
10852      M  ...                        0.0                  2
10872      F  ...                        0.0                  3
10887      F  ...                        0.0                  7
10897      M  ...                        0.0                  8

          policy_type        policy  renew_offer_type  sales_channel  \
3      Corporate Auto  Corporate L3            Offer2         Branch
8       Personal Auto   Personal L1            Offer2         Branch
15       Special Auto    Special L1            Offer2         Branch
19      Personal Auto   Personal L2            Offer2    Call Center
27      Personal Auto   Personal L3            Offer2          Agent
...               ...           ...               ...            ...
10844   Personal Auto   Personal L1            Offer2          Agent
10852   Personal Auto   Personal L2            Offer2    Call Center
10872   Personal Auto   Personal L3            Offer2          Agent
10887    Special Auto    Special L2            Offer1          Agent
10897   Personal Auto   Personal L1            Offer1          Agent

       total_claim_amount  vehicle_class vehicle_size vehicle_type
3              484.013411  Four-Door Car      Medsize            A
8              739.200000     Sports Car      Medsize          NaN
15             547.200000            SUV      Medsize          NaN
19              19.575683   Two-Door Car        Large            A
27              60.036683  Four-Door Car      Medsize          NaN
...                   ...            ...          ...          ...
10844          547.200000  Four-Door Car      Medsize          NaN
10852          791.878042            NaN          NaN            A
10872          547.200000  Four-Door Car      Medsize          NaN
10887          528.200860            SUV        Small            A
10897          158.077504     Sports Car      Medsize            A

[1466 rows x 26 columns]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [56]:
# Convert the column to numeric type
df['total_claim_amount'] = pd.to_numeric(df['total_claim_amount'])

# Filtering customers who responded "Yes"
df_yes = df[df['response'] == 'Yes']

# Calculating the average total_claim_amount by policy type and gender
df_avg = df_yes.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().reset_index()

print(df_avg)

      policy_type gender  total_claim_amount
0  Corporate Auto      F          433.738499
1  Corporate Auto      M          408.582459
2   Personal Auto      F          452.965929
3   Personal Auto      M          457.010178
4    Special Auto      F          453.280164
5    Special Auto      M          429.527942

In [58]:
#Conclusion:
#The gender female is the group with major total claim amount across all policy types

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [61]:
# number of customers who have policies in each state

st_counts = df['state'].value_counts().reset_index() # counts number of customers by state and creates 2 columns state and count
st_counts.columns = ['state', 'customer_count']  #renames the 2 columns to state and customer_count

# Filtering states with more than 500 customers
filter_st = st_counts[st_counts['customer_count'] > 500]

print(filter_st)

        state  customer_count
0  California            3552
1      Oregon            2909
2     Arizona            1937
3      Nevada             993
4  Washington             888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [64]:
# Convert the column to numeric type
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value']).astype(int)

# maximum, minimum, and median customer lifetime value by education level and gender

df_max_min_avg = df.groupby(['education', 'gender']).agg(max_clv =('customer_lifetime_value', 'max'),min_clv=('customer_lifetime_value', 'min'),mean_clv =('customer_lifetime_value', 'mean')).reset_index()
print(df_max_min_avg)

              education gender  max_clv  min_clv     mean_clv
0              Bachelor      F    73225     1904  7873.785294
1              Bachelor      M    67907     1898  7703.089695
2               College      F    61850     1898  7748.313433
3               College      M    61134     1918  8051.942356
4                Doctor      F    44856     2395  7328.000000
5                Doctor      M    32677     2267  7414.850746
6  High School or Below      F    55277     2144  8674.718868
7  High School or Below      M    83325     1940  8149.190874
8                Master      F    51016     2417  8156.536842
9                Master      M    50568     2272  8168.325243

In [66]:
#Conclusion:
#For the "Bachelor" education level, the gender female has the highest average customer lifetime value.
#For the "College" education level, the gender male has the highest average customer lifetime value.
#For the "Doctor" education level, the gender male has the highest average customer lifetime value.
#For the "High School or Below" education level, the gender female has the highest average customer lifetime value.
#For the "Master" education level, the gender male has the highest average customer lifetime value.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [81]:
# Convert the effective_date column to datetime format
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'], format='%m/%d/%y')

# Extract the month from the effective_date column
df['month'] = df['effective_to_date'].dt.month_name()

# number of policies sold by state and month. Creating a pivot table to arrange months as columns and states as rows
pivot_table = df.pivot_table(index='state', columns='month', values='number_of_policies', aggfunc='sum', fill_value=0)

# print pivot table
print(pivot_table)

month       February  January
state
Arizona         2864     3052
California      4929     5673
Nevada          1278     1493
Oregon          3969     4697
Washington      1225     1358

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [85]:
# Group by state and month, and count the number of policies sold
st_month_counts = df.groupby(['state', 'month']).size().reset_index(name='number_of_policies')

# Get the total number of policies sold by state
st_totals = st_month_counts.groupby('state')['number_of_policies'].sum().reset_index()

# Sort the states by total number of policies sold in descending order
top_st = st_totals.sort_values(by='number_of_policies', ascending=False).head(3)['state']

# Filter the original DataFrame to include only the top 3 states
top_st_df = st_month_counts[st_month_counts['state'].isin(top_st)]

# Creat a pivot table to arrange months as columns and states as rows for the top 3 states
pivot_top_st = top_st_df.pivot_table(index='state', columns='month', values='number_of_policies', aggfunc='sum', fill_value=0)

print(pivot_top_st)

month       February  January
state
Arizona          929     1008
California      1634     1918
Oregon          1344     1565

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [106]:
# Unpivot the data using melt
melted_df = df.melt(id_vars=['customer', 'response'], value_vars=['sales_channel'], var_name='marketing_channel', value_name='response_channel')

# Calculate the response rate by marketing channel
response_rate_df = melted_df[melted_df['response'] == 'Yes'].groupby('response_channel').size().reset_index(name='response_count')

# Calculate the total number of responses by marketing channel
total_count_df = melted_df.groupby('response_channel').size().reset_index(name='total_count')

# Merging the two DataFrames to get the response rate
merged_df = pd.merge(response_rate_df, total_count_df, on='response_channel')

# Calculating the response rate
merged_df['response_rate'] = merged_df['response_count'] / merged_df['total_count']

print(merged_df)

  response_channel  response_count  total_count  response_rate
0            Agent             742         4121       0.180053
1           Branch             326         3022       0.107876
2      Call Center             221         2141       0.103223
3              Web             177         1626       0.108856