# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [20]:
import pandas as pd 

url= "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"

marketing_df=pd.read_csv(url)

marketing_df.head(1)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.21696,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.8,Four-Door Car,Medsize,NaN

In [21]:
marketing_df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [22]:
marketing_df.shape

(10910, 26)

In [23]:
null_counts = marketing_df.isnull().sum()
null_counts

Unnamed: 0                          0
Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64

In [24]:
marketing_df.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [25]:
duplicados =marketing_df.duplicated()
print(f"Número de filas duplicadas: {duplicados.sum()}")

Número de filas duplicadas: 0

In [26]:
# 1. Filtrar clientes con Total Claim Amount > 1000 y Response == "Yes"
filtered_df = marketing_df[(marketing_df["Total Claim Amount"] > 1000) & 
                           (marketing_df["Response"] == "Yes")]
print("Clientes con reclamaciones > $1000 y respuesta afirmativa:")
print(filtered_df.head())

Clientes con reclamaciones > $1000 y respuesta afirmativa:
     Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
189         189  OK31456  California             11009.130490      Yes
236         236  YJ16163      Oregon             11009.130490      Yes
419         419  GW43195      Oregon             25807.063000      Yes
442         442  IP94270     Arizona             13736.132500      Yes
587         587  FJ28407  California              5619.689084      Yes

     Coverage             Education Effective To Date EmploymentStatus Gender  \
189   Premium              Bachelor           1/24/11         Employed      F
236   Premium              Bachelor           1/24/11         Employed      F
419  Extended               College           2/13/11         Employed      F
442   Premium                Master           2/13/11         Disabled      F
587   Premium  High School or Below           1/26/11       Unemployed      M

     ...  Number of Open Complaints Number of Policies     Policy Type  \
189  ...                        0.0                  1  Corporate Auto
236  ...                        0.0                  1    Special Auto
419  ...                        1.0                  2   Personal Auto
442  ...                        0.0                  8   Personal Auto
587  ...                        0.0                  1   Personal Auto

           Policy  Renew Offer Type  Sales Channel  Total Claim Amount  \
189  Corporate L3            Offer2          Agent         1358.400000
236    Special L3            Offer2          Agent         1358.400000
419   Personal L2            Offer1         Branch         1027.200000
442   Personal L2            Offer1            Web         1261.319869
587   Personal L1            Offer2            Web         1027.000029

     Vehicle Class Vehicle Size Vehicle Type
189     Luxury Car      Medsize          NaN
236     Luxury Car      Medsize            A
419     Luxury Car        Small            A
442            SUV      Medsize            A
587            SUV      Medsize            A

[5 rows x 26 columns]

2. Using the original dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [27]:
# 2. Promedio de Total Claim Amount por Policy Type y Gender para los que respondieron "Yes"
pivot_claims = marketing_df[marketing_df["Response"] == "Yes"].pivot_table(
    values="Total Claim Amount",
    index="Policy Type",
    columns="Gender",
    aggfunc="mean"
).round(2)
print("\nPromedio de Total Claim Amount por tipo de póliza y género:")
print(pivot_claims)

Promedio de Total Claim Amount por tipo de póliza y género:
Gender               F       M
Policy Type
Corporate Auto  433.74  408.58
Personal Auto   452.97  457.01
Special Auto    453.28  429.53

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [28]:
# 3. Número total de clientes por estado, filtrando solo los > 500
clientes_por_estado = marketing_df["State"].value_counts()
estados_mas_500 = clientes_por_estado[clientes_por_estado > 500]
print("\nEstados con más de 500 clientes:")
print(estados_mas_500)

Estados con más de 500 clientes:
State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [29]:
# 4. Máximo, mínimo y mediana del Customer Lifetime Value por educación y género
grouped_clv = marketing_df.groupby(["Education", "Gender"])["Customer Lifetime Value"].agg(
    ['max', 'min', 'median']
).round(2)
print("\nEstadísticas del Customer Lifetime Value por educación y género:")
print(grouped_clv)

Estadísticas del Customer Lifetime Value por educación y género:
                                  max      min   median
Education            Gender
Bachelor             F       73225.96  1904.00  5640.51
                     M       67907.27  1898.01  5548.03
College              F       61850.19  1898.68  5623.61
                     M       61134.68  1918.12  6005.85
Doctor               F       44856.11  2395.57  5332.46
                     M       32677.34  2267.60  5577.67
High School or Below F       55277.45  2144.92  6039.55
                     M       83325.38  1940.98  6286.73
Master               F       51016.07  2417.78  5729.86
                     M       50568.26  2272.31  5579.10

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [30]:
# Asegurarse de que la columna de fecha está en formato datetime
marketing_df["Effective To Date"] = pd.to_datetime(marketing_df["Effective To Date"])

# Extraer el mes como nombre (ej: 'February')
marketing_df["Month"] = marketing_df["Effective To Date"].dt.month_name()

# Crear tabla cruzada: estados como filas, meses como columnas
policies_state_month = pd.crosstab(marketing_df["State"], marketing_df["Month"])

print("Número de pólizas vendidas por estado y mes:")
print(policies_state_month)

Número de pólizas vendidas por estado y mes:
Month       February  January
State
Arizona          929     1008
California      1634     1918
Nevada           442      551
Oregon          1344     1565
Washington       425      463

/var/folders/4q/413qpbj17ks9bgdzl52cpx9m0000gn/T/ipykernel_13040/1985371821.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  marketing_df["Effective To Date"] = pd.to_datetime(marketing_df["Effective To Date"])

6.  Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [31]:
# Agrupar por estado y contar pólizas totales
policies_by_state = marketing_df["State"].value_counts()

# Seleccionar los 3 estados con más pólizas
top_states = policies_by_state.head(3).index.tolist()

# Filtrar dataset para solo esos estados
df_top_states = marketing_df[marketing_df["State"].isin(top_states)]

# Agrupar por estado y mes y contar
policies_top_states = pd.crosstab(df_top_states["State"], df_top_states["Month"])

print("\nNúmero de pólizas por mes en los 3 estados con más ventas:")
print(policies_top_states)

Número de pólizas por mes en los 3 estados con más ventas:
Month       February  January
State
Arizona          929     1008
California      1634     1918
Oregon          1344     1565

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [32]:
# your code goes here
# Calcular tasa de respuesta "Yes" por canal de ventas
response_rate = marketing_df.groupby("Sales Channel")["Response"].value_counts(normalize=True).unstack().fillna(0)

# Multiplicamos por 100 para expresarlo como porcentaje
response_rate = (response_rate * 100).round(2)

print("\nTasa de respuesta (%) por canal de marketing:")
print(response_rate[["Yes"]].rename(columns={"Yes": "Response Rate (%)"}))

Tasa de respuesta (%) por canal de marketing:
Response       Response Rate (%)
Sales Channel
Agent                      19.07
Branch                     11.38
Call Center                10.98
Web                        11.71