# Lab | Data Aggregation and Filtering

In [5]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')
display(df.head())

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [10]:
df_filtered_claims = df[(df["total_claim_amount"] > 1000) & (df["response"] == "Yes")]


avg_claims_by_policy_gender = (
    df[df["response"] == "Yes"].groupby(["policy_type", "gender"])["total_claim_amount"].mean().reset_index()
)


customers_by_state = df["state"].value_counts().reset_index()
customers_by_state.columns = ["state", "customer_count"]

states_over_500_customers = customers_by_state[customers_by_state["customer_count"] > 500]


clv_stats_by_education_gender = (
    df.groupby(["education", "gender"])["customer_lifetime_value"].agg(["max", "min", "median"]).reset_index()
)

# print(df_filtered_claims)
# print(avg_claims_by_policy_gender)
# print(states_over_500_customers)
# print(clv_stats_by_education_gender)