# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [2]:
import pandas as pd

In [9]:
marketing_customer_analysis = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
marketing_customer_analysis

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [10]:
def rename_columns(df):
    new_col_names = [name.strip().lower().replace(' ', '_') for name in df.columns]
    df.columns = new_col_names
    
rename_columns(marketing_customer_analysis)

marketing_customer_analysis.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [11]:
null_cols = marketing_customer_analysis.isnull().sum()
null_cols

unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [18]:
marketing_customer_analysis = marketing_customer_analysis.fillna({'state': 'not defined', 'reponse': 'No'})

In [19]:
marketing_customer_analysis = marketing_customer_analysis.fillna({'months_since_last_clain': '0', 'number_of_open_complaints': '0'})

In [22]:
marketing_customer_analysis["response"].unique()

array(['No', 'Yes', nan], dtype=object)

In [20]:
marketing_customer_analysis.dtypes

unnamed:_0                                int64
customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                    int64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                 float64
months_since_policy_inception             int64
number_of_open_complaints                object
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
vehicle_type                             object
dtype: object

In [14]:
marketing_customer_analysis['effective_to_date'] = pd.to_datetime(marketing_customer_analysis['effective_to_date'])

marketing_customer_analysis

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [50]:
# 1) Create a new DataFrame that only includes customers who have a total_claim_amount 
# greater than $1,000 and have a response of "Yes" to the last marketing campaign.

new_marketing = marketing_customer_analysis[(marketing_customer_analysis["total_claim_amount"] > 1) & (marketing_customer_analysis["response"] == "Yes")]

new_marketing

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,1294704000000000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
8,8,FM55990,California,5989.773931,Yes,Premium,College,2011-01-19,Employed,M,...,1295395200000000000,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
15,15,CW49887,California,4626.801093,Yes,Basic,Master,2011-01-16,Employed,F,...,1295136000000000000,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN
19,19,NJ54277,California,3746.751625,Yes,Extended,College,2011-02-26,Employed,F,...,1298678400000000000,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A
27,27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2011-02-28,Employed,F,...,1298851200000000000,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10844,10844,FM31768,Arizona,5979.724161,Yes,Extended,High School or Below,2011-02-07,Employed,F,...,1297036800000000000,3,Personal Auto,Personal L1,Offer2,Agent,547.200000,Four-Door Car,Medsize,NaN
10852,10852,KZ80424,Washington,8382.478392,Yes,Basic,Bachelor,2011-01-27,Employed,M,...,1296086400000000000,2,Personal Auto,Personal L2,Offer2,Call Center,791.878042,NaN,NaN,A
10872,10872,XT67997,California,5979.724161,Yes,Extended,High School or Below,2011-02-07,Employed,F,...,1297036800000000000,3,Personal Auto,Personal L3,Offer2,Agent,547.200000,Four-Door Car,Medsize,NaN
10887,10887,BY78730,Oregon,8879.790017,Yes,Basic,High School or Below,2011-02-03,Employed,F,...,1296691200000000000,7,Special Auto,Special L2,Offer1,Agent,528.200860,SUV,Small,A
10897,10897,MM70762,Arizona,9075.768214,Yes,Basic,Master,2011-01-26,Employed,M,...,1296000000000000000,8,Personal Auto,Personal L1,Offer1,Agent,158.077504,Sports Car,Medsize,A

In [31]:
# 2) Analyze the average total_claim_amount by each policy type and gender 
# for customers who have responded "Yes" to the last marketing campaign.

marketing_customer_analysis.groupby(['policy_type', 'gender'])['total_claim_amount'].mean()

policy_type     gender
Corporate Auto  F         397.799287
                M         462.223565
Personal Auto   F         413.239658
                M         459.919476
Special Auto    F         458.139623
                M         420.355202
Name: total_claim_amount, dtype: float64

In [34]:
# 3) Analyze the total number of customers who have policies in each state, 
# and then filter the results to only include states where there are more 
# than 500 customers.

marketing_customer_analysis["state"].value_counts()

California     3552
Oregon         2909
Arizona        1937
Nevada          993
Washington      888
not defined     631
Name: state, dtype: int64

In [35]:
marketing_customer_analysis["state"].value_counts() > 500

California     True
Oregon         True
Arizona        True
Nevada         True
Washington     True
not defined    True
Name: state, dtype: bool

In [36]:
#4) Find the median customer lifetime value by education level and gender.

marketing_customer_analysis.groupby(['education', 'gender'])['customer_lifetime_value'].median()

education             gender
Bachelor              F         5640.505303
                      M         5548.031892
College               F         5623.611187
                      M         6005.847375
Doctor                F         5332.462694
                      M         5577.669457
High School or Below  F         6039.553187
                      M         6286.731006
Master                F         5729.855012
                      M         5579.099207
Name: customer_lifetime_value, dtype: float64

In [40]:
# 5) Find the maximum, minimum, and average number of open complaints by state 
# and policy type.

marketing_customer_analysis['number_of_open_complaints'] = pd.to_numeric(marketing_customer_analysis['effective_to_date'])

In [44]:
marketing_customer_analysis.groupby(["state", "policy_type"])["number_of_open_complaints"].max()

state        policy_type
Arizona      Corporate Auto    1298851200000000000
             Personal Auto     1298851200000000000
             Special Auto      1298764800000000000
California   Corporate Auto    1298851200000000000
             Personal Auto     1298851200000000000
             Special Auto      1298851200000000000
Nevada       Corporate Auto    1298851200000000000
             Personal Auto     1298851200000000000
             Special Auto      1298419200000000000
Oregon       Corporate Auto    1298851200000000000
             Personal Auto     1298851200000000000
             Special Auto      1298851200000000000
Washington   Corporate Auto    1298851200000000000
             Personal Auto     1298851200000000000
             Special Auto      1298851200000000000
not defined  Corporate Auto    1298851200000000000
             Personal Auto     1298851200000000000
             Special Auto      1298851200000000000
Name: number_of_open_complaints, dtype: int64

In [45]:
marketing_customer_analysis.groupby(["state", "policy_type"])["number_of_open_complaints"].min()

state        policy_type
Arizona      Corporate Auto    1293840000000000000
             Personal Auto     1293840000000000000
             Special Auto      1293840000000000000
California   Corporate Auto    1293840000000000000
             Personal Auto     1293840000000000000
             Special Auto      1293840000000000000
Nevada       Corporate Auto    1293840000000000000
             Personal Auto     1293840000000000000
             Special Auto      1293840000000000000
Oregon       Corporate Auto    1293840000000000000
             Personal Auto     1293840000000000000
             Special Auto      1293840000000000000
Washington   Corporate Auto    1293840000000000000
             Personal Auto     1293840000000000000
             Special Auto      1293840000000000000
not defined  Corporate Auto    1293926400000000000
             Personal Auto     1293840000000000000
             Special Auto      1293840000000000000
Name: number_of_open_complaints, dtype: int64

In [46]:
marketing_customer_analysis.groupby(["state", "policy_type"])["number_of_open_complaints"].mean()

state        policy_type
Arizona      Corporate Auto    1.296276e+18
             Personal Auto     1.296343e+18
             Special Auto      1.296261e+18
California   Corporate Auto    1.296294e+18
             Personal Auto     1.296341e+18
             Special Auto      1.296339e+18
Nevada       Corporate Auto    1.296396e+18
             Personal Auto     1.296320e+18
             Special Auto      1.295988e+18
Oregon       Corporate Auto    1.296397e+18
             Personal Auto     1.296331e+18
             Special Auto      1.296489e+18
Washington   Corporate Auto    1.296422e+18
             Personal Auto     1.296318e+18
             Special Auto      1.296557e+18
not defined  Corporate Auto    1.296469e+18
             Personal Auto     1.296405e+18
             Special Auto      1.296531e+18
Name: number_of_open_complaints, dtype: float64

In [55]:
marketing_customer_analysis.groupby(["state", "policy_type"]).agg({"number_of_open_complaints": ["max", "min", "mean"]}).reset_index()

          state     policy_type number_of_open_complaints  \
                                                      max
0       Arizona  Corporate Auto       1298851200000000000
1       Arizona   Personal Auto       1298851200000000000
2       Arizona    Special Auto       1298764800000000000
3    California  Corporate Auto       1298851200000000000
4    California   Personal Auto       1298851200000000000
5    California    Special Auto       1298851200000000000
6        Nevada  Corporate Auto       1298851200000000000
7        Nevada   Personal Auto       1298851200000000000
8        Nevada    Special Auto       1298419200000000000
9        Oregon  Corporate Auto       1298851200000000000
10       Oregon   Personal Auto       1298851200000000000
11       Oregon    Special Auto       1298851200000000000
12   Washington  Corporate Auto       1298851200000000000
13   Washington   Personal Auto       1298851200000000000
14   Washington    Special Auto       1298851200000000000
15  not defined  Corporate Auto       1298851200000000000
16  not defined   Personal Auto       1298851200000000000
17  not defined    Special Auto       1298851200000000000


                    min          mean
0   1293840000000000000  1.296276e+18
1   1293840000000000000  1.296343e+18
2   1293840000000000000  1.296261e+18
3   1293840000000000000  1.296294e+18
4   1293840000000000000  1.296341e+18
5   1293840000000000000  1.296339e+18
6   1293840000000000000  1.296396e+18
7   1293840000000000000  1.296320e+18
8   1293840000000000000  1.295988e+18
9   1293840000000000000  1.296397e+18
10  1293840000000000000  1.296331e+18
11  1293840000000000000  1.296489e+18
12  1293840000000000000  1.296422e+18
13  1293840000000000000  1.296318e+18
14  1293840000000000000  1.296557e+18
15  1293926400000000000  1.296469e+18
16  1293840000000000000  1.296405e+18
17  1293840000000000000  1.296531e+18

In [69]:
# 6) The marketing team wants to analyze the number of policies sold by state and month.
# Present the data in a table where the months are arranged as columns 
# and the states are arranged as rows.

marketing_customer_analysis.dtypes

pivot_table = pd.pivot_table(marketing_customer_analysis, values = "number_of_policies", index = "state", columns = "month", aggfunc = "sum", fill_value=0)
pivot_table

month        February  January
state
Arizona          2864     3052
California       4929     5673
Nevada           1278     1493
Oregon           3969     4697
Washington       1225     1358
not defined       972      993

In [61]:
marketing_customer_analysis["month"] = marketing_customer_analysis["effective_to_date"].dt.strftime("%B")

In [66]:
marketing_customer_analysis.groupby(["state", "month"])["number_of_policies"].sum()

state        month
Arizona      February    2864
             January     3052
California   February    4929
             January     5673
Nevada       February    1278
             January     1493
Oregon       February    3969
             January     4697
Washington   February    1225
             January     1358
not defined  February     972
             January      993
Name: number_of_policies, dtype: int64

In [ ]:
arketing_customer_analysis.groupby(["state", "month"])["number_of_open_complaints"].mean()


#7) Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.
Hint:

To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.
Next, you will select the top 3 states with the highest number of policies sold.
Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.

In [99]:
top_3 = marketing_customer_analysis.groupby(["state", "month"]).agg({"number_of_policies":"count"}).reset_index()

top_3

          state     month  number_of_policies
0       Arizona  February                 929
1       Arizona   January                1008
2    California  February                1634
3    California   January                1918
4        Nevada  February                 442
5        Nevada   January                 551
6        Oregon  February                1344
7        Oregon   January                1565
8    Washington  February                 425
9    Washington   January                 463
10  not defined  February                 318
11  not defined   January                 313

In [104]:
top_3.nlargest(3, columns = "number_of_policies")


#top_3.groupby(["state"]).agg({"number_of_policies"}



#sort_values [slicing]

        state     month  number_of_policies
3  California   January                1918
2  California  February                1634
7      Oregon   January                1565