# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [8]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [10]:
df['Total Claim Amount'] > 1000
filtered_df = df[df['Total Claim Amount'] > 1000]
filtered_df = df[(df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')]
filtered_df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [13]:
df['Policy Type'].value_counts()

Policy Type
Personal Auto     8128
Corporate Auto    2341
Special Auto       441
Name: count, dtype: int64

In [45]:
def filter_yes_responses(df):
    # Filter the dataframe for rows where the 'Response' column is 'Yes'
    filtered2_df = df[df['Response'] == 'Yes']
    return filtered2_df
    
# Filter for "Yes" responses
yes_responses = filter_yes_responses(df)

# Group by policy type and gender, then calculate average total_claim_amount
result = yes_responses.groupby(['Policy Type', 'Gender'])['Total Claim Amount'].median().reset_index()
result.round(2)

      Policy Type Gender  Total Claim Amount
0  Corporate Auto      F              420.04
1  Corporate Auto      M              364.80
2   Personal Auto      F              424.33
3   Personal Auto      M              412.80
4    Special Auto      F              420.04
5    Special Auto      M              345.60

In [ ]:
#Personal Auto policy type has no significative gap between male and female, male being slightly higer This is the most heterogenous group. On the other hand, the gap between male and female increase when it comes to 'Corporate Auto' and 'Special Auto' where we observe that the clain amount is higher for female.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [97]:
def filter_500_costumer(State):
    if filter_500_costumer is df[df['State'] >= 500]:
        return filter_500_costumer
filter_500_costumer

New_State_column= filter_500_costumer

New_State_column.groupby(['Policy', 'State'])['Customer'].median().reset_index()

AttributeError: 'function' object has no attribute 'groupby'

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [41]:
grouped_data2 = df.groupby(["Education", "Gender"])
grouped_data2

max_cltv = grouped_data2["Customer Lifetime Value"].max()
min_cltv = grouped_data2["Customer Lifetime Value"].min()
median_cltv = grouped_data2["Customer Lifetime Value"].median()

results = pd.concat([max_cltv, min_cltv, median_cltv], axis=1)
results.columns = ["Max CLTV", "Min CLTV", "Median CLTV"]

results.round()

                             Max CLTV  Min CLTV  Median CLTV
Education            Gender
Bachelor             F        73226.0    1904.0       5641.0
                     M        67907.0    1898.0       5548.0
College              F        61850.0    1899.0       5624.0
                     M        61135.0    1918.0       6006.0
Doctor               F        44856.0    2396.0       5332.0
                     M        32677.0    2268.0       5578.0
High School or Below F        55277.0    2145.0       6040.0
                     M        83325.0    1941.0       6287.0
Master               F        51016.0    2418.0       5730.0
                     M        50568.0    2272.0       5579.0

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here