# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
data = pd.read_csv(url)

In [3]:
# Display the first few rows of the original dataset
print("Original dataset:")
print(data.head())

Original dataset:
   Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

   Number of Open Complaints Number of Policies     Policy Type        Policy  \
0                        0.0                  9  Corporate Auto  Corporate L3
1                        0.0                  1   Personal Auto   Personal L3
2                        0.0                  2   Personal Auto   Personal L3
3                        0.0                  2  Corporate Auto  Corporate L3
4                        NaN                  7   Personal Auto   Personal L2

   Renew Offer Type  Sales Channel  Total Claim Amount  Vehicle Class  \
0            Offer3          Agent          292.800000  Four-Door Car
1            Offer4    Call Center          744.924331  Four-Door Car
2            Offer3    Call Center          480.000000            SUV
3            Offer2         Branch          484.013411  Four-Door Car
4            Offer1         Branch          707.925645  Four-Door Car

  Vehicle Size Vehicle Type
0      Medsize          NaN
1      Medsize          NaN
2      Medsize            A
3      Medsize            A
4      Medsize          NaN

[5 rows x 26 columns]

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [4]:
data.columns = data.columns.str.lower()

In [5]:
data.columns = data.columns.str.replace(' ', '_')

In [6]:
data['effective_to_date'] = pd.to_datetime(data['effective_to_date'])

/var/folders/23/76v66l4s1xn769d5jn92h5mw0000gn/T/ipykernel_32207/3360401548.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['effective_to_date'] = pd.to_datetime(data['effective_to_date'])

In [7]:
filtered_data = data[(data['total_claim_amount'] > 1000) & (data['response'] == 'Yes')]

In [8]:
# Display the first few rows of the filtered dataset
print("\nTask 1: DataFrame with customers who have total_claim_amount > $1,000 and response 'Yes'")
print(filtered_data.head())

Task 1: DataFrame with customers who have total_claim_amount > $1,000 and response 'Yes'
     unnamed:_0 customer       state  customer_lifetime_value response  \
189         189  OK31456  California             11009.130490      Yes
236         236  YJ16163      Oregon             11009.130490      Yes
419         419  GW43195      Oregon             25807.063000      Yes
442         442  IP94270     Arizona             13736.132500      Yes
587         587  FJ28407  California              5619.689084      Yes

     coverage             education effective_to_date employmentstatus gender  \
189   Premium              Bachelor        2011-01-24         Employed      F
236   Premium              Bachelor        2011-01-24         Employed      F
419  Extended               College        2011-02-13         Employed      F
442   Premium                Master        2011-02-13         Disabled      F
587   Premium  High School or Below        2011-01-26       Unemployed      M

     ...  number_of_open_complaints number_of_policies     policy_type  \
189  ...                        0.0                  1  Corporate Auto
236  ...                        0.0                  1    Special Auto
419  ...                        1.0                  2   Personal Auto
442  ...                        0.0                  8   Personal Auto
587  ...                        0.0                  1   Personal Auto

           policy  renew_offer_type  sales_channel  total_claim_amount  \
189  Corporate L3            Offer2          Agent         1358.400000
236    Special L3            Offer2          Agent         1358.400000
419   Personal L2            Offer1         Branch         1027.200000
442   Personal L2            Offer1            Web         1261.319869
587   Personal L1            Offer2            Web         1027.000029

     vehicle_class vehicle_size vehicle_type
189     Luxury Car      Medsize          NaN
236     Luxury Car      Medsize            A
419     Luxury Car        Small            A
442            SUV      Medsize            A
587            SUV      Medsize            A

[5 rows x 26 columns]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [9]:
# Task 2: Analyze average total_claim_amount by policy type and gender for customers who responded "Yes"
avg_claim_amount = filtered_data.groupby(['policy', 'gender'])['total_claim_amount'].mean()

In [10]:
# Display the average total_claim_amount by policy type and gender
print("\nTask 2: Average total_claim_amount by policy type and gender for customers who responded 'Yes'")
print(avg_claim_amount)

Task 2: Average total_claim_amount by policy type and gender for customers who responded 'Yes'
policy        gender
Corporate L1  M         1008.000000
Corporate L2  F         1137.600000
              M         1175.900014
Corporate L3  F         1139.200000
              M         1324.800000
Personal L1   F         1229.187764
              M         1053.055777
Personal L2   F         1149.647948
              M         1225.659605
Personal L3   F         1253.238583
              M         1128.519566
Special L1    M         1027.000029
Special L2    M         1008.000000
Special L3    F         1358.400000
Name: total_claim_amount, dtype: float64

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [11]:
# Task 3: Analyze total number of customers with policies in each state, filter states with > 500 customers
customer_count_by_state = data.groupby('state').size()
states_with_more_than_500_customers = customer_count_by_state[customer_count_by_state > 500]

In [12]:
# Display states with more than 500 customers
print("\nTask 3: States with more than 500 customers with policies")
print(states_with_more_than_500_customers)

Task 3: States with more than 500 customers with policies
state
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [13]:
# Task 4: Find maximum, minimum, and median customer lifetime value by education level and gender
lifetime_value_stats = data.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median'])

In [14]:
# Display maximum, minimum, and median customer lifetime value by education level and gender
print("\nTask 4: Maximum, minimum, and median customer lifetime value by education level and gender")
print(lifetime_value_stats)

Task 4: Maximum, minimum, and median customer lifetime value by education level and gender
                                     max          min       median
education            gender
Bachelor             F       73225.95652  1904.000852  5640.505303
                     M       67907.27050  1898.007675  5548.031892
College              F       61850.18803  1898.683686  5623.611187
                     M       61134.68307  1918.119700  6005.847375
Doctor               F       44856.11397  2395.570000  5332.462694
                     M       32677.34284  2267.604038  5577.669457
High School or Below F       55277.44589  2144.921535  6039.553187
                     M       83325.38119  1940.981221  6286.731006
Master               F       51016.06704  2417.777032  5729.855012
                     M       50568.25912  2272.307310  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [15]:
# your code goes here