# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [8]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
display(df)

print (df.dtypes)
print (df['Response'].unique())

filtered_df = df[(df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')]
display(filtered_df)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object
['No' 'Yes' nan]

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [11]:
pivot_table_claim = pd.pivot_table(df, 
                                  values='Total Claim Amount', 
                                  index=['Gender', 'Policy Type'], 
                                  aggfunc='mean')
display(pivot_table_claim)

                       Total Claim Amount
Gender Policy Type
F      Corporate Auto          397.799287
       Personal Auto           413.239658
       Special Auto            458.139623
M      Corporate Auto          462.223565
       Personal Auto           459.919476
       Special Auto            420.355202

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [12]:
state_counts = df['State'].value_counts()
filtered_state_counts = state_counts[state_counts > 500]
print(filtered_state_counts)

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [17]:
df['Customer Lifetime Value'] = pd.to_numeric(df['Customer Lifetime Value'], errors='coerce')

pivot_table_value = pd.pivot_table(df, 
                                  values='Customer Lifetime Value', 
                                  index=['Gender', 'Education'], 
                                  aggfunc=['max', 'min', 'median'])
display(pivot_table_value)

  Gender             Education          max          min       median
0      F              Bachelor  73225.95652  1904.000852  5640.505303
1      F               College  61850.18803  1898.683686  5623.611187
2      F                Doctor  44856.11397  2395.570000  5332.462694
3      F  High School or Below  55277.44589  2144.921535  6039.553187
4      F                Master  51016.06704  2417.777032  5729.855012
5      M              Bachelor  67907.27050  1898.007675  5548.031892
6      M               College  61134.68307  1918.119700  6005.847375
7      M                Doctor  32677.34284  2267.604038  5577.669457
8      M  High School or Below  83325.38119  1940.981221  6286.731006
9      M                Master  50568.25912  2272.307310  5579.099207

                                                max                     min  \
                            Customer Lifetime Value Customer Lifetime Value
Gender Education
F      Bachelor                         73225.95652             1904.000852
       College                          61850.18803             1898.683686
       Doctor                           44856.11397             2395.570000
       High School or Below             55277.44589             2144.921535
       Master                           51016.06704             2417.777032
M      Bachelor                         67907.27050             1898.007675
       College                          61134.68307             1918.119700
       Doctor                           32677.34284             2267.604038
       High School or Below             83325.38119             1940.981221
       Master                           50568.25912             2272.307310

                                             median
                            Customer Lifetime Value
Gender Education
F      Bachelor                         5640.505303
       College                          5623.611187
       Doctor                           5332.462694
       High School or Below             6039.553187
       Master                           5729.855012
M      Bachelor                         5548.031892
       College                          6005.847375
       Doctor                           5577.669457
       High School or Below             6286.731006
       Master                           5579.099207

In [18]:
conclusion = """
### Conclusions from the Customer Lifetime Value Data

The data provides insights into the Customer Lifetime Value (CLV) categorized by gender and education level. Here are the key findings:

1. **Gender Differences in CLV**:
   - **Females**:
     - The highest maximum CLV is for females with a Bachelor's degree at approximately 73,226.
     - The lowest minimum CLV is also for females with a College education at approximately 1,899.
     - Females with a High School or below education level have the highest median CLV at approximately 6,040.
   - **Males**:
     - The highest maximum CLV is for males with a High School or below education level at approximately 83,325.
     - The lowest minimum CLV is for males with a Bachelor's degree at approximately 1,898.
     - Males with a High School or below education level also have the highest median CLV at approximately 6,287.

2. **Education Level Differences in CLV**:
   - **Bachelor's Degree**:
     - For females, the maximum CLV is significantly higher compared to males.
     - Both genders have similar minimum CLV values, but females have a slightly higher median CLV.
   - **College Education**:
     - Females have a higher maximum CLV than males.
     - The median CLV is higher for males compared to females.
   - **Doctorate**:
     - Females have a higher maximum and median CLV compared to males.
     - Males have a lower minimum CLV compared to females.
   - **High School or Below**:
     - Males have a significantly higher maximum CLV compared to females.
     - The median CLV is slightly higher for males.
   - **Master's Degree**:
     - Both genders have similar maximum and median CLV values, with females having a slightly higher median CLV.

### Overall Observations:
1. **Higher Education Level and CLV**:
   - Interestingly, the highest maximum CLV for both genders is not necessarily associated with the highest education levels (Doctorate or Master's). Instead, individuals with Bachelor's degrees and High School or below education levels show some of the highest maximum CLV values.
   
2. **Median CLV Insights**:
   - The median CLV, which gives a more typical value than the extremes, is higher for males with High School or below education and females with High School or below education. This suggests that within this education level, there might be a more consistent and profitable customer base.
   
3. **Variability**:
   - There is considerable variability in CLV within each education level and gender, suggesting that other factors (e.g., occupation, geographic location, or personal interests) might also play a significant role in influencing customer lifetime value.

### Implications for Marketing Strategy:
1. **Targeting High CLV Segments**:
   - Marketing efforts could be focused on females with a Bachelor's degree and males with a High School or below education level, as they show the highest maximum CLV.
   
2. **Understanding Customer Needs**:
   - Companies should explore further the reasons behind the high CLV in these segments to tailor products, services, and marketing messages effectively.
   
3. **Broadening Focus**:
   - While targeting the highest CLV groups, companies should not neglect other education levels, as there are valuable customers in every segment. Personalized marketing could help in maximizing the value extracted from each group.

By leveraging these insights, businesses can optimize their marketing strategies to enhance customer engagement and profitability across different demographics.
"""

print(conclusion)

### Conclusions from the Customer Lifetime Value Data

The data provides insights into the Customer Lifetime Value (CLV) categorized by gender and education level. Here are the key findings:

1. **Gender Differences in CLV**:
   - **Females**:
     - The highest maximum CLV is for females with a Bachelor's degree at approximately 73,226.
     - The lowest minimum CLV is also for females with a College education at approximately 1,899.
     - Females with a High School or below education level have the highest median CLV at approximately 6,040.
   - **Males**:
     - The highest maximum CLV is for males with a High School or below education level at approximately 83,325.
     - The lowest minimum CLV is for males with a Bachelor's degree at approximately 1,898.
     - Males with a High School or below education level also have the highest median CLV at approximately 6,287.

2. **Education Level Differences in CLV**:
   - **Bachelor's Degree**:
     - For females, the maximum CLV is significantly higher compared to males.
     - Both genders have similar minimum CLV values, but females have a slightly higher median CLV.
   - **College Education**:
     - Females have a higher maximum CLV than males.
     - The median CLV is higher for males compared to females.
   - **Doctorate**:
     - Females have a higher maximum and median CLV compared to males.
     - Males have a lower minimum CLV compared to females.
   - **High School or Below**:
     - Males have a significantly higher maximum CLV compared to females.
     - The median CLV is slightly higher for males.
   - **Master's Degree**:
     - Both genders have similar maximum and median CLV values, with females having a slightly higher median CLV.

### Overall Observations:
1. **Higher Education Level and CLV**:
   - Interestingly, the highest maximum CLV for both genders is not necessarily associated with the highest education levels (Doctorate or Master's). Instead, individuals with Bachelor's degrees and High School or below education levels show some of the highest maximum CLV values.

2. **Median CLV Insights**:
   - The median CLV, which gives a more typical value than the extremes, is higher for males with High School or below education and females with High School or below education. This suggests that within this education level, there might be a more consistent and profitable customer base.

3. **Variability**:
   - There is considerable variability in CLV within each education level and gender, suggesting that other factors (e.g., occupation, geographic location, or personal interests) might also play a significant role in influencing customer lifetime value.

### Implications for Marketing Strategy:
1. **Targeting High CLV Segments**:
   - Marketing efforts could be focused on females with a Bachelor's degree and males with a High School or below education level, as they show the highest maximum CLV.

2. **Understanding Customer Needs**:
   - Companies should explore further the reasons behind the high CLV in these segments to tailor products, services, and marketing messages effectively.

3. **Broadening Focus**:
   - While targeting the highest CLV groups, companies should not neglect other education levels, as there are valuable customers in every segment. Personalized marketing could help in maximizing the value extracted from each group.

By leveraging these insights, businesses can optimize their marketing strategies to enhance customer engagement and profitability across different demographics.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here