# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [6]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

condition1 = df['Total Claim Amount'] >= 1000
condition2 = df['Response'] == 'Yes'

df_super_customers = df[condition1 & condition2]
#df.info() 10910 einträge
#df_super_customers.info() 67 einträge

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [8]:
pivot_df = df[(df['Response'] == 'Yes')].pivot_table(index='Policy Type', columns='Gender', values=['Total Claim Amount'], aggfunc='mean')
pivot_df

               Total Claim Amount
Gender                          F           M
Policy Type
Corporate Auto         433.738499  408.582459
Personal Auto          452.965929  457.010178
Special Auto           453.280164  429.527942

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [10]:
df['State'].value_counts() #all states have more than 500 customers...

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

In [11]:
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [12]:
df.duplicated(subset=['Customer']).sum()

1776

In [62]:
duplicates_mask = df['Customer'].duplicated(keep=False)  # Keep all duplicates

# Extract the duplicate values
duplicate_values = df[duplicates_mask]['Customer'].unique() #list with all customers that are duplicates

# Filter the DataFrame to keep only rows with duplicate values in the specified column
filtered_df = df[df['Customer'].isin(duplicate_values)]

# Group the filtered DataFrame by the duplicate column and the other column
grouped_df = filtered_df.groupby(['Customer', 'State']).size().reset_index(name='count')
#The size() method in Pandas is used to calculate the size of a Series or DataFrame.
#When applied to a grouped DataFrame, it returns the number of elements in each group.

grouped_df
# Find rows where the 'column_name' is the same but 'other_column' is different
unique_variations = grouped_df[grouped_df['count'] == 3]

print(unique_variations)

df[df['Customer'] == 'BG42047']

#checking different duplicates: the duplicates, that have three rows with the same customer value can have one two or zero NaN values, but always
#only one state. so i misunderstood the task

     Customer       State  count
8     AE74442  California      3
11    AI49712  Washington      3
17    AL78075      Oregon      3
30    AR47849      Nevada      3
71    BG42047      Nevada      3
...       ...         ...    ...
1442  YT92071  California      3
1456  YX90754      Nevada      3
1463  ZB87718     Arizona      3
1474  ZG47195      Nevada      3
1512  ZZ43513  California      3

[95 rows x 3 columns]

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
186,186,BG42047,Nevada,2511.944048,No,Basic,College,1/15/11,Medical Leave,M,...,0.0,1,Personal Auto,Personal L3,Offer3,Web,312.0,NaN,NaN,A
6415,6415,BG42047,Nevada,2511.944048,No,Basic,College,1/15/11,Medical Leave,M,...,0.0,1,Personal Auto,Personal L3,Offer3,Web,312.0,Four-Door Car,Large,A
8160,8160,BG42047,Nevada,2511.944048,No,Basic,College,1/15/11,Medical Leave,M,...,0.0,1,Personal Auto,Personal L3,Offer3,Web,312.0,NaN,NaN,NaN

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [68]:
df.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'mean'])
#conclusions???

                                     max          min         mean
Education            Gender
Bachelor             F       73225.95652  1904.000852  7874.269478
                     M       67907.27050  1898.007675  7703.601675
College              F       61850.18803  1898.683686  7748.823325
                     M       61134.68307  1918.119700  8052.459288
Doctor               F       44856.11397  2395.570000  7328.508916
                     M       32677.34284  2267.604038  7415.333638
High School or Below F       55277.44589  2144.921535  8675.220201
                     M       83325.38119  1940.981221  8149.687783
Master               F       51016.06704  2417.777032  8157.053154
                     M       50568.25912  2272.307310  8168.832659

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here