# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [2]:
import pandas as pd
import numpy as np


csv_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
marketing_customer_analysis = pd.read_csv(csv_url)

marketing_customer_analysis.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [3]:
def cleaning_invalid_values(insurance_company):                         
    insurance_company.replace(to_replace = ["Bachelors", "College"],
                          value = "Bachelor", inplace=True)
    insurance_company.replace(to_replace = ["Medsize"],
                          value = "Midsize", inplace=True)
    insurance_company.replace(to_replace = ["M"],
                          value = "Male", inplace=True)
    insurance_company.replace(to_replace = ["F"],
                          value = "Female", inplace=True)
    
    return insurance_company

marketing_customer_analysis = cleaning_invalid_values(marketing_customer_analysis)
marketing_customer_analysis.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,Bachelor,2/18/11,Employed,Male,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Midsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,Bachelor,1/18/11,Unemployed,Female,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Midsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,Male,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Midsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,Bachelor,1/11/11,Employed,Male,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Midsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,Female,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Midsize,NaN

In [4]:
def cleaning_column_names(insurance_company):
    insurance_company = insurance_company.rename(columns = {'EmploymentStatus': 'Employment Status'})

    return insurance_company

marketing_customer_analysis = cleaning_column_names(marketing_customer_analysis)
marketing_customer_analysis.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,Bachelor,2/18/11,Employed,Male,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Midsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,Bachelor,1/18/11,Unemployed,Female,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Midsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,Male,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Midsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,Bachelor,1/11/11,Employed,Male,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Midsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,Female,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Midsize,NaN

In [5]:
def null_values(insurance_company):
    null_exists = False
    for column in insurance_company:
        for value in insurance_company[column].isnull():
           if(value):
               null_exists = True
    if null_exists == True:
        insurance_company = insurance_company.dropna()
    
    return insurance_company

marketing_customer_analysis = null_values(marketing_customer_analysis)
marketing_customer_analysis.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,Male,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Midsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,Bachelor,1/11/11,Employed,Male,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Midsize,A
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,Male,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
13,13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,Male,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Midsize,A
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,Female,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A

In [6]:
marketing_customer_analysis['Effective To Date'] = pd.to_datetime(marketing_customer_analysis['Effective To Date'])

marketing_customer_analysis['Month'] = marketing_customer_analysis['Effective To Date'].dt.strftime('%B')

In [7]:
marketing_customer_analysis

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,Month
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,Male,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Midsize,A,February
3,3,XL78013,Oregon,22332.439460,Yes,Extended,Bachelor,2011-01-11,Employed,Male,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Midsize,A,January
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,Male,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,January
13,13,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,Male,...,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Midsize,A,January
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,Female,...,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,February
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,10902,PP30874,California,3579.023825,No,Extended,High School or Below,2011-01-24,Employed,Female,...,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Midsize,A,January
10903,10903,SU71163,Arizona,2771.663013,No,Basic,Bachelor,2011-01-07,Employed,Male,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Midsize,A,January
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,Male,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Midsize,A,February
10906,10906,KX53892,Oregon,5259.444853,No,Basic,Bachelor,2011-01-06,Employed,Female,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Midsize,A,January
10908,10908,WA60547,California,11971.977650,No,Premium,Bachelor,2011-02-13,Employed,Female,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Midsize,A,February

In [8]:
#1: Create a new DataFrame that only includes customers who have a total_claim_amount 
# greater than $1,000 and have a response of "Yes" to the last marketing campaign.

new_dataframe = marketing_customer_analysis[(marketing_customer_analysis['Total Claim Amount'] > 1000) & (marketing_customer_analysis['Response'] == 'Yes')]

new_dataframe.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,Month
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,Female,...,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Midsize,A,January
419,419,GW43195,Oregon,25807.063000,Yes,Extended,Bachelor,2011-02-13,Employed,Female,...,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A,February
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,Female,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Midsize,A,February
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,Male,...,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Midsize,A,January
1527,1527,TU53781,Oregon,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,Female,...,1,Corporate Auto,Corporate L3,Offer1,Agent,1032.000000,Luxury SUV,Midsize,A,February

In [9]:
#2. Analyze the average total_claim_amount by each policy type and gender for customers who 
# have responded "Yes" to the last marketing campaign.

avg_tca = marketing_customer_analysis[marketing_customer_analysis['Response'] == 'Yes'].groupby(["Policy Type", "Gender"]).agg({"Total Claim Amount": "mean"}).reset_index()

avg_tca['Total Claim Amount'] = avg_tca['Total Claim Amount'].round(2)

avg_tca

      Policy Type  Gender  Total Claim Amount
0  Corporate Auto  Female              404.10
1  Corporate Auto    Male              391.37
2   Personal Auto  Female              457.06
3   Personal Auto    Male              472.49
4    Special Auto  Female              495.69
5    Special Auto    Male              368.52

In [10]:
#3. Analyze the total number of customers who have policies in each state, 
# and then filter the results to only include states where there are more than 500 customers.

num_policies_state = marketing_customer_analysis.groupby(["State"]).agg({"Number of Policies": "count"}).reset_index()

customers_state = marketing_customer_analysis.groupby(["State"]).agg({"Customer": "count"}).reset_index()

merged_data = pd.merge(num_policies_state, customers_state, on = "State")

filtered_states = merged_data[merged_data["Number of Policies"] > 500]

filtered_states

        State  Number of Policies  Customer
0     Arizona                 868       868
1  California                1552      1552
3      Oregon                1281      1281

In [11]:
#4. Find the median customer lifetime value by education level and gender.

marketing_customer_analysis.groupby(["Education", "Gender"]).agg({"Customer Lifetime Value": "median"}).reset_index()

              Education  Gender  Customer Lifetime Value
0              Bachelor  Female              5683.847141
1              Bachelor    Male              5935.572179
2                Doctor  Female              5789.850900
3                Doctor    Male              5843.989737
4  High School or Below  Female              5978.754765
5  High School or Below    Male              6081.481291
6                Master  Female              5714.165863
7                Master    Male              5512.342258

In [12]:
#5. Find the maximum, minimum, and average number of open complaints by state and policy type.

marketing_customer_analysis.groupby(["State", "Policy Type"]).agg({"Number of Open Complaints": ["max", "min", "mean"]}).reset_index()

         State     Policy Type Number of Open Complaints
                                                     max  min      mean
0      Arizona  Corporate Auto                       5.0  0.0  0.456790
1      Arizona   Personal Auto                       5.0  0.0  0.413374
2      Arizona    Special Auto                       3.0  0.0  0.229167
3   California  Corporate Auto                       4.0  0.0  0.296703
4   California   Personal Auto                       5.0  0.0  0.398589
5   California    Special Auto                       4.0  0.0  0.388889
6       Nevada  Corporate Auto                       3.0  0.0  0.393617
7       Nevada   Personal Auto                       5.0  0.0  0.422492
8       Nevada    Special Auto                       3.0  0.0  0.285714
9       Oregon  Corporate Auto                       4.0  0.0  0.331984
10      Oregon   Personal Auto                       5.0  0.0  0.373444
11      Oregon    Special Auto                       5.0  0.0  0.328571
12  Washington  Corporate Auto                       4.0  0.0  0.467532
13  Washington   Personal Auto                       5.0  0.0  0.409836
14  Washington    Special Auto                       4.0  0.0  0.562500

In [13]:
#6. The marketing team wants to analyze the number of policies sold by state and month.
# Present the data in a table where the months are arranged as columns and the states are arranged as rows.

pivot_table = pd.pivot_table(marketing_customer_analysis, values = "Number of Policies", index = "State", columns = "Month", aggfunc = "sum", fill_value=0)

pivot_table

Month       February  January
State
Arizona         1297     1344
California      2158     2439
Nevada           567      666
Oregon          1885     2009
Washington       589      585

In [60]:
#7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 
# states with the highest number of policies sold.

policies_sold = marketing_customer_analysis.groupby(["Month", "State"], as_index=False)["Number of Policies"].sum()

sorted_analysis = policies_sold.sort_values(["Number of Policies"], ascending = False)

In [61]:
top_3_states = sorted_analysis["State"].unique()[:3]   #this was the only way i could get the top 3 of each column
top_3_months = sorted_analysis["Month"].unique()[:3]
top_3_policies = sorted_analysis["Number of Policies"].unique()[:3]

top_3 = [top_3_states, top_3_months, top_3_policies]

In [62]:
top_states = pd.DataFrame(top_3)
top_states

            0         1        2
0  California    Oregon  Arizona
1     January  February     None
2        2439      2158     2009

In [58]:
#8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.
#Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

melted_df = pd.melt(marketing_customer_analysis, id_vars=['Sales Channel'], value_vars=['Response'])

filtered_df = melted_df[melted_df['value'] == 'Yes']

response_rate = filtered_df.groupby('Sales Channel').size().reset_index(name='Customer Response Rate')

In [59]:
response_rate

  Sales Channel  Customer Response Rate
0         Agent                     332
1        Branch                     123
2   Call Center                      97
3           Web                      89