# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [103]:
#Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 
#and have a response of "Yes" to the last marketing campaign.

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
df = df.drop('Unnamed: 0', axis=1)

# Replace uppercase labels with lowercase and add underscores
df.columns = [col.lower().replace(" ","_") for col in df.columns]

#Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and
#have a response of "Yes" to the last marketing campaign.
df = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]
df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,20978,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [109]:
#Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender 
#for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

#df = df[df['response'] == 'Yes']
df = df.groupby(['policy_type', 'gender'])['total_claim_amount'].mean().reset_index()
print(df)

      policy_type gender  total_claim_amount
0  Corporate Auto      F         1138.400000
1  Corporate Auto      M         1171.150007
2   Personal Auto      F         1214.853805
3   Personal Auto      M         1137.861443
4    Special Auto      F         1358.400000
5    Special Auto      M         1017.500015

In [101]:
#Analyze the total number of customers who have policies in each state, and then filter the results
#to only include states where there are more than 500 customers.
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
df = df.drop('Unnamed: 0', axis=1)

# Replace uppercase labels with lowercase and add underscores
df.columns = [col.lower().replace(" ","_") for col in df.columns]

df = df.groupby(['policy', 'state'])['customer'].count().reset_index()
df = df[(df['customer'] > 500)]
df

         policy       state  customer
21  Personal L2  California       905
23  Personal L2      Oregon       618
25  Personal L3     Arizona       742
26  Personal L3  California      1250
28  Personal L3      Oregon      1157

In [120]:
#Find the maximum, minimum, and median customer lifetime value by education level and gender.
#Write your conclusions.
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
df = df.drop('Unnamed: 0', axis=1)

# Replace uppercase labels with lowercase and add underscores
df.columns = [col.lower().replace(" ","_") for col in df.columns]

max_customer_lifetime_value = df.groupby(['education', 'gender'])['customer_lifetime_value'].max()
max_customer_lifetime_value

education             gender
Bachelor              F         73225.95652
                      M         67907.27050
College               F         61850.18803
                      M         61134.68307
Doctor                F         44856.11397
                      M         32677.34284
High School or Below  F         55277.44589
                      M         83325.38119
Master                F         51016.06704
                      M         50568.25912
Name: customer_lifetime_value, dtype: float64

In [122]:
min_customer_lifetime_value = df.groupby(['education', 'gender'])['customer_lifetime_value'].min()
min_customer_lifetime_value

education             gender
Bachelor              F         1904.000852
                      M         1898.007675
College               F         1898.683686
                      M         1918.119700
Doctor                F         2395.570000
                      M         2267.604038
High School or Below  F         2144.921535
                      M         1940.981221
Master                F         2417.777032
                      M         2272.307310
Name: customer_lifetime_value, dtype: float64

In [124]:
median_customer_lifetime_value = df.groupby(['education', 'gender'])['customer_lifetime_value'].median()
median_customer_lifetime_value

education             gender
Bachelor              F         5640.505303
                      M         5548.031892
College               F         5623.611187
                      M         6005.847375
Doctor                F         5332.462694
                      M         5577.669457
High School or Below  F         6039.553187
                      M         6286.731006
Master                F         5729.855012
                      M         5579.099207
Name: customer_lifetime_value, dtype: float64

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [128]:
#The marketing team wants to analyze the number of policies sold by state and month.
#Present the data in a table where the months are arranged as columns and the states are arranged as rows.
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
df = df.drop('Unnamed: 0', axis=1)

# Replace uppercase labels with lowercase and add underscores
df.columns = [col.lower().replace(" ","_") for col in df.columns]

# Add a month column
df['month'] = pd.date_range(start='2023-01-01', periods=len(df), freq='M').month

# Grouping and counting the number of policies sold
grouped_df = df.groupby(['state', 'month'])['policy'].count().reset_index()

# Pivoting the table
pivot_table = grouped_df.pivot_table(index='state', columns='month', values='policy', fill_value=0)

# Display the resulting pivot table
print(pivot_table)

/var/folders/43/30gtvzf54299gghzdyc8_l900000gn/T/ipykernel_6093/1513547027.py:12: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df['month'] = pd.date_range(start='2023-01-01', periods=len(df), freq='M').month

OutOfBoundsDatetime: Out of bounds timestamp: 2932-02-29 00:00:00 with frequency 'ns'

In [132]:
import pandas as pd

# Load the dataset
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
df = df.drop('Unnamed: 0', axis=1)

# Replace uppercase labels with lowercase and add underscores
df.columns = [col.lower().replace(" ", "_") for col in df.columns]

df['month'] = pd.date_range(start='2023-01-01', periods=len(df), freq='M').month

# Ensure that the date column is in datetime format
df['month'] = pd.to_datetime(df['month'])  # Replace with your actual date column

# Add a month column based on the date column
df['month'] = df['month'].dt.month

# Grouping and counting the number of policies sold
grouped_df = df.groupby(['state', 'month'])['policy'].count().reset_index()

# Pivoting the table to get states as rows and months as columns
pivot_table = grouped_df.pivot_table(index='state', columns='month', values='policy', fill_value=0)

# Sort the pivot table for better readability
pivot_table = pivot_table.sort_index()

# Display the resulting pivot table
print(pivot_table)

KeyError: 'month'